Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-08, with the labels that each got.

#2519 A bit of cleanup to Managers
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scenes/BoundaryVisualization.unity
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scripts/BoundaryVisualizationDemo.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Utilities/InteractibleHighlight.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit/Boundary/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputActionsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealitySpeechCommandsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Physics/RaycastModeType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ExperienceScale.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Handedness.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/CanvasEditorExtension.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2535 Update htk_development with the latest master code
  Assets/HoloToolkit/Boundary/Scripts/BoundaryManager.cs
  Assets/HoloToolkit/UX/Scripts/Keyboard.cs
  Assets/HoloToolkit/UX/Scripts/KeyboardInputField.cs
Labels: Ready for Review

#2533 vNEXT Basic Controller Pointers.
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Meshes/Cursors/DefaultCursor.fbx.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Cursor/DefaultCursor.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/DefaultControllerPointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/DefaultControllerPointer.prefab.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/AnimatedCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/LinePointer.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/ControllerPoseSynchronizerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/BaseControllerPointerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/BaseControllerPointerInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/LinePointerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/LinePointerInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset.meta
  Assets/MixedRealityToolkit/InputSystem/Pointers/GenericPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityPointerProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/PointerOption.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/PointerOption.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityCursor.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityPointer.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityEventManager.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/SimpleLineDataProvider.cs
  ProjectSettings/QualitySettings.asset
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, Sprint, UX Controls

#2550 Simplified type creation
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2555 fix the default floor plane being too small
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityBoundaryVisualizationProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/MixedRealityBoundaryVisualizationProfile.cs
Labels: Boundaries, MRTK SDK, MRTK vNEXT

#2556 Renamed InteractibleHighlight to match the class name
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Utilities/InteractableHighlight.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Utilities/InteractableHighlight.cs.meta
Labels: MRTK vNEXT, Ready for Review

#2560 Input System Body Check.
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
Labels: Bug, MRTK SDK, MRTK vNEXT

#2566 Re-add default cursor to BoundaryVisualization scene
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scenes/BoundaryVisualization.unity
Labels: MRTK vNEXT, Ready for Review

#2572 Fixed bug in BaseFocusHandler where wrong comparison was made
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseFocusHandler.cs
Labels: MRTK vNEXT, Ready for Review

#2574 Quick (probably incomplete) spellcheck pass pre-alpha
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseInputHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/DragAndDropHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/SpeechInputHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/CursorModifier.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/ParabolicTeleportPointer.cs
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/MixedRealityBoundaryVisualizationProfile.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/GenericBaseEventData.cs
  Assets/MixedRealityToolkit/_Core/Extensions/BoundsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
  Assets/MixedRealityToolkit/_Core/Utilities/EdgeUtilities.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/BaseMixedRealityLineDataProvider.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/ParabolaConstrainedLineDataProvider.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/ParabolaLineDataProvider.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/RectangleLineDataProvider.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/SimpleLineDataProvider.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/LineFollower.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Distorters/Distorter.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Interpolator.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/Solver.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit/_Core/Utilities/WindowsDevicePortal/DataStructures/DeviceInfo.cs
Labels: MRTK vNEXT, Ready for Review

#2573 Fix pointer line material not being included in the build
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/DefaultControllerPointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/ParabolicPointer.prefab
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_DefaultPointerLine.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_DefaultPointerLine.mat.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/Renderers/MixedRealityLineRenderer.cs
Labels: MRTK vNEXT, Ready for Review

#2571 Cleaned up event system if teleport system creates one.
  Assets/MixedRealityToolkit-SDK/Features/Teleportation/MixedRealityTeleportManager.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2559 Refactored Controller Viz
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/DefaultControllerPointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/ParabolicPointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/ControllerPoseSynchronizerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/MixedRealityControllerVisualizerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/MixedRealityControllerVisualizerInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/BaseControllerPointerInspector.cs
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/GizmoLeft.prefab
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/GizmoRight.prefab
  Assets/MixedRealityToolkit/InputSystem/Pointers/GenericPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/PointerOption.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePoseEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourceStateEventData.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityControllerPoseSynchronizer.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityPointer.cs
Labels: Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review, Refactor

#2576 Fix mismapped OpenVR trigger axis
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2581 Fix bug in focus (PR onto Stephen's PR)
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2582 Re-add OverrideFocusObject, which can be valid even if pointer is null (onto Stephen PR)
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
Labels: MRTK vNEXT

#2586 Updated Line Gallery Scene
  Assets/MixedRealityToolkit-Examples/Demos/UX/Lines/Scenes/LineGallery.unity
Labels: MRTK vNEXT, Ready for Review, Sprint

#2584 Focus Provider Update w/Pointer Fixes
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/CursorModifier.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/TeleportCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, Refactor, Sprint

#2597 Updated SystemType
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SystemType.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2600 Profile inspector namespace cleanup.
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBaseConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2601 Improve how menu item order is specified
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/MixedRealityBoundaryVisualizationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputActionsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealitySpeechCommandsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityCameraProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ProfileMenuItemIndices.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ProfileMenuItemIndices.cs.meta
Labels: Build Tools, MRTK vNEXT, Ready for Review

#2603 updated missing icon
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/MixedRealityControllerVisualizerInspector.cs.meta
Labels: MRTK vNEXT, Ready for Review

#2604 Input Action Property Drawer Fix
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2602 Initialized some vars to remove build warnings
  Assets/MixedRealityToolkit-SDK/Features/Teleportation/MixedRealityTeleportManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/TeleportCursor.cs
Labels: MRTK vNEXT, Ready for Review

#2583 Boundary system updates and fixes
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scenes/BoundaryVisualization.unity
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scripts/BoundaryVisualizationDemo.cs
  Assets/MixedRealityToolkit-SDK/Features/Boundary/System/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityBoundaryVisualizationProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/Edge.cs
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/Edge.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/InscribedRectangle.cs
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/InscribedRectangle.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/MixedRealityBoundaryVisualizationProfile.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Boundary/BoundaryEventData.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/BoundarySystem/IMixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/_Core/Utilities/EdgeUtilities.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MathUtilities.cs
Labels: Boundaries, MRTK Core, MRTK SDK, Ready for Review, Sprint

#2609 Fixed some null refs when no input action profile exists
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review

#2611 Updated Input Action Header.
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
Labels: Bug, MRTK vNEXT, Ready for Review

#2568 Added Generic Unity Input Devices & Refactored OVR Support
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/ParabolicTeleportPointer.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkit.Tests.asmdef
  Assets/MixedRealityToolkit-Tests/UnityInputManagerHelperTests.cs
  Assets/MixedRealityToolkit/MixedRealityToolkit.asmdef
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/ControllerMappingLibrary.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/DeviceInputType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/SupportedControllerType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/InputManagerAxis.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/InputManagerAxis.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/InputManagerAxisType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/InputManagerAxisType.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/MixedRealityToolkit.Internal.Definitions.Utilities.Editor.asmdef
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/MixedRealityToolkit.Internal.Definitions.Utilities.Editor.asmdef.meta
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OculusRemoteController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/ViveKnucklesController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/ViveWandController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/WindowsMixedRealityOpenVRMotionController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/GenericOpenXRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput.meta
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/GenericUnityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/GenericUnityController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/XboxController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/XboxController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/RacingWheelController.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkit.Internal.Inspectors.asmdef
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/InputMappingAxisUtility.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/InputMappingAxisUtility.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/MixedRealityToolkit.Internal.Utilities.Editor.asmdef
  ProjectSettings/InputManager.asset
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2612 Fix for #2438 . Force components to initialize in the right order
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/Networking/NewDeviceDiscovery.cs
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/Networking/SpectatorView.cs
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/SpatialSync/CameraCaptureHololens.cs
Labels: ARKit, Legacy (HoloToolkit), Sharing / Networking

#2618 Fixed the folder name for the Invisible Shader
  Assets/MixedRealityToolkit/_Core/Resources/Shaders/InvisibleShader.shader
Labels: Bug, MRTK vNEXT, Ready for Review

#2614 Update Roadmap.md
  Roadmap.md
Labels: Bug, Documentation, Legacy (HoloToolkit)

#2624 fix boundary visualization inspector #2616
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/MixedRealityBoundaryVisualizationProfile.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
Labels: Boundaries, Bug, MRTK Core, MRTK vNEXT, Ready for Review

#2627 Update cursor guid in BoundaryVisualization to the new guid
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scenes/BoundaryVisualization.unity
Labels: Boundaries, MRTK vNEXT

#2619 Fixed teleporting when no hit is found.
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
Labels: Bug, MRTK SDK, MRTK vNEXT, Ready for Review

#2633 Update BaseCursor to properly respond to source events
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/InteractiveMeshCursor.cs
Labels: MRTK vNEXT

#2632 Fix gaze pointer being lost on hand lost
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
Labels: MRTK vNEXT

#2620 Add InvertXAxis
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/InvertAxesEnum.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/InvertAxesEnum.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review

#2637 Add support for controllers/sources without pointers to use the GazePointer
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2638 Updating the HTK's drop of UnityGLTF with the correct coordinate space
  Assets/HoloToolkit/Input/Scripts/Utilities/MotionControllerVisualizer.cs
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/GLTFSerialization.dll
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/GLTFSerialization.dll.mdb
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/GLTFSerialization.dll.mdb.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/GLTFSerialization.pdb
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/WSA/GLTFSerializationUWP.dll
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/WSA/GLTFSerializationUWP.dll.mdb
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/WSA/GLTFSerializationUWP.dll.mdb.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/WSA/GLTFSerializationUWP.pdb
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/Cache/AssetCache.cs
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/Cache/BufferCacheData.cs
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/Cache/BufferCacheData.cs.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/Extensions/SchemaExtensions.cs
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/GLTFComponent.cs
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/GLTFSceneImporter.cs
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/GLTFUnityHelpers.cs
Labels: GLTF, Legacy (HoloToolkit), Ready for Review

#2594 Ensured Generic Input Sources were implemented
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityTouchInputProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityTouchInputProfile.asset.meta
  Assets/MixedRealityToolkit/InputSystem/Sources/BaseGenericInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/DictationInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/SpeechInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityTouchInputProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityTouchInputProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ProfileMenuItemIndices.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityGestureController.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/DictationEventData.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityTouchInputProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityTouchInputProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2650 Added some missing icons to two classes.
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityTouchInputProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityControllerPoseSynchronizer.cs.meta
Labels: MRTK vNEXT, Ready for Review

#2651 Fixed an issue with speech event data on non windows platforms
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SpeechEventData.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2652 Updating HTK gitignore to match MRTK
  .gitignore
Labels: Legacy (HoloToolkit), Ready for Review

#2654 Added Oculus Controller Icons
  Assets/MixedRealityToolkit/_Core/Resources/Textures/Oculus lineart attribution.txt
  Assets/MixedRealityToolkit/_Core/Resources/Textures/Oculus lineart attribution.txt.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_left_black.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_left_black.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_left_black_scaled.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_left_black_scaled.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_left_white.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_left_white.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_left_white_scaled.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_left_white_scaled.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_right_black.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_right_black.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_right_black_scaled.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_right_black_scaled.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_right_white.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_right_white.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_right_white_scaled.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusControllersTouch_right_white_scaled.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_black.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_black.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_black_scaled.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_black_scaled.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_white.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_white.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_white_scaled.png
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2656 Add multiple GitHub issue templates, to better facilitate MRTK task filing
  .github/ISSUE_TEMPLATE/---bug-report.md
  .github/ISSUE_TEMPLATE/---feature-request.md
  .github/ISSUE_TEMPLATE/---mrtk-task.md
Labels: Ready for Review

#2655 Fixed collection modification in touch screen input source
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review

#2658 Fixed parenting of cursor
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
Labels: Cursor, Input / Interactions, MRTK SDK, MRTK vNEXT, Ready for Review

#2657 Adding missing meta file from #2654
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_white_scaled.png.meta
Labels: MRTK vNEXT, Ready for Review

#2662 Update master Roadmap
  Assets/HoloToolkit/MRTKVersion.txt
  Roadmap.md
Labels: Documentation, Ready for Review

#2660 Update ---mrtk-task.md
  .github/ISSUE_TEMPLATE/---mrtk-task.md
Labels: Documentation, Ready for Review

#2661 Added optional camera persistence to camera profile
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityCameraProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityCameraProfile.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2666 Fix HTK pointer debug rays
  Assets/HoloToolkit/Input/Scripts/Focus/InputSourcePointer.cs
Labels: Input / Interactions, Legacy (HoloToolkit), Ready for Review

#2670 Fix pointer line visibility when switching the active controller
  Assets/HoloToolkit/Input/Scripts/Utilities/ControllerFinder.cs
Labels: Input / Interactions, Legacy (HoloToolkit), Ready for Review

#2667 Controller Profile Inspector: Warning when model is missing pose synchonizer
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2673 Fixed oculus remote texture settings
  Assets/MixedRealityToolkit/_Core/Resources/Textures/MRTK_Logo_Black.png.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/OculusRemoteController_white_scaled.png.meta
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2678 Removed unneeded platform specific compiler definitions.
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review
