Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-11, with the labels that each got.

#3050 Fixed ParabolaConstrainedLineDataProvider's SetPointInternal
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/ParabolaConstrainedLineDataProvider.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#3038 Set minimum distance of stabilization plane to nearclip distance of camera
  Assets/HoloToolkit/Utilities/Scripts/StabilizationPlaneModifier.cs
Labels: Bug, HoloLens, Legacy (HoloToolkit)

#3070 Fix for Editor bug when hitting "Esc" to release mouse
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseDeviceManager.cs
Labels: Beta, Bug, MRTK vNEXT

#3041 Mrtk 2018beta stabilization getting started guide
  Documentation/DownloadingTheMRTK.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/MixedRealityConfigurationGuide.md
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_ActiveConfiguration.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_BoundaryVisualizationProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_CameraProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_ControllerMappingProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_ControllerVisualizationProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_DiagnosticsProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_DiagnosticsSystemSelection.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_ExperienceSettings.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_GesturesProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputActionRulesProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputActionsProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputPointerProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputSystemProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputSystemSelection.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_MixedRealityToolkitConfigurationScreen.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_OculusTouchConfigScreen.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_RegisteredServiceProfidersProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_SpatialAwarenessProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_SpatialAwarenessSystemSelection.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_SpeechCommandsProfile.png
  External/HowTo/MixedRealityToolkitConfigurationProfileScreens/MRTK_TeleportationSystemSelection.png
  External/ReadMeImages/MRTK_AssetImportDialog.png
  External/ReadMeImages/MRTK_ConfigureScene.png
  External/ReadMeImages/MRTK_CopyCreateConfigurationOptions.png
  External/ReadMeImages/MRTK_CopyProfileOptions.png
  External/ReadMeImages/MRTK_SceneSetup.png
  External/ReadMeImages/MRTK_UnitySetupPrompt.png
  External/ReadMeImages/Unity_ImportAssetOption.png
Labels: DO NOT MERGE, Documentation, MRTK vNEXT, Ready for Review

#3076 Input handler refactor
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Receivers/InteractionReceiver.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityInputHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySpatialInputHandler.cs
Labels: BREAKING CHANGE, Beta, MRTK vNEXT, Ready for Review

#3085 Fixed custom configuration message box
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
Labels: Beta, Bug, MRTK Core, MRTK vNEXT, Ready for Review

#2985 Added #if blocks to QR code preview feature
  Assets/HoloToolkit-Preview/QRTracker/Scripts/AttachToQRCode.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCode.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCodesManager.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCodesVisualizer.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/SpatialGraphCoordinateSystem.cs
Labels: Legacy (HoloToolkit), Preview / Experimental, Ready for Review

#3005 Add missing public properties to BoundingBoxRig
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxRig.cs
Labels: Bug, Legacy (HoloToolkit), Ready for Review

#3100 Updated null checking in base cursor cleanup
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
Labels: Beta, Bug, MRTK SDK, Ready for Review

#3099 Removed inappropriate destroy call from spatial awareness system
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessSystem.cs
Labels: Beta, Bug, MRTK SDK, Ready for Review, Spatial Mapping / Awareness

#3086 Updated Service Locator logging
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Beta, MRTK Core, Ready for Review

#3101 Updated Service Locator Instancing and Veifications
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Beta, Enhancement, MRTK Core, MRTK vNEXT, Ready for Review

#3112 Config profile inspector fixes
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
Labels: Beta, Editor, MRTK Core, MRTK vNEXT, Ready for Review

#3123 fixed core system cache
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Beta, Bug, MRTK Core, MRTK vNEXT, Ready for Review

#2978 [vNext][UX] Tooltip functionality & SDK default tooltips
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseFocusHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Tooltips.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Tooltips/Constrained Parabola Tooltip.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Tooltips/Constrained Parabola Tooltip.prefab.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Tooltips/Simple Line ToolTip.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Tooltips/Simple Line ToolTip.prefab.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Tooltips/Spline ToolTip.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Tooltips/Spline ToolTip.prefab.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/README.md
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/README.md.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTip.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTip.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipBackground.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipBackground.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundBlob.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundBlob.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundCorners.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundCorners.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundMesh.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundMesh.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipConnector.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipConnector.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipSpawner.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipSpawner.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipUtility.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTipUtility.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/AttachPointType.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/AttachPointType.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/ConnectorFollowType.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/ConnectorFollowType.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/ConnectorOrientType.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/ConnectorOrientType.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/ConnectorPivotDirectionType.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/ConnectorPivotDirectionType.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/ConnectorPivotModeType.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/ConnectorPivotModeType.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/DisplayModeType.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/TooltipEnums/DisplayModeType.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/ParabolaConstrainedLineDataProvider.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/Renderers/MixedRealityLineRenderer.cs.meta
Labels: MRTK vNEXT, Ready for Review, UX Controls

#3121 Updated core editor setup classes.
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityPreferences.cs
  Assets/MixedRealityToolkit/_Core/Resources/Icons/mic_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/mixed_reality_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/script_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/settings_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/shapes_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/spatial_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/spatial_understanding_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/toolkit_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/ux_icon.png
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/.MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/Microsoft.MixedReality.Toolkit.Core.Utilities.Editor.Setup.dll
Labels: Beta, Editor, Enhancement, MRTK vNEXT, Ready for Review, Refactor

#3126 Fixed diagnostics system setup warnings
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/System/MixedRealityDiagnosticsManager.cs
Labels: Beta, Bug, Diagnostics / Tools, MRTK vNEXT, Ready for Review

#3135 Added Branch Guide (HTK) - resolves #3088
  BranchGuide.md
  README.md
Labels: Documentation, Legacy (HoloToolkit), Ready for Review

#3132 Merge HTK release 2017.4.3 into master
  Assets/HoloToolkit-Examples/UX/Readme/README_InteractableObjectExample.md
  Assets/HoloToolkit-Examples/Utilities/Scenes/SolverExamples.unity
  Assets/HoloToolkit-Preview/QRTracker/README.md
  Assets/HoloToolkit-Preview/QRTracker/Scripts/AttachToQRCode.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCode.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCodesManager.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCodesVisualizer.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/SpatialGraphCoordinateSystem.cs
  Assets/HoloToolkit/Common/README.md
  Assets/HoloToolkit/Common/Scripts/WorldAnchorManager.cs
  Assets/HoloToolkit/Input/Scripts/Editor/MixedRealityTeleportEditor.cs
  Assets/HoloToolkit/MRTKVersion.txt
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxRig.cs
  Assets/HoloToolkit/Utilities/Scripts/Editor/SetIconsWindow.cs
  Assets/HoloToolkit/Utilities/Scripts/Editor/SolverHandlerEditor.cs
  Assets/HoloToolkit/Utilities/Scripts/Solvers/SolverHandler.cs
  Assets/HoloToolkit/Utilities/Scripts/StabilizationPlaneModifier.cs
  BranchGuide.md
  BreakingChanges.md
  CONTRIBUTING.md
  CodingGuidelines.md
  README.md
  Roadmap.md
Labels: Legacy (HoloToolkit), Ready for Review

#3134 Added Branch Guide (mrtk) - resolves #3088
  BranchGuide.md
  README.md
Labels: Beta, Documentation, MRTK vNEXT, Ready for Review

#3066 Mixed Reality Toolkit Standard Shader New Features
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/AlphaCutoff.anim
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/AlphaCutoff.anim.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/AlphaCutoff.controller
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/AlphaCutoff.controller.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/EdgeSmoothing.anim
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/EdgeSmoothing.anim.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/EdgeSmoothing.controller
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/EdgeSmoothing.controller.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/NormalMapScale.anim
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/NormalMapScale.anim.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/NormalMapScale.controller
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Animations/NormalMapScale.controller.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/PanelBorderRoundedEdgeSmoothing.mat
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/PanelBorderRoundedEdgeSmoothing.mat.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/ShaderBallCutoutTransition.mat
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/ShaderBallCutoutTransition.mat.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/ShaderBallNormalMapScale.mat
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/ShaderBallNormalMapScale.mat.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/ShaderBallRefractiveGlass.mat
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/ShaderBallRefractiveGlass.mat.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/ShaderBallTriplanar.mat
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Materials/ShaderBallTriplanar.mat.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Scenes/MaterialGallery.unity
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Scenes/StandardMaterialComparison.unity
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Scripts/MaterialMatrix.cs
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Textures/Checker_albedo.png
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Textures/Checker_albedo.png.meta
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Textures/Panel_albedo.tga
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Textures/ShaderBallNoise_albedo.png
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Textures/ShaderBallNoise_albedo.png.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/_Core/Resources/Shaders/MixedRealityStandard.shader
Labels: Enhancement, MRTK vNEXT, Shaders

#3151 fixed build warnings
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Tooltips/ToolTip.cs
Labels: Beta, MRTK SDK, MRTK vNEXT, Ready for Review

#3155 Updated editor to 2018.2.16
  ProjectSettings/ProjectVersion.txt
Labels: Beta, MRTK vNEXT, Ready for Review

#3143 Add support for specifying debug logging levels - Part 1 (MixedRealityToolkit component support)
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/LoggingLevels.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/LoggingLevels.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/_Core/Utilities/DebugUtilities.cs
Labels: Diagnostics / Tools, MRTK vNEXT, Ready for Review

#3159 add exception handling around Activator.CreateInstance calls
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Beta, Bug, MRTK Core, MRTK vNEXT, Ready for Review

#3149 Moved default boundary system implementation from sdk -> core
  Assets/MixedRealityToolkit-Examples/Demos/Diagnostics/Profiles/DiagnosticsDemoConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Services/BoundarySystem.meta
  Assets/MixedRealityToolkit/_Core/Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/_Core/Services/BoundarySystem/MixedRealityBoundarySystem.cs.meta
  Assets/MixedRealityToolkit/_Core/Services/BoundarySystem/README.md
  Assets/MixedRealityToolkit/_Core/Services/BoundarySystem/README.md.meta
Labels: BREAKING CHANGE, Beta, Boundaries, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#3175 add branch changeover notice
  README.md
Labels: Documentation, Legacy (HoloToolkit), Ready for Review

#3174 Fixed diagnostics null ref when disabling at edit time
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
Labels: Bug, MRTK Core, Ready for Review

#3178 Fix overwriting bool in RequestPointers
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs
Labels: Bug, MRTK vNEXT, Ready for Review

#3152 Moved teleportation system from sdk -> core.
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Services/TeleportSystem.meta
  Assets/MixedRealityToolkit/_Core/Services/TeleportSystem/MixedRealityTeleportSystem.cs
  Assets/MixedRealityToolkit/_Core/Services/TeleportSystem/MixedRealityTeleportSystem.cs.meta
Labels: BREAKING CHANGE, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#3187 Move editor controller model fix from htk_dev to master for release
  Assets/HoloToolkit/Input/Scripts/Utilities/MotionControllerVisualizer.cs
Labels: Legacy (HoloToolkit), Ready for Review

#3054 Adds unity+UWP installation instructions
  External/ReadMeImages/BuildSettingsUWP.png
  GettingStarted.md
Labels: Documentation, Legacy (HoloToolkit)

#3189 Updated graphic on readme page to match MRDL page
  External/ReadMeImages/MixedRealityStack-Apps.png
  External/ReadMeImages/MixedRealityStack-MRTK-Unity.png
Labels: Documentation, Legacy (HoloToolkit), Ready for Review

#3199 Add base.OnEnable to Spatial Awareness inspector
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpatialAwarenessProfileInspector.cs
Labels: Bug, MRTK vNEXT, Spatial Mapping / Awareness
