Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-10, with the labels that each got.

#2824 Centralized all the core manager accessors to MixedRealiyManager
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scripts/BoundaryVisualizationDemo.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseFocusHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/DragAndDropHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/TeleportHotSpot.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/InputSystemGlobalListener.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/CursorModifier.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/InteractiveMeshCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/TeleportCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/GenericPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/BaseGenericInputSource.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/GenericJoystickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityJoystickManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityTouchDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/WindowsDictationInputDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/WindowsSpeechInputDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/CanvasEditorExtension.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityPointer.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Utilities/CanvasUtility.cs
Labels: MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review, Refactor

#2867 Fix copy+paste errors in diagnostic code
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MixedRealityDiagnosticsManager.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics/DiagnosticsEventData.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsHandler.cs
Labels: Diagnostics / Tools, MRTK vNEXT, Ready for Review

#2866 Updated diagnostics
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MixedRealityDiagnosticsManager.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics/DiagnosticsEventData.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsSystem.cs.meta
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2869 a few more diagnostics changes
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticsHandler.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics/DiagnosticsEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs.meta
Labels: MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2833 Mouse Pointer Updates
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseDeviceManager.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, UX Controls

#2812 Feature process documentation and contribution update
  CONTRIBUTING.md
  External/ReadMeImages/issue_selection_prompt.png
  Feature_Contribution_Process.md
Labels: Documentation, MRTK vNEXT, Ready for Review

#2872 Add QRTracking assets and samples in Holotoolkit-preview
  Assets/HoloToolkit-Preview/QRTracker.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/QRCodesTrackerPlugin.Placeholder.dll.mdb
  Assets/HoloToolkit-Preview/QRTracker/Plugins/QRCodesTrackerPlugin.Placeholder.dll.mdb.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/QRCodesTrackerPlugin.Placeholder.dll.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/QRCodesTrackerPlugin.Placeholder.pdb.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/arm.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/arm/QRCodesTrackerPlugin.dll.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/arm/QRCodesTrackerPlugin.pdb.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/x64.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/x64/QRCodesTrackerPlugin.dll.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/x64/QRCodesTrackerPlugin.pdb.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/x86.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/x86/QRCodesTrackerPlugin.dll.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/x86/QRCodesTrackerPlugin.pdb.meta
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/x86/QRCodesTrackerPlugin.winmd
  Assets/HoloToolkit-Preview/QRTracker/Plugins/WSA/x86/QRCodesTrackerPlugin.winmd.meta
  Assets/HoloToolkit-Preview/QRTracker/Prefabs.meta
  Assets/HoloToolkit-Preview/QRTracker/Prefabs/Axis.prefab
  Assets/HoloToolkit-Preview/QRTracker/Prefabs/Axis.prefab.meta
  Assets/HoloToolkit-Preview/QRTracker/Prefabs/Eames-DAW-Chair.obj.meta
  Assets/HoloToolkit-Preview/QRTracker/Prefabs/QRCode.prefab
  Assets/HoloToolkit-Preview/QRTracker/Prefabs/QRCode.prefab.meta
  Assets/HoloToolkit-Preview/QRTracker/Prefabs/QRScanner.prefab
  Assets/HoloToolkit-Preview/QRTracker/Prefabs/QRScanner.prefab.meta
  Assets/HoloToolkit-Preview/QRTracker/Scenes.meta
  Assets/HoloToolkit-Preview/QRTracker/Scenes/AttachToQRCode.unity
  Assets/HoloToolkit-Preview/QRTracker/Scenes/AttachToQRCode.unity.meta
  Assets/HoloToolkit-Preview/QRTracker/Scenes/QRCodesSample.unity
  Assets/HoloToolkit-Preview/QRTracker/Scenes/QRCodesSample.unity.meta
  Assets/HoloToolkit-Preview/QRTracker/Scripts.meta
  Assets/HoloToolkit-Preview/QRTracker/Scripts/AttachToQRCode.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/AttachToQRCode.cs.meta
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCode.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCode.cs.meta
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCodesManager.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCodesManager.cs.meta
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCodesVisualizer.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/QRCodesVisualizer.cs.meta
  Assets/HoloToolkit-Preview/QRTracker/Scripts/SpatialGraphCoordinateSystem.cs
  Assets/HoloToolkit-Preview/QRTracker/Scripts/SpatialGraphCoordinateSystem.cs.meta
Labels: Legacy (HoloToolkit), Preview / Experimental

#2877 Properly set editor preference.
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityPreferences.cs
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review

#2881 Updated vNEXT Editor to 2018.1.9f2
  ProjectSettings/ProjectVersion.txt
Labels: MRTK vNEXT, Ready for Review

#2837 Controller proxy visualization profile
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerVisualizationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerVisualizationProfile.asset.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerVisualizationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerVisualizationProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerVisualizationSetting.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerVisualizationSetting.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ProfileMenuItemIndices.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Extensions/StringExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityControllerVisualizer.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: BREAKING CHANGE, Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2884 Body/Head renamed to MixedRealityPlayspace/Main Camera
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scenes/AudioLoFiEffectDemo.unity
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scenes/AudioOcclusionDemo.unity
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scenes/BoundaryVisualization.unity
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Scenes/MaterialGallery.unity
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Scenes/StandardMaterialComparison.unity
  Assets/MixedRealityToolkit-Examples/Demos/StandardShader/Scenes/StandardMaterials.unity
  Assets/MixedRealityToolkit-Examples/Demos/UX/Collections/Scenes/ObjectCollectionGallery.unity
  Assets/MixedRealityToolkit-Examples/Demos/UX/Lines/Scenes/LineGallery.unity
Labels: MRTK vNEXT, Ready for Review

#2835 Input Handler Inspector Fix
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/BaseInputHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/PointerClickHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/MixedRealityToolkit.SDK.Inspectors.asmdef
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/BaseMixedRealityInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/BaseMixedRealityInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBaseConfigurationProfileInspector.cs
Labels: Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review, Refactor

#2784 [Solver PR 4] Add controller-tracking support to solvers
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/ControllerFinder.cs
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/ControllerFinder.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Utilities/Solvers/ControllerFinderInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Utilities/Solvers/ControllerFinderInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/Utilities/Solvers/SolverHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Utilities/Solvers/SolverHandlerInspector.cs.meta
Labels: MRTK vNEXT, Ready for Review, Solvers

#2886 Properly initialize pointerEventData in the input manager
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/MixedRealityPointerEventData.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2887 Remove non-events from IMixedRealityFocusHandler
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseFocusHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityFocusHandler.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2894 Updated git ignore definitions
  .gitignore
Labels: MRTK vNEXT, Ready for Review

#2890 Fixed UWP Lag issue, changed from Event Based updates to polling.
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
Labels: Bug, Input / Interactions, MRTK vNEXT

#2898 Add rotated transform to Solvers after glTF coordinate system update
  Assets/HoloToolkit-Examples/Utilities/Prefabs/SolverExample/WristWrapper.prefab
  Assets/HoloToolkit-Examples/Utilities/Scenes/SolverExamples.unity
  Assets/HoloToolkit/Utilities/Scripts/Solvers/SolverHandler.cs
Labels: Legacy (HoloToolkit), Ready for Review, Solvers

#2903 Overlap Solver
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/Overlap.cs
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/Overlap.cs.meta
Labels: MRTK vNEXT, Proposal, Ready for Review

#2885 [Solver PR 5] Add Solver example scene
  Assets/MixedRealityToolkit-Examples/Demos/Solvers.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSource.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSource.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffset.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffset.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffsetThenFaceHead.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffsetThenFaceHead.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/InBetweenSources.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/InBetweenSources.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/Orbital.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/Orbital.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/OrbitalWithStepping.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/OrbitalWithStepping.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/Snake.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/Snake.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SolverSwappingVolume.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SolverSwappingVolume.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SurfaceMagnetism.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SurfaceMagnetism.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SurfaceMagnetismAndRadialView.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SurfaceMagnetismAndRadialView.prefab.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Scenes.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Scenes/Solvers.unity
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Scenes/Solvers.unity.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Scripts.meta
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Scripts/SwapVolume.cs
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Scripts/SwapVolume.cs.meta
  ProjectSettings/QualitySettings.asset
  ProjectSettings/UnityConnectSettings.asset
Labels: MRTK vNEXT, Ready for Review, Solvers

#2906 Fix dotnet runtime for UWP
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/CpuUseTracker.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MemoryUseTracker.cs
Labels: .NET Backend, MRTK vNEXT, Windows UWP

#2910 Fixed broken link to Holographic button
  Assets/HoloToolkit-Examples/UX/Readme/README_InteractableObjectExample.md
Labels: Documentation, Legacy (HoloToolkit), UX Controls

#2814 Add initial documentation around package manager
  Documentation/Architecture/Package_Manager/Package_Manager.md
  Documentation/Architecture/Readme.md
Labels: Documentation, Feature Branch, MRTK vNEXT, Ready for Review

#2896 Add binary nuget package compilation
  .gitignore
  Build/.gitignore
  Build/Build.sln
  Build/Directory.Build.props
  Build/MixedReality.Toolkit.SDK/MixedReality.Toolkit.SDK.csproj
  Build/MixedReality.Toolkit/MixedReality.Toolkit.csproj
Labels: MRTK vNEXT

#2932 fix bug : Null Exception occur in WorldAnchorManager
  Assets/HoloToolkit/Common/Scripts/WorldAnchorManager.cs
Labels: Legacy (HoloToolkit), Ready for Review, World Anchors

#2908 Update roadmap for new version scheme
  Roadmap.md
Labels: Documentation

#2939 Updated editor version to 2018.2.13f1
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/ProjectVersion.txt
Labels: Editor, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2940 Remove stray ChaseSource from SwappingVolume prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SolverSwappingVolume.prefab
Labels: Example/Test Scene, MRTK vNEXT, Ready for Review, Solvers

#2926 Gesture Profile Fixes
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review

#2942 2018.2.13f1 missing quality settings changes
  ProjectSettings/QualitySettings.asset
Labels: Editor, MRTK vNEXT, Ready for Review

#2950 updated some missing MRTK icons on some scripts
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Scripts/SwapVolume.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/MousePointerInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SolverOrientationType.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/BaseMixedRealityInspector.cs.meta
Labels: MRTK vNEXT, Ready for Review

#2952 Fix typos in Common readme file
  Assets/HoloToolkit/Common/README.md
  Roadmap.md
Labels: Documentation, Legacy (HoloToolkit), Ready for Review

#2945 Updated SystemType deserialization method
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SystemType.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Refactor, Utilities

#2953 replace manager exceptions with debug.logerror and return
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK Core, MRTK vNEXT

#2917 Spatial awareness implementation
  Assets/MixedRealityToolkit-Examples/Demos/SpatialAwareness.meta
  Assets/MixedRealityToolkit-Examples/Demos/SpatialAwareness/Scenes.meta
  Assets/MixedRealityToolkit-Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity
  Assets/MixedRealityToolkit-Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity.meta
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/Handlers/MixedRealitySpatialAwarenessMeshHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/Handlers/MixedRealitySpatialAwarenessSurfaceFindingHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredComponentsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealitySpatialAwarenessProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/IMixedRealitySpatialAwarenessBaseDescription.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/IMixedRealitySpatialAwarenessMeshDescription.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/IMixedRealitySpatialAwarenessPlanarSurfaceDescription.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/IMixedRealitySpatialAwarenessPlanarSurfaceDescription.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/MixedRealitySpatialAwarenessProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/SpatialAwarenessDataType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/SpatialAwarenessDataType.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/SpatialAwarenessEventType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/SpatialMeshObject.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/SpatialMeshObject.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/BaseSpatialObserver.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseSpatialObserver.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealitySpatialObserver.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealitySpatialObserver.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessEventData.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpatialAwarenessProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessObserver.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessObserver.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Documentation/Architecture/SpatialAwareness/Images/MixedRealitySpatialAwarenessEventData.png
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessEventData.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessDataType.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessEventType.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessSystemArchitecture.md
Labels: Feature Branch, MRTK vNEXT, Ready for Review, Spatial Mapping / Awareness

#2947 updated WinGestSettings summary
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/WindowsGestureSettings.cs
Labels: Documentation, MRTK Core, MRTK vNEXT, Ready for Review

#2921 Windows Dictation Input Device Update
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/WindowsDictationInputDeviceManager.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, Refactor

#2955 Fixed grammatical errors
  CodingGuidelines.md
Labels: Documentation, Legacy (HoloToolkit), Ready for Review

#2959 Minor SolverHandler refactor
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/SolverHandler.cs
Labels: MRTK vNEXT, Ready for Review, Solvers

#2920 Fixed issue getting focused GameObject(s) when handling input event
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/DragAndDropHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
Labels: BREAKING CHANGE, Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2944 Updated Base Pointer Controller Pointer Name Property …
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, Refactor

#2961 Add update to serializedObject in diagnostic inspector
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
Labels: Diagnostics / Tools, MRTK vNEXT, Ready for Review

#2966 fix nullreferenceexception in diagnostics handler
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticsHandler.cs
Labels: Bug, Diagnostics / Tools, MRTK SDK, Ready for Review

#2968 Updated Inspectors to apply the playspace at design time
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
Labels: Bug, MRTK vNEXT, Ready for Review

#2913 Fixed a few issues with speech input handler
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
Labels: Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review, Speech

#2977 Add Tooltip Materials
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/TooltipLines.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/TooltipLines.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/TooltipWithBorder.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/TooltipWithBorder.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/TooltipWithoutBorder.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/TooltipWithoutBorder.mat.meta
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, Standard Assets

#2981 Mrtk development serialization fix
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Bug, MRTK vNEXT

#2984 Updated MixedRealityToolkit Unit Tests
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review

#2986 Updating release version references in HTK for 2017.4.3 release
  Assets/HoloToolkit/MRTKVersion.txt
  Roadmap.md
Labels: Documentation, Legacy (HoloToolkit), Ready for Review

#2989 Make FloorScale's type match floorScale's type
  Assets/MixedRealityToolkit-SDK/Features/Boundary/MixedRealityBoundaryManager.cs
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/MixedRealityBoundaryVisualizationProfile.cs
Labels: Boundaries, Bug, MRTK vNEXT, Ready for Review

#2948 fixed Build Window layout in 2018.2+
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpBuildDeployWindow.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpBuildDeployWindow.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/USB/USBDeviceListener.cs
  Assets/MixedRealityToolkit/_Core/Utilities/WindowsDevicePortal/DevicePortal.cs
Labels: Bug, Build Tools, Editor, MRTK Core, MRTK vNEXT, Ready for Review

#2990 Add platform-dependent compilation section to CodingGuidelines
  CodingGuidelines.md
Labels: Documentation, MRTK vNEXT, Ready for Review

#2988 Fixed editor texture asset loading
  Assets/MixedRealityToolkit/MixedRealityToolkit.asmdef
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/ControllerMappingLibrary.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBaseConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/MixedRealityEditorSettings.cs.meta
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review

#3000 Fixed a few things with SpatialAwarenessSystem implementation
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessSystem.cs
Labels: Feature Branch, MRTK SDK, MRTK vNEXT, Ready for Review, Spatial Mapping / Awareness

#3001 Tidying up the Input System profile
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
Labels: Documentation, Enhancement, MRTK vNEXT, Ready for Review

#2983 Consolidated setup prompts into one, and added VR setup
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
  ProjectSettings/ProjectSettings.asset
Labels: Editor, MRTK Core, MRTK vNEXT, Ready for Review, Utilities

#2992 initial pass at project clean-up and missing documentation.
  Assets/MixedRealityToolkit-Examples/Demos/README.md
  Assets/MixedRealityToolkit-Examples/Internal/README.md
  Assets/MixedRealityToolkit-Examples/Internal/README.md.meta
  Assets/MixedRealityToolkit-Examples/SDK/README.md
  Assets/MixedRealityToolkit-Examples/StandardAssets/README.md
  Assets/MixedRealityToolkit-SDK/Features/README.md
  Assets/MixedRealityToolkit/InputSystem/Pointers/README.md
  Assets/MixedRealityToolkit/InputSystem/Sources/README.md
  Assets/MixedRealityToolkit/InputSystem/Utilities/README.md
  Assets/MixedRealityToolkit/Sharing/README.md
  Assets/MixedRealityToolkit/Sharing/README.md.meta
  Assets/MixedRealityToolkit/Sharing/RackNet.meta
  Assets/MixedRealityToolkit/Sharing/RackNet/README.md
  Assets/MixedRealityToolkit/Sharing/RackNet/README.md.meta
  Assets/MixedRealityToolkit/Sharing/UNET.meta
  Assets/MixedRealityToolkit/Sharing/UNET/README.md
  Assets/MixedRealityToolkit/Sharing/UNET/README.md.meta
  Assets/MixedRealityToolkit/Spatial/Mapping.meta
  Assets/MixedRealityToolkit/Spatial/Mapping/README.md
  Assets/MixedRealityToolkit/Spatial/Mapping/README.md.meta
  Assets/MixedRealityToolkit/Spatial/README.md
  Assets/MixedRealityToolkit/Spatial/README.md.meta
  Assets/MixedRealityToolkit/Spatial/Sound.meta
  Assets/MixedRealityToolkit/Spatial/Sound/README.md
  Assets/MixedRealityToolkit/Spatial/Sound/README.md.meta
  Assets/MixedRealityToolkit/Spatial/Understanding.meta
  Assets/MixedRealityToolkit/Spatial/Understanding/README.md
  Assets/MixedRealityToolkit/Spatial/Understanding/README.md.meta
  Assets/MixedRealityToolkit/_Core/Attributes/README.md
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/GenericOpenXRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/GenericOpenXRController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/README.md
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/README.md.meta
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/README.md
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/README.md.meta
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedHandController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedHandController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/README.md
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/README.md
  Assets/MixedRealityToolkit/_Core/EventDatum/README.md
  Assets/MixedRealityToolkit/_Core/Inspectors/README.md
  Assets/MixedRealityToolkit/_Core/Resources/README.md
Labels: BREAKING CHANGE, Documentation, MRTK vNEXT, Ready for Review

#2995 Some misc input bug fixes
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/TeleportCursor.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
Labels: Bug, Input / Interactions, MRTK SDK, MRTK vNEXT, Ready for Review

#2993 Mixed Reality Editor Settings binary drop
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/.MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/.MixedRealityEditorSettings.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/Microsoft.MixedReality.Toolkit.Core.Utilities.Editor.Setup.dll
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/Microsoft.MixedReality.Toolkit.Core.Utilities.Editor.Setup.dll.meta
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#3012 Remove stale handedness data from Solver prefabs
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSource.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffset.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffsetThenFaceHead.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/InBetweenSources.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/Orbital.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/OrbitalWithStepping.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/Snake.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SurfaceMagnetism.prefab
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SurfaceMagnetismAndRadialView.prefab
Labels: MRTK vNEXT, Ready for Review, Solvers

#3015 Fix bug in ResetFocusedObjects where the previous target stayed the same
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2951 Added Copy/Paste functionality to configuration profiles.
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityBoundaryVisualizationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityCameraProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityGesturesProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Extensions/EditorClassExtensions/ScriptableObjectExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBaseConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
Labels: Enhancement, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review, Release Candidate Testing

#3023 updated UX icons default state.
  Assets/MixedRealityToolkit/_Core/Resources/Icons/mic_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/script_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/settings_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/shapes_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/spatial_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/spatial_understanding_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/toolkit_icon.png
  Assets/MixedRealityToolkit/_Core/Resources/Icons/ux_icon.png
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Release Candidate Testing

#3024 Fixed CameraCache fail if no camera tagged as main camera.
  Assets/MixedRealityToolkit/_Core/Utilities/CameraCache.cs
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review, Release Candidate Testing

#2902 Lumin Platform Support
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityGesturesProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredServiceProvidersProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/SupportedControllerType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/LuminControllerGestureSettings.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/LuminControllerGestureSettings.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/LuminHandGestureSettings.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/LuminHandGestureSettings.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityGesturesProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityCameraProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SupportedPlatforms.cs
  Assets/MixedRealityToolkit/_Core/Devices/Lumin.meta
  Assets/MixedRealityToolkit/_Core/Devices/Lumin/LuminController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Lumin/LuminController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/Lumin/LuminDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/Lumin/LuminDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Utilities/PlatformUtility.cs
Labels: Cross Platform, Feature Branch, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#3029 Fix for tile generator quitting if used on a non 2018 build of Unity
  Assets/HoloToolkit/Utilities/Scripts/Editor/SetIconsWindow.cs
Labels: Bug, Legacy (HoloToolkit), Ready for Review

#3031 updated project version to 2018.2.14f1
  ProjectSettings/ProjectVersion.txt
Labels: MRTK vNEXT, Ready for Review, Release Candidate Testing

#3033 remove default spatial handlers, add demo mesh handler
  Assets/MixedRealityToolkit-Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity
  Assets/MixedRealityToolkit-Examples/Demos/SpatialAwareness/Scripts.meta
  Assets/MixedRealityToolkit-Examples/Demos/SpatialAwareness/Scripts/DemoSpatialMeshHandler.cs
  Assets/MixedRealityToolkit-Examples/Demos/SpatialAwareness/Scripts/DemoSpatialMeshHandler.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/Handlers/MixedRealitySpatialAwarenessMeshHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/Handlers/MixedRealitySpatialAwarenessSurfaceFindingHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/Handlers/MixedRealitySpatialAwarenessSurfaceFindingHandler.cs.meta
Labels: Example/Test Scene, MRTK SDK, MRTK vNEXT, Ready for Review, Spatial Mapping / Awareness, Task

#3003 Mouse Input Fixes
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/MousePointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/MeshCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/BaseControllerPointerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/MousePointerInspector.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredServiceProvidersProfile.asset
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityCursor.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityMousePointer.cs
Labels: Bug, Input / Interactions, MRTK SDK, MRTK vNEXT, Ready for Review, Release Candidate Testing

#3002 Spelling and Punctuation changes are done
  BreakingChanges.md
  CONTRIBUTING.md
Labels: Documentation, Legacy (HoloToolkit), Ready for Review

#3030 Helped speed up play mode transition.
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/.MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/Microsoft.MixedReality.Toolkit.Core.Utilities.Editor.Setup.dll
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review, Release Candidate Testing

#3035 Lumin Update
  Assets/MixedRealityToolkit/_Core/Devices/Lumin/LuminController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Lumin/LuminDeviceManager.cs
Labels: Feature Branch, MRTK SDK, MRTK vNEXT, Ready for Review

#3034 Updated async utilities to prevent possible deadlocks
  Assets/MixedRealityToolkit-Examples/MixedRealityToolkit.Examples.asmdef
  Assets/MixedRealityToolkit-SDK/MixedRealityToolkit.SDK.asmdef
  Assets/MixedRealityToolkit/MixedRealityToolkit.asmdef
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkit.Core.Inspectors.asmdef
  Assets/MixedRealityToolkit/_Core/Utilities/Async.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/AwaitYieldInstructions.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/AwaitYieldInstructions/WaitForBackgroundThread.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Async/AwaitYieldInstructions/WaitForBackgroundThread.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/AwaitYieldInstructions/WaitForUpdate.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Async/AwaitYieldInstructions/WaitForUpdate.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/AwaiterExtensions.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Async/AwaiterExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/Internal.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/Internal/AsyncCoroutineRunner.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Async/Internal/AsyncCoroutineRunner.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/Internal/SyncContextUtility.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Async/Internal/SyncContextUtility.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/License.md
  Assets/MixedRealityToolkit/_Core/Utilities/Async/License.md.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/MixedRealityToolkit.Core.Utilities.Async.asmdef
  Assets/MixedRealityToolkit/_Core/Utilities/Async/MixedRealityToolkit.Core.Utilities.Async.asmdef.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Async/ReadMe.md
  Assets/MixedRealityToolkit/_Core/Utilities/Async/ReadMe.md.meta
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review, Release Candidate Testing

#3036 Fixed some null refs with mouse pointer
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/MousePointer.cs
Labels: Bug, MRTK SDK, MRTK vNEXT, Ready for Review, Release Candidate Testing

#3022 Build Utilities update
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpBuildDeployWindow.cs
Labels: Build Tools, MRTK Core, MRTK vNEXT, Ready for Review

#3046 update version to 2018.9
  Assets/MixedRealityToolkit-Examples/Version.txt
  Assets/MixedRealityToolkit-SDK/Version.txt
  Assets/MixedRealityToolkit-Tests/Version.txt
  Assets/MixedRealityToolkit/Version.txt
  ProjectSettings/ProjectSettings.asset
Labels: Documentation, MRTK vNEXT, Ready for Review
