Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-09, with the labels that each got.

#2694 Standards updates for Boundary manager
  Assets/MixedRealityToolkit-SDK/Features/Boundary/MixedRealityBoundaryManager.cs
  Assets/MixedRealityToolkit-SDK/Features/Boundary/MixedRealityBoundaryManager.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Boundary/README.md
  Assets/MixedRealityToolkit-SDK/Features/Boundary/README.md.meta
  Assets/MixedRealityToolkit-SDK/Features/Boundary/System.meta
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2689 Themed Icons
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/EnforceEditorSettings.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2693 Added button to get back to main config profile
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2701 GazeProvider Start() visibility to protected for derived providers
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2677 Updated Source State Events to be more generic
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePoseEventData.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySourcePoseHandler.cs
Labels: BREAKING CHANGE, Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review, Refactor

#2690 Renamed Unity Device Manager
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/GenericJoystickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/GenericJoystickController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityJoystickManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityJoystickManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/XboxController.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: BREAKING CHANGE, Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Refactor

#2695 Focus Provider Registration Fix
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
Labels: Input / Interactions, MRTK SDK, MRTK vNEXT, Ready for Review

#2704 Added Mixed Reality Pose to string override
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/MixedRealityPose.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2676 draft spatial awareness system architecture
  Documentation/Architecture/IMixedRealitySpatialAwarenessBaseDescription.md
  Documentation/Architecture/IMixedRealitySpatialAwarenessMeshDescription.md
  Documentation/Architecture/IMixedRealitySpatialAwarenessMeshHandler.md
  Documentation/Architecture/IMixedRealitySpatialAwarenessPlanarSurfaceDescription.md
  Documentation/Architecture/IMixedRealitySpatialAwarenessSurfaceFindingHandler.md
  Documentation/Architecture/IMixedRealitySpatialAwarenessSystem.md
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessBaseDescription.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessMeshDescription.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessMeshHandler.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessPlanarSurfaceDescription.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessSurfaceFindingHandler.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessSystem.png
  Documentation/Architecture/Images/MixedRealitySpatialAwarenessBaseEventData.png
  Documentation/Architecture/Images/MixedRealitySpatialAwarenessMeshEventData.png
  Documentation/Architecture/Images/MixedRealitySpatialAwarenessSurfaceFindingEventData.png
  Documentation/Architecture/Images/SpatialAwarenessSystemArchitecture.png
  Documentation/Architecture/MixedRealitySpatialAwarenessBaseDescription.md
  Documentation/Architecture/MixedRealitySpatialAwarenessBaseEventData.md
  Documentation/Architecture/MixedRealitySpatialAwarenessEventType.md
  Documentation/Architecture/MixedRealitySpatialAwarenessMeshDescription.md
  Documentation/Architecture/MixedRealitySpatialAwarenessMeshEventData.md
  Documentation/Architecture/MixedRealitySpatialAwarenessMeshHandler.md
  Documentation/Architecture/MixedRealitySpatialAwarenessMeshLevelOfDetail.md
  Documentation/Architecture/MixedRealitySpatialAwarenessPlanarSurfaceDescription.md
  Documentation/Architecture/MixedRealitySpatialAwarenessPlanarSurfaceHandler.md
  Documentation/Architecture/MixedRealitySpatialAwarenessProfile.md
  Documentation/Architecture/MixedRealitySpatialAwarenessProfileInspector.md
  Documentation/Architecture/MixedRealitySpatialAwarenessSurfaceFindingEventData.md
  Documentation/Architecture/MixedRealitySpatialAwarenessSurfaceTypes.md
  Documentation/Architecture/MixedRealitySpatialAwarenessSystem.md
  Documentation/Architecture/SpatialAwarenessSystemArchitecture.md
Labels: Documentation, MRTK vNEXT, Ready for Review, Spatial Mapping / Awareness

#2707 New AutoStartBehavior enum for features
  Assets/MixedRealityToolkit/_Core/Utilities/AutoStartBehavior.cs
  Assets/MixedRealityToolkit/_Core/Utilities/AutoStartBehavior.cs.meta
Labels: Enhancement, MRTK vNEXT, Ready for Review

#2710 Fixed Cursors
  Assets/MixedRealityToolkit-SDK/Features/UX/Animations/Cursors/DefaultCursor/DefaultCursor.controller
  Assets/MixedRealityToolkit-SDK/Features/UX/Meshes/Cursors/DefaultCursor.fbx.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Cursors/DefaultCursor.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Cursors/TeleportCursor.prefab
Labels: MRTK vNEXT, Ready for Review, UX Controls

#2723 Fixes controller mapping profile serialization for HoloLens gestures
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2729 Moved BuildAndDeploy folder into Utilities
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/BuildDeployPreferences.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/BuildDeployPreferences.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/BuildDeployWindow.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/BuildInfo.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/BuildInfo.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/CopyDirectoryInfo.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/CopyDirectoryInfo.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/MixedRealityToolkit.Core.BuildAndDeploy.asmdef
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/MixedRealityToolkit.Core.BuildAndDeploy.asmdef.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/README.md
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/README.md.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpPlayerBuildTools.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpPlayerBuildTools.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpProjectPostProcess.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpProjectPostProcess.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/USB.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/USB/USBDeviceInfo.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/USB/USBDeviceInfo.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/USB/USBDeviceListener.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/USB/USBDeviceListener.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/USB.meta
Labels: MRTK vNEXT, Ready for Review, Refactor

#2730 Moved auto start behavior to proper location
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/AutoStartBehavior.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/AutoStartBehavior.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/RecognitionConfidenceLevel.cs.meta
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2731 made gaze provider start virtual for proper overriding
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
Labels: MRTK vNEXT, Ready for Review

#2713 Generic Gesture Profile and Handlers
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityGesturesProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityGesturesProfile.asset.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/GestureInputType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/GestureInputType.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityGestureMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityGestureMapping.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityGesturesProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityGesturesProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityGestureHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityGestureHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: Cross Platform, Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2687 Refactored Touch Screen Input Source to Device Manager
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/TouchPointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/TouchPointer.prefab.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/TouchPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/TouchPointer.cs.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityGesturesProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredComponentsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityTouchInputProfile.asset
  Assets/MixedRealityToolkit-Tests/MixedRealityManagerTests.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/SupportedControllerType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityTouchInputProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityTouchController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityTouchDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityTouchDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityTouchInputProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityPointer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityTouchPointer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityTouchPointer.cs.meta
Labels: BREAKING CHANGE, Cross Platform, Input / Interactions, MRTK vNEXT, Ready for Review, Refactor

#2726 Added initial docs for architecture
  Documentation/Architecture/Boundary_System/Boundary_System.md
  Documentation/Architecture/Core_System/Core.md
  Documentation/Architecture/Input_System/Input_System.md
  Documentation/Architecture/Readme.md
  Documentation/Architecture/Teleport_System/Teleport_System.md
Labels: Documentation, MRTK Core, MRTK SDK, MRTK vNEXT

#2735 Dictation Device Manager Update
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/WindowsDictationInputDeviceManager.cs
Labels: MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2734 Fixed a race condition with BaseInputHandler
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/SpeechInputHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/InputSystemGlobalListener.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
Labels: Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2736 Added better platform checking
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredComponentsProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityComponentConfiguration.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SupportedPlatforms.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SupportedPlatforms.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityRegisteredComponentsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Utilities/PlatformUtility.cs
  Assets/MixedRealityToolkit/_Core/Utilities/PlatformUtility.cs.meta
Labels: Cross Platform, MRTK Core, MRTK vNEXT, Ready for Review

#2480 created an orbital solver as an improved replacement to body lock solver
  Assets/HoloToolkit-Examples/Utilities/Prefabs/SolverExample/OrbitalBodyLocked.prefab
  Assets/HoloToolkit-Examples/Utilities/Prefabs/SolverExample/OrbitalBodyLocked.prefab.meta
  Assets/HoloToolkit-Examples/Utilities/Prefabs/SolverExample/WristWrapper.prefab
  Assets/HoloToolkit-Examples/Utilities/Scenes/SolverExamples.unity
  Assets/HoloToolkit/Utilities/Scripts/Solvers/SolverBodyLock.cs
  Assets/HoloToolkit/Utilities/Scripts/Solvers/SolverOrbital.cs
  Assets/HoloToolkit/Utilities/Scripts/Solvers/SolverOrbital.cs.meta
Labels: Legacy (HoloToolkit), Solvers

#2737 Fix conditionals and zero parameter constructor to fix linux standalo…
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/BaseGenericInputSource.cs
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/WindowsDictationInputDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/WindowsSpeechInputDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SpeechEventData.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: Bug, Cross Platform, Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Speech

#2741 simplify the platform check logic, make it easier to extend
  Assets/MixedRealityToolkit/_Core/Utilities/PlatformUtility.cs
Labels: Build Tools, MRTK vNEXT

#2743 Removed UWP from OpenVR supported platforms
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredComponentsProfile.asset
Labels: MRTK vNEXT, Ready for Review

#2742 Fix GetManager(s) calls in MixedRealityManager
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: DO NOT MERGE, MRTK Core, MRTK vNEXT

#2698 vNEXT: Spatial Mouse Input
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Cursors/MouseCursor.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Cursors/MouseCursor.prefab.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/MousePointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/MousePointer.prefab.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/MousePointer.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/MousePointerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/MousePointerInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredComponentsProfile.asset
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_DefautMouseCursor.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_DefautMouseCursor.mat.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/DeviceInputType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/SupportedControllerType.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityMousePointer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityMousePointer.cs.meta
  Assets/MixedRealityToolkit/_Core/Resources/Textures/MouseCursor.png
  Assets/MixedRealityToolkit/_Core/Resources/Textures/MouseCursor.png.meta
Labels: Cross Platform, Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2755 removed spatial mouse for now
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredComponentsProfile.asset
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2750 Teleport Cursor Fix
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/ParabolicPointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Prefabs/Pointers/TouchPointer.prefab
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/TeleportCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Pointers/BaseControllerPointerInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityCursor.cs
Labels: MRTK vNEXT, Ready for Review

#2745 Merge master changes back into htk_development
  .github/ISSUE_TEMPLATE/---mrtk-task.md
Labels: Legacy (HoloToolkit), Ready for Review

#2763 Remove warning from BaseCursor
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2747 Fixed MixedRealityManager bugs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/BaseInputHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/BaseManager.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2740 Add scaffolding for diagnostic profile and display
  .gitignore
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticBehavor.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticBehavor.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MixedRealityDiagnosticsManager.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MixedRealityDiagnosticsManager.cs.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset.meta
  Assets/MixedRealityToolkit-SDK/Profiles/README.md
  Assets/MixedRealityToolkit/_Core/Definitions/Diagnostics.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ProfileMenuItemIndices.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics/DiagnosticsEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics/DiagnosticsEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK vNEXT, Utilities

#2606 MRTK SDK UX - ObjectCollection
  Assets/MixedRealityToolkit-Examples/Demos/UX/Collections.meta
  Assets/MixedRealityToolkit-Examples/Demos/UX/Collections/Scenes.meta
  Assets/MixedRealityToolkit-Examples/Demos/UX/Collections/Scenes/ObjectCollectionGallery.unity
  Assets/MixedRealityToolkit-Examples/Demos/UX/Collections/Scenes/ObjectCollectionGallery.unity.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/BaseObjectCollection.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/BaseObjectCollection.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/CollectionEnums.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/CollectionEnums/LayoutOrderType.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/CollectionEnums/LayoutOrderType.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/CollectionEnums/ObjectOrientationSurfaceType.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/CollectionEnums/ObjectOrientationSurfaceType.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/ObjectCollectionNode.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/ObjectCollectionNode.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/ScatterObjectCollection.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/ScatterObjectCollection.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Inspectors.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Inspectors/Collections.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Inspectors/Collections/BaseCollectionInspector.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Inspectors/Collections/BaseCollectionInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/CollationOrderType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/CollationOrderType.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/OrientationType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/OrientationType.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/VectorExtensions.cs
Labels: MRTK SDK, MRTK vNEXT, UX Controls

#2777 Fixed mrtk_development compiler & build errors
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/BaseObjectCollection.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/ObjectCollectionNode.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/ScatterObjectCollection.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Inspectors.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Collections.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Collections/BaseCollectionInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Collections/BaseCollectionInspector.cs.meta
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2781 Pulled out gesture changes from WMR Gestures PR
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityGestureHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityHoldHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityHoldHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityManipulationHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityManipulationHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityNavigationHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityNavigationHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: BREAKING CHANGE, Input / Interactions, MRTK Core, Ready for Review, Refactor

#2783 Updated old or incorrect namespaces
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/BaseObjectCollection.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/CollationOrderType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/OrientationType.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/ClipPlaneInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/ControllerPopupWindow.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Data/ControllerInputActionOption.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Data/ControllerInputActionOptions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityManagerInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBaseConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityRegisteredComponentsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/CanvasEditorExtension.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/BaseMixedRealityLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/EllipseLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/ParabolaPhysicalLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/ParabolicConstrainedLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/RectangleLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/SimpleLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/SplineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/MixedRealityInspectorUtility.cs
Labels: BREAKING CHANGE, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review, Refactor

#2770 [Solver PR 3] Update solvers from master
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/ConstantViewSize.cs
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/InBetween.cs
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/InBetween.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/Orbital.cs
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/RadialView.cs
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/Solver.cs
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/SurfaceMagnetism.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Utilities.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/Utilities/Solvers.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/Utilities/Solvers/InBetweenInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Utilities/Solvers/InBetweenInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/QuaternionSmoothed.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/QuaternionSmoothed.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ScaleStateType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ScaleStateType.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SolverOrientationType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SolverOrientationType.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/TrackedObjectType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/TrackedObjectType.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Vector3Smoothed.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Vector3Smoothed.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/MixedRealityRaycaster.cs
Labels: MRTK vNEXT, Ready for Review, Solvers

#2787 Hide the base InputSystemGlobalListener Start call if isFocusRequired is checked
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseInputHandler.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2705 Windows Mixed Reality Gesture Support
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityGesturesProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityGesturesProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/WindowsGestureSettings.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/WindowsGestureSettings.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Extensions/GestureRecognizerExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/GestureRecognizerExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
Labels: Enhancement, HoloLens, Input / Interactions, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2775 port audio influencers and effects from HTK
  Assets/MixedRealityToolkit-Examples/Demos/Audio.meta
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Audio.meta
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Audio/PolyHover.wav
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Audio/PolyHover.wav.meta
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Audio/Vocals.wav
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Audio/Vocals.wav.meta
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scenes.meta
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scenes/AudioLoFiEffectDemo.unity
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scenes/AudioLoFiEffectDemo.unity.meta
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scenes/AudioOcclusionDemo.unity
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scenes/AudioOcclusionDemo.unity.meta
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scripts.meta
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scripts/LoFiFilterSelection.cs
  Assets/MixedRealityToolkit-Examples/Demos/Audio/Scripts/LoFiFilterSelection.cs.meta
  Assets/MixedRealityToolkit-Examples/MixedRealityToolkit.Examples.asmdef
  Assets/MixedRealityToolkit-SDK/Features/Audio.meta
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers.meta
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers/AudioInfluencerController.cs
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers/AudioInfluencerController.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers/AudioLoFiEffect.cs
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers/AudioLoFiEffect.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers/AudioLoFiSourceQualityType.cs
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers/AudioLoFiSourceQualityType.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers/AudioOccluder.cs
  Assets/MixedRealityToolkit-SDK/Features/Audio/Influencers/AudioOccluder.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Audio.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Audio/IAudioInfluencer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Audio/IAudioInfluencer.cs.meta
  ProjectSettings/AudioManager.asset
Labels: MRTK SDK, Ready for Review, Spatial Sound / Audio

#2792 Update WMR source naming to include Voice
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2791 [Solver PR 3.5] SolverHandler bug fixes
  Assets/MixedRealityToolkit-SDK/Features/Utilities/Solvers/SolverHandler.cs
Labels: MRTK vNEXT, Ready for Review, Solvers

#2794 Fixed pointer registration.
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityCursor.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, UX Controls

#2806 Updating release version references in HTK for 2017.4.2 release
  Assets/HoloToolkit/MRTKVersion.txt
  Roadmap.md
Labels: Legacy (HoloToolkit), Ready for Review

#2803 Updated config profiles
  Assets/MixedRealityToolkit-SDK/Features/Boundary/MixedRealityBoundaryManager.cs
  Assets/MixedRealityToolkit-SDK/Features/Teleportation/MixedRealityTeleportManager.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/MixedRealityBoundaryVisualizationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2804 vNext: InteractionReceiver base class
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseInputHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Receivers.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Receivers/InteractionReceiver.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Receivers/InteractionReceiver.cs.meta
Labels: MRTK vNEXT, Ready for Review, UX Controls

#2818 Distortion fix
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Distorters/DistorterSimplex.cs
Labels: UX Controls

#2813 Updated the namespace of BaseCollectionInspector
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Collections/BaseCollectionInspector.cs
Labels: MRTK vNEXT, Ready for Review, UX Controls

#2817 Fix typo in mouse cursor material name
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_DefaultMouseCursor.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_DefaultMouseCursor.mat.meta
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2827 Updated isOpaque check to be part of the camera profile #2826
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityCameraProfile.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: Enhancement, MRTK vNEXT, Task

#2820 Fixed line data provider gizmos when MRTK is not configured.
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/ParabolicConstrainedLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/SimpleLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/Lines/DataProviders/SplineDataProviderInspector.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, Utilities

#2830 Update MRTKStandard shader's reference to its custom inspector
  Assets/MixedRealityToolkit/_Core/Resources/Shaders/MixedRealityStandard.shader
Labels: MRTK vNEXT, Ready for Review, Shaders

#2819 MRTK relative folder matching fix.
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/EnforceEditorSettings.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2809 Add UI for diagnostics
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/CpuUseTracker.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/CpuUseTracker.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticBehavor.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticsHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticsHandler.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/FpsUseTracker.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/FpsUseTracker.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MemoryUseTracker.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MemoryUseTracker.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MixedRealityDiagnosticsManager.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review, UX Controls

#2821 Ensured Input System is valid before setting cursor on Gaze Provider.
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
Labels: Input / Interactions, MRTK SDK, MRTK vNEXT, Ready for Review

#2836 add additional components header, code organization cleanup
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
Labels: MRTK vNEXT, Ready for Review

#2779 vNEXT: Updated Coding Guidelines
  CodingGuidelines.md
Labels: MRTK vNEXT, Ready for Review

#2846 Feature/mrtk diagnostics
  .gitignore
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/CpuUseTracker.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/CpuUseTracker.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticsHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/DiagnosticsHandler.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/FpsUseTracker.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/FpsUseTracker.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MemoryUseTracker.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MemoryUseTracker.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MixedRealityDiagnosticsManager.cs
  Assets/MixedRealityToolkit-SDK/Features/Diagnostics/MixedRealityDiagnosticsManager.cs.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset.meta
  Assets/MixedRealityToolkit-SDK/Profiles/README.md
  Assets/MixedRealityToolkit/_Core/Definitions/Diagnostics.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ProfileMenuItemIndices.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics/DiagnosticsEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Diagnostics/DiagnosticsEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Diagnostics/IMixedRealityDiagnosticsManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: Feature Branch, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review, Utilities

#2844 Moved some of the non-guidance info out of the architecture docs
  MRTK-WorkRoadmap.md
Labels: Documentation, MRTK vNEXT

#2845 removed the task list
  MRTK-vNext.md
Labels: Documentation, MRTK vNEXT

#2858 Update BaseFocusHandler, as being the old focused object does not always mean overall focus was lost
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseFocusHandler.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2857 Removed obsolete assert in FocusProvider
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#2859 Add interface guidelines
  CodingGuidelines.md
Labels: Documentation, MRTK vNEXT, Ready for Review

#2848 Update spatial architecture to include observer interface
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/Handlers/MixedRealitySpatialAwarenessMeshHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/Handlers/MixedRealitySpatialAwarenessMeshHandler.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/Handlers/MixedRealitySpatialAwarenessSurfaceFindingHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessBaseDescription.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessMeshDescription.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessMeshDescription.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessPlanarSurfaceDescription.cs
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessPlanarSurfaceDescription.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/SpatialAwarenessDataType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/SpatialAwareness/SpatialAwarenessDataType.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessMeshEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessMeshEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessSurfaceFindingEventData.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/Handlers/IMixedRealitySpatialAwarenessMeshHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/Handlers/IMixedRealitySpatialAwarenessSurfaceFindingHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessObserver.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessObserver.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
  Documentation/Architecture/IMixedRealitySpatialAwarenessBaseDescription.md
  Documentation/Architecture/IMixedRealitySpatialAwarenessMeshDescription.md
  Documentation/Architecture/IMixedRealitySpatialAwarenessPlanarSurfaceDescription.md
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessBaseDescription.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessMeshDescription.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessMeshHandler.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessPlanarSurfaceDescription.png
  Documentation/Architecture/Images/IMixedRealitySpatialAwarenessSystem.png
  Documentation/Architecture/Images/MixedRealitySpatialAwarenessBaseEventData.png
  Documentation/Architecture/Images/MixedRealitySpatialAwarenessMeshEventData.png
  Documentation/Architecture/Images/MixedRealitySpatialAwarenessSurfaceFindingEventData.png
  Documentation/Architecture/MixedRealitySpatialAwarenessBaseDescription.md
  Documentation/Architecture/MixedRealitySpatialAwarenessMeshDescription.md
  Documentation/Architecture/MixedRealitySpatialAwarenessMeshEventData.md
  Documentation/Architecture/MixedRealitySpatialAwarenessPlanarSurfaceDescription.md
  Documentation/Architecture/MixedRealitySpatialAwarenessSurfaceFindingEventData.md
  Documentation/Architecture/SpatialAwareness/IMixedRealitySpatialAwarenessMeshHandler.md
  Documentation/Architecture/SpatialAwareness/IMixedRealitySpatialAwarenessSurfaceFindingHandler.md
  Documentation/Architecture/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.md
  Documentation/Architecture/SpatialAwareness/IMixedRealitySpatialObserver.md
  Documentation/Architecture/SpatialAwareness/Images/IMixedRealitySpatialAwarenessMeshHandler.png
  Documentation/Architecture/SpatialAwareness/Images/IMixedRealitySpatialAwarenessSurfaceFindingHandler.png
  Documentation/Architecture/SpatialAwareness/Images/IMixedRealitySpatialAwarenessSystem.png
  Documentation/Architecture/SpatialAwareness/Images/IMixedRealitySpatialObserver.png
  Documentation/Architecture/SpatialAwareness/Images/MixedRealitySpatialAwarenessEventData.png
  Documentation/Architecture/SpatialAwareness/Images/SpatialAwarenessSystemArchitecture.png
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessEventData.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessMeshHandler.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessPlanarSurfaceHandler.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessProfile.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessProfileInspector.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessSystem.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessDataType.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessEventType.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessMeshDisplayOptions.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessMeshLevelOfDetail.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessSurfaceTypes.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessSystemArchitecture.md
Labels: Documentation, Feature Branch, MRTK vNEXT, Ready for Review, Spatial Mapping / Awareness
