Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-12, with the labels that each got.

#3200 Adds event time to all event datum
  Assets/MixedRealityToolkit/_Core/EventDatum/GenericBaseEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/BaseInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessEventData.cs
Labels: Beta, Enhancement, MRTK Core, MRTK vNEXT, Ready for Review, Refactor

#3204 Updated unity editor to 2018.2.18f1
  ProjectSettings/ProjectVersion.txt
Labels: MRTK vNEXT, Ready for Review

#3203 Some fixes
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs.meta
Labels: MRTK vNEXT

#3219 mrtk sharing <- mrtk development sync
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs.meta
Labels: Feature Branch, MRTK vNEXT, Ready for Review

#3201 Remove input mappings if toolkit's input system is disabled.
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Beta, Customer Feedback, Enhancement, MRTK Core, MRTK vNEXT, Ready for Review

#3186 Updated service locator and unit tests
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-Tests/Core.meta
  Assets/MixedRealityToolkit-Tests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit-Tests/Core/TestFixture_01_MixedRealityToolkitTests.cs.meta
  Assets/MixedRealityToolkit-Tests/InputSystem.meta
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_01_UnityInputManagerHelperTests.cs
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_01_UnityInputManagerHelperTests.cs.meta
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_02_InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_02_InteractionDefinitionTests.cs.meta
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_03_InputSystemTests.cs.meta
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit-Tests/Services.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestDataProvider1.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestDataProvider1.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestDataProvider2.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestDataProvider2.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestExtensionService1.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestExtensionService1.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestExtensionService2.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestExtensionService2.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestFailService.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestFailService.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestService.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestService.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestDataProvider1.cs
  Assets/MixedRealityToolkit-Tests/Services/TestDataProvider1.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestDataProvider2.cs
  Assets/MixedRealityToolkit-Tests/Services/TestDataProvider2.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService1.cs
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService1.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService2.cs
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService2.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestFailService.cs
  Assets/MixedRealityToolkit-Tests/Services/TestFailService.cs.meta
  Assets/MixedRealityToolkit-Tests/TestUtilities.cs
  Assets/MixedRealityToolkit-Tests/TestUtilities.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: BREAKING CHANGE, Beta, MRTK Core, Ready for Review, Refactor

#3228 Set CurrentPointerTarget properly when updating PointerData
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
Labels: Beta, Input / Interactions, MRTK vNEXT, Ready for Review

#3229 Update capitalization of "keyword" in SpeechInputHandler Inspector
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
Labels: Beta, MRTK vNEXT, Speech

#3232 Remove a couple unnecessary lines from UI camera config
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review

#3238 Sync feature/ mrtk sharing <- mrtk development
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit-Tests/Core.meta
  Assets/MixedRealityToolkit-Tests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit-Tests/Core/TestFixture_01_MixedRealityToolkitTests.cs.meta
  Assets/MixedRealityToolkit-Tests/InputSystem.meta
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_01_UnityInputManagerHelperTests.cs
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_01_UnityInputManagerHelperTests.cs.meta
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_02_InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_02_InteractionDefinitionTests.cs.meta
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_03_InputSystemTests.cs.meta
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit-Tests/Services.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestDataProvider1.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestDataProvider1.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestDataProvider2.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestDataProvider2.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestExtensionService1.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestExtensionService1.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestExtensionService2.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestExtensionService2.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestFailService.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestFailService.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/ITestService.cs
  Assets/MixedRealityToolkit-Tests/Services/ITestService.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestDataProvider1.cs
  Assets/MixedRealityToolkit-Tests/Services/TestDataProvider1.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestDataProvider2.cs
  Assets/MixedRealityToolkit-Tests/Services/TestDataProvider2.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService1.cs
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService1.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService2.cs
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService2.cs.meta
  Assets/MixedRealityToolkit-Tests/Services/TestFailService.cs
  Assets/MixedRealityToolkit-Tests/Services/TestFailService.cs.meta
  Assets/MixedRealityToolkit-Tests/TestUtilities.cs
  Assets/MixedRealityToolkit-Tests/TestUtilities.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBaseConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Resources/Shaders/MixedRealityStandard.shader
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Feature Branch, MRTK vNEXT, Ready for Review

#3249 Updated Unity Editor verison to 2018.2.19f1
  ProjectSettings/ProjectVersion.txt
Labels: Editor, MRTK vNEXT, Ready for Review

#3242 Updated base Profile Inspectors.
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/BaseInputHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/PointerClickHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/BaseMixedRealityInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpatialAwarenessProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Utilities/MixedRealityInspectorUtility.cs
Labels: BREAKING CHANGE, Editor, Enhancement, MRTK Core, MRTK vNEXT, Ready for Review

#3255 SceneDescriptionPanel.prefab update
  Assets/MixedRealityToolkit-Examples/StandardAssets/Prefabs/SceneDescriptionPanel.prefab
Labels: MRTK vNEXT, Ready for Review

#3274 fix cs0019 when building against the .net backend
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SystemType.cs
Labels: .NET Backend

#3276 Cleanup build warnings
  Assets/MixedRealityToolkit/_Core/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityPointerProfile.cs
Labels: Ready for Review

#3251 Boundary system physics layer configuration settings
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityBoundaryVisualizationProfile.asset
  Assets/MixedRealityToolkit/_Core/Attributes/PhysicsLayerAttribute.cs
  Assets/MixedRealityToolkit/_Core/Attributes/PhysicsLayerAttribute.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/BoundarySystem/MixedRealityBoundaryVisualizationProfile.cs
  Assets/MixedRealityToolkit/_Core/Extensions/LayerExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/PhysicsLayerAttributeDrawer.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/PhysicsLayerAttributeDrawer.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/BoundarySystem/IMixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/_Core/Services/BoundarySystem/MixedRealityBoundarySystem.cs
Labels: BREAKING CHANGE, Boundaries, Enhancement, Ready for Review

#3279 Updated radial and checkBox themes
  Assets/MixedRealityToolkit-SDK/Features/UX/Interactable/Scripts/Themes/InteractableActivateTheme.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Interactable/Scripts/Themes/InteractableAudioTheme.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Interactable/Scripts/Themes/InteractableMaterialTheme.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Interactable/Scripts/Themes/InteractableStringTheme.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Interactable/Scripts/Themes/InteractableTextureTheme.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Interactable/Scripts/Themes/InteractableThemeBase.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Interactable/Themes/ToggleIcon.asset
  Assets/MixedRealityToolkit-SDK/Features/UX/Interactable/Themes/ToggleIconSelected.asset
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/Interactable/ThemeInspector.cs
Labels: Input / Interactions

#3283 Fix bug where GazeCursor was never being set
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
Labels: 2018 Bugs, Input / Interactions, Ready for Review

#3282 Fix issue where some event data wasn't having its handedness properly reset
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputEventData.cs
Labels: 2018 Bugs, Input / Interactions, Ready for Review

#3284 Properly set pointerName at pointer creation
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
Labels: 2018 Bugs, Input / Interactions, Ready for Review

#3285 Pointer line length bugs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Lines/DataProviders/BaseMixedRealityLineDataProvider.cs
Labels: 2018 Bugs, Input / Interactions, Ready for Review

#3290 added Disposable pattern to service interface.
  Assets/MixedRealityToolkit/_Core/Interfaces/IMixedRealityService.cs
  Assets/MixedRealityToolkit/_Core/Services/BaseService.cs
Labels: BREAKING CHANGE, MRTK vNEXT, Ready for Review

#3293 Fix issue where HoloLens hands were using the same MixedRealityInteractionMapping array
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
Labels: Input / Interactions, Ready for Review

#3294 Fix DragAndDropHandler to properly support hands over the gaze pointer
  Assets/MixedRealityToolkit-Examples/Demos/Input.meta
  Assets/MixedRealityToolkit-Examples/Demos/Input/Scenes.meta
  Assets/MixedRealityToolkit-Examples/Demos/Input/Scenes/DragAndDropExample.unity
  Assets/MixedRealityToolkit-Examples/Demos/Input/Scenes/DragAndDropExample.unity.meta
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/GazeProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/DragAndDropHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Physics/RayStep.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/MixedRealityPointerEventData.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: BREAKING CHANGE, Blocked, Input / Interactions, Ready for Review
