Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-06, with the labels that each got.

#2212 [June18] App bar positioning bug fix #2042
  Assets/HoloToolkit-Examples/UX/Scenes/BoundingBoxGizmoExample.unity
  Assets/HoloToolkit/UX/Scripts/AppBar/AppBar.cs
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBox.cs
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxRig.cs
  Assets/HoloToolkit/Utilities/Scripts/BoundingBoxHelper.cs
Labels: Ready for Review, UX Controls

#2230 Added the missing meta file and removing MonoBehaviour from BoundingBoxHelper
  Assets/HoloToolkit/Utilities/Scripts/BoundingBoxHelper.cs
  Assets/HoloToolkit/Utilities/Scripts/BoundingBoxHelper.cs.meta
Labels: Ready for Review, UX Controls

#2232 added missing meta file for models folder
  Assets/MixedRealityToolkit-SDK/Models.meta
Labels: MRTK vNEXT, Ready for Review, Sprint

#2236 Updated Mixed Reality Manager and Test Cases.
  Assets/MixedRealityToolkit-Tests/MixedRealityManagerTests.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK vNEXT, Ready for Review, Sprint

#2235 Input Action Drawer for Handlers
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit/_Core/Extensions/MathfExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs.meta
Labels: Input / Interactions, MRTK vNEXT, Ready for Review, Sprint

#2233 Fixed recursive issues with Source/Pointer creation in gaze provider
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/GenericPointer.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review, Sprint

#2231 vNEXT .NET Native build support.
  Assets/MixedRealityToolkit/InputSystem/Cursors/AnimatedCursor.cs
  Assets/MixedRealityToolkit/_Core/Attributes/SystemTypeAttribute.cs
  Assets/MixedRealityToolkit/_Core/BuildAndDeploy/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/AnimatedCursorData.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/KeywordAndResponse.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/AnimatorParameter.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SystemType.cs
  Assets/MixedRealityToolkit/_Core/Extensions/NetNativeReflectionExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/NetNativeReflectionExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/TypeReferencePropertyDrawer.cs
  ProjectSettings/ProjectSettings.asset
Labels: .NET Backend, Build Tools, MRTK vNEXT, Ready for Review, Sprint

#2240 Fixed Async to include the proper stack traces when throwing exceptions
  Assets/MixedRealityToolkit/_Core/Utilities/AsyncUtility/AwaiterExtensions.cs
Labels: MRTK vNEXT, Ready for Review, Sprint

#2242 Keyboard Fix for Missing Keys Bug
  Assets/HoloToolkit/UX/Scripts/UICollection.cs
Labels: UX Controls

#2243 cleanup .net build changes
  Assets/MixedRealityToolkit/_Core/Attributes/ExtendsAttribute.cs
  Assets/MixedRealityToolkit/_Core/Attributes/ImplementsAttribute.cs
  Assets/MixedRealityToolkit/_Core/Attributes/SystemTypeAttribute.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SystemType.cs
  Assets/MixedRealityToolkit/_Core/Extensions/NetNativeReflectionExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/NetNativeReflectionExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/ReflectionExtensions.cs
Labels: .NET Backend, MRTK vNEXT, Ready for Review

#2273 MRTK Icon Manager filtering
  Assets/MixedRealityToolkit-SDK/Features/Input/SpeechInputHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMappingProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputActionsProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealitySpeechCommandsProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityBaseConfigurationProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityConfigurationProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityControllerMappingProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityInputActionsProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityManagerInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealitySpeechCommandsProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/IMixedRealityManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/EditorSetup/IconEditor.cs
Labels: MRTK vNEXT, Sprint

#2274 vNEXT Editor Update
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/ProjectVersion.txt
Labels: MRTK vNEXT, Sprint

#2282 Remove InteractionMaping Get|SetValue<T> and update relevant tests
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDevice.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
Labels: MRTK Core, MRTK vNEXT

#2283 add #if around extensions namespace as appropriate, add IsOpaque
  Assets/MixedRealityToolkit/_Core/Attributes/ExtendsAttribute.cs
  Assets/MixedRealityToolkit/_Core/Attributes/ImplementsAttribute.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/ControllerState.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/Headset.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2287 fix assorted errors in the CodingGuidelines doc
  CodingGuidelines.md
Labels: Documentation, MRTK vNEXT, Ready for Review

#2293 Added tests for InteractionMappings dictionary
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDevice.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
Labels: Bug, MRTK vNEXT, Ready for Review

#2306 Properly expose MonoBehaviour methods in Cursor.cs
  Assets/HoloToolkit/Input/Scripts/Cursor/Cursor.cs
  Assets/HoloToolkit/Input/Scripts/Cursor/InteractiveMeshCursor.cs
Labels: Input / Interactions, Ready for Review

#2308 Updated Mixed Reality Camera Manager to be a configurable profile
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityCameraProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityCameraProfile.asset.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityCameraProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityCameraProfile.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityCameraProfileInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2315 vNEXT Input System Refactoring and Cleanup
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/InputSystem/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/DictationInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/SpeechInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputActionsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/AxisType.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/BaseInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/DictationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputPressedEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ManipulationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/MixedRealityPointerEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/NavigationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SixDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourceStateEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SpeechEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ThreeDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/TwoDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  ProjectSettings/ProjectVersion.txt
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Refactor, Sprint

#2319 Re-enable Sharing with UNET
  Assets/HoloToolkit-Examples/SharingWithUNET/Materials/ButtonBackground.mat
  Assets/HoloToolkit-Examples/SharingWithUNET/Prefabs/UIContainer.prefab
  Assets/HoloToolkit-Examples/SharingWithUNET/Scenes/SharingWithUnetExample.unity
  Assets/HoloToolkit-Examples/SharingWithUNET/Scripts/GenericNetworkTransmitter.cs
  Assets/HoloToolkit-Examples/SharingWithUNET/Scripts/UNetAnchorManager.cs
  Assets/HoloToolkit/Utilities/Scripts/ApplicationViewManager.cs
Labels: Ready for Review, Sharing / Networking

#2316 Automation script for build process.
  .gitignore
  Assets/MixedRealityToolkit-Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit-Examples/MixedReality.Toolkit.Examples.nuspec.meta
  Assets/MixedRealityToolkit-SDK/MixedReality.Toolkit.SDK.nuspec
  Assets/MixedRealityToolkit-SDK/MixedReality.Toolkit.SDK.nuspec.meta
  Assets/MixedRealityToolkit-Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit-Tests/MixedReality.Toolkit.Tests.nuspec.meta
  Assets/MixedRealityToolkit/MixedReality.Toolkit.nuspec
  Assets/MixedRealityToolkit/MixedReality.Toolkit.nuspec.meta
  README.md
  build.ps1
Labels: Build Tools, MRTK vNEXT

#2322 Fixed some Profile Serialization Issues and added Quickstart Menu
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Extensions/EditorClassExtensions/ScriptableObjectExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityManagerInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2332 Mixed Reality Manager Tests fix
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2333 Made sure that the input system cleans itself up properly.
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IBaseRayStabilizer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IBaseRayStabilizer.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/ICursorModifier.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/ICursorModifier.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IPointerResult.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IPointerResult.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/ITeleportTarget.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/ITeleportTarget.cs.meta
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2331 IMixedRealityInputAction changes & SixDof Type
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/DictationInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/SpeechInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/HandDraggable.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/InputAction.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputActionsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SixDof.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SixDof.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDevice.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SixDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePositionEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePositionEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourceStateEventData.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/InputActionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySourcePositionHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySourcePositionHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySourceStateHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  ProjectSettings/ProjectVersion.txt
Labels: Blocked, Input / Interactions, MRTK Core, MRTK vNEXT, Sprint

#2337 Refactored InterationMapping to be MixedRealityInputMapping
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/HoloLensClicker.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityGestureController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/HTCViveController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/ValveKnucklesController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/GenericOpenXRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedHandController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/ArcadeStickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/GamepadController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/JoystickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/RacingWheelController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDevice.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/IMixedRealityController.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Sprint

#2318 update class visibility and add runtime assert/logging
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityGestureController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/HTCViveController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/ValveKnucklesController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/GenericOpenXRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedHandController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/ArcadeStickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/GamepadController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/JoystickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/RacingWheelController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDevice.cs
  Assets/MixedRealityToolkit/_Core/Utilities/DebugUtilities.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review

#2344 Typo on paragraph #57
  README.md
Labels: Documentation

#2345 second attempt at devices refactor.
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/SpeechInputSource.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityInteractionMapping.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/SpeechCommands.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SystemType.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/HoloLensClicker.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityGestureController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/HTCViveController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/ValveKnucklesController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/GenericOpenXRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/OpenXRDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedHandController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/ArcadeStickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/GamepadController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/JoystickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/RacingWheelController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDevice.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/AttachToControllerEditor.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityController.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityDeviceManager.cs.meta
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK vNEXT, Ready for Review

#2350 Mrtk v next input action rollback2
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/DictationInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/HandDraggable.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputAction.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputAction.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/MixedRealityInputActionsProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/SpeechCommands.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/BaseInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/DictationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputPressedEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ManipulationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/MixedRealityPointerEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/NavigationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SixDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePositionEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourceStateEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SpeechEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ThreeDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/TwoDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputAction.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputAction.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2327 June18 dev spectator view multilens support
  Assets/HoloToolkit-Examples/SpectatorView/Scenes/SpectatorViewExample.unity
  Assets/HoloToolkit-Examples/SpectatorView/Scripts/ColorChanger.cs
  Assets/HoloToolkit-Examples/SpectatorView/Scripts/SpectatorViewNetworkManager.cs
  Assets/HoloToolkit-Examples/SpectatorView/Scripts/SpectatorViewNetworkManager.cs.meta
  Assets/HoloToolkit-Preview/SpectatorView/Prefabs/SpectatorView.prefab
  Assets/HoloToolkit-Preview/SpectatorView/Prefabs/SpectatorViewNetworking.prefab
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/Networking/NewDeviceDiscovery.cs
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/Networking/SpectatorView.cs
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/Networking/SpectatorView.cs.meta
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/Networking/SpectatorViewNetworkDiscovery.cs
Labels: Ready for Review, Sharing / Networking, SpectatorView

#2349 [June retarget] Fix for dragging of rotation handles of BoundBoxRig
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxGizmoHandle.cs
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxRig.cs
Labels: Ready for Review, UX Controls

#2348 [June retarget] Fix for choosing closest grabbable object to grab
  Assets/HoloToolkit-Examples/MotionControllers-GrabMechanics/Scripts/BaseGrabber.cs
Labels: Input / Interactions, Ready for Review

#2314 Better example for custom Icons for AppBar
  Assets/HoloToolkit/UX/Materials/ButtonIconMaterial.mat
  Assets/HoloToolkit/UX/Prefabs/Buttons/HolographicButton.prefab
  Assets/HoloToolkit/UX/Profiles/DefaultButtonIconProfileTexture.asset
  Assets/HoloToolkit/UX/Scripts/AppBar/AppBar.cs
  Assets/HoloToolkit/UX/Textures/Icons/AppBarAdjust.png
  Assets/HoloToolkit/UX/Textures/Icons/AppBarAdjust.png.meta
  Assets/HoloToolkit/UX/Textures/Icons/AppBarDone.png
  Assets/HoloToolkit/UX/Textures/Icons/AppBarDone.png.meta
  Assets/HoloToolkit/UX/Textures/Icons/AppBarHide.png
  Assets/HoloToolkit/UX/Textures/Icons/AppBarHide.png.meta
  Assets/HoloToolkit/UX/Textures/Icons/AppBarShow.png
  Assets/HoloToolkit/UX/Textures/Icons/AppBarShow.png.meta
  Assets/HoloToolkit/UX/Textures/Icons/DoneIcon.svg
  Assets/HoloToolkit/UX/Textures/Icons/DoneIcon.svg.meta
  Assets/HoloToolkit/UX/Textures/Icons/HideIcon.svg
  Assets/HoloToolkit/UX/Textures/Icons/HideIcon.svg.meta
Labels: UX Controls

#2354 Button.cs eventData fixes
  Assets/HoloToolkit/UX/Scripts/Buttons/Button.cs
Labels: Ready for Review, UX Controls

#2356 Fixes an InteractionInputSource bug where data was removed too soon
  Assets/HoloToolkit/Input/Scripts/InputSources/InteractionInputSource.cs
Labels: Input / Interactions, Ready for Review

#2357 Spectator View recursive fix
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/Recording/ReplayKitRecorder.cs
Labels: Ready for Review, SpectatorView

#2361 Fixing building glTF libraries for other build types
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/GLTFSerialization.dll.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/JsonNet/Newtonsoft.Json.dll.meta
Labels: Ready for Review

#2358 PopupMenu options fix
  Assets/HoloToolkit-Examples/Input/Scenes/InputManagerTest.unity
  Assets/HoloToolkit-Examples/Input/Scripts/PopupMenu.cs
  Assets/HoloToolkit-Examples/Input/Scripts/TestButton.cs
Labels: Ready for Review, UX Controls

#2360 Fix some build warnings
  Assets/HoloToolkit-Examples/SpectatorView/Scripts/SpectatorViewNetworkManager.cs
  Assets/HoloToolkit-Preview/SpectatorView/UnityARKitPlugin/Plugins/iOS/UnityARKit/Helpers/UnityARUtility.cs
  Assets/HoloToolkit/UX/Scripts/AppBar/AppBar.cs
Labels: Ready for Review

#2359 Button.cs documentation and formatting updates
  Assets/HoloToolkit/UX/Scripts/Buttons/Button.cs
  Assets/HoloToolkit/UX/Scripts/Buttons/ButtonEnums/ButtonStateEnum.cs
Labels: Ready for Review, UX Controls

#2351 More Device changes.
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/InputSystem/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/Headset.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/TrackingState.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/TrackingState.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/MixedRealityPose.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/MixedRealityPose.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityGestureController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/HTCViveController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/ValveKnucklesController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenXR/GenericOpenXRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedController.cs
  Assets/MixedRealityToolkit/_Core/Devices/Simulator/SimulatedHandController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/ArcadeStickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/GamepadController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/JoystickController.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/RacingWheelController.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputPressedEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputPressedEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ManipulationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ManipulationEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/NavigationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/NavigationEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SixDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SixDoFInputEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePoseEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePoseEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourceStateEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ThreeDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ThreeDoFInputEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/TwoDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/TwoDoFInputEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/TypeReferencePropertyDrawer.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedReality3DoFInputHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedReality6DoFInputHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityInputHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityManipulationHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityNavigationHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySourcePoseHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySourcePoseHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySourcePositionHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySpatialInputHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealitySpatialInputHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2368 BoundingBox namespace and AppBar field serialization
  Assets/HoloToolkit/UX/Scripts/AppBar/AppBar.cs
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxHelper.cs
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxHelper.cs.meta
  Assets/HoloToolkit/Utilities/Scripts/BoundingBoxHelper.cs
Labels: Ready for Review, UX Controls

#2367 Button.cs event firing fixes
  Assets/HoloToolkit/UX/Scripts/Buttons/Button.cs
Labels: Ready for Review, UX Controls
