Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-03, with the labels that each got.

#1727 Feature Two Hand Manipulation + Bounding Box Normal Mode
  Assets/MixedRealityToolkit-Examples/Input/Readme.meta
  Assets/MixedRealityToolkit-Examples/Input/Readme/README_TwoHandManipulationTest.md
  Assets/MixedRealityToolkit-Examples/Input/Readme/README_TwoHandManipulationTest.md.meta
  Assets/MixedRealityToolkit-Examples/Input/Scenes/TwoHandManipulationTest.unity
  Assets/MixedRealityToolkit-Examples/Input/Scenes/TwoHandManipulationTest.unity.meta
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonBalloon.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonCheese.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonCoffeeCup.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonHolographic.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonMeshBucky.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonMeshIcosa.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonMeshPrimitive.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonPush.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonTraditional.prefab
  Assets/MixedRealityToolkit-Examples/UX/Scenes/InteractableObjectExample.unity
  Assets/MixedRealityToolkit-Examples/UX/Scenes/ObjectCollectionExample.unity
  Assets/MixedRealityToolkit/InputModule/Prefabs/InputManager.prefab
  Assets/MixedRealityToolkit/InputModule/Prefabs/RightHandInputControlInverted.prefab
  Assets/MixedRealityToolkit/InputModule/Prefabs/RightHandInputControlInverted.prefab.meta
  Assets/MixedRealityToolkit/InputModule/Scripts/InputSources/CustomInputSource.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandManipulatable.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandManipulatable.cs.meta
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandMoveLogic.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandMoveLogic.cs.meta
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandRotateLogic.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandRotateLogic.cs.meta
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandScaleLogic.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandScaleLogic.cs.meta
  External/ReadMeImages/MRTK_BoundingBoxBasicPrefab.jpg
  External/ReadMeImages/MRTK_BoundingBoxNormalMode.jpg
  External/ReadMeImages/MRTK_TwoHandManipulation.jpg
  External/ReadMeImages/MRTK_TwoHandManipulationScene.jpg
  External/ReadMeImages/MRTK_TwoHandManipulationScript.jpg
Labels: Enhancement

#1789 Unit Tests Fixes
  Assets/MixedRealityToolkit-UnitTests/Editor/Utilities/Extensions/GameObjectExtensionsTests.cs
  Assets/MixedRealityToolkit-UnitTests/Editor/Utilities/Extensions/TransformExtensionsTests.cs
  Assets/MixedRealityToolkit/Common/Scripts/Extensions/TransformExtensions.cs
  Assets/MixedRealityToolkit/Common/Scripts/Singleton.cs
Labels: Pending Review

#1786 UX controls example updated with new MRTK/Standard Shader
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonHolographic.prefab
  Assets/MixedRealityToolkit-Examples/UX/Scenes/InteractableObjectExample.unity
  Assets/MixedRealityToolkit-Examples/UX/Scenes/ObjectCollectionExample.unity
  Assets/MixedRealityToolkit/UX/Profiles/HolographicButtonMeshProfile.asset
Labels: Pending Review

#1787 Changed SpatialUnderstanding DllImports to cdecl.
  Assets/HoloToolkit/SpatialUnderstanding/Scripts/SpatialUnderstandingDll.cs
  Assets/HoloToolkit/SpatialUnderstanding/Scripts/SpatialUnderstandingDllObjectPlacement.cs
  Assets/HoloToolkit/SpatialUnderstanding/Scripts/SpatialUnderstandingDllShapes.cs
  Assets/HoloToolkit/SpatialUnderstanding/Scripts/SpatialUnderstandingDllTopology.cs
Labels: Pending Review

#1795 Updated the pointer registration.
  Assets/MixedRealityToolkit/InputModule/Scripts/Focus/FocusManager.cs
Labels: Feature Branch

#1797 Updated ButtonTraditional prefab
  Assets/HoloToolkit-Examples/UX/Prefabs/ButtonTraditional.prefab
Labels: Pending Review

#1802 UX Document Fixes
  Assets/HoloToolkit/UX/README.md
Labels: Documentation, Pending Review

#1819 Updated Dialog UI with new HolographicButton component
  Assets/MixedRealityToolkit/UX/Materials/DialogBackPlate.mat
  Assets/MixedRealityToolkit/UX/Materials/DialogBackPlate.mat.meta
  Assets/MixedRealityToolkit/UX/Prefabs/Dialog.prefab
Labels: Enhancement

#1826 Fixed buttons with unassigned profiles in the example scenes
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ButtonHolographic.prefab
  Assets/MixedRealityToolkit-Examples/UX/Prefabs/ToolBar.prefab
  Assets/MixedRealityToolkit-Examples/UX/Scenes/InteractableObjectExample.unity
  Assets/MixedRealityToolkit-Examples/UX/Scenes/ObjectCollectionExample.unity
Labels: Pending Review

#1817 Adding two-axis pivots, fixing free, and adding other missing axes to Billboard
  Assets/MixedRealityToolkit/Utilities/Scripts/Billboard.cs
Labels: Enhancement

#1799 Send Slider Value on Update - Stabilization
  Assets/HoloToolkit-Examples/UX/Scripts/Controls/SliderGestureControl.cs
  Assets/HoloToolkit/Utilities/Scripts/UnityEventFloat.cs
  Assets/HoloToolkit/Utilities/Scripts/UnityEventFloat.cs.meta
Labels: Enhancement, Pending Review

#1820 Updated TwoHandManipulatable
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandManipulatable.cs
Labels: Bug, Pending Review

#1818 App Bar Build Fixes
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/AppBar.cs
Labels: Pending Review

#1846 MRTK vNEXT coding guidelines
  CodingGuidelines.md
  External/ReadMeImages/MRTK-NameSpaceExample.png
Labels: Documentation, MRTK vNEXT, Pending Review, Proposal

#1856 [Dev→master] Billboard updates
  Assets/HoloToolkit/Utilities/Scripts/Billboard.cs
Labels: Pending Review

#1838 [master] Fix occlusion effect, add lofi and example scene
  Assets/HoloToolkit-Examples/SpatialSound/Audio/PolyHover.wav
  Assets/HoloToolkit-Examples/SpatialSound/Audio/PolyHover.wav.meta
  Assets/HoloToolkit-Examples/SpatialSound/Materials/Emitter-AmRadio.mat
  Assets/HoloToolkit-Examples/SpatialSound/Materials/Emitter-AmRadio.mat.meta
  Assets/HoloToolkit-Examples/SpatialSound/Materials/Emitter-NarrowBandTelephony.mat
  Assets/HoloToolkit-Examples/SpatialSound/Materials/Emitter-NarrowBandTelephony.mat.meta
  Assets/HoloToolkit-Examples/SpatialSound/Materials/Emitter-UnknownQuality.mat
  Assets/HoloToolkit-Examples/SpatialSound/Materials/Emitter-UnknownQuality.mat.meta
  Assets/HoloToolkit-Examples/SpatialSound/Materials/InstructionPanel.mat
  Assets/HoloToolkit-Examples/SpatialSound/Materials/InstructionPanel.mat.meta
  Assets/HoloToolkit-Examples/SpatialSound/Scenes/AudioLoFiTest.unity
  Assets/HoloToolkit-Examples/SpatialSound/Scenes/AudioLoFiTest.unity.meta
  Assets/HoloToolkit-Examples/SpatialSound/Scripts/LoFiFilterSelection.cs
  Assets/HoloToolkit-Examples/SpatialSound/Scripts/LoFiFilterSelection.cs.meta
  Assets/HoloToolkit/SpatialSound/README.md
  Assets/HoloToolkit/SpatialSound/Scripts/AudioEmitter.cs
  Assets/HoloToolkit/SpatialSound/Scripts/AudioLoFiEffect.cs
  Assets/HoloToolkit/SpatialSound/Scripts/AudioLoFiEffect.cs.meta
  Assets/HoloToolkit/SpatialSound/Scripts/AudioOccluder.cs
  Assets/HoloToolkit/SpatialSound/Scripts/IAudioInfluencer.cs
Labels: Bug, Pending Review

#1854 TapToPlace: extends the usage of collider to place objects
  Assets/MixedRealityToolkit-Examples/Sharing/Scenes/SharingTest.unity
  Assets/MixedRealityToolkit-Examples/SpatialMapping/Scenes/TapToPlace.unity
  Assets/MixedRealityToolkit/SpatialMapping/Scripts/TapToPlace.cs
  Assets/MixedRealityToolkit/SpatialMapping/Scripts/TapToPlaceColliderPlacement.cs
  Assets/MixedRealityToolkit/SpatialMapping/Scripts/TapToPlaceColliderPlacement.cs.meta
Labels: Pending Review

#1855 [master] fixes #1831 - replace update with lateupdate in FixedAngularSize
  Assets/HoloToolkit/Utilities/Scripts/FixedAngularSize.cs
Labels: Pending Review

#1864 Lighting Improvements to the MRTK/Standard Shader
  Assets/MixedRealityToolkit/Common/Scripts/Editor/StandardShaderGUI.cs
  Assets/MixedRealityToolkit/Common/Shaders/Standard.shader
Labels: Pending Review

#1869 [master] Update ObjectCollection.cs
  Assets/HoloToolkit/UX/Scripts/Collections/ObjectCollection.cs
Labels: Pending Review
