Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-07, with the labels that each got.

#2370 Initialization Fixes for MixedRealityManager
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK vNEXT, Ready for Review, Sprint

#2373 Fixed Issue where the "No controller mappings found" error is logged even if there ARE mappings
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
Labels: Bug, MRTK vNEXT, Ready for Review

#2375 Config Profile Inspector doesn't update values after change.
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityConfigurationProfileInspector.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2369 add IsPosition/RotationAvailable and IsPositionApproximate
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/Headset.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/TrackingState.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityController.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review

#2377 properly cleanup ui raycast camera when we disable input system.
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2376 Added asserts for things
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/_Core/Utilities/CameraCache.cs
Labels: MRTK vNEXT, Ready for Review, Sprint

#2379 vNext: fix corner cases in determining windows mixed reality controller tracking
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review

#2385 Added device position updates for WMR controller.
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2380 Billboard.cs up vector bug fix
  Assets/HoloToolkit/Utilities/Scripts/Billboard.cs
Labels: Ready for Review, Utilities

#2387 Fixed errors when stopping editor playmode.
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
Labels: Bug, Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2388 Add support for non-0 min values in SliderGestureControl
  Assets/HoloToolkit-Examples/UX/Prefabs/Slider.prefab
  Assets/HoloToolkit-Examples/UX/Scenes/SliderSamples.unity
  Assets/HoloToolkit-Examples/UX/Scripts/Controls/SliderGestureControl.cs
Labels: Ready for Review, UX Controls

#2390 MRTK menu ordering fix
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployWindow.cs
  Assets/HoloToolkit/Utilities/Scripts/Editor/SetIconsWindow.cs
Labels: Ready for Review

#2399 Fixed typo
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePoseEventData.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2398 Refactored Pointers & Broke out raycasting into it's own static class.
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/GenericPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/GamepadInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Physics/RaycastModeType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Physics/RaycastModeType.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/GameObjectExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/QuaternionExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/QuaternionExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/VectorExtensions.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityGazeProvider.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityPointer.cs
  Assets/MixedRealityToolkit/_Core/Utilities/CameraMotionInfo.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MotionController/AttachToController.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MotionController/ControllerFinder.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MotionController/MotionControllerVisualizer.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MotionController/WindowsMixedRealityControllerInfo.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MotionController/WindowsMixedRealityControllerInfo.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/MixedRealityRaycaster.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/MixedRealityRaycaster.cs.meta
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Refactor, Sprint

#2403 Add inscribed rectangle to BoundaryManager
  Assets/HoloToolkit-Examples/Boundary/Scenes/BoundaryTest.unity
  Assets/HoloToolkit-Examples/Boundary/Scripts/BoundaryTest.cs
  Assets/HoloToolkit-Examples/Boundary/Scripts/BoundaryVisualizer.cs
  Assets/HoloToolkit-Examples/Boundary/Scripts/BoundaryVisualizer.cs.meta
  Assets/HoloToolkit-UnitTests/Editor/Utilities/InscribedRectangleTest.cs
  Assets/HoloToolkit-UnitTests/Editor/Utilities/InscribedRectangleTest.cs.meta
  Assets/HoloToolkit/Boundary/Scripts/BoundaryManager.cs
  Assets/HoloToolkit/Boundary/Scripts/Edge.cs
  Assets/HoloToolkit/Boundary/Scripts/Edge.cs.meta
  Assets/HoloToolkit/Boundary/Scripts/EdgeHelpers.cs
  Assets/HoloToolkit/Boundary/Scripts/EdgeHelpers.cs.meta
  Assets/HoloToolkit/Boundary/Scripts/InscribedRectangle.cs
  Assets/HoloToolkit/Boundary/Scripts/InscribedRectangle.cs.meta
  Assets/HoloToolkit/UX/Materials/MRTK_Standard_Charcoal.mat
Labels: Boundaries, Ready for Review

#2407 Ported Standard Shader and GUI from master.
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityStandardShaderGUI.cs.meta
  Assets/MixedRealityToolkit/_Core/Resources/Shaders/MixedRealityStandard.shader
  Assets/MixedRealityToolkit/_Core/Resources/Shaders/MixedRealityStandard.shader.meta
Labels: MRTK vNEXT, Ready for Review, Shaders, Sprint

#2406 Fix extension method not in namespace
  Assets/HoloToolkit-Examples/MotionControllers-GrabMechanics/Scripts/ExtensionMethod.cs
  Assets/HoloToolkit-Examples/MotionControllers-GrabMechanics/Scripts/RigidbodyExtensions.cs
  Assets/HoloToolkit-Examples/MotionControllers-GrabMechanics/Scripts/RigidbodyExtensions.cs.meta
Labels: Example/Test Scene, Ready for Review

#2413 Addressing previous inscribed rectangle PR comments
  Assets/HoloToolkit-Examples/Boundary/Scripts/BoundaryVisualizer.cs
  Assets/HoloToolkit/Boundary/Scripts/BoundaryManager.cs
  Assets/HoloToolkit/Boundary/Scripts/EdgeHelpers.cs
  Assets/HoloToolkit/Boundary/Scripts/InscribedRectangle.cs
Labels: Boundaries, Ready for Review

#2412 Updated some docs focused around focus provider and pointers.
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IPointerResult.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2405 Slight update to the teleport height logic
  Assets/HoloToolkit/Input/Scripts/Utilities/Managers/MixedRealityTeleport.cs
Labels: Input / Interactions, Ready for Review

#2424 Shader updates from Dev
  Assets/HoloToolkit-Examples/StandardShader/Animations/RoundedCorner.anim
  Assets/HoloToolkit-Examples/StandardShader/Materials/CubeBorderRoundedOpaque.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/CubeEnvironmentColor.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorder.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorderBlue.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorderCyan.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorderGreen.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorderOrange.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorderPink.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorderPurple.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorderRed.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/PanelBorderRoundedBlue.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/ShaderBallGlass.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/ShaderBallNearPlaneFade.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/ShaderBallNormalMap.mat
  Assets/HoloToolkit-Examples/StandardShader/Materials/ShaderBallNormalMapTransparent.mat
  Assets/HoloToolkit-Examples/StandardShader/Prefabs/Placard.prefab
  Assets/HoloToolkit/Common/Scripts/Editor/StandardShaderGUI.cs
  Assets/HoloToolkit/Common/Scripts/HoverLight.cs
  Assets/HoloToolkit/Common/Shaders/Standard.shader
Labels: Ready for Review, Shaders

#2402 vNext: Implement MixedRealityBoundaryManager and Profile
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Boundary/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ExperienceScale.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/ExperienceScale.cs.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/IMixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: Boundaries, MRTK Core, MRTK SDK, MRTK vNEXT, Ready for Review

#2396 MRTK vNext - Open vr device initial implementation
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
  Assets/MixedRealityToolkit-Tests/UnityInputManagerHelperTests.cs
  Assets/MixedRealityToolkit-Tests/UnityInputManagerHelperTests.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/DeviceInputType.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/HTCViveController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/ValveKnucklesController.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Utilities/InputMappingAxisUtility.cs
  Assets/MixedRealityToolkit/_Core/Utilities/InputMappingAxisUtility.cs.meta
Labels: Cross Platform, Enhancement, Experimental, Input / Interactions, MRTK vNEXT, OpenVR, Ready for Review

#2425 PlayerController.cs updates from Dev
  Assets/HoloToolkit-Examples/SharingWithUNET/Scripts/PlayerController.cs
Labels: Ready for Review, Sharing / Networking

#2427 Update ProjectSettingsWindow to not lose settings on BuildTarget update
  Assets/HoloToolkit/Utilities/Scripts/Editor/ProjectSettingsWindow.cs
Labels: Ready for Review

#2433 Mrtk version next 2018 2 upgradeplusfixes
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MotionController/MotionControllerVisualizer.cs
  Packages/manifest.json
  ProjectSettings/EditorBuildSettings.asset
  ProjectSettings/ProjectVersion.txt
Labels: Enhancement, MRTK vNEXT, Ready for Review

#2436 Fixes for pre-2017.2 in June
  Assets/HoloToolkit-Examples/Boundary/Scripts/BoundaryTest.cs
  Assets/HoloToolkit-Examples/Boundary/Scripts/BoundaryVisualizer.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Managers/MixedRealityTeleport.cs
Labels: Ready for Review

#2435 TwoHandManipulatable updates from Dev
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/ManipulationMode.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandManipulatable.cs
Labels: Input / Interactions, Ready for Review

#2437 Mrtk version next unity input manager update
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkit.Tests.asmdef
  Assets/MixedRealityToolkit-Tests/UnityInputManagerHelperTests.cs
  Assets/MixedRealityToolkit/_Core/BuildAndDeploy/InputMappingAxisUtility.cs
  Assets/MixedRealityToolkit/_Core/BuildAndDeploy/InputMappingAxisUtility.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/ControllerInputAxisMappingLibrary.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/ControllerInputAxisMappingLibrary.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/InputManagerAxis.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/InputManagerAxis.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/InputManagerAxisType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/InputManagerAxisType.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/HTCViveController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/ValveKnucklesController.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkit.Internal.Inspectors.asmdef
  Assets/MixedRealityToolkit/_Core/Interfaces/Devices/IMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: Bug, MRTK vNEXT, Ready for Review, Refactor

#2442 Fixed a couple of input system bugs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/MixedRealityPointerEventData.cs
Labels: Bug, MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2460 Removed extra Billboards from SliderSamples scene
  Assets/HoloToolkit-Examples/UX/Scenes/SliderSamples.unity
Labels: Example/Test Scene, Ready for Review

#2462 Turn off tangent import for TheModule
  Assets/HoloToolkit-Examples/UX/Models/TheModule.fbx.meta
Labels: Ready for Review

#2461 CodingGuidelines formatting and adding platform dependent compilation
  CodingGuidelines.md
Labels: Documentation, Ready for Review

#2459 Fix bug with enableOneHandMovement in TwoHandManipulatable
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandManipulatable.cs
Labels: Ready for Review, UX Controls

#2457 Billboard camera tolerance
  Assets/HoloToolkit/Utilities/Scripts/Billboard.cs
Labels: Utilities

#2467 Add "Add the Spatial Mapping Prefab" to the scene configuration window
  Assets/HoloToolkit/Utilities/Scripts/Editor/SceneSettingsWindow.cs
Labels: Ready for Review, Spatial Mapping

#2443 Ported Solvers to vNEXT
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/BodyLock.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/BodyLock.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/ConstantViewSize.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/ConstantViewSize.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/Momentum.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/Momentum.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/RadialView.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/RadialView.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/Solver.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/Solver.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/SolverHandler.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/SurfaceMagnetism.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/SurfaceMagnetism.cs.meta
Labels: MRTK Core, MRTK vNEXT, Solvers, Sprint

#2466 Add gizmo models/prefabs, rename SDK\Resources -> SDK\StandardAssets
  Assets/MixedRealityToolkit-SDK/StandardAssets.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Audio.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Audio/README.md
  Assets/MixedRealityToolkit-SDK/StandardAssets/Audio/README.md.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Fonts.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Fonts/README.md
  Assets/MixedRealityToolkit-SDK/StandardAssets/Fonts/README.md.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Blue.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Blue.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Charcoal.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Charcoal.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Cyan.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Cyan.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Emerald.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Emerald.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Gray.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Gray.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Green.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Green.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Lime.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Lime.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Magenta.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Magenta.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Orange.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Orange.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Pink.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Pink.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Purple.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Purple.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Red.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Red.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_White.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_White.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Yellow.mat
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/MRTK_Standard_Yellow.mat.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/README.md
  Assets/MixedRealityToolkit-SDK/StandardAssets/Materials/README.md.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Models.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Models/GizmoLeft.fbx
  Assets/MixedRealityToolkit-SDK/StandardAssets/Models/GizmoLeft.fbx.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Models/GizmoRight.fbx
  Assets/MixedRealityToolkit-SDK/StandardAssets/Models/GizmoRight.fbx.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Models/README.md
  Assets/MixedRealityToolkit-SDK/StandardAssets/Models/README.md.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Prefabs.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Prefabs/GizmoLeft.prefab
  Assets/MixedRealityToolkit-SDK/StandardAssets/Prefabs/GizmoLeft.prefab.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Prefabs/GizmoRight.prefab
  Assets/MixedRealityToolkit-SDK/StandardAssets/Prefabs/GizmoRight.prefab.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Shaders.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Shaders/README.md
  Assets/MixedRealityToolkit-SDK/StandardAssets/Shaders/README.md.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Textures.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Textures/README.md
  Assets/MixedRealityToolkit-SDK/StandardAssets/Textures/README.md.meta
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2476 added missing meta files from last PR
  Assets/MixedRealityToolkit-Examples/License.txt.meta
  Assets/MixedRealityToolkit-Examples/Version.txt.meta
  Assets/MixedRealityToolkit-SDK/License.txt.meta
  Assets/MixedRealityToolkit-SDK/Version.txt.meta
  Assets/MixedRealityToolkit-Tests/License.txt.meta
  Assets/MixedRealityToolkit-Tests/Version.txt.meta
  Assets/MixedRealityToolkit/License.txt.meta
  Assets/MixedRealityToolkit/Version.txt.meta
Labels: MRTK vNEXT, Ready for Review

#2481 Fix in TryGetBoundaryRectanglePoints after teleport
  Assets/HoloToolkit/Boundary/Scripts/BoundaryManager.cs
Labels: Boundaries, Ready for Review

#2482 Saving the default ConfigurationProfile axes
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
Labels: MRTK vNEXT, Ready for Review

#2483 a bit of build cleanup.
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/DragAndDropHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/InteractiveMeshCursor.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/MotionController/AttachToController.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/BodyLock.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/Solvers/SurfaceMagnetism.cs
Labels: MRTK vNEXT, Ready for Review, Sprint

#2490 pose property drawer
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/MixedRealityPosePropertyDrawer.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/MixedRealityPosePropertyDrawer.cs.meta
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Sprint

#2484 vNext documentation updates
  Roadmap.md
Labels: Documentation, MRTK vNEXT, Ready for Review

#2469 Add boundary inscribed rectangle and visualization demo scene
  Assets/MixedRealityToolkit-Examples/Demos/Boundary.meta
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scenes.meta
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scenes/BoundaryVisualization.unity
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scenes/BoundaryVisualization.unity.meta
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scripts.meta
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scripts/BoundaryVisualizationDemo.cs
  Assets/MixedRealityToolkit-Examples/Demos/Boundary/Scripts/BoundaryVisualizationDemo.cs.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit/Boundary.meta
  Assets/MixedRealityToolkit/Boundary/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/Boundary/MixedRealityBoundarySystem.cs.meta
  Assets/MixedRealityToolkit/Boundary/MixedRealityToolkit.BoundarySystem.asmdef
  Assets/MixedRealityToolkit/Boundary/MixedRealityToolkit.BoundarySystem.asmdef.meta
  Assets/MixedRealityToolkit/Boundary/README.md
  Assets/MixedRealityToolkit/Boundary/README.md.meta
  Assets/MixedRealityToolkit/_Core/Boundary/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Edge.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Edge.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/InscribedRectangle.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/InscribedRectangle.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/CameraExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/IMixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/_Core/Utilities/EdgeUtilities.cs
  Assets/MixedRealityToolkit/_Core/Utilities/EdgeUtilities.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/MathUtils.cs
Labels: Boundaries, Example/Test Scene, MRTK Core, MRTK vNEXT, Ready for Review

#2495 Resolves an issue where source detected events were not raised
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
Labels: Bug, Cross Platform, MRTK vNEXT, Ready for Review

#2496 Misc Input System cleanup tasks
  Assets/MixedRealityToolkit-SDK/Features/Input/FocusProvider.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/MotionController/AttachToController.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/BaseInputHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/BaseInputHandlerInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/ControllerPoseSynchronizerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/ControllerPoseSynchronizerInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/PointerClickHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/PointerClickHandlerInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/MotionController/AttachToControllerInspector.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SourcePoseEventData.cs
  ProjectSettings/ProjectVersion.txt
Labels: MRTK vNEXT, Ready for Review, Sprint

#2499 Rename MathUtils which previously had its class renamed
  Assets/MixedRealityToolkit/_Core/Utilities/MathUtilities.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MathUtilities.cs.meta
Labels: MRTK vNEXT, Ready for Review

#2501 fix controller lag on openvr
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/GenericOpenVRController.cs
Labels: Input / Interactions, MRTK Core, MRTK vNEXT, Ready for Review

#2492 Initial Check in for the Controller Visualization functionality
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerInfo.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerInfo.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/README.md
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/README.md.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/MotionController/ControllerFinder.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/MotionController/ControllerFinder.cs.meta
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/MotionController/MotionControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/MotionController/ControllerFinderInspector.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/UX/MotionController/ControllerFinderInspector.cs.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityControllerConfigurationProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/MixedRealityControllerConfigurationProfile.md
  Assets/MixedRealityToolkit-SDK/Profiles/MixedRealityControllerConfigurationProfile.md.meta
  Assets/MixedRealityToolkit-SDK/Profiles/README.md
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/GizmoLeft.prefab
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/GizmoLeft.prefab.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/GizmoRight.prefab
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/GizmoRight.prefab.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/Models.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/Models/GizmoLeft.fbx
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/Models/GizmoLeft.fbx.meta
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/Models/GizmoRight.fbx
  Assets/MixedRealityToolkit-SDK/StandardAssets/Controllers/DebugControllers/Models/GizmoRight.fbx.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityControllerMappingProfileInspector.cs
  External/HowTo/ControlerVisualizer/ControllerVisualizerInspector.png
  External/HowTo/ControllerConfigurationProfile/01-MixedRealityControllerConfigurationProfileInspector.png
  External/HowTo/ControllerConfigurationProfile/02-ControllerTemplateDefinition.png
  External/HowTo/ControllerConfigurationProfile/03-ControllerTemplate.png
  External/HowTo/ControllerConfigurationProfile/04-WMRInteractions.png
  External/HowTo/ControllerConfigurationProfile/05-OculusTouchInteractions.png
  External/HowTo/ControllerConfigurationProfile/06-ViveWandInteractions.png
Labels: Documentation, Input / Interactions, MRTK vNEXT

#2507 Controller visualizer cleanup
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
Labels: MRTK SDK, MRTK vNEXT, Ready for Review

#2510 Contributing.md updates
  CONTRIBUTING.md
Labels: Documentation, MRTK vNEXT, Ready for Review

#2512 vNEXT - Misc Bug Fixes
  Assets/MixedRealityToolkit-SDK/Features/Input/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Controllers/MixedRealityControllerVisualizer.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseController.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/CanvasEditorExtension.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK vNEXT, Ready for Review

#2522 Minor keyboard fixes
  Assets/HoloToolkit/UX/Scripts/Keyboard.cs
  Assets/HoloToolkit/UX/Scripts/KeyboardInputField.cs
Labels: Legacy, Ready for Review, UX Controls
