Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-02, with the labels that each got.

#1708 Fix build for non windows platforms
  Assets/HoloToolkit/UX/Scripts/Buttons/CompoundButtonSpeech.cs
Labels: Pending Review

#1518 Add InitializeInternal concept to Singleton
  Assets/MixedRealityToolkit-Examples/Sharing/Scripts/RemoteHeadManager.cs
  Assets/MixedRealityToolkit/Common/Scripts/Singleton.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/Focus/FocusManager.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/Gaze/GazeManager.cs
  Assets/MixedRealityToolkit/Sharing/Scripts/SharingStage.cs
Labels: Pending Review

#1717 Resolve future issues... now
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildSLNUtilities.cs
  Assets/HoloToolkit/Utilities/Scripts/Tagalong.cs
Labels: Enhancement, Pending Review, Unity Bug

#1723 Following internal discussions, this pr removes image types that will…
  Assets/HoloToolkit/Utilities/Scripts/Editor/SetIconsWindow.cs
Labels: Enhancement, Pending Review, Unity Bug

#1726 Replicating future proof fixes from Stabalisation
  Assets/MixedRealityToolkit/BuildAndDeploy/Editor/BuildSLNUtilities.cs
  Assets/MixedRealityToolkit/Utilities/Scripts/Editor/SetIconsWindow.cs
  Assets/MixedRealityToolkit/Utilities/Scripts/Tagalong.cs
Labels: Enhancement, Pending Review, Unity Bug

#1735 Removed Build warning about SDK in 2017.3+
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildSLNUtilities.cs
Labels: Pending Review

#1742 Fixing building glTF libraries for other build types
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/GLTFSerialization.dll.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/JsonNet/Newtonsoft.Json.dll.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Shaders/GLTFStandard.shader
Labels: Pending Review

#1738 README update for Interactable Objects (Stabilization branch)
  Assets/HoloToolkit-Examples/UX/Readme/README_InteractableObjectExample.md
  External/ReadMeImages/MRTK_CompoundButtonAnim_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonIconTexture.jpg
  External/ReadMeImages/MRTK_CompoundButtonIcon_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonMesh_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonSound_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonSpeech_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonText_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButton_Inspector.jpg
  External/ReadMeImages/MRTK_Receiver.jpg
Labels: Documentation, Pending Review

#1746 Stabilization clean up warnings
  Assets/HoloToolkit-Examples/Input/Scripts/DictationRecordButton.cs
  Assets/HoloToolkit-Examples/Input/Scripts/PopupMenu.cs
  Assets/HoloToolkit-Examples/Input/Scripts/RotateMinMax.cs
  Assets/HoloToolkit-Examples/Input/Scripts/XboxControllerHandlerTest.cs
  Assets/HoloToolkit-Examples/MotionControllers-GrabMechanics/Scripts/BaseUsable.cs
  Assets/HoloToolkit-Examples/MotionControllers-GrabMechanics/Scripts/Grabber.cs
  Assets/HoloToolkit-Examples/MotionControllers-GrabMechanics/Scripts/RotatableObject.cs
  Assets/HoloToolkit-Examples/Sharing/SharingService/Scripts/SyncObjectSpawner.cs
  Assets/HoloToolkit-Examples/SharingWithUNET/Scripts/UNetSharedHologram.cs
  Assets/HoloToolkit-Examples/Utilities/Scripts/CheckApiTest.cs
  Assets/HoloToolkit/Boundary/Scripts/BoundaryManager.cs
  Assets/HoloToolkit/Input/Scripts/InputSources/XboxControllerInputSource.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/CustomInputSelector.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Managers/MixedRealityTeleport.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/MotionControllerVisualizer.cs
  Assets/HoloToolkit/Sharing/Scripts/Utilities/ManualIpConfiguration.cs
  Assets/HoloToolkit/SharingWithUNET/Scripts/GenericNetworkTransmitter.cs
  Assets/HoloToolkit/SpatialMapping/Scripts/SpatialMappingObserver.cs
  Assets/HoloToolkit/UX/Scripts/Buttons/ButtonIconProfileTexture.cs
  Assets/HoloToolkit/UX/Scripts/Buttons/CompoundButtonIcon.cs
  Assets/HoloToolkit/UX/Scripts/CapsLockHighlight.cs
  Assets/HoloToolkit/UX/Scripts/Lines/LineObjectFollower.cs
  Assets/HoloToolkit/UX/Scripts/SymbolDisableHighlight.cs
  Assets/HoloToolkit/Utilities/Scripts/AdaptiveQuality/AdaptiveViewport.cs
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/GLTFComponent.cs
  Assets/HoloToolkit/Utilities/Scripts/SceneLauncher.cs
  Assets/HoloToolkit/Utilities/Scripts/SphereBasedTagalong.cs
Labels: Enhancement, Pending Review

#1734 README update for Interactable Objects
  Assets/MixedRealityToolkit-Examples/UX/Readme/README_InteractableObjectExample.md
  External/ReadMeImages/MRTK_CompoundButtonAnim_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonIconTexture.jpg
  External/ReadMeImages/MRTK_CompoundButtonIcon_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonMesh_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonSound_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonSpeech_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButtonText_Inspector.jpg
  External/ReadMeImages/MRTK_CompoundButton_Inspector.jpg
  External/ReadMeImages/MRTK_Receiver.jpg
Labels: Documentation

#1747 Disabled the MRTK build window when the build target != UWP
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployWindow.cs
Labels: Pending Review

#1750 Fixed more build warnings for platforms other than UWP
  Assets/HoloToolkit-Examples/Boundary/Scripts/BoundaryTest.cs
  Assets/HoloToolkit/Boundary/Scripts/BoundaryManager.cs
  Assets/HoloToolkit/Boundary/Scripts/SceneContentAdjuster.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/AttachToController.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/ControllerFinder.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/MotionControllerVisualizer.cs
Labels: Pending Review

#1749 Fixes issues building plugins cross platform and in 5.6
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/GLTFSerialization.dll.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/GLTFSerialization/WSA/GLTFSerializationUWP.dll.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/JsonNet/Newtonsoft.Json.dll.meta
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Plugins/JsonNet/WSA/Newtonsoft.Json.dll.meta
Labels: Pending Review

#1753 Updated Roadmap
  Roadmap.md
Labels: Documentation

#1763 Make Spatial Mapping optional when Finding Anchor Position
  Assets/HoloToolkit/SharingWithUNET/Scripts/UNetAnchorManager.cs
Labels: Enhancement, Pending Review

#1745 Turn off the influence of the physics engine while dragging.
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/HandDraggable.cs
Labels: Enhancement, Pending Review

#1756 UNet PlayerController Fix
  Assets/HoloToolkit/SharingWithUNET/Scripts/PlayerController.cs
  Assets/HoloToolkit/SharingWithUNET/Scripts/PlayerController.cs.meta
Labels: Pending Review
