Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-05, with the labels that each got.

#2036 [Dev] Cursor light fix (and other minor fixes)
  Assets/MixedRealityToolkit/InputModule/Prefabs/Cursor/Cursor.prefab
  Assets/MixedRealityToolkit/InputModule/Prefabs/Cursor/CursorWithFeedback.prefab
  Assets/MixedRealityToolkit/Utilities/Scripts/Billboard.cs
Labels: Ready for Review

#2035 [May18] Cursor light fix (and other minor fixes)
  Assets/HoloToolkit/Input/Prefabs/Cursor/Cursor.prefab
  Assets/HoloToolkit/Input/Prefabs/Cursor/CursorWithFeedback.prefab
  Assets/HoloToolkit/SpatialSound/Scripts/AudioEmitter.cs
  Assets/HoloToolkit/Utilities/Scripts/Billboard.cs
Labels: Ready for Review

#2011 Adding events for the BoundingBoxRig script
  Assets/MixedRealityToolkit-Examples/Input/Scripts/InputTest.cs
  Assets/MixedRealityToolkit-Examples/UX/Readme/README_BoundingBoxGizmoExample.md
  Assets/MixedRealityToolkit-Examples/UX/Scenes/BoundingBoxGizmoExample.unity
  Assets/MixedRealityToolkit-Examples/UX/Scripts/BoundingBoxRigActivityExample.cs
  Assets/MixedRealityToolkit-Examples/UX/Scripts/BoundingBoxRigActivityExample.cs.meta
  Assets/MixedRealityToolkit/InputModule/README.md
  Assets/MixedRealityToolkit/InputModule/Scripts/InputEventData/BoundingBoxEventData.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/InputEventData/BoundingBoxEventData.cs.meta
  Assets/MixedRealityToolkit/InputModule/Scripts/InputHandlers/IBoundingBoxStateHandler.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/InputHandlers/IBoundingBoxStateHandler.cs.meta
  Assets/MixedRealityToolkit/InputModule/Scripts/InputManager.cs
  Assets/MixedRealityToolkit/UX/Scripts/BoundingBoxes/BoundingBoxRig.cs
Labels: Ready for Review

#2030 [may18] Readme updates: Landing page & UX
  Assets/HoloToolkit-Examples/UX/Readme/README_DialogsExample.md
  Assets/HoloToolkit-Examples/UX/Readme/README_DialogsExample.md.meta
  Assets/HoloToolkit-Examples/UX/Readme/README_ProgressExample.md
  Assets/HoloToolkit-Examples/UX/Readme/README_ProgressExample.md.meta
  Assets/HoloToolkit-Examples/UX/Readme/README_TooltipExample.md
  Assets/HoloToolkit-Examples/UX/Readme/README_TooltipExample.md.meta
  Assets/HoloToolkit/UX/README.md
  Assets/HoloToolkit/UX/README_TextPrefab.md
  Assets/HoloToolkit/UX/README_TextPrefab.md.meta
  External/ReadMeImages/MRTK_Dialog.jpg
  External/ReadMeImages/MRTK_Dialog_Devices.jpg
  External/ReadMeImages/MRTK_Dialog_Inspector.jpg
  External/ReadMeImages/MRTK_InputManagerTest.jpg
  External/ReadMeImages/MRTK_MotionControllerTest.jpg
  External/ReadMeImages/MRTK_SpatialMapping.jpg
  External/ReadMeImages/MRTK_SpatialProcessing.jpg
  External/ReadMeImages/MRTK_SpatialUnderstanding.jpg
  External/ReadMeImages/MRTK_SpeechInput.jpg
  README.md
Labels: Documentation, Ready for Review

#2039 Updated 3DTextPrefab materials
  Assets/MixedRealityToolkit/UX/Prefabs/Text/3DTextSelawikBold.prefab
  Assets/MixedRealityToolkit/UX/Prefabs/Text/3DTextSelawikLight.prefab
  Assets/MixedRealityToolkit/UX/Prefabs/Text/3DTextSelawikSemibold.prefab
  Assets/MixedRealityToolkit/UX/Prefabs/Text/3DTextSelawikSemilight.prefab
Labels: Ready for Review

#2046 [May] Removing tabs and formatting
  Assets/HoloToolkit-Examples/UX/Scripts/Controls/SliderGestureControl.cs
  Assets/HoloToolkit/SpatialMapping/Scripts/RemoteMapping/SimpleMeshSerializer.cs
  Assets/HoloToolkit/SpatialUnderstanding/Scripts/SpatialUnderstandingDll.cs
  Assets/HoloToolkit/UX/Scripts/Buttons/ButtonIconProfileTexture.cs
  Assets/HoloToolkit/UX/Scripts/CapsLockHighlight.cs
  Assets/HoloToolkit/UX/Scripts/SymbolDisableHighlight.cs
  Assets/HoloToolkit/Utilities/Scripts/GLTF/Scripts/Extensions/SchemaExtensions.cs
  Assets/HoloToolkit/Utilities/Scripts/GpuTiming/GpuTiming.cs
  Assets/HoloToolkit/Utilities/Scripts/GpuTiming/GpuTimingCamera.cs
  Assets/HoloToolkit/Utilities/Scripts/Solvers/SolverMomentumizer.cs
  Assets/HoloToolkit/Utilities/Scripts/Solvers/SolverSurfaceMagnetism.cs
Labels: Ready for Review

#2048 [may18] Documentation updates: roadmap, contributing, coding guidelines
  CONTRIBUTING.md
  CodingGuidelines.md
  README.md
  Roadmap.md
Labels: Documentation, Ready for Review

#2027 [may18] Update SetManipulationMode to public in TwoHandManipulatable
  Assets/HoloToolkit-Examples/Input/Scenes/TwoHandManipulationTest.unity
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/ManipulationMode.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/ManipulationMode.cs.meta
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandManipulatable.cs
Labels: BREAKING CHANGE, Example/Test Scene, Ready for Review, UX Controls

#2052 add materials/prefabs for other font weights
  Assets/HoloToolkit/UX/Fonts/3DTextSelawikBold.mat
  Assets/HoloToolkit/UX/Fonts/3DTextSelawikBold.mat.meta
  Assets/HoloToolkit/UX/Fonts/3DTextSelawikLight.mat
  Assets/HoloToolkit/UX/Fonts/3DTextSelawikLight.mat.meta
  Assets/HoloToolkit/UX/Fonts/3DTextSelawikSemibold.mat
  Assets/HoloToolkit/UX/Fonts/3DTextSelawikSemibold.mat.meta
  Assets/HoloToolkit/UX/Fonts/3DTextSelawikSemilight.mat
  Assets/HoloToolkit/UX/Fonts/3DTextSelawikSemilight.mat.meta
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextPrefab.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextPrefab.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawik.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawik.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawikBold.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawikBold.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawikLight.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawikLight.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawikSemibold.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawikSemibold.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawikSemilight.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/3DTextSelawikSemilight.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/UITextPrefab.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/UITextPrefab.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawik.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawik.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawikBold.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawikBold.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawikLight.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawikLight.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawikSemibold.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawikSemibold.prefab.meta
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawikSemilight.prefab
  Assets/HoloToolkit/UX/Prefabs/Text/UITextSelawikSemilight.prefab.meta
Labels: Enhancement, Ready for Review

#2058 Fix headadjustment scene not displaying content
  Assets/HoloToolkit/Utilities/Prefabs/HeadsetAdjustmentDisplay.prefab
  Assets/HoloToolkit/Utilities/Prefabs/HeadsetAdjustmentDisplay.prefab.meta
  Assets/HoloToolkit/Utilities/Scenes/HeadsetAdjustment.unity
Labels: Bug, Ready for Review

#2061 Eliminate API conversion popup when loading in Unity 2017.1
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployPortal.cs
  Assets/HoloToolkit/Input/Scripts/InputSources/CustomInputSource.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/HandDraggable.cs
  Assets/HoloToolkit/SpectatorView/Scripts/Networking/NewDeviceDiscovery.cs
  Assets/HoloToolkit/SpectatorView/Scripts/Networking/SpectatorViewNetworkDiscovery.cs
  Assets/HoloToolkit/SpectatorView/Scripts/Networking/SpectatorViewNetworkManager.cs
  Assets/HoloToolkit/SpectatorView/Scripts/SpatialSync/CameraCaptureHololens.cs
  Assets/HoloToolkit/SpectatorView/Scripts/SpatialSync/MarkerDetectionHololens.cs
  Assets/HoloToolkit/UX/Prefabs/Text.meta
Labels: Ready for Review

#2064 fix #1887, src lost had a backwards compare
  Assets/HoloToolkit/UX/Scripts/Buttons/Button.cs
Labels: Bug, Ready for Review

#2063 [May18] Port BoundingBox activated events from the dev branch
  Assets/HoloToolkit-Examples/UX/Readme/README_BoundingBoxGizmoExample.md
  Assets/HoloToolkit-Examples/UX/Scripts/BoundingBoxRigActivityExample.cs
  Assets/HoloToolkit-Examples/UX/Scripts/BoundingBoxRigActivityExample.cs.meta
  Assets/HoloToolkit/Input/README.md
  Assets/HoloToolkit/Input/Scripts/InputEventData/BoundingBoxEventData.cs
  Assets/HoloToolkit/Input/Scripts/InputEventData/BoundingBoxEventData.cs.meta
  Assets/HoloToolkit/Input/Scripts/InputHandlers/IBoundingBoxStateHandler.cs
  Assets/HoloToolkit/Input/Scripts/InputHandlers/IBoundingBoxStateHandler.cs.meta
  Assets/HoloToolkit/Input/Scripts/Utilities/Managers/InputManager.cs
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxRig.cs
Labels: Enhancement, Ready for Review

#2065 fix #1887, dev branch
  Assets/MixedRealityToolkit/UX/Scripts/Buttons/Button.cs
Labels: Bug, Ready for Review

#2072 handle case of no MotionControllerVisualizer singleton
  Assets/HoloToolkit/Common/Scripts/Singleton.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/ControllerFinder.cs
Labels: Bug, HoloLens

#2079 [Dev] Fixes SolverBodyLock potential null ref
  Assets/MixedRealityToolkit/Utilities/Scripts/Solvers/SolverBodyLock.cs
Labels: Ready for Review, Solvers

#2101 [dev] fix #917 and duplicate kbd backspace issues
  Assets/MixedRealityToolkit/UX/Scripts/Keyboard/KeyboardInputField.cs
Labels: Bug, UX Controls

#2100 fix backspace not clearing the last character in the field
  Assets/HoloToolkit/UX/Scripts/KeyboardInputField.cs
Labels: Bug, UX Controls

#2105 Fix broken PR for BoundingBoxRigHandle exception
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxGizmoHandle.cs
Labels: Bug, Ready for Review

#2104 fix #2103 - allow unsafe code
  Assets/csc.rsp
  Assets/csc.rsp.meta
Labels: Ready for Review

#2114 [Dev] Surface Magnetism + Spatial Processing example scene
  Assets/MixedRealityToolkit-Examples/SpatialMapping/Scenes/SpatialProcessingSurfaceMagnetism.unity
  Assets/MixedRealityToolkit-Examples/SpatialMapping/Scenes/SpatialProcessingSurfaceMagnetism.unity.meta
  Assets/MixedRealityToolkit-Examples/SpatialMapping/SpatialProcessingSurfaceMagnetism.md
  Assets/MixedRealityToolkit-Examples/SpatialMapping/SpatialProcessingSurfaceMagnetism.md.meta
  Assets/MixedRealityToolkit/SpatialMapping/Materials/WireframeBlue.mat
  Assets/MixedRealityToolkit/SpatialMapping/Materials/WireframeBlue.mat.meta
  External/ReadMeImages/MRTK_SurfaceMagnetism1.png
  External/ReadMeImages/MRTK_SurfaceMagnetism2.png
  External/ReadMeImages/MRTK_SurfaceMagnetism3.png
  External/ReadMeImages/MRTK_SurfaceMagnetism4.png
Labels: Example/Test Scene

#2087 [May18] Updating README for the Examples/UX landing page
  Assets/HoloToolkit-Examples/UX/README.md
Labels: Documentation

#2133 Fix to allow in-Editor hands to properly support and report a 'grip' position
  Assets/HoloToolkit/Input/Prefabs/LeftHandInputControl.prefab
  Assets/HoloToolkit/Input/Prefabs/RightHandInputControl.prefab
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/CustomInputControl.cs
Labels: Bug, Input / Interactions

#2132 Re-enable keyboard caret, move test scene
  Assets/HoloToolkit-Examples/UX/Scenes/KeyboardTest.unity
  Assets/HoloToolkit-Examples/UX/Scenes/KeyboardTest.unity.meta
  Assets/HoloToolkit/UX/Scripts/Keyboard.cs
Labels: Ready for Review, UX Controls

#2145 Removed the last of the speech input sources as monobehaviors.
  Assets/MixedRealityToolkit-SDK/Inspectors/SpeechInputHandlerEditor.cs
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityConfigurationProfile.asset
  Assets/MixedRealityToolkit/InputSystem/Cursors/InteractiveMeshCursor.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/BaseGenericInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/BaseInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/BaseInputSource.cs.meta
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/SpeechInputSource.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/InputType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityGazeProvider.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review, Refactor, Sprint

#2148 eliminate .net native pinvoke warnings
  Assets/HoloToolkit/SpectatorView/Scripts/SpatialSync/MarkerDetector.cs
  Assets/HoloToolkit/SpectatorView/Scripts/Utilities/OpenCVUtils.cs
Labels: .NET Native, IL2CPP, SpectatorView

#2149 move dialogenums.cs into the toolkit
  Assets/HoloToolkit/UX/Scripts/Dialog/DialogEnums.cs
  Assets/HoloToolkit/UX/Scripts/Dialog/DialogEnums.cs.meta
Labels: Bug, Ready for Review, Release Candidate Testing, UX Controls

#2150 [May] Adding rendered line pointers
  Assets/HoloToolkit-Examples/Input/Prefabs/LinearControllerPointerMultiColors.prefab
  Assets/HoloToolkit-Examples/Input/Prefabs/LinearControllerPointerMultiColors.prefab.meta
  Assets/HoloToolkit-Examples/Input/Scenes/MotionControllerTest.unity
  Assets/HoloToolkit/Common/Scripts/Enums.meta
  Assets/HoloToolkit/Common/Scripts/Enums/Handedness.cs
  Assets/HoloToolkit/Common/Scripts/Enums/Handedness.cs.meta
  Assets/HoloToolkit/Input/Materials/LineMaterial.mat
  Assets/HoloToolkit/Input/Materials/LineMaterial.mat.meta
  Assets/HoloToolkit/Input/Prefabs/InputManager.prefab
  Assets/HoloToolkit/Input/Prefabs/LinearControllerPointer.prefab
  Assets/HoloToolkit/Input/Prefabs/LinearControllerPointer.prefab.meta
  Assets/HoloToolkit/Input/Scripts/Focus/FocusManager.cs
  Assets/HoloToolkit/Input/Scripts/Focus/InputSourcePointer.cs
  Assets/HoloToolkit/Input/Scripts/Focus/SimpleSinglePointerSelector.cs
  Assets/HoloToolkit/Input/Scripts/InputSources/InteractionInputSource.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/AttachToController.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/BaseControllerPointer.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/BaseControllerPointer.cs.meta
  Assets/HoloToolkit/Input/Scripts/Utilities/ControllerFinder.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/PointerLine.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/PointerLine.cs.meta
  Assets/HoloToolkit/UX/Scripts/Lines/LineUnity.cs
Labels: Enhancement, Input / Interactions

#2129 MRTK/Standard Shader Improvements
  Assets/MixedRealityToolkit-Examples/StandardShader/Animations/RoundedCorner.anim
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/CubeBorderRoundedOpaque.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/CubeEnvironmentColor.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorder.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorderBlue.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorderCyan.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorderGreen.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorderOrange.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorderPink.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorderPurple.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorderRed.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/PanelBorderRoundedBlue.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/ShaderBallGlass.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/ShaderBallNearPlaneFade.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/ShaderBallNormalMap.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Materials/ShaderBallNormalMapTransparent.mat
  Assets/MixedRealityToolkit-Examples/StandardShader/Prefabs/Placard.prefab
  Assets/MixedRealityToolkit/Common/Scripts/HoverLight.cs
  Assets/MixedRealityToolkit/Common/Shaders/Standard.shader
Labels: Ready for Review

#2155 [May18] Slightly adjusts the order Teleport unsupported checks happen
  Assets/HoloToolkit/Input/Scripts/Utilities/Managers/MixedRealityTeleport.cs
Labels: Ready for Review

#2144 HostTransform for TwoHandManipulatable
  Assets/MixedRealityToolkit/InputModule/Scripts/Utilities/Interactions/TwoHandManipulatable.cs
Labels: Ready for Review

#2158 [May18] Updating tooltip label position.
  Assets/HoloToolkit-Examples/UX/Scenes/TooltipExamples.unity
Labels: Input / Interactions, Ready for Review, UX Controls

#2156 new upgrade guide (#2062)
  UpgradeGuide.md
Labels: Documentation, Ready for Review

#2127 Ported some build fixes from dev branch
  Assets/HoloToolkit-Examples/SharingWithUNET/Scripts/GenericNetworkTransmitter.cs
  Assets/HoloToolkit-Examples/SharingWithUNET/Scripts/UNetAnchorManager.cs
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployTools.cs
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployWindow.cs
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildInfo.cs
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildSLNUtilities.cs
  Assets/HoloToolkit/BuildAndDeploy/Editor/XdeGuestLocator.cs
  Assets/HoloToolkit/BuildAndDeploy/Editor/XdeGuestLocator.cs.meta
  Assets/HoloToolkit/Common/Scripts/CrossPlatform/MetroHandleRef.cs
  Assets/HoloToolkit/Common/Scripts/CrossPlatform/SystemException.cs
  Assets/HoloToolkit/SpatialSound/Scripts/AudioLoFiEffect.cs
  Assets/HoloToolkit/UX/Scripts/Dialog/DialogShell.cs
  Assets/HoloToolkit/UX/Scripts/Progress/FadeObject.cs
  Assets/HoloToolkit/UX/Scripts/Progress/ProgressIndicator.cs
  Assets/HoloToolkit/Utilities/Scripts/ApplicationViewManager.cs
Labels: Ready for Review

#2174 Improved Mixed Reality Manager Initialization
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityManagerInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityManagerInspector.cs.meta
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK vNEXT, Ready for Review, Refactor, Sprint

#2176 Renaming the profiles, missed in review
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset.meta
Labels: MRTK vNEXT, Ready for Review

#2175 Updated MixedRealityManager Initialization and Config Profile setup
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Extensions/EditorClassExtensions/ScriptableObjectExtensions.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityManagerInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK Core, MRTK vNEXT, Ready for Review, Refactor, Sprint

#2177 Refactoring InputSources, Pointers, HandDraggable, and misc cleanup.
  Assets/MixedRealityToolkit-SDK/Inspectors/SpeechInputHandlerEditor.cs
  Assets/MixedRealityToolkit-SDK/Scripts/Input/SpeechInputHandler.cs
  Assets/MixedRealityToolkit/InputSystem/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/BaseGenericInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/DictationInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/GamepadInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/SpeechInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/HandDraggable.cs
  Assets/MixedRealityToolkit/_Core/Definitions/AxisType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionDefinition.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionDefinition.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/SpeechCommands.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputPressedEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/MixedRealityPointerEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/MixedRealityPointerEventData.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SpeechEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ThreeDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/Handlers/IMixedRealityPointerHandler.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSource.cs
Labels: MRTK vNEXT, Ready for Review, Refactor, Sprint

#2180 Updated Test cases, and even fixed a few bugs! yay!
  Assets/MixedRealityToolkit-Examples/MixedRealityToolkit.Examples.asmdef
  Assets/MixedRealityToolkit-Examples/MixedRealityToolkit.Examples.asmdef.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/MixedRealityToolkit.SDK.Inspectors.asmdef
  Assets/MixedRealityToolkit-SDK/Inspectors/MixedRealityToolkit.SDK.Inspectors.asmdef.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit-SDK/Scripts/MixedRealityToolkit.SDK.asmdef
  Assets/MixedRealityToolkit-SDK/Scripts/MixedRealityToolkit.SDK.asmdef.meta
  Assets/MixedRealityToolkit-Tests/MixedRealityManagerTests.cs
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkit.Tests.asmdef
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkit.Tests.asmdef.meta
  Assets/MixedRealityToolkit/InputSystem/Inspectors/MixedRealityToolkit.InputSystem.Inspectors.asmdef
  Assets/MixedRealityToolkit/InputSystem/Inspectors/MixedRealityToolkit.InputSystem.Inspectors.asmdef.meta
  Assets/MixedRealityToolkit/InputSystem/MixedRealityToolkit.InputSystem.asmdef
  Assets/MixedRealityToolkit/InputSystem/MixedRealityToolkit.InputSystem.asmdef.meta
  Assets/MixedRealityToolkit/_Core/BuildAndDeploy/MixedRealityToolkit.Internal.BuildAndDeploy.asmdef
  Assets/MixedRealityToolkit/_Core/BuildAndDeploy/MixedRealityToolkit.Internal.BuildAndDeploy.asmdef.meta
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/SystemType.cs
  Assets/MixedRealityToolkit/_Core/Extensions/EditorClassExtensions/MixedRealityToolkit.Internal.Extensions.EditorClassExtensions.asmdef
  Assets/MixedRealityToolkit/_Core/Extensions/EditorClassExtensions/MixedRealityToolkit.Internal.Extensions.EditorClassExtensions.asmdef.meta
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkit.Internal.Inspectors.asmdef
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkit.Internal.Inspectors.asmdef.meta
  Assets/MixedRealityToolkit/_Core/Utilities/EditorSetup/MixedRealityToolkit.Internal.Utilities.EditorSetup.asmdef
  Assets/MixedRealityToolkit/_Core/Utilities/EditorSetup/MixedRealityToolkit.Internal.Utilities.EditorSetup.asmdef.meta
Labels: MRTK vNEXT, Ready for Review, Sprint

#2182 Updated controller struct.
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/Controller.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review, Refactor, Sprint

#2183 updated a few project settings
  ProjectSettings/ProjectSettings.asset
Labels: MRTK vNEXT, Ready for Review, Sprint

#2181 Added ability to request a new input source from the MRTK Input Manager
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review, Sprint

#2185 Mixed Reality Manager Update
  Assets/MixedRealityToolkit-Tests/MixedRealityManagerTests.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityBaseConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityManagerInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
Labels: MRTK vNEXT, Ready for Review, Sprint

#2186 Added Input Action Axis Constraints
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionDefinition.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/InputAction.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputAction.cs
Labels: Input / Interactions, MRTK vNEXT, Ready for Review, Sprint

#2188 Fixed some issues with handedness declarations.
  Assets/MixedRealityToolkit/_Core/Definitions/Handedness.cs
Labels: MRTK vNEXT, Ready for Review, Refactor, Sprint

#2197 Renaming InteractionDefinition to InteractionMapping
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/Controller.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/Controller.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionMapping.cs.meta
Labels: MRTK vNEXT, Ready for Review, Refactor

#2198 Moving definitions following review
  Assets/MixedRealityToolkit-Tests/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Devices/InteractionMapping.cs
  Assets/MixedRealityToolkit/_Core/Definitions/InputSystem/InputAction.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/AxisType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/AxisType.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Handedness.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Handedness.cs.meta
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/RotationConstraintType.cs
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/RotationConstraintType.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/InputPressedEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ManipulationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/MixedRealityPointerEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/NavigationEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/SixDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/ThreeDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/EventDatum/Input/TwoDoFInputEventData.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputAction.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MotionController/ControllerFinder.cs
  Assets/MixedRealityToolkit/_Core/Utilities/MotionController/MotionControllerInfo.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Physics/TwoHandRotateLogic.cs
Labels: MRTK vNEXT, Ready for Review, Refactor

#2169 [May18] Disable keyboard for the MRTK keyboard's inputfield
  Assets/HoloToolkit/UX/Scripts/Keyboard.cs
Labels: Input / Interactions, Ready for Review

#2201 [May18] Updating pointing rays to extend out to the pointing extent off holograms
  Assets/HoloToolkit/Input/Prefabs/LinearControllerPointer.prefab
  Assets/HoloToolkit/Input/Scripts/Cursor/Cursor.cs
  Assets/HoloToolkit/Input/Scripts/Focus/InputSourcePointer.cs
  Assets/HoloToolkit/Input/Scripts/Focus/SimpleSinglePointerSelector.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/BaseControllerPointer.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/ControllerFinder.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/PointerLine.cs
Labels: Input / Interactions, Ready for Review

#2210 Keyboard dication input fixes
  Assets/HoloToolkit/Input/Scripts/InputSources/DictationInputManager.cs
  Assets/HoloToolkit/UX/Scripts/Keyboard.cs
Labels: Input / Interactions, Ready for Review

#2209 Build Window fix for IL2CPP Targets
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployWindow.cs
Labels: Build Tools, Ready for Review, Release Candidate Testing

#2213 Change requests from #2204
  Assets/MixedRealityToolkit-SDK/Features/Input/Inspectors.meta
  Assets/MixedRealityToolkit-SDK/Features/Input/Inspectors/MixedRealityToolkit.SDK.Input.Inspectors.asmdef
  Assets/MixedRealityToolkit-SDK/Features/Input/Inspectors/MixedRealityToolkit.SDK.Input.Inspectors.asmdef.meta
  Assets/MixedRealityToolkit-SDK/Features/Input/Inspectors/README.md
  Assets/MixedRealityToolkit-SDK/Features/Input/Inspectors/README.md.meta
  Assets/MixedRealityToolkit-SDK/Features/Input/Inspectors/SpeechInputHandlerEditor.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Inspectors/SpeechInputHandlerEditor.cs.meta
  Assets/MixedRealityToolkit-SDK/Inspectors/README.md
Labels: MRTK vNEXT, Ready for Review, Sprint

#2215 [Cursor] Properly track sources that were detected before registering as a global listener
  Assets/HoloToolkit/Input/Scripts/Cursor/Cursor.cs
Labels: Input / Interactions, Ready for Review, Release Candidate Testing

#2217 Fixed a bug where solvers would try to attach to the right hand before it was ready
  Assets/HoloToolkit/Utilities/Scripts/Solvers/Solver.cs
Labels: Solvers

#2226 Fixing building for Standalone
  Assets/HoloToolkit-Preview/SpectatorView/Scripts/Utilities/ARMarkerController.cs
Labels: Ready for Review
