Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2018-04, with the labels that each got.

#1878 Enabled .NET 4.x for project
  Assets/MixedRealityToolkit/Common/Scripts/Extensions/ActionExtensions.cs
  Assets/MixedRealityToolkit/Common/Scripts/Extensions/ReflectionExtensions.cs
  Assets/MixedRealityToolkit/Common/Scripts/Extensions/TypeUtils.cs
  Assets/MixedRealityToolkit/Common/Scripts/Extensions/TypeUtils.cs.meta
  Assets/MixedRealityToolkit/Sharing/Scripts/SyncSettings.cs
  Assets/MixedRealityToolkit/Utilities/Scripts/Editor/EnforceEditorSettings.cs
  ProjectSettings/ProjectSettings.asset
Labels: Enhancement, Ready for Review

#1906 Mrtk version next internal defintions
  Assets/MixedRealityToolkit/Internal/Definitions/ButtonAction.cs
  Assets/MixedRealityToolkit/Internal/Definitions/ButtonAction.cs.meta
  Assets/MixedRealityToolkit/Internal/Definitions/ButtonDefinition.cs
  Assets/MixedRealityToolkit/Internal/Definitions/ButtonDefinition.cs.meta
  Assets/MixedRealityToolkit/Internal/Definitions/Controller.cs
  Assets/MixedRealityToolkit/Internal/Definitions/Controller.cs.meta
  Assets/MixedRealityToolkit/Internal/Definitions/ControllerInputType.cs
  Assets/MixedRealityToolkit/Internal/Definitions/ControllerInputType.cs.meta
  Assets/MixedRealityToolkit/Internal/Definitions/ControllerState.cs
  Assets/MixedRealityToolkit/Internal/Definitions/ControllerState.cs.meta
  Assets/MixedRealityToolkit/Internal/Definitions/Handedness.cs
  Assets/MixedRealityToolkit/Internal/Definitions/Handedness.cs.meta
  Assets/MixedRealityToolkit/Internal/Definitions/Headset.cs
  Assets/MixedRealityToolkit/Internal/Definitions/Headset.cs.meta
  Assets/MixedRealityToolkit/Internal/Definitions/InputActions.cs
  Assets/MixedRealityToolkit/Internal/Definitions/InputActions.cs.meta
  Assets/MixedRealityToolkit/Internal/Definitions/README.md
  Assets/MixedRealityToolkit/Internal/Definitions/SDKType.cs
  Assets/MixedRealityToolkit/Internal/Definitions/SDKType.cs.meta
  External/ReadMeImages/MRTK-ControllerDiagram.png
  External/ReadMeImages/MRTK-HeadsetDefinition.png
  External/ReadMeImages/MRTK-InputActions.png
  Packages/manifest.json
  ProjectSettings/PresetManager.asset
  ProjectSettings/ProjectVersion.txt
Labels: MRTK vNEXT, Ready for Review, Sprint

#1896 Fixed null ref when pointer data does not have a selected object.
  Assets/MixedRealityToolkit/InputModule/Scripts/Focus/FocusManager.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/InputManager.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/InputSources/CustomInputSource.cs
Labels: Ready for Review

#1909 Write documentation guidelines document
  CONTRIBUTING.md
  DocumentationGuide.md
Labels: Documentation, MRTK vNEXT, Ready for Review

#1849 [Dev→master] Two hand manipulable
  Assets/HoloToolkit-Examples/Input/Scenes/TwoHandManipulationTest.unity
  Assets/HoloToolkit-Examples/Input/Scenes/TwoHandManipulationTest.unity.meta
  Assets/HoloToolkit-Examples/UX/Materials/Cyan.mat
  Assets/HoloToolkit-Examples/UX/Materials/Cyan.mat.meta
  Assets/HoloToolkit-Examples/UX/Materials/Emerald.mat
  Assets/HoloToolkit-Examples/UX/Materials/Emerald.mat.meta
  Assets/HoloToolkit-Examples/UX/Materials/Orange.mat
  Assets/HoloToolkit-Examples/UX/Materials/Orange.mat.meta
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/AffineConstraintEnums.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandManipulatable.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandManipulatable.cs.meta
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandMoveLogic.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandMoveLogic.cs.meta
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandRotateLogic.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandRotateLogic.cs.meta
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandScaleLogic.cs
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandScaleLogic.cs.meta
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBox.cs
Labels: Ready for Review

#1919 [Patch4] fix #1827 (disabled state handling)
  Assets/HoloToolkit/UX/Scripts/Buttons/Button.cs
Labels: Ready for Review

#1892 Update CustomInputSource.cs
  Assets/HoloToolkit/Input/Scripts/InputSources/CustomInputSource.cs
Labels: Ready for Review

#1865 TapToPlace: add events for placement of objects
  Assets/MixedRealityToolkit-Examples/Input/Scripts/InputTest.cs
  Assets/MixedRealityToolkit-Examples/SpatialMapping/Scenes/TapToPlace.unity
  Assets/MixedRealityToolkit/InputModule/Scripts/InputEventData/PlacementEventData.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/InputEventData/PlacementEventData.cs.meta
  Assets/MixedRealityToolkit/InputModule/Scripts/InputHandlers/IPlacementHandler.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/InputHandlers/IPlacementHandler.cs.meta
  Assets/MixedRealityToolkit/InputModule/Scripts/InputManager.cs
  Assets/MixedRealityToolkit/SpatialMapping/Scripts/TapToPlace.cs
Labels: Ready for Review

#1953 Patch4 build window fix
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployWindow.cs
Labels: Ready for Review, Release Candidate Testing

#1963 [2017.2.1.4] Fix building on Unity 5.6 and 2017.1
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployPortal.cs
  Assets/HoloToolkit/Common/Scripts/Extensions/InteractionSourceExtensions.cs
  Assets/HoloToolkit/Input/Scripts/Focus/FocusManager.cs
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxGizmoHandle.cs
  Assets/HoloToolkit/UX/Scripts/BoundingBoxes/BoundingBoxRig.cs
  Assets/HoloToolkit/Utilities/Scripts/AtlasReferenceUpdater/AtlasPrefabReference.cs
  Assets/HoloToolkit/Utilities/Scripts/AtlasReferenceUpdater/Editor/AtlasReferenceUpdater.cs
  Assets/HoloToolkit/Utilities/Scripts/AtlasReferenceUpdater/Editor/Extensions/SpriteAtlasExtensions.cs
Labels: Release Candidate Testing

#1970 [Patch4] Disable two hand manipulation for Unity versions prior to 2017.2
  Assets/HoloToolkit-Examples/UX/Scenes/BoundingBoxGizmoExample.unity
  Assets/HoloToolkit/Input/Scripts/Utilities/Interactions/TwoHandManipulatable.cs
Labels: Release Candidate Testing

#1972 [Patch4] Revert misattributed license headers
  Assets/HoloToolkit-Examples/Sharing/SharingService/Scripts/UserNotifications.cs
  Assets/HoloToolkit-Examples/UX/Scripts/ExampleData/NoteDataProvider.cs
  Assets/HoloToolkit-Examples/UX/Scripts/InteractiveGroup.cs
  Assets/HoloToolkit/BuildAndDeploy/Editor/BuildDeployWindow.cs
  Assets/HoloToolkit/BuildAndDeploy/Editor/XdeGuestLocator.cs
  Assets/HoloToolkit/Common/Scripts/Extensions/EnumerableExtensions.cs
  Assets/HoloToolkit/SpatialMapping/Shaders/SpatialMappingTap.shader
Labels: Ready for Review

#1971 [Dev] Revert misattributed license headers
  Assets/MixedRealityToolkit-Examples/Sharing/Scripts/UserNotifications.cs
  Assets/MixedRealityToolkit-Examples/UX/Scripts/ExampleData/NoteDataProvider.cs
  Assets/MixedRealityToolkit-Examples/UX/Scripts/InteractiveGroup.cs
  Assets/MixedRealityToolkit-UnitTests/Editor/Utilities/Extensions/EnumerableExtensionsTests.cs
  Assets/MixedRealityToolkit-UnitTests/Editor/Utilities/WorldAnchorManagerTests.cs
  Assets/MixedRealityToolkit/BuildAndDeploy/Editor/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/BuildAndDeploy/Editor/XdeGuestLocator.cs
  Assets/MixedRealityToolkit/Common/Scripts/Extensions/EnumerableExtensions.cs
  Assets/MixedRealityToolkit/SpatialMapping/Shaders/SpatialMappingTap.shader
Labels: Ready for Review

#1975 Mrtk v next input and utilities debug clean up
  Assets/MixedRealityToolkit/Boundary/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/EventSystem/EventManager.cs
  Assets/MixedRealityToolkit/EventSystem/GenericBaseEventData.cs
  Assets/MixedRealityToolkit/EventSystem/IEventHandler.cs
  Assets/MixedRealityToolkit/EventSystem/IEventSource.cs
  Assets/MixedRealityToolkit/InputSystem/Cursors/AnimatorParameter.cs
  Assets/MixedRealityToolkit/InputSystem/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit/InputSystem/EventData.meta
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/RayStep.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/InputSystem/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/GenericInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/GenericInputSources.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/TouchscreenInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/CanvasHelper.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Enums/TeleportSurfaceResult.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Interactions/KeywordAndResponse.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Interactions/SpeechInputHandler.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Interactions/TwoHandRotateLogic.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/MotionController/MotionControllerVisualizer.cs
  Assets/MixedRealityToolkit/_Core/Extensions/AnimationCurveExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/AnimationCurveExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/BoundsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CameraExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/Color32Extensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/ComparerExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/ComparerExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/ComponentExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/DoubleExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/DoubleExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/EnumerableExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/EventSystemExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/FloatExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/FloatExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/GameObjectExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/LayerExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/RayExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/RayExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/ReflectionExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/TransformExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/UnityObjectExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/UnityObjectExtensions.cs.meta
  Assets/MixedRealityToolkit/_Core/Extensions/VectorExtensions.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Plugins.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/DebugUtilities.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/DebugUtilities.cs.meta
Labels: MRTK vNEXT, Sprint

#1897 Misc Cleanup
  Assets/MixedRealityToolkit-Examples/SpatialSound/Scripts/LoFiFilterSelection.cs
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Black.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Black.mat.meta
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/BlackWindow.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/BlackWindow.mat.meta
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/ClearWindow.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/ClearWindow.mat.meta
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Default.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Default.mat.meta
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Gold.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Gold.mat.meta
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/GreenGas.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/GreenGas.mat.meta
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/RedLight.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/RedLight.mat.meta
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/WhiteLight.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/WhiteLight.mat.meta
  Assets/MixedRealityToolkit-Examples/UX/Scripts/DialogExampleLaunchButton.cs
  Assets/MixedRealityToolkit-Examples/UX/Scripts/DialogExamples.cs
  Assets/MixedRealityToolkit-Examples/UX/Scripts/ProgressExamples.cs
  Assets/MixedRealityToolkit/InputModule/Scripts/InputSources/CustomInputSource.cs
  Assets/MixedRealityToolkit/SpatialSound/Scripts/Effects/AudioLoFiEffect.cs
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/AppBar.cs
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/AppBarButton.cs
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/AppBarDisplayTypeEnum.cs
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/AppBarDisplayTypeEnum.cs.meta
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/AppBarStateEnum.cs
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/AppBarStateEnum.cs.meta
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/ButtonTemplate.cs
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/ButtonTemplate.cs.meta
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/ButtonTypeEnum.cs
  Assets/MixedRealityToolkit/UX/Scripts/AppBar/ButtonTypeEnum.cs.meta
  Assets/MixedRealityToolkit/UX/Scripts/BoundingBoxes/BoundingBoxRig.cs
  Assets/MixedRealityToolkit/UX/Scripts/Progress/FadeObject.cs
  Assets/MixedRealityToolkit/UX/Scripts/Progress/IndicatorStyleEnum.cs
  Assets/MixedRealityToolkit/UX/Scripts/Progress/IndicatorStyleEnum.cs.meta
  Assets/MixedRealityToolkit/UX/Scripts/Progress/MessageStyleEnum.cs
  Assets/MixedRealityToolkit/UX/Scripts/Progress/MessageStyleEnum.cs.meta
  Assets/MixedRealityToolkit/UX/Scripts/Progress/ProgressExampleLaunchButton.cs
  Assets/MixedRealityToolkit/UX/Scripts/Progress/ProgressIndicator.cs
  Assets/MixedRealityToolkit/UX/Scripts/Progress/ProgressIndicatorOrbsRotator.cs
  Assets/MixedRealityToolkit/UX/Scripts/Progress/ProgressStyleEnum.cs
  Assets/MixedRealityToolkit/UX/Scripts/Progress/ProgressStyleEnum.cs.meta
  Assets/MixedRealityToolkit/UX/Scripts/Tooltip/ToolTipBackgroundBlob.cs
  Assets/MixedRealityToolkit/UX/Scripts/Tooltip/ToolTipBackgroundCorners.cs
  Assets/MixedRealityToolkit/UX/Scripts/Tooltip/ToolTipSpawner.cs
Labels: BREAKING CHANGE, Ready for Review

#1988 Wack version fix
  ProjectSettings/ProjectSettings.asset
Labels: Bug, Ready for Review

#1990 [Dev] Cleanup tooltip scene
  Assets/MixedRealityToolkit-Examples/UX/Models/Buttons.FBX.meta
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Black.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/BlackWindow.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/ClearWindow.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Default.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/Gold.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/GreenGas.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/RedLight.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/Materials/WhiteLight.mat
  Assets/MixedRealityToolkit-Examples/UX/Models/TheModule.fbx.meta
  Assets/MixedRealityToolkit-Examples/UX/Scenes/TooltipExamples.unity
  Assets/MixedRealityToolkit/UX/Prefabs/ToolTip.prefab
Labels: Ready for Review

#1989 [May] Cleanup tooltip scene
  Assets/HoloToolkit-Examples/UX/Models/Materials/Black.mat
  Assets/HoloToolkit-Examples/UX/Models/Materials/Black.mat.meta
  Assets/HoloToolkit-Examples/UX/Models/Materials/BlackWindow.mat
  Assets/HoloToolkit-Examples/UX/Models/Materials/BlackWindow.mat.meta
  Assets/HoloToolkit-Examples/UX/Models/Materials/ClearWindow.mat
  Assets/HoloToolkit-Examples/UX/Models/Materials/ClearWindow.mat.meta
  Assets/HoloToolkit-Examples/UX/Models/Materials/Default.mat
  Assets/HoloToolkit-Examples/UX/Models/Materials/Default.mat.meta
  Assets/HoloToolkit-Examples/UX/Models/Materials/Gold.mat
  Assets/HoloToolkit-Examples/UX/Models/Materials/Gold.mat.meta
  Assets/HoloToolkit-Examples/UX/Models/Materials/GreenGas.mat
  Assets/HoloToolkit-Examples/UX/Models/Materials/GreenGas.mat.meta
  Assets/HoloToolkit-Examples/UX/Models/Materials/RedLight.mat
  Assets/HoloToolkit-Examples/UX/Models/Materials/RedLight.mat.meta
  Assets/HoloToolkit-Examples/UX/Models/Materials/WhiteLight.mat
  Assets/HoloToolkit-Examples/UX/Models/Materials/WhiteLight.mat.meta
  Assets/HoloToolkit-Examples/UX/Models/TheModule.fbx.meta
  Assets/HoloToolkit-Examples/UX/Scenes/TooltipExamples.unity
  Assets/HoloToolkit-Examples/UX/Scenes/TooltipExamples.unity.meta
  Assets/HoloToolkit/UX/Materials/TooltipLines.mat.meta
  Assets/HoloToolkit/UX/Materials/TooltipWithBorder.mat
  Assets/HoloToolkit/UX/Materials/TooltipWithBorder.mat.meta
  Assets/HoloToolkit/UX/Materials/TooltipWithoutBorder.mat.meta
  Assets/HoloToolkit/UX/Prefabs/ToolTip.prefab
  Assets/HoloToolkit/UX/Prefabs/ToolTip.prefab.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTip.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipBackground.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipBackgroundBlob.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipBackgroundCorners.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipBackgroundMesh.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipConnector.cs
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipConnector.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipConnectorEnums.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipDisplayModeEnum.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipSpawner.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/ToolTipUtility.cs.meta
  Assets/HoloToolkit/UX/Scripts/Tooltip/TooltipAttachPointTypeEnum.cs.meta
  ProjectSettings/EditorBuildSettings.asset
Labels: Ready for Review

#1996 Mrtk version next coding standards typo
  CodingGuidelines.md
Labels: Bug, MRTK vNEXT, Ready for Review

#1991 add option to set default spatial mapping layer
  Assets/HoloToolkit/Utilities/Scripts/Editor/ProjectSettingsWindow.cs
Labels: Editor, Enhancement, Ready for Review, Spatial Mapping

#1993 fix fpsdisplay perf, add comments and frame range
  Assets/HoloToolkit/Utilities/Scripts/FpsDisplay.cs
Labels: Ready for Review

#1999 [Dev_Working] Set Default Spatial Mapping Layer in the Project Settings Dialog
  Assets/MixedRealityToolkit/BuildAndDeploy/Editor/ProjectSettingsWindow.cs
Labels: Enhancement, MRTK vNEXT, Ready for Review

#2008 [may18] remove required component from fpsdisplay.cs (#2006)
  Assets/HoloToolkit/Utilities/Scripts/FpsDisplay.cs
Labels: Ready for Review

#2001 Remove unused box colliders from example scene button prefabs
  Assets/HoloToolkit-Examples/UX/Prefabs/Button.prefab
  Assets/HoloToolkit-Examples/UX/Prefabs/ToggleButton.prefab
Labels: Example/Test Scene, Ready for Review, UX Controls

#2003 [May18] Spatial Understanding example scene UX refinement
  Assets/HoloToolkit-Examples/SpatialUnderstanding/Scenes/SpatialUnderstandingExample.unity
  Assets/HoloToolkit/SpatialUnderstanding/Materials/SpatialUnderstandingSurface.mat
Labels: Enhancement, Example/Test Scene, Spatial Mapping

#2002 Updated the Mixed Reality manager to now also support runtime Managers.
  Assets/MixedRealityToolkit-Examples/MixedRealityToolkit-Examples.asmdef
  Assets/MixedRealityToolkit-Examples/MixedRealityToolkit-Examples.asmdef.meta
  Assets/MixedRealityToolkit-SDK/MixedRealityToolkit-SDK.asmdef
  Assets/MixedRealityToolkit-SDK/MixedRealityToolkit-SDK.asmdef.meta
  Assets/MixedRealityToolkit-SDK/Profiles/Mixed Reality Configuration Default Profile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/Mixed Reality Configuration Default Profile.asset.meta
  Assets/MixedRealityToolkit-Tests.meta
  Assets/MixedRealityToolkit-Tests/MixedRealityManagerTests.asmdef
  Assets/MixedRealityToolkit-Tests/MixedRealityManagerTests.asmdef.meta
  Assets/MixedRealityToolkit-Tests/MixedRealityManagerTests.cs
  Assets/MixedRealityToolkit-Tests/MixedRealityManagerTests.cs.meta
  Assets/MixedRealityToolkit/Boundary/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/InputSystem/MixedRealityInputManager.cs
  Assets/MixedRealityToolkit/MixedRealityToolkit.asmdef
  Assets/MixedRealityToolkit/MixedRealityToolkit.asmdef.meta
  Assets/MixedRealityToolkit/_Core/Definitions/BaseManager.cs
  Assets/MixedRealityToolkit/_Core/Definitions/MixedRealityConfigurationProfile.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/IMixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs
  Assets/MixedRealityToolkit/_Core/Managers/MixedRealityManager.cs.meta
  External/Documentation/MixedRealityManagerConstruction.md
Labels: MRTK vNEXT, Ready for Review, Sprint

#2023 2018.1.0f1 / IL2CPP update
  Assets/MixedRealityToolkit/InputSystem/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit/InputSystem/Cursors/CursorModifier.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/AttachToControllerEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/CanvasEditorExtension.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/ControllerFinderEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/EditorHandsMaterialInspector.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/KeywordAndKeyCodeDrawer.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/MixedRealityCameraManagerEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/SpeechInputHandlerEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/SpeechInputSourceEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/InteractibleHighlight.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Enums/SupportedInputInfo.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Enums/SupportedInputInfo.cs.meta
  Assets/MixedRealityToolkit/InputSystem/Utilities/Interactions/HandDraggable.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Interactions/SpeechInputHandler.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/MotionController/MotionControllerVisualizer.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/CrossPlatform/MetroHandleRef.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/CrossPlatform/MetroHandleRef.cs.meta
  ProjectSettings/GraphicsSettings.asset
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/ProjectVersion.txt
Labels: MRTK vNEXT, Ready for Review

#2020 Some cleanup to conform to the coding guidelines.
  Assets/MixedRealityToolkit/Boundary/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/InputSystem/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit/InputSystem/Cursors/CursorModifier.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/AttachToControllerEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/CanvasEditorExtension.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/ControllerFinderEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/EditorHandsMaterialInspector.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/KeywordAndKeyCodeDrawer.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/MixedRealityCameraManagerEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/SpeechInputHandlerEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Editor/SpeechInputSourceEditor.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/FocusTarget.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/InteractibleHighlight.cs
  Assets/MixedRealityToolkit/InputSystem/Focus/TeleportTarget.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/BaseRayStabilizer.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeProvider.cs
  Assets/MixedRealityToolkit/InputSystem/Gaze/GazeStabilizer.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/InteractionInputSources.cs
  Assets/MixedRealityToolkit/InputSystem/Sources/SpeechInputSource.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Enums/SupportedInputInfo.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Enums/SupportedInputInfo.cs.meta
  Assets/MixedRealityToolkit/InputSystem/Utilities/Interactions/HandDraggable.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/Interactions/SpeechInputHandler.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/MotionController/MotionControllerVisualizer.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/VectorRollingStatistics.cs
  Assets/MixedRealityToolkit/_Core/Extensions/CollectionsExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/EventSystemExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/LayerExtensions.cs
  Assets/MixedRealityToolkit/_Core/Extensions/MathfExtensions.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/ClipPlane.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/ComparableRaycastResult.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/ComparableRaycastResult.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/CrossPlatform/MetroHandleRef.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/CrossPlatform/MetroHandleRef.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/DebugUtilities.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/HoverLight.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/Int3.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/Int3.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/Interpolator.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/MathUtils.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/RaycastResultComparer.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Scripts/WindowsApiChecker.cs
  ProjectSettings/GraphicsSettings.asset
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/ProjectVersion.txt
Labels: MRTK vNEXT, Sprint
