Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-10, with the labels that each got.

#6147 Explicitly use Windows.Storage
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/ConstructGltf.cs
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/GltfUtility.cs
Labels: Holographic Remoting

#6150 Fix 2.1.0 docs
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/AssemblyDefinitionInfo.cs
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/CompilationPlatformInfo.cs
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/TargetFramework.cs
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/Utilities.cs
Labels: Documentation, Release Blocker

#6104 Interactable interface fixes
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExample.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Events/InteractableOnToggleReceiver.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/InteractableToggleCollection.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Selection/SelectionModes.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Simulation/InteractablePointerSimulator.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/AppBar/AppBarButton.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PhysicalPressEventRouter.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Slate/FollowMeToggle.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/Core/ThemeDefinition.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/VisualThemes/ThemeInspector.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
  Documentation/Architecture/InputSystem/Terminology.md
  Documentation/README_Interactable.md
Labels: Release Blocker, UX Controls - Interactable

#6148 fix null reference exception when re-enabling input system
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputSystem/DisableEnableInputSystemTest.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputSystem/DisableEnableInputSystemTest.cs.meta
Labels: Input System, Release Blocker

#6157 Improve Contributing, Coding, and Pull Request Guidelines
  Documentation/Contributing/BreakingChanges.md
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/DocumentationGuide.md
  Documentation/Contributing/ExperimentalFeatures.md
  Documentation/Contributing/Feature_Contribution_Process.md
  Documentation/Contributing/PullRequests.md
  Documentation/ExperimentalFeatures.md
  Documentation/toc.yml
  README.md
Labels: Documentation

#6158 Update Spatial Awareness documentation
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/DemoSpatialMeshHandler.cs
  Documentation/Architecture/SpatialAwareness.md
  Documentation/SpatialAwareness/ConfiguringSpatialAwarenessMeshObserver.md
  Documentation/SpatialAwareness/CreateDataProvider.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/SpatialAwareness/SpatialObjectMeshObserver.md
  Documentation/SpatialAwareness/UsageGuide.md
  Documentation/toc.yml
Labels: Documentation, Spatial Mapping / Awareness

#6137 Fixes SceneTransitionService glitches when using single pass instanced rendering in 2019.2.6+
  Assets/MixedRealityToolkit.Examples/Demos/ExamplesHub/Profiles/MRTKExamplesHubSceneTransitionServiceProfile.asset
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Assets/CameraFaderMaterial.mat
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Assets/CameraFaderMaterial.mat.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/DefaultSceneTransitionServiceProfile.asset
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionService.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionServiceProfile.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/CameraFaderQuad.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/ICameraFader.cs
Labels: Bug

#6184 Fix controller mappings for OpenVR (and friends)
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit.Providers/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/ViveKnucklesController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/ViveWandController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
Labels: Release Blocker

#6165 Generic Material Management - MaterialInstance
  Assets/MixedRealityToolkit.Tests/PlayModeTests/RenderingTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/RenderingTests.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ClippingBoxInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingPlaneInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingPrimitiveInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingSphereInspector.cs
  Assets/MixedRealityToolkit/Interfaces/Rendering.meta
  Assets/MixedRealityToolkit/Interfaces/Rendering/IMaterialInstanceOwner.cs
  Assets/MixedRealityToolkit/Interfaces/Rendering/IMaterialInstanceOwner.cs.meta
  Assets/MixedRealityToolkit/Utilities/Rendering.meta
  Assets/MixedRealityToolkit/Utilities/Rendering/MaterialInstance.cs
  Assets/MixedRealityToolkit/Utilities/Rendering/MaterialInstance.cs.meta
  Assets/MixedRealityToolkit/Utilities/StandardShader/ClippingPrimitive.cs
  Documentation/Rendering/MaterialInstance.md
  Documentation/toc.yml
Labels: DDE Partner, Shaders / Materials

#6193 Fix objects jumping when manipulating with VR controllers in editor.
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
Labels: Release Blocker

#6195 Fix toggle buttons and other multi-dimension interactable themes
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
Labels: Release Blocker

#6189 Add controller mapping tests
  Assets/MixedRealityToolkit.Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/ControllerMappingTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/ControllerMappingTests.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Microsoft.MixedReality.Toolkit.Tests.EditModeTests.asmdef
  Assets/MixedRealityToolkit/Providers/BaseController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/GenericJoystickController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseController.cs
Labels: Input System, Tests

#6190 Update test icons for stabilization polish
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Definitions/Devices/MixedRealityHandTrackingProfileTests.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Extensions/CameraExtensionTests.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/BaseTestExtensionService.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestExtensionService3.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestExtensionService3.cs.meta
  Assets/MixedRealityToolkit.Tests/Microsoft.MixedReality.Toolkit.Tests.asmdef
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Core/Providers/Hands/BaseHandVisualizerTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Core/Utilities/Async/AsyncCoroutineRunnerTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputRayUtilsTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputSystem/DisableEnableInputSystemTest.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerBehaviorTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ProfileTests.cs.meta
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityToolkitFiles.cs
  Documentation/Contributing/UnitTests.md
Labels: Tests

#6205 Add prerelease/2.1.0 to docs version dropdown
  web/version.js
Labels: Documentation

#6196 MaterialInstance Documentation Leak Example
  Documentation/Rendering/MaterialInstance.md
Labels: Documentation, Shaders / Materials

#6200 [Docs] Getting Started page - Fix broken links, updated and polished content
  Documentation/GettingStartedWithTheMRTK.md
Labels: Documentation, Release Blocker

#6215 Fix link to tools info in getting started article
  Documentation/GettingStartedWithTheMRTK.md
Labels: Documentation, Release Blocker

#6199 Update release notes and updating guide with 2.1.0 content
  Documentation/Images/ReleaseNotes/HandTrackingVisualizationModes.png
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
  Documentation/toc.yml
Labels: Documentation, Release Blocker

#6214 Combine multiple TearDown attributes
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitFilesTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/SpatialAwareness/SpatialAwarenessSystemTests.cs
Labels: Tests

#6216 Fixing an issue where CreateInstances could be called before Awake
  Assets/MixedRealityToolkit/Utilities/Rendering/MaterialInstance.cs
Labels: Shaders / Materials

#6218 move example hub to the experimental folder, update release notes
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Prefabs.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Prefabs/ExampleHubButton.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Prefabs/ExampleHubButton.prefab.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubConfigurationProfile.asset.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubPointerProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubPointerProfile.asset.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubRegisteredServiceProvidersProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubRegisteredServiceProvidersProfile.asset.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneTransitionServiceProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneTransitionServiceProfile.asset.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Scenes.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHub.unity
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHub.unity.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHubMainMenu.unity
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHubMainMenu.unity.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Themes.meta
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Themes/ExampleHubBackPlateTheme.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Themes/ExampleHubBackPlateTheme.asset.meta
  Documentation/ReleaseNotes.md
Labels: Example/Test Scene, Release Blocker

#6192 Change IsTracked to not have to be set manually
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
Labels: Controller Visualization

#6229 Merge 2.0.1 -> 2.1.0
  Assets/MixedReality.Toolkit.Foundation.nuspec
  pipelines/ci-release.yml
Labels: CI/Build

#6238 Fix 6234 (no input after toggling hand mesh)
  Assets/MixedRealityToolkit/Providers/Hands/BaseHandVisualizer.cs
Labels: Release Blocker

#6240 Remove duplicate metas from being packaged
  Assets/MixedReality.Toolkit.Foundation.nuspec
Labels: Package Management - NuGet

#6248 2.1.0 - Add nuget package information to release notes
  Documentation/ReleaseNotes.md
Labels: Documentation

#6254 Update version.js for 2.1.0 docs
  web/version.js
Labels: Documentation

#6233 Update docs to use core services
  Documentation/Diagnostics/ConfiguringDiagnostics.md
  Documentation/Diagnostics/DiagnosticsSystemGettingStarted.md
  Documentation/EyeTracking/EyeTracking_IsUserCalibrated.md
  Documentation/Images/Diagnostics/DiagnosticsGeneralSettings.png
  Documentation/Images/Diagnostics/DiagnosticsProfile.png
  Documentation/Images/Diagnostics/DiagnosticsProfilerSettings.png
Labels: Documentation

#6223 Refresh Boundary docs
  Documentation/Boundary/BoundarySystemGettingStarted.md
  Documentation/Boundary/ConfiguringBoundaryVisualization.md
  Documentation/Images/Boundary/BoundaryVisualizationCeilingSettings.png
  Documentation/Images/Boundary/BoundaryVisualizationFloorSettings.png
  Documentation/Images/Boundary/BoundaryVisualizationGeneralSettings.png
  Documentation/Images/Boundary/BoundaryVisualizationPlayAreaSettings.png
  Documentation/Images/Boundary/BoundaryVisualizationProfile.png
  Documentation/Images/Boundary/BoundaryVisualizationTrackedAreaSettings.png
  Documentation/Images/Boundary/BoundaryVisualizationWallSettings.png
Labels: Documentation

#6232 Stencil buffer issue with 16-bit depth format
  Assets/MixedRealityToolkit.Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
  Documentation/Performance/PerfGettingStarted.md
  Documentation/Tools/OptimizeWindow.md
  Documentation/hologram-stabilization.md
Labels: Documentation, Performance

#6278 Removing Loop Guidance
  Documentation/Contributing/CodingGuidelines.md
Labels: Documentation

#6273 SceneSystem / SceneInfo Improvements
  Assets/MixedRealityToolkit.Services/SceneSystem/MixedRealitySceneSystem.cs
  Assets/MixedRealityToolkit/Definitions/SceneSystem/SceneInfo.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/SceneInfoDrawer.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/SceneInfoUtils.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/SceneInfoUtils.cs.meta
Labels: Additive Scenes

#6277 Android Shader Support
  Assets/MixedRealityToolkit.SDK/StandardAssets/Shaders/HandTriangles.shader
  Assets/MixedRealityToolkit/Inspectors/MixedRealityWireframeShaderGUI.cs
  Assets/MixedRealityToolkit/StandardAssets/Shaders/InstancedColored.shader
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MRTK_Wireframe.shader
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
Labels: Android, Shaders / Materials

#6235 System Keyboard Improvements
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/SystemKeyboardExample.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials/MixedRealityKeyboardPreviewBackPlate.mat
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials/MixedRealityKeyboardPreviewBackPlate.mat.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials/MixedRealityKeyboardPreviewButtonBackPlate.mat
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials/MixedRealityKeyboardPreviewButtonBackPlate.mat.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials/MixedRealityKeyboardPreviewCaret.mat
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials/MixedRealityKeyboardPreviewCaret.mat.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials/MixedRealityKeyboardPreviewTextRect.mat
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Materials/MixedRealityKeyboardPreviewTextRect.mat.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/MixedRealityKeyboard.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/MixedRealityKeyboardPreview.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/MixedRealityKeyboardPreview.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Prefabs/MixedRealityKeyboardPreview.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Prefabs/MixedRealityKeyboardPreview.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/ButtonPin.png.meta
Labels: DDE Partner, Experimental

#6296 Simulator->Emulator and link change, nit typo
  README.md
Labels: Documentation

#6289 [Docs] Fix nested list in InputSimulationService
  Documentation/InputSimulation/InputSimulationService.md
Labels: Documentation

#6250 Minor tweaks to Pointers doc for readability
  Documentation/Input/Pointers.md
Labels: Documentation

#6301 Authors update
  Documentation/Authors.md
Labels: Documentation

#6300 Updating 404 links in porting guide
  Documentation/HTKToMRTKPortingGuide.md
Labels: Documentation

#6305 Profile Type filtering inspector fix
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MixedRealityToolkit/Definitions/MixedRealitySpatialObserverConfiguration.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpatialAwarenessSystemProfileInspector.cs
Labels: Profile and Inspectors

#6188 Add more Unity UI based examples to Interactables Scene
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scenes/InteractablesExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scripts/HideAfterEnabled.cs
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scripts/HideAfterEnabled.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/MRTKStandardUnityUI.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/MRTKStandardUnityUI.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables/UnityUIButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables/UnityUIButton.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables/UnityUICheckboxButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables/UnityUICheckboxButton.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables/UnityUIRadialButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables/UnityUIRadialButton.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables/UnityUIToggleButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractables/UnityUIToggleButton.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/CircleIcon.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/CircleIcon.png.meta
Labels: UnityUI

#6191 Remove duplicate overrides in controllers
  Assets/MixedRealityToolkit.Providers/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/ViveKnucklesController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/ViveWandController.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedArticulatedHand.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedGestureHand.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
  Assets/MixedRealityToolkit/Providers/Hands/BaseHand.cs
Labels: Input System

#6293 Update and fix service UWP capability configuration
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestEmptyMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestEmptyMixedRealityInputSystemProfile.asset.meta
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/Editor/MixedRealityPreferences.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityServiceRegistry.cs
  Assets/MixedRealityToolkit/Utilities/UWPCapabilityUtility.cs
  Assets/MixedRealityToolkit/Utilities/UWPCapabilityUtility.cs.meta
Labels: Editor, Services

#6183 Adds Ability to Search Active Config Profile in MRTK Inspector
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfile.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfileInspector.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/MixedRealityInputSimulationProfileInspector.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityHandTrackingProfile.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityEyeTrackingProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityHandTrackingProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityMouseInputProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySceneSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpatialAwarenessMeshObserverProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpatialAwarenessSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search.meta
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/FieldSearchResult.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/FieldSearchResult.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/MixedRealitySearchInspectorUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/MixedRealitySearchInspectorUtility.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/MixedRealitySearchUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/MixedRealitySearchUtility.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/ProfileSearchResult.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/ProfileSearchResult.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/SearchConfig.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/SearchConfig.cs.meta
Labels: Editor, Profile and Inspectors

#6340 Clean up profiles page
  Documentation/Profiles/Profiles.md
Labels: Documentation

#6338 Clean up MRTK packages page
  Documentation/Packaging/MRTK_Packages.md
Labels: Documentation

#6332 Fix link in old pointers page
  Documentation/README_Pointers.md
Labels: Documentation

#6304 Fix controller pointers with Solvers
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scenes/SolverExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scripts/SolverExampleManager.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SurfaceMagnetism.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Utilities/Solvers/SolverHandlerInspector.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/TrackedObjectType.cs
  Documentation/Images/Solver/TrackedObjectType-Example.gif
  Documentation/README_Solver.md
Labels: Solvers

#6358 Update README_MRTKStandardShader.md
  Documentation/README_MRTKStandardShader.md
Labels: Documentation

#6364 Cache controller model instead of reallocating each detection
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/BaseWindowsMixedRealitySource.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Extensions/InteractionSourceExtensions.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/Interfaces/Devices/IMixedRealityControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
Labels: Controller Visualization, Immersive HMD, Windows Mixed Reality

#6361 Export spatial mesh data as OBJ
  Assets/MixedRealityToolkit.SDK/Features/Utilities/SpatialMeshExporter.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/SpatialMeshExporter.cs.meta
  Assets/MixedRealityToolkit/Extensions/GameObjectExtensions.cs
  Assets/MixedRealityToolkit/Extensions/StringBuilderExtensions.cs
  Assets/MixedRealityToolkit/Extensions/StringBuilderExtensions.cs.meta
  Assets/MixedRealityToolkit/Utilities/OBJWriterUtility.cs
  Assets/MixedRealityToolkit/Utilities/OBJWriterUtility.cs.meta
Labels: DDE Partner, Spatial Mapping / Awareness, Utilities

#6379 Add clipping plane to example
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/ClippingPlane.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/ClippingPlane.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scenes/ClippingExamples.unity
Labels: Example/Test Scene, Shaders / Materials

#6374 Add OpenVR controller model loading
  Assets/MixedRealityToolkit.Providers/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/Headers.meta
  Assets/MixedRealityToolkit.Providers/OpenVR/Headers/openvr_api.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/Headers/openvr_api.cs.meta
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRRenderModel.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRRenderModel.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityControllerVisualizationProfile.asset
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerVisualizationProfile.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerVisualizationSetting.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityJoystickManager.cs
  Documentation/toc.yml
  NOTICE.md
  cgmanifest.json
Labels: Controller Visualization, OpenVR

#6382 Increase CI timeout from 90 to 120
  pipelines/ci.yaml
Labels: CI/Build

#6386 Directional Indicator from HTK
  Assets/MixedRealityToolkit.Examples/Experimental/Solvers.meta
  Assets/MixedRealityToolkit.Examples/Experimental/Solvers/DirectionalIndicatorExample.unity
  Assets/MixedRealityToolkit.Examples/Experimental/Solvers/DirectionalIndicatorExample.unity.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/DirectionalIndicator.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/DirectionalIndicator.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
  Assets/MixedRealityToolkit/Extensions/CameraExtensions.cs
  Assets/MixedRealityToolkit/Utilities/MathUtilities.cs
  Documentation/Images/Solver/DirectionalIndicatorExample.png
  Documentation/Images/Solver/DirectionalIndicatorExampleScene.gif
  Documentation/README_Solver.md
Labels: HTK Parity, Solvers

#6385 Use controller visualizer inspector for child classes
  Assets/MixedRealityToolkit.SDK/Inspectors/Input/Handlers/MixedRealityControllerVisualizerInspector.cs
Labels: Controller Visualization

#6389 Convert new array[0] to Array.Empty
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoVisualizer/Scripts/LogStructure.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/SpeechInputHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/MeshCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/SpriteCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/Core/Theme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableColorChildrenTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableThemeBase.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/VisualThemes/ThemeInspector.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/BaseInputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSystem/Editor/MixedRealityCanvasInspector.cs
  Assets/MixedRealityToolkit.Services/SceneSystem/MixedRealitySceneSystemEditorOperations.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/Utilities.cs
  Assets/MixedRealityToolkit.Tools/TextureCombinerWindow/TextureCombinerWindow.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerVisualizationProfile.cs
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealitySpeechCommandsProfile.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/MixedRealitySpatialAwarenessSystemProfile.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySceneSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/SceneInfoUtils.cs
  Assets/MixedRealityToolkit/Providers/BaseInputDeviceManager.cs
Labels: Code Style

#6286 Updated project configuration checker window
  Assets/MixedRealityToolkit.Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
  Assets/MixedRealityToolkit/Inspectors/Setup.meta
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityEditorSettings.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MixedRealityToolkit/Utilities/Editor/MixedRealityOptimizeUtils.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs.meta
Labels: Editor

#6397 Turn off the .NET build
  pipelines/ci-daily.yml
  pipelines/pr.yaml
  pipelines/templates/ci-common.yml
Labels: CI/Build

#6401 Doc changes to make it easier to navigate
  Documentation/GettingStartedWithTheMRTK.md
Labels: Documentation

#6408 Improve docs for Lost Tracking Service
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingService.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingServiceInspector.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingServiceProfile.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Scripts/BasicLostTrackingVisual.cs
Labels: Documentation

#6414 Add Android and iOS support to the configuration dialog
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MixedRealityToolkit/Utilities/Editor/MixedRealityOptimizeUtils.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  ProjectSettings/ProjectSettings.asset
Labels: Build / Tools

#6344 Add support for mobile AR via Unity's AR Foundation
  Assets/MixedRealityToolkit.Providers/UnityAR.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/Microsoft.MixedReality.Providers.UnityAR.Editor.asmdef
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/Microsoft.MixedReality.Providers.UnityAR.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  Assets/MixedRealityToolkit.Providers/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs.meta
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityCameraProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens1/DefaultHoloLens1CameraProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens2/DefaultHoloLens2CameraProfile.asset
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit/Definitions/CameraSystem.meta
  Assets/MixedRealityToolkit/Definitions/CameraSystem/BaseCameraSettingsProfile.cs
  Assets/MixedRealityToolkit/Definitions/CameraSystem/BaseCameraSettingsProfile.cs.meta
  Assets/MixedRealityToolkit/Definitions/CameraSystem/CameraDisplayType.cs
  Assets/MixedRealityToolkit/Definitions/CameraSystem/CameraDisplayType.cs.meta
  Assets/MixedRealityToolkit/Definitions/CameraSystem/MixedRealityCameraProfile.cs
  Assets/MixedRealityToolkit/Definitions/CameraSystem/MixedRealityCameraProfile.cs.meta
  Assets/MixedRealityToolkit/Definitions/CameraSystem/MixedRealityCameraSettingsConfiguration.cs
  Assets/MixedRealityToolkit/Definitions/CameraSystem/MixedRealityCameraSettingsConfiguration.cs.meta
  Assets/MixedRealityToolkit/Definitions/MixedRealityCameraProfile.cs
  Assets/MixedRealityToolkit/Extensions/GameObjectExtensions.cs
  Assets/MixedRealityToolkit/Extensions/UnityObjectExtensions.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/CameraSystem/IMixedRealityCameraSettingsProvider.cs
  Assets/MixedRealityToolkit/Interfaces/CameraSystem/IMixedRealityCameraSettingsProvider.cs.meta
  Assets/MixedRealityToolkit/Interfaces/CameraSystem/IMixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit/Interfaces/IMixedRealityServiceConfiguration.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/CameraCache.cs
  Assets/MixedRealityToolkit/Utilities/Editor/AssemblyDefinition.cs
  Assets/MixedRealityToolkit/Utilities/Editor/AssemblyDefinition.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityPlayspace.cs
  Assets/link.xml
  Packages/manifest.json
  ProjectSettings/ProjectSettings.asset
Labels: AR Foundation, CameraSystem, Cross Platform

#6422 Fix mouse rotation documentation
  Documentation/InputSimulation/InputSimulationService.md
Labels: Documentation, Input Simulation

#6418 Fix Command line build / ar foundation uwp workaround
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
  pipelines/pr.yaml
Labels: AR Foundation, CI/Build

#6434 Fix extension services not updating the friendly name and default profile.
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingService.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionService.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
Labels: Extension, Services

#6442 add pipeline status for our releases
  README.md
Labels: Documentation
