Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-08, with the labels that each got.

#5480 Create ci pipeline that packages but does not publish them
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/templates/ci-common.yml
Labels: Build / Tools

#5051 Added tap gesture handling for WMR and input sim
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionGestureEventsExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/GestureTester.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityGesturesProfile.asset
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedGestureHand.cs
  Assets/MixedRealityToolkit/Definitions/Devices/GestureInputType.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
Labels: MRW Cares

#5482 [Docs] Bounding Box documentation update for GA
  Documentation/Images/BoundingBox/MRTK_BoundingBox_Examples.png
  Documentation/Images/BoundingBox/MRTK_BoundingBox_HandleStyles1.png
  Documentation/Images/BoundingBox/MRTK_BoundingBox_HandleStyles2.png
  Documentation/README_BoundingBox.md
Labels: Documentation, GA Blocker

#5498 Add namespace to SolverInspector
  Assets/MixedRealityToolkit.SDK/Inspectors/Utilities/Solvers/SolverInspector.cs
Labels: Editor, Solvers

#5373 break out BaseCursor's target lerp functionality to make it accesible to derived classes
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/InteractiveMeshCursor.cs
Labels: MRW Cares

#5479 add nuspec for extensions folder
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec.meta
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Packaging/MRTK_Packages.md
  scripts/packaging/unitypackage.ps1
Labels: Package Management

#5374 modify BaseCursor to better handle swapping between pointers
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/AnimatedCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
Labels: MRW Cares

#5492 Add warnings for invalid system configurations
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
Labels: Profile and Inspectors

#5505 Bounding Box Handle asset cleanup for RC1/RC2 to GA upgrade
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/BoundingBox/Scenes/BoundingBoxExamples.unity
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_RotateHandle.fbx
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_RotateHandle.fbx.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_RotateWidget.fbx
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_RotateWidget.fbx.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_ScaleHandle.fbx
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_ScaleHandle.fbx.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_ScaleHandle_Slate.fbx
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_ScaleHandle_Slate.fbx.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_ScaleWidget_Original.fbx
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_ScaleWidget_Original.fbx.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_ScaleWidget_Slate.fbx
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_BoundingBox_ScaleWidget_Slate_1m.fbx.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_RotateHandle.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_RotateHandle.prefab.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_RotateWidget_1m.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_RotateWidget_1m.prefab.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_ScaleHandle.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_ScaleHandle.prefab.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_ScaleHandle_Slate.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_ScaleHandle_Slate.prefab.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_ScaleWidget_1m.prefab.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_ScaleWidget_Slate.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_ScaleWidget_Slate_1m.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Prefabs/MRTK_BoundingBox_ScaleWidget_Slate_1m.prefab.meta
Labels: GA Blocker, UX Controls - Bounding Box

#5432 0725 Updated Eye Tracking doc
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/EyeTrackingTarget.cs
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
Labels: Documentation, Eye Tracking

#5512 Fix typo in ci template
  pipelines/templates/ci-common.yml
Labels: Build / Tools

#5514 Solver Examples & Documentation Updates
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/ChaseSource.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/ChaseSource.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffset.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffset.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffsetThenFaceHead.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/ChaseSourceWithOffsetThenFaceHead.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/InBetweenSources.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/InBetweenSources.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/Orbital.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/Orbital.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/OrbitalWithStepping.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/OrbitalWithStepping.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/Snake.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/Snake.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/SolverSwappingVolume.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/SolverSwappingVolume.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/SurfaceMagnetism.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/SurfaceMagnetism.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/SurfaceMagnetismAndRadialView.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/SurfaceMagnetismAndRadialView.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scenes/SolverExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scripts/SolverExampleManager.cs
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scripts/SolverExampleManager.cs.meta
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scripts/SwapVolume.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/Solver.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SurfaceMagnetism.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Utilities/Solvers/InBetweenInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Utilities/Solvers/SolverHandlerInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Utilities/Solvers/SurfaceMagnetismInspector.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/TrackedObjectType.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorUIUtility.cs
  Documentation/Images/Solver/GeneralSolverProperties.PNG
  Documentation/Images/Solver/InBetweenExample.png
  Documentation/Images/Solver/MRTK_Solver_Orbital.png
  Documentation/Images/Solver/OrbitalExample.PNG
  Documentation/Images/Solver/RadialViewExample.PNG
  Documentation/Images/Solver/SurfaceMagExample.PNG
  Documentation/Images/Solver/TrackedObjectType-Example.gif
  Documentation/README_Solver.md
Labels: Example/Test Scene, Solvers

#5520 Pre-RTW cleanup: remove unactionable debug log messages
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
Labels: Spatial Mapping / Awareness

#5522 Fix Icon Materials that Don't Respect Depth
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconFontMaterial.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconHandJoint.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconHandMesh.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconPin.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconProfiler.mat
Labels: GA Blocker, Shaders / Materials

#5524 Add conceptual docs on service registry and registrar
  Documentation/ServiceUtilities/MixedRealityServiceRegistryAndIMixedRealityServiceRegistrar.md
  Documentation/toc.yml
Labels: Documentation, Services

#5532 Updates to fix SurfaceMagnetism orientation
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/Solver.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SurfaceMagnetism.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Utilities/Solvers/SurfaceMagnetismInspector.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
  Documentation/README_Solver.md
  Documentation/UpdatingToGA.md
Labels: Solvers

#5533 Avoid blocking developer when ActiveProfile null in Editor
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Editor

#5537 Merge mrtk_release docs into stabilization
  README.md
Labels: Documentation

#5523 Remove DataProviders from Registrar and into services
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Support/Scripts/BaseServiceManager.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedGestureHand.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ManipulationHandlerTests.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitFacadeHandler.cs
  Assets/MixedRealityToolkit/Interfaces/Registrars/IMixedRealityServiceRegistrar.cs
  Assets/MixedRealityToolkit/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MixedRealityToolkit/Services/BaseDataProviderAccessCoreSystem.cs.meta
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityServiceRegistry.cs
Labels: Services

#5540 add platform capability check doc
  Documentation/Architecture/CrossPlatform/DeterminingPlatformCapabilities.md
  Documentation/toc.yml
Labels: Documentation

#5507 Simplify MRTK service registration & access
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerHandlerExample.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/CoreServicesTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/CoreServicesTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/CoreServices.cs
  Assets/MixedRealityToolkit/Utilities/CoreServices.cs.meta
  Documentation/UpdatingToGA.md
Labels: Services

#5539 Pressable Button breaks when scaled in world space mode
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButtonHoloLens2.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/PressableButtonInspector.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
  Documentation/UpdatingToGA.md
Labels: Profile and Inspectors, UX Controls - Buttons

#5561 Fix 5557 - Hand / controller input broken
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Services/BaseDataProviderAccessCoreSystem.cs
Labels: Bug, Services

#5584 Assign material to Reticle.prefab
  Assets/MixedRealityToolkit.Examples/StandardAssets/Prefabs/Reticle.prefab
Labels: UX Controls - Slate

#5578 Fix button mappings for WMR controllers in OpenVR - 5549
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit.Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
Labels: OpenVR

#5575 Fixing MRTK/Standard Shader Normal Maps + Proximity Light Compilation Error
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
Labels: GA Blocker, Shaders / Materials

#5590 Making the Unity UI example canvas background not semi-transparent and adding a proximity cursor shadow.
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/TestCanvas.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/UnityUIBackground.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/UnityUIBackground.mat.meta
Labels: GA Blocker, UnityUI

#5596 Update incorrect descriptions in the HandInteractionExample scene
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
Labels: Example/Test Scene, GA Blocker, Urgency-Soon

#5577 Button prefab fix - press distance(#5576), audio for far interaction(#5583)
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/PressableRoundButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
Labels: GA Blocker, Urgency-Soon

#5610 Remove concrete GazeProvider reference to allow custom providers
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityGazeProvider.cs
Labels: Input System - Gaze

#5609 [Docs] Bounding Box - Documentation improvement + default value updates
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Documentation/Images/BoundingBox/MRTK_BoundingBox_HandleStyles2.png
  Documentation/Images/BoundingBox/MRTK_BoundingBox_Proximity.png
  Documentation/Images/BoundingBox/MRTK_BoundingBox_Structure.png
  Documentation/README_BoundingBox.md
Labels: GA Blocker

#5619 Update TextMesh Pro version to 1.4.1 in the Package manifest file
  Packages/manifest.json
Labels: GA Blocker

#5618 Input, Hand joints, and BoundingBox perf improvements
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/ShellHandRayPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit/Providers/Hands/HandJointUtils.cs
  Assets/MixedRealityToolkit/Services/BaseEventSystem.cs
Labels: Performance, UX Controls - Bounding Box

#5622 Overlap does not check for SolverHandler.TransformTarget null
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/Overlap.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
Labels: Solvers

#5636 Fix inspector event removal bug
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableReceiverListInspector.cs
Labels: GA Blocker, UX Controls - Interactable

#5638 Fix 5625 - fix observer volume
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/Observers/IMixedRealitySpatialAwarenessObserver.cs
Labels: Spatial Mapping / Awareness

#5648 Fix 5641 - SceneSystem defined as a data provider
  Assets/MixedRealityToolkit.Services/SceneSystem/MixedRealitySceneSystem.cs
  Assets/MixedRealityToolkit/Interfaces/SceneSystem/IMixedRealitySceneSystem.cs
Labels: Additive Scenes, Services

#5617 Expose configuration in FocusProvider to target colliders instead of rigid bodies
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SurfaceMagnetism.cs
  Assets/MixedRealityToolkit.Services/InputSystem/DefaultRaycastProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputSystem/DefaultRaycastProviderTest.cs
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityRaycastHit.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityRaycastProvider.cs
  Assets/MixedRealityToolkit/Utilities/Physics/MixedRealityRaycaster.cs
Labels: 4 - In Review, GA Blocker

#5658 Fix extension services registration and documentation link
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/ExtensionServiceWizard.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityServiceRegistry.cs
Labels: Documentation, Extension, Services

#5660 Add service extension wizard known issue
  Documentation/KnownIssues.md
Labels: Documentation

#5669 Update stabilization docs from mrtk_dev
  Documentation/Architecture/CrossPlatform/DeterminingPlatformCapabilities.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/SpatialAwareness/AddObserver.png
  Documentation/Images/SpatialAwareness/ObjectObserverProfile.png
  Documentation/Images/SpatialAwareness/SelectObjectObserver.png
  Documentation/KnownIssues.md
  Documentation/ServiceUtilities/MixedRealityServiceRegistryAndIMixedRealityServiceRegistrar.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/SpatialAwareness/SpatialObjectMeshObserver.md
  Documentation/toc.yml
Labels: Documentation

#5673 Spell check docs!
  Documentation/Architecture/ConfigurationAndProfiles.md
  Documentation/Architecture/CrossPlatform/DeterminingPlatformCapabilities.md
  Documentation/Architecture/FrameworkAndRuntime.md
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/Boundary/BoundarySystemGettingStarted.md
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Contributing/UnitTests.md
  Documentation/Images/SceneSystem/MRTK_SceneSystemEditorSceneHierarchy.PNG
  Documentation/Input/Dictation.md
  Documentation/Input/Gestures.md
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/README_BoundingBox.md
  Documentation/README_HandJointChaser.md
  Documentation/README_Interactable.md
  Documentation/SceneSystem/SceneSystemContentLoading.md
  Documentation/SceneSystem/SceneSystemSceneTypes.md
  Documentation/ServiceUtilities/MixedRealityServiceRegistryAndIMixedRealityServiceRegistrar.md
  Documentation/SpatialAwareness/SpatialObjectMeshObserver.md
  Documentation/Tools/ExtensionServiceCreationWizard.md
  Documentation/UpdatingToGA.md
Labels: Documentation

#5659 Add DataProvider Tests for InputSystem and SpatialAwarenessSystem
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Microsoft.MixedReality.Toolkit.Tests.EditModeTests.asmdef
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestInputDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestInputDataProvider.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestBaseDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestBaseDataProvider.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestDataProvider1.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestDataProvider2.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestInputDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestInputDataProvider.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealityInputSystemProfile.asset.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealitySpatialAwarenessSystemProfile.asset
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealitySpatialAwarenessSystemProfile.asset.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestSpatialAwarenessDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestSpatialAwarenessDataProvider.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/SpatialAwareness.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/SpatialAwareness/SpatialAwarenessSystemTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/SpatialAwareness/SpatialAwarenessSystemTests.cs.meta
  Assets/MixedRealityToolkit/Services/BaseDataProvider.cs
Labels: Input System, Spatial Mapping / Awareness, Tests

#5633 Clean up and simplify pointer documentation
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/Input/PointerHandler.PNG
  Documentation/Images/Input/PointerProfile.png
  Documentation/Images/Input/Pointers/MRTK_Pointers.png
  Documentation/Images/Input/Pointers/PointerOptionsProfile.PNG
  Documentation/Images/Input/Pointers/PointerProfile.PNG
  Documentation/Images/Pointers/MRTK_MousePointer.jpg
  Documentation/Images/Pointers/MRTK_MousePointer.png
  Documentation/Images/Pointers/MRTK_PokePointer.jpg
  Documentation/Images/Pointers/MRTK_PokePointer.png
  Documentation/Images/Pointers/PointerHandler.png
  Documentation/Images/Pointers/PrimaryPointerExample.png
  Documentation/Input/Overview.md
  Documentation/Input/Pointers.md
  Documentation/README_Pointers.md
  Documentation/toc.yml
  README.md
Labels: Documentation, Input System - Pointer

#5677 PressableButton MovingButtonVisuals inspector fix
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/PressableButtonInspector.cs
Labels: GA Blocker

#5725 Migrate some 2.0-relevant docs from dev to stabilization
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/Input/PointerHandler.PNG
  Documentation/Images/Input/PointerProfile.png
  Documentation/Images/Input/Pointers/MRTK_Pointers.png
  Documentation/Images/Input/Pointers/PointerOptionsProfile.PNG
  Documentation/Images/Input/Pointers/PointerProfile.PNG
  Documentation/Images/Pointers/MRTK_MousePointer.jpg
  Documentation/Images/Pointers/MRTK_MousePointer.png
  Documentation/Images/Pointers/MRTK_PokePointer.jpg
  Documentation/Images/Pointers/MRTK_PokePointer.png
  Documentation/Images/Pointers/PointerHandler.png
  Documentation/Images/Pointers/PrimaryPointerExample.png
  Documentation/Input/Overview.md
  Documentation/Input/Pointers.md
  Documentation/README_Pointers.md
  Documentation/toc.yml
  README.md
Labels: Documentation

#5727 Cherry pick docs #5720
  Documentation/BuildAndDeploy.md
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/toc.yml
Labels: Documentation

#5613 Add release notes, update authors and updating
  Documentation/Authors.md
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Images/Contributing/SelectIssueType.png
  Documentation/Images/ReleaseNotes/AdjustContentHeight.png
  Documentation/Images/ReleaseNotes/DefaultHoloLens1ConfigurationProfile.png
  Documentation/Images/ReleaseNotes/SelectRaycastProvider.png
  Documentation/Images/ReleaseNotes/UnableToRegisterRaycastProvider.png
  Documentation/KnownIssues.md
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
  Documentation/toc.yml
  web/.gitignore
Labels: Documentation

#5732 Release note updates for 2.0.0
  Documentation/ReleaseNotes.md
Labels: Documentation

#5731 Update InputEvent documentation
  Documentation/Input/InputEvents.md
  Documentation/Input/InputProviders.md
  Documentation/Input/Pointers.md
  Documentation/Input/Speech.md
Labels: Documentation, Input System

#5755 Update test runner script
  scripts/test/run_playmode_tests.ps1
Labels: CI/Build

#5756 Update to check for `isCustomProfile: 1` during PR validation (and fix existing incorrect profiles)
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/DefaultSceneTransitionServiceProfile.asset
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/Profiles/DefaultObjectMeshObserverProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputRecordingProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealitySceneSystemProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealitySpatialAwarenessSystemProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens1/DefaultHoloLens1InputSimulationProfile.asset
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealitySpatialAwarenessSystemProfile.asset
  scripts/ci/validatecode.ps1
Labels: CI/Build

#5747 Document extension services; how to create, register and use
  Documentation/Extensions/ExtensionServices.md
  Documentation/Images/ExtensionWizard/ExtensionServiceComponents.png
  Documentation/Images/ExtensionWizard/ExtensionServiceCreationWizard.png
  Documentation/Images/ExtensionWizard/ExtensionServiceWizardRegister.png
  Documentation/Images/Profiles/ConfiguredExtensionService.png
  Documentation/Images/Profiles/RegisterExtensionService.png
Labels: Documentation, Extension

#5769 Optimize window doc cleanup
  Assets/MixedRealityToolkit.Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
  Documentation/Images/Performance/OptimizeWindowPerformanceTarget.jpg
  Documentation/Images/Performance/OptimizeWindow_SceneAnalysis.png
  Documentation/Images/Performance/OptimizeWindow_Settings.png
  Documentation/Images/Performance/OptimizeWindow_ShaderAnalysis.png
  Documentation/Input/InputEvents.md
  Documentation/Tools/OptimizeWindow.md
Labels: Documentation, Performance

#5812 Remove line renderer from the touch pointer
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/TouchPointer.prefab
Labels: Customer Feedback, Touch Input

#5562 Mesh Outlining
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/Lander.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/Lander.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/OutlineGreen.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/OutlineGreen.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/OutlineOrange.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/OutlineOrange.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/OutlineRainbow.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/OutlineRainbow.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/OutlineReveal.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/OutlineReveal.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Models/Lander.fbx
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Models/Lander.fbx.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scenes/OutlineExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scenes/OutlineExamples.unity.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Textures/Lander_albedo.png
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Textures/Lander_albedo.png.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Textures/Lander_channel.png
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Textures/Lander_channel.png.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Textures/Lander_normal.png
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Textures/Lander_normal.png.meta
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/FocusHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/FocusHandler.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/StandardShaderTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/StandardShaderTests.cs.meta
  Assets/MixedRealityToolkit/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
  Assets/MixedRealityToolkit/Utilities/StandardShader/BaseMeshOutline.cs
  Assets/MixedRealityToolkit/Utilities/StandardShader/BaseMeshOutline.cs.meta
  Assets/MixedRealityToolkit/Utilities/StandardShader/MeshOutline.cs
  Assets/MixedRealityToolkit/Utilities/StandardShader/MeshOutline.cs.meta
  Assets/MixedRealityToolkit/Utilities/StandardShader/MeshOutlineHierarchy.cs
  Assets/MixedRealityToolkit/Utilities/StandardShader/MeshOutlineHierarchy.cs.meta
  Assets/MixedRealityToolkit/Utilities/StandardShader/MeshSmoother.cs
  Assets/MixedRealityToolkit/Utilities/StandardShader/MeshSmoother.cs.meta
  Documentation/Images/MRTKStandardShader/MRTK_MeshOutline.jpg
  Documentation/Images/MRTKStandardShader/MRTK_OutlineMaterial.jpg
  Documentation/Images/MRTKStandardShader/MRTK_SmoothNormals.jpg
  Documentation/README_MRTKStandardShader.md
Labels: Shaders / Materials
