Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-03, with the labels that each got.

#3549 Diagnostics settings updates
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
  Assets/MixedRealityToolkit/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/Diagnostics/IMixedRealityDiagnosticsSystem.cs
Labels: Diagnostics / Tools

#3464 Controller mapping profile and controller attribute fixes
  Assets/MixedRealityToolkit/Attributes/MixedRealityControllerAttribute.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMappingProfile.cs
Labels: .NET Backend

#3537 Bezier Line Data Provider
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/BezierDataProviderInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/BezierDataProviderInspector.cs.meta
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/BezierDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/BezierDataProvider.cs.meta
Labels: UX Controls

#3550 Fix bounding box creation issues
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
Labels: Ready for Review, UX Controls

#3556 Remove extra space from BaseMixedRealityProfileInspector
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
Labels: Ready for Review

#3111 Photon "Classic" Sharing Preview
  Assets/OngSharing.meta
  Assets/OngSharing/ClickSharer.cs
  Assets/OngSharing/ClickSharer.cs.meta
  Assets/OngSharing/INetworkHandler.cs
  Assets/OngSharing/INetworkHandler.cs.meta
  Assets/OngSharing/INetworkingBase.cs
  Assets/OngSharing/INetworkingBase.cs.meta
  Assets/OngSharing/IPhotonNetworking.cs
  Assets/OngSharing/IPhotonNetworking.cs.meta
  Assets/OngSharing/NetworkEventData.cs
  Assets/OngSharing/NetworkEventData.cs.meta
  Assets/OngSharing/NetworkingType.cs
  Assets/OngSharing/NetworkingType.cs.meta
  Assets/OngSharing/OngSharingIDgenerator.cs
  Assets/OngSharing/OngSharingIDgenerator.cs.meta
  Assets/OngSharing/SeanSharingManager.cs
  Assets/OngSharing/SeanSharingManager.cs.meta
  Assets/OngSharing/SharingGeneratorNew.prefab
  Assets/OngSharing/SharingGeneratorNew.prefab.meta
  Assets/OngSharing/Singleton.cs
  Assets/OngSharing/Singleton.cs.meta
  Assets/OngSharing/Test.cs
  Assets/OngSharing/Test.cs.meta
  Documentation/Architecture/INetworkHandler.md
  Documentation/Architecture/INetworkingBase.md
  Documentation/Architecture/IPhotonNetworking.md
  Documentation/Architecture/NetworkEventData.md
  Documentation/Architecture/NetworkingSystemArchitecture.md
  Documentation/Architecture/NetworkingType.md
  Documentation/Architecture/PhotonMovementInstructions.md
Labels: Feature Branch, Preview / Experimental, Ready for Review, Sharing / Networking

#3560 Update to Unity 2018.3.7f1
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/ProjectVersion.txt
  ProjectSettings/UnityConnectSettings.asset
Labels: Ready for Review

#3561 fix incorrect boundary system property updating
  Assets/MixedRealityToolkit/Definitions/MixedRealityToolkitConfigurationProfile.cs
Labels: Boundaries, v2 Bugs

#3609 Add missing meta files
  Assets/MixedRealityToolkit.Examples/toc.yml.meta
  Assets/MixedRealityToolkit.SDK/Features/toc.yml.meta
  Assets/MixedRealityToolkit.SDK/Profiles/toc.yml.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/toc.yml.meta
  Assets/MixedRealityToolkit.SDK/toc.yml.meta
  Assets/MixedRealityToolkit/toc.yml.meta
Labels: Ready for Review

#3606 update namespace rules to match #3546
  CodingGuidelines.md
Labels: Documentation

#3623 fixed NullReference
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/SpatialAwarenessMeshObject.cs
Labels: Spatial Mapping / Awareness

#3629 Fixing Teleportation to be visually disabled when the system is disab…
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
Labels: Teleportation, v2 Adoption Blocking

#3622 Fix: detaching children before DestroyImmediate causes Errors in the Editor
  Assets/MixedRealityToolkit.Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
Labels: Spatial Mapping / Awareness

#3618 Updated build tools
  Assets/MixedRealityToolkit/Extensions/ProcessExtensions.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityPreferences.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployPreferences.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs.meta
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildInfo.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildInfoExtensions.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildInfoExtensions.cs.meta
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/CopyDirectoryInfo.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/IBuildInfo.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/IBuildInfo.cs.meta
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/README.md
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/README.md.meta
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs.meta
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpBuildDeployPreferences.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpBuildDeployPreferences.cs.meta
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpBuildInfo.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpBuildInfo.cs.meta
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpPlayerBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpProjectPostProcess.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorAssemblyReloadManager.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorPreferences.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorPreferences.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/EditorPrefsUtility.cs
Labels: Build / Tools

#3633 Rename examples assemblies to match naming guidelines
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/MixedRealityToolkit.Examples.Demos.UX.Interactables.asmdef
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/MixedRealityToolkit.Examples.Demos.UX.Interactables.asmdef.meta
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/InspectorFields/Inspectors/MixedRealityToolkit.Examples.Demos.Utilities.InspectorFields.Inspectors.asmdef
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/InspectorFields/Inspectors/MixedRealityToolkit.Examples.Demos.Utilities.InspectorFields.Inspectors.asmdef.meta
Labels: Editor

#3640 Service registrar interface (#3545 part 1)
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit.Tests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/InputActionPropertyDrawer.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/CanvasEditorExtension.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MixedRealityToolkit/Interfaces/README.md
  Assets/MixedRealityToolkit/Interfaces/Registrars.meta
  Assets/MixedRealityToolkit/Interfaces/Registrars/IMixedRealityServiceRegistrar.cs
  Assets/MixedRealityToolkit/Interfaces/Registrars/IMixedRealityServiceRegistrar.cs.meta
  Assets/MixedRealityToolkit/Interfaces/Services.meta
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityDataProvider.cs
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityDataProvider.cs.meta
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityExtensionService.cs
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityExtensionService.cs.meta
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityService.cs
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityService.cs.meta
  Assets/MixedRealityToolkit/Providers/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: BREAKING CHANGE, v2 Feature Change

#3630 Enable .NET backend scripting support
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scenes/InteractablesGallery.unity
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Events/InteractableEvent.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Events/InteractableReceiver.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Events/InteractableReceiverList.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Profile/InteractableProfileItem.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/States/States.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Themes/InteractableThemeBase.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Themes/InteractableThemePropertySettings.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableType.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableType.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableTypeFinder.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableTypeFinder.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableTypesContainer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableTypesContainer.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/TypeRestriction.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/TypeRestriction.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/States/DefaultInteractableStates.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/States/HoloLensInteractableStates.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/AnimatorTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ButtonBackground.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ButtonBackgroundSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ButtonBorders.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ButtonBordersSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ButtonLabel.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ButtonLabelColor.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ButtonLabelSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/CheeseTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/CoffeeTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/CylinderTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/DefaultTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/HolographicButtonBackPlate.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/HolographicButtonBackPlateToggleSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/HolographicButtonFrontPlate.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/HolographicButtonSeeItSayItLabel.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/Model_BuckyTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/Model_IcosaTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleBackground.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleBackgroundSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleButton.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleButtonSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleDot.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleDotSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleIcon.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleIconSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleLabel.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ToggleLabelSelected.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/ballonTheme.asset
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableReceiverListInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/StatesInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/ThemeInspector.cs
  Assets/MixedRealityToolkit/Attributes/MixedRealityControllerAttribute.cs
  Assets/MixedRealityToolkit/Attributes/MixedRealityExtensionServiceAttribute.cs
Labels: .NET Backend, BREAKING CHANGE, UX Controls

#3610 Mrtk Inspector Upgrade (Part 4)
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityProfileCloneWindow.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityProfileCloneWindow.cs.meta
Labels: Editor

#3638 Mrtk avoid unity editor bug
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
Labels: Editor, Input / Interactions

#3667 Service Registration (#3545) - Part 2 [Breaking Change for Service Implementors]
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit.Services/TeleportSystem/MixedRealityTeleportSystem.cs
  Assets/MixedRealityToolkit.Tests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/Services/TestDataProvider1.cs
  Assets/MixedRealityToolkit.Tests/Services/TestDataProvider2.cs
  Assets/MixedRealityToolkit.Tests/Services/TestExtensionService1.cs
  Assets/MixedRealityToolkit.Tests/Services/TestExtensionService2.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/SpatialAwarenessPlanarObject.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityGazeProvider.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/Observers/IMixedRealitySpatialAwarenessMeshObserver.cs
  Assets/MixedRealityToolkit/Providers/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialAwarenessObserver.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialAwarenessObserver.cs.meta
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MixedRealityToolkit/Services/BaseCoreSystem.cs
  Assets/MixedRealityToolkit/Services/BaseCoreSystem.cs.meta
  Assets/MixedRealityToolkit/Services/BaseDataProvider.cs
  Assets/MixedRealityToolkit/Services/BaseExtensionService.cs
  Assets/MixedRealityToolkit/Services/BaseService.cs
  Assets/MixedRealityToolkit/Services/BaseServiceWithConstructor.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: BREAKING CHANGE, v2 Feature Change

#3651 cleanup
  README.md
Labels: Documentation

#3690 fix wrong assignment
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Receivers/InteractionReceiver.cs
Labels: v2 Bugs

#3662 MeshLineRenderer improvement
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/BaseMixedRealityLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/MeshLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/MixedRealityLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/ParticleSystemLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/StripMeshLineRenderer.cs
Labels: UX Controls

#3713 Add DrawPoint to DebugUtilities
  Assets/MixedRealityToolkit/Utilities/DebugUtilities.cs
Labels: InternalMerge

#3716 Change menu option "Configure..." to "Add to Scene and Configure..."
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitInspector.cs
  Documentation/GettingStartedWithTheMRTK.md
  External/ReadMeImages/MRTK_ConfigureScene.png
Labels: Editor

#3714 Event system fix where the event listeners array was being modified while an event was getting dispatched
  Assets/MixedRealityToolkit/Services/BaseEventSystem.cs
Labels: InternalMerge

#3700 Prefer DateTime.UtcNow over DateTime.Now
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MixedRealityToolkit.SDK/Features/Audio/Influencers/AudioInfluencerController.cs
  Assets/MixedRealityToolkit/EventDatum/GenericBaseEventData.cs
  Assets/MixedRealityToolkit/EventDatum/Input/BaseInputEventData.cs
  Assets/MixedRealityToolkit/EventDatum/Input/SpeechEventData.cs
  Assets/MixedRealityToolkit/Utilities/FastSimplexNoise.cs
  CodingGuidelines.md
Labels: InternalMerge

#3703 Add new UWP API contracts to WindowsApiChecker
  Assets/MixedRealityToolkit/Utilities/WindowsApiChecker.cs
Labels: InternalMerge

#3717 Add useful properties to MixedRealityPose
  Assets/MixedRealityToolkit/Definitions/Utilities/MixedRealityPose.cs
Labels: InternalMerge

#3719 Fix focus bug in MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
Labels: InternalMerge

#3718 Assorted formatting and comment updates
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit/Attributes/MixedRealityExtensionServiceAttribute.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/Definitions/Lines/LinePointTransformMode.cs.meta
Labels: InternalMerge

#3726 Spectator view cleanup2
  Assets/MixedRealityToolkit.Extensions/PhotoCapture/CameraIntrinsics.cs
  Assets/MixedRealityToolkit.Extensions/PhotoCapture/StreamDescription.cs
Labels: Documentation, SpectatorView

#3723 Update SpectatorViewSetup.md to include info on ARFoundation, ARCore and ARKit
  Assets/MixedRealityToolkit.Extensions/SpectatorView/SpectatorViewSetup.md
Labels: Documentation, SpectatorView

#3732 Spectator View Spatial Localization Abstraction
  Assets/MixedRealityToolkit.Extensions/Sharing/ISpatialCoordinateService.cs
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization.meta
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/Extensions.cs
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/Extensions.cs.meta
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/ISpatialCoordinate.cs
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/ISpatialCoordinate.cs.meta
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/ISpatialCoordinateService.cs
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/ISpatialCoordinateService.cs.meta
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/SpatialCoordinateBase.cs
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/SpatialCoordinateBase.cs.meta
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/SpatialCoordinateLocalizer.cs
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/SpatialCoordinateLocalizer.cs.meta
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/SpatialCoordinateServiceBase.cs
  Assets/MixedRealityToolkit.Extensions/Sharing/Localization/SpatialCoordinateServiceBase.cs.meta
  Assets/MixedRealityToolkit.Extensions/Sharing/Utilities.meta
  Assets/MixedRealityToolkit.Extensions/Sharing/Utilities/DisposableBase.cs
  Assets/MixedRealityToolkit.Extensions/Sharing/Utilities/DisposableBase.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/MarkerDetectorCoordinateService.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/MarkerDetectorCoordinateService.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/MarkerVisualizerCoordinateService.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/MarkerVisualizerCoordinateService.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerSpatialCoordinateService.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/SpectatorView.cs
Labels: Experimental, Sharing / Networking, SpectatorView
