Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-01, with the labels that each got.

#3223 Customer feedback: add profile inspector foldouts
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpatialAwarenessProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
Labels: Editor, Ready for Review

#3317 Move eventsource functionality from SpatialAwarenessSystem to observer(s)
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness/System/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseSpatialObserver.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealitySpatialObserver.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealitySpatialObserver.cs.meta
  Assets/MixedRealityToolkit/_Core/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessEventData.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessObserver.cs
  Assets/MixedRealityToolkit/_Core/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
Labels: 2018 Feature Change, BREAKING CHANGE, Spatial Mapping / Awareness

#3334 move spatial awareness system from sdk to core
  Assets/MixedRealityToolkit-SDK/Features/SpatialAwareness.meta
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit/_Core/Services/SpatialAwarenessSystem.meta
  Assets/MixedRealityToolkit/_Core/Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/_Core/Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs.meta
Labels: 2018 Adoption Blocking, 2018 Feature Change, BREAKING CHANGE, Spatial Mapping / Awareness

#3333 Update unity requirement to 2018.3
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkit.Tests.asmdef
  Assets/MixedRealityToolkit/MixedRealityToolkit.asmdef
  Assets/MixedRealityToolkit/_Core/Definitions/Utilities/Editor/MixedRealityToolkit.Core.Definitions.Utilities.Editor.asmdef
  Assets/MixedRealityToolkit/_Core/Extensions/EditorClassExtensions/MixedRealityToolkit.Core.Extensions.EditorClassExtensions.asmdef
  Assets/MixedRealityToolkit/_Core/Inspectors/MixedRealityToolkit.Core.Inspectors.asmdef
  Assets/MixedRealityToolkit/_Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/_Core/Inspectors/PropertyDrawers/PrefabPropertyDrawer.cs
  Assets/MixedRealityToolkit/_Core/Utilities/BuildAndDeploy/UwpBuildDeployWindow.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/EditorProjectUtilities.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/MixedRealityToolkit.Core.Utilities.Editor.asmdef
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/Microsoft.MixedReality.Toolkit.Core.Utilities.Editor.Setup.dll
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/Microsoft.MixedReality.Toolkit.Core.Utilities.Editor.Setup.dll.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/MixedRealityEditorSettings.cs.meta
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/MixedRealityToolkit.Core.Utilities.Editor.Setup.asmdef
  Assets/MixedRealityToolkit/_Core/Utilities/Editor/Setup/MixedRealityToolkit.Core.Utilities.Editor.Setup.asmdef.meta
  Packages/manifest.json
  ProjectSettings/ProjectSettings.asset
  ProjectSettings/ProjectVersion.txt
  ProjectSettings/QualitySettings.asset
  ProjectSettings/VFXManager.asset
Labels: 2018 Adoption Blocking, BREAKING CHANGE

#3342 Move input system from SDK to the Core
  Assets/MixedRealityToolkit-Examples/Demos/Solvers/Prefabs/SolverSwappingVolume.prefab
  Assets/MixedRealityToolkit-Examples/StandardAssets/Prefabs/SceneDescriptionPanel.prefab
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/BaseInputHandler.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit-SDK/Features/Input/README.md
  Assets/MixedRealityToolkit-SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit-SDK/Inspectors/MixedRealityToolkit.SDK.Inspectors.asmdef
  Assets/MixedRealityToolkit-SDK/MixedRealityToolkit.SDK.asmdef
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityRegisteredServiceProvidersProfile.asset
  Assets/MixedRealityToolkit-SDK/Profiles/DefaultMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit-Tests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit-Tests/MixedRealityToolkit.Tests.asmdef
  Assets/MixedRealityToolkit/InputSystem.meta
  Assets/MixedRealityToolkit/InputSystem/Inspectors.meta
  Assets/MixedRealityToolkit/InputSystem/Inspectors/EditorHandsShaderGUI.cs
  Assets/MixedRealityToolkit/InputSystem/Inspectors/EditorHandsShaderGUI.cs.meta
  Assets/MixedRealityToolkit/InputSystem/Inspectors/MixedRealityToolkit.InputSystem.Inspectors.asmdef
  Assets/MixedRealityToolkit/InputSystem/Inspectors/MixedRealityToolkit.InputSystem.Inspectors.asmdef.meta
  Assets/MixedRealityToolkit/InputSystem/Inspectors/README.md
  Assets/MixedRealityToolkit/InputSystem/Inspectors/README.md.meta
  Assets/MixedRealityToolkit/InputSystem/MixedRealityToolkit.InputSystem.asmdef
  Assets/MixedRealityToolkit/InputSystem/MixedRealityToolkit.InputSystem.asmdef.meta
  Assets/MixedRealityToolkit/InputSystem/Pointers.meta
  Assets/MixedRealityToolkit/InputSystem/Pointers/README.md
  Assets/MixedRealityToolkit/InputSystem/Pointers/README.md.meta
  Assets/MixedRealityToolkit/InputSystem/README.md
  Assets/MixedRealityToolkit/InputSystem/README.md.meta
  Assets/MixedRealityToolkit/InputSystem/Sources.meta
  Assets/MixedRealityToolkit/InputSystem/Sources/README.md
  Assets/MixedRealityToolkit/InputSystem/Sources/README.md.meta
  Assets/MixedRealityToolkit/InputSystem/Utilities.meta
  Assets/MixedRealityToolkit/InputSystem/Utilities/DebugInteractionSourcePose.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/DebugInteractionSourcePose.cs.meta
  Assets/MixedRealityToolkit/InputSystem/Utilities/DebugInteractionSourceState.cs
  Assets/MixedRealityToolkit/InputSystem/Utilities/DebugInteractionSourceState.cs.meta
  Assets/MixedRealityToolkit/InputSystem/Utilities/README.md
  Assets/MixedRealityToolkit/InputSystem/Utilities/README.md.meta
  Assets/MixedRealityToolkit/_Core/Devices/BaseGenericInputSource.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseGenericInputSource.cs.meta
  Assets/MixedRealityToolkit/_Core/Devices/GenericPointer.cs
  Assets/MixedRealityToolkit/_Core/Devices/GenericPointer.cs.meta
  Assets/MixedRealityToolkit/_Core/Services/InputSystem.meta
  Assets/MixedRealityToolkit/_Core/Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit/_Core/Services/InputSystem/FocusProvider.cs.meta
  Assets/MixedRealityToolkit/_Core/Services/InputSystem/GazeProvider.cs
  Assets/MixedRealityToolkit/_Core/Services/InputSystem/GazeProvider.cs.meta
  Assets/MixedRealityToolkit/_Core/Services/InputSystem/InputSystemGlobalListener.cs
  Assets/MixedRealityToolkit/_Core/Services/InputSystem/InputSystemGlobalListener.cs.meta
  Assets/MixedRealityToolkit/_Core/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/_Core/Services/InputSystem/MixedRealityInputSystem.cs.meta
Labels: 2018 Adoption Blocking, 2018 Feature Change, BREAKING CHANGE, Input / Interactions

#3318 Add ConfigurationProfil connection for Extension Service
  Assets/MixedRealityToolkit-Tests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService1.cs
  Assets/MixedRealityToolkit-Tests/Services/TestExtensionService2.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/BaseSpatialObserver.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/MixedReality/WindowsMixedRealitySpatialObserver.cs
  Assets/MixedRealityToolkit/_Core/Devices/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/MouseDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityJoystickManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/UnityInput/UnityTouchDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/WindowsDictationInputDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/VoiceInput/WindowsSpeechInputDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Devices/WindowsGaming/WindowsGamingDeviceManager.cs
  Assets/MixedRealityToolkit/_Core/Services/BaseExtensionService.cs
  Assets/MixedRealityToolkit/_Core/Services/MixedRealityToolkit.cs
Labels: Suggestions

#3362 Update SolverHandlerInspector.cs.meta
  Assets/MixedRealityToolkit.SDK/Inspectors/Utilities/Solvers/SolverHandlerInspector.cs.meta
Labels: Ready for Review

#3361 Change GetPrefabInstanceStatus -> GetPrefabAssetType
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/PrefabPropertyDrawer.cs
Labels: Ready for Review

#3350 [vNext][UX]Lines closest point / length
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/BaseMixedRealityLineDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/EllipseLineDataProvider.cs
Labels: MRTK vNEXT, UX Controls

#3366 Add check to prevent trying to instantiate null gaze cursor
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
Labels: Ready for Review

#3368 Add WindowsEditor as a supported platform
  Assets/MixedRealityToolkit/Definitions/Utilities/SupportedPlatforms.cs
  Assets/MixedRealityToolkit/Utilities/PlatformUtility.cs
Labels: Ready for Review

#3370 Make the Billboard's pivot axis configurable
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/Billboard.cs
Labels: Ready for Review

#3371 Profile foldout part2
  Assets/MixedRealityToolkit/Definitions/Devices/ControllerMappingLibrary.cs
  Assets/MixedRealityToolkit/Inspectors/ControllerPopupWindow.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
Labels: Editor

#3386 Move files from stale - folders to new . folders
  Assets/MixedRealityToolkit-SDK/Features/UX/Materials.meta
  Assets/MixedRealityToolkit.Examples/Demos/UX/BoundingBox.meta
  Assets/MixedRealityToolkit.Examples/Demos/UX/BoundingBox/BoundingBoxExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/BoundingBox/BoundingBoxExample.unity.meta
  Assets/MixedRealityToolkit.Examples/StandardAssets/Prefabs/CoffeeCup.prefab
  Assets/MixedRealityToolkit.Examples/StandardAssets/Prefabs/CoffeeCup.prefab.meta
  Assets/MixedRealityToolkit.Examples/StandardAssets/Prefabs/Prototyping/Icosa.prefab
  Assets/MixedRealityToolkit.Examples/StandardAssets/Prefabs/Prototyping/Icosa.prefab.meta
  Assets/MixedRealityToolkit.Examples/StandardAssets/Prefabs/Prototyping/Octa.prefab
  Assets/MixedRealityToolkit.Examples/StandardAssets/Prefabs/Prototyping/Octa.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/BoundingBoxHandle.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/BoundingBoxHandle.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/BoundingBoxHandleGrabbed.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/BoundingBoxHandleGrabbed.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/BoundingBoxLines.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/BoundingBoxLines.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs.meta
Labels: Ready for Review

#3389 remove IMixedRealityInputHandler from IMixedRealityInputHandler<T>
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/DragAndDropHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ManipulationHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ManipulationHandler.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Receivers/InteractionReceiver.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/GazeHandHelper.cs
  Assets/MixedRealityToolkit/Interfaces/Devices/IMixedRealityControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/Handlers/IMixedRealityInputHandler.cs
Labels: BREAKING CHANGE, Input / Interactions, MRTK Approved, v2 Adoption Blocking, v2 Feature Change

#3382 Channel Packer Editor + Other Shader Features
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/MatrixMRTKStandard.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/MatrixMRTKStandardNoReflections.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scenes/StandardMaterialComparison.unity
  Assets/MixedRealityToolkit/Inspectors/ChannelPackerWindow.cs
  Assets/MixedRealityToolkit/Inspectors/ChannelPackerWindow.cs.meta
  Assets/MixedRealityToolkit/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/Resources/Shaders/ChannelPacker.shader
  Assets/MixedRealityToolkit/Resources/Shaders/ChannelPacker.shader.meta
  Assets/MixedRealityToolkit/Resources/Shaders/MixedRealityStandard.shader
Labels: Enhancement, Shaders

#3392 Fix variable naming
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/Handlers.meta
Labels: Ready for Review

#3393 Add null check for the SpatialAwarenessSystem being turned off
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
Labels: Ready for Review
