Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-06, with the labels that each got.

#4684 Fix nullptr in PokePointer when you press any button
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
Labels: Urgency-Now

#4708 Move diagnostic voice command handling out of the demo scene (fix #3637)
  Assets/MixedRealityToolkit.Examples/Demos/Diagnostics/Scripts.meta
  Assets/MixedRealityToolkit.Examples/Demos/Diagnostics/Scripts/DiagnosticsDemoControls.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputActionsProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/DiagnosticsSystemVoiceControls.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/DiagnosticsSystemVoiceControls.cs.meta
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
Labels: Diagnostics / Tools

#4725 Remove need for repeated calls to DisplayOption in WindowsMixedRealitySpatialMeshObserver
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
Labels: Spatial Mapping / Awareness

#4737 add missing interface declaration to spatial awareness
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
Labels: Spatial Mapping / Awareness

#4756 Update projectversion.txt to 2018.4.1
  Documentation/Contributing/Roadmap.md
  Documentation/GettingStartedWithTheMRTK.md
  ProjectSettings/ProjectVersion.txt
  README.md
Labels: Editor

#4673 Interactable not responding to menu, grip take 2. Also add TouchHandler
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/Targeting/DwellSelection.cs
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/HandInteractionTouch.cs
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Prefabs/CoffeeCup.prefab
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Prefabs/Model_Bucky.prefab
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Prefabs/Model_PushButton.prefab
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Prefabs/balloon.prefab
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scenes/InteractablesExamples.unity
  Assets/MixedRealityToolkit.SDK/Features/Input/Events/TouchEvent.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Events/TouchEventData.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/TouchHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/TouchHandler.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/AnimationButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/Button.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ButtonHoloLens1.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ButtonHoloLens1Toggle.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/CheckBox.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/RadialSet.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/SimpleButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/Toggle.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ToggleButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Simulation/InteractablePointerSimulator.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PhysicalPressEventRouter.cs
Labels: GA Blocker, UX Controls - Interactable

#4760 Add two hand manip for flattened bounding box
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
Labels: Urgency-Soon

#4762 Remove unused scripts from the diagnostics demo scene
  Assets/MixedRealityToolkit.Examples/Demos/Diagnostics/Scenes/DiagnosticsDemo.unity
Labels: Example/Test Scene

#4764 Consistency: make FocusProvider a core service and not a data provider
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Services

#4785 Fix teleport pointer to support mrtk object or standalone service
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
Labels: Teleport System

#4765 [RC2] Add ability to scroll, drag UnityUI canvas on HoloLens 1
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputModule.cs
Labels: UnityUI

#4882 Add checkcapability api, add demo scene
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/Scenes.meta
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/Scenes/MixedRealityCapabilityDemo.unity
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/Scenes/MixedRealityCapabilityDemo.unity.meta
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/Scripts.meta
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/Scripts/MixedRealityCapabilityDemo.cs
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/Scripts/MixedRealityCapabilityDemo.cs.meta
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/MixedRealityCapability.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/MixedRealityCapability.cs.meta
  Assets/MixedRealityToolkit/Interfaces/Devices/IMixedRealityInputDeviceManager.cs
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityCapabilityCheck.cs
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityCapabilityCheck.cs.meta
Labels: Input System, Spatial Mapping / Awareness, Speech

#4836 Finger Tip Cursor Pairity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Materials/PanContent.mat
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/Slate.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/FingertipRing.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/FingertipRing.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/FingerCursor.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_FingerTipCursor.mat
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_FingerTipCursor.mat.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_Slate_Touchpoint.mat
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_FingerTipCursor.fbx
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/MRTK_FingerTipCursor.fbx.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Shaders/FingerTipCursor.shader
  Assets/MixedRealityToolkit.SDK/StandardAssets/Shaders/FingerTipCursor.shader.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Shaders/HandTriangles.shader
  Assets/MixedRealityToolkit/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
Labels: Bug, GA Blocker, Shell Parity

#4924 fix definition of camera system interface
  Assets/MixedRealityToolkit/Interfaces/CameraSystem/IMixedRealityCameraSystem.cs
Labels: Services

#4923 [Docs] Landing page & docs left navigation improvements
  Documentation/Images/MRDL_PeriodicTable.jpg
  Documentation/Images/MRTK_Icon_Boundary.png
  Documentation/Images/MRTK_Icon_Documentation.png
  Documentation/Images/MRTK_Icon_Experimental.png
  Documentation/Images/MRTK_Icon_GettingStarted.png
  Documentation/Images/MRTK_Icon_Profiles.png
  Documentation/Images/MRTK_Icon_SceneSystem.png
  Documentation/toc.yml
  README.md
Labels: Documentation

#4928 Update UI Building Blocks on GettingStarted for parity
  Documentation/GettingStartedWithTheMRTK.md
Labels: Documentation

#4838 MRTK Instance Application Event Handling / Deterministic Instance Selection
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Additive Scenes, Editor, Multi-Scene

#4538 Introduced the primary pointer selector
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/PrimaryPointer.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerExample.unity.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerHandlerExample.cs
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerHandlerExample.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/DefaultPrimaryPointerSelector.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/DefaultPrimaryPointerSelector.cs.meta
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/DefaultPrimaryPointerSelectorTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/DefaultPrimaryPointerSelectorTests.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestPointer.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestPointer.cs.meta
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityPrimaryPointerSelector.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityPrimaryPointerSelector.cs.meta
Labels: Input System

#4927 Updating Interactable.md for shader theme content
  Documentation/README_Interactable.md
  Documentation/README_MRTKStandardShader.md
Labels: Documentation

#5024 [Shell Parity] Button updates - feedback for the far interaction, audio clip updates
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/HolographicButtonSeeItSayItLabel.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/PressableButtonFrontPlate.asset
  Assets/MixedRealityToolkit.SDK/StandardAssets/Audio/MRTK_ButtonPress.wav
  Assets/MixedRealityToolkit.SDK/StandardAssets/Audio/MRTK_ButtonPress.wav.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Audio/MRTK_ButtonUnpress.wav
  Assets/MixedRealityToolkit.SDK/StandardAssets/Audio/MRTK_ButtonUnpress.wav.meta
Labels: UX Controls - Buttons

#5035 Customer request: Add support for clearing the spatial observations
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/ClearSpatialObservations.cs
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/ClearSpatialObservations.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/Observers/IMixedRealitySpatialAwarenessObserver.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
Labels: BREAKING CHANGE, Customer Feedback, Spatial Mapping / Awareness

#4922 Fix build warnings
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/Utils/EyeCalibrationChecker.cs
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/Scripts/MixedRealityCapabilityDemo.cs
  Assets/MixedRealityToolkit/Definitions/SceneSystem/MixedRealitySceneSystemProfile.cs
Labels: Build / Tools

#5048 fix doc comments in new ClearObservations methods
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/Observers/IMixedRealitySpatialAwarenessObserver.cs
Labels: Documentation

#5045 Add api change section to UpdateRC2toGA doc
  Documentation/UpdatingToGA.md
Labels: Documentation

#4925 Remove warnings in Unity 2019
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitFacadeHandler.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/ServiceFacadeInspector.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/Utilities/PlatformUtility.cs
Labels: Build / Tools

#4942 Poke pointer overlap test to replace static touchables list
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/TestCanvas.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MixedRealityToolkit.Services/InputSystem/BaseNearInteractionTouchable.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchable.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchableUnboundedPlane.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchableUnityUI.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchableUnityUI.cs.meta
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchableVolume.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/EventCatcherTestUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/NearInteractionTouchableTests.cs
  Documentation/UpdatingToGA.md
Labels: BREAKING CHANGE, Input System

#5049 [Shell Parity] [Button] Highlight Plate Shell Behavior
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlate.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonContentCageProximity.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/IridescentSpectrum.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/IridescentSpectrum.png.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/IridescentSpectrumRainbow.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/IridescentSpectrumRainbow.png.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/Iridescent_spectrum.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButtonHoloLens2.cs
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_PressableInteractablesButtonBox.mat
  Assets/MixedRealityToolkit/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
Labels: GA Blocker, Shell Parity, UX Controls - Buttons

#5034 [HTK Parity] Progress Indicator UX Controls
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/ProgressIndicatorLoadingBarEmpty.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/ProgressIndicatorLoadingBarEmpty.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/ProgressIndicatorLoadingBarFilled.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/ProgressIndicatorLoadingBarFilled.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/ProgressIndicatorRotatingOrbsMat.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/ProgressIndicatorRotatingOrbsMat.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/ProgressIndicators.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/ProgressIndicators/ProgressIndicatorLoadingBar.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/ProgressIndicators/ProgressIndicatorLoadingBar.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/ProgressIndicators/ProgressIndicatorRotatingObject.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/ProgressIndicators/ProgressIndicatorRotatingObject.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/ProgressIndicators/ProgressIndicatorRotatingOrbs.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/ProgressIndicators/ProgressIndicatorRotatingOrbs.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/IProgressIndicator.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/IProgressIndicator.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorLoadingBar.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorLoadingBar.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorObjectDisplay.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorObjectDisplay.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorOrbsRotator.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorOrbsRotator.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorState.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorState.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/LoadingIndicatorTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/LoadingIndicatorTests.cs.meta
Labels: HTK Parity, Shell Parity, UX Controls
