Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-09, with the labels that each got.

#5766 Fix how gameobjects get destroyed in play vs edit modes
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scripts/MaterialMatrix.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionService.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/ParabolicTeleportPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/SpherePointerVisual.cs
  Assets/MixedRealityToolkit/Extensions/GameObjectExtensions.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitFacadeHandler.cs
Labels: Editor

#5837 Fix for spatial awareness allowing only mesh observers to be registered (#5835)
  Assets/MixedRealityToolkit/Definitions/MixedRealitySpatialObserverConfiguration.cs
  Assets/MixedRealityToolkit/Providers/BaseInputDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
Labels: Spatial Mapping / Awareness

#5855 CI Build Fix
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildTemplates/SDKProjectTemplate.csproj.template
Labels: Build / Tools, CI/Build

#5783 Fix pointer profile inspector
  Assets/MixedRealityToolkit.SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.Tools/DependencyWindow/DependencyWindow.cs
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/ExtensionServiceWizard.cs
  Assets/MixedRealityToolkit.Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
  Assets/MixedRealityToolkit/Inspectors/ControllerPopupWindow.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityProfileCloneWindow.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/SceneSystemInspector.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
Labels: Profile and Inspectors

#5811 Add documentation for systems, extensions and data providers
  Documentation/Architecture/SystemsExtensionsProviders.md
  Documentation/Extensions/ExtensionServices.md
  Documentation/Images/Input/ExampleProviderFolderStructure.png
  Documentation/Images/SpatialAwareness/ExampleProviderFolderStructure.png
  Documentation/Input/CreateDataProvider.md
  Documentation/Input/InputProviders.md
  Documentation/SpatialAwareness/CreateDataProvider.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/toc.yml
Labels: Documentation, Extensibility, Services

#5781 Get PressableButton working well with UnityUI
  .gitignore
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/PressableButtonsTestCanvas.prefab
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/PressableButtonsTestCanvas.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/ColorChanger.cs
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/ColorChangerUnityUI.cs
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/ColorChangerUnityUI.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHololens2UnityUI.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHololens2UnityUI.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonUnityUI.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonUnityUI.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonUnityUICircular.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonUnityUICircular.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PhysicalPressEventRouter.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/SubmitEventRouter.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/SubmitEventRouter.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/RectTransformCubeScaler.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/RectTransformCubeScaler.cs.meta
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/PressableButtonInspector.cs
  Assets/MixedRealityToolkit.Services/InputSystem/BaseNearInteractionTouchable.cs
  Assets/MixedRealityToolkit.Services/InputSystem/Editor/NearInteractionTouchableInspector.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchable.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchableSurface.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchableSurface.cs.meta
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchableUnityUI.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchableVolume.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/NearInteractionTouchableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Prefabs/UnitTestCanvas.prefab
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Prefabs/UnitTestCanvas.prefab.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
  Documentation/README_Button.md
Labels: BREAKING CHANGE

#5893 Fill in empty returns
  Assets/MixedRealityToolkit.SDK/Features/Utilities/PointerUtils.cs
Labels: Documentation

#5903 Fix touch screen input: enable interactable, manipulation and unity ui
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchDeviceManager.cs
Labels: Input System, Touch Input

#5890 Expose cursor speed and scroll wheel speed to mouse profile. Fix y axis inversion.
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityMouseInputProfile.asset
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityMouseInputProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityMouseDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/BaseInputDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MixedRealityMouseInputProfile.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
Labels: BREAKING CHANGE, Mouse Input

#5914 Standardize OpenVR WMR grip press as DeviceInputType.TriggerPress
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit.Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMappingProfile.cs
Labels: Input System - Input Actions

#5898 Interactable Refactor Part 3/N
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/GrabHandle.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableType.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableType.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableTypeFinder.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableTypeFinder.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableTypesContainer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/InteractableTypesContainer.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/TypeResolution/TypeRestriction.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/TextureTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/InteractableOnFocus.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/Core/ThemeStateProperty.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableColorChildrenTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableColorTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableGrabScaleTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableShaderTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableStringTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableTextureTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableThemeBase.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableThemeShaderUtils.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/ScaleOffsetColorTheme.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/VisualThemes/ThemeInspector.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/VisualThemeTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/VisualThemeTests.cs.meta
Labels: UX Controls - Interactable

#5921 5856 - improve resiliency, use as instead of c-style cast
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
Labels: Interactions

#5892 Updating the MRTK/Standard shader render modes to match Unity's new terminology.
  Assets/MixedRealityToolkit/Inspectors/MixedRealityShaderGUI.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityWireframeShaderGUI.cs
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
  Documentation/Images/MRTKStandardShader/MRTK_RenderingModes.jpg
  Documentation/README_MRTKStandardShader.md
Labels: DDE Partner, Shaders / Materials

#5927 Scale Should Not Influence Smooth Normals
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
Labels: Shaders / Materials

#5947 Updated template for play mode tests in UnitTests.md
  Documentation/Contributing/UnitTests.md
Labels: Documentation

#5941 [Docs] Landing page updates & improvements
  Documentation/Images/Input/MRTK_Input_Speech.png
  Documentation/Images/MRTK_Examples.png
  Documentation/Images/MRTK_ExamplesHub.png
  Documentation/Images/MRTK_Icon_APIReference.png
  Documentation/Images/MRTK_Icon_ArchitectureOverview.png
  Documentation/Images/MRTK_Icon_FeatureGuides.png
  Documentation/Images/MRTK_Icon_GettingStarted.png
  Documentation/Images/Solver/GeneralSolverProperties.png
  Documentation/Images/Solver/MRTK_Solver_HandConstraintPalmUp.png
  Documentation/Images/Solver/MRTK_Solver_HandConstraintSafeZones.png
  Documentation/Images/Solver/MRTK_UX_HandMenu.png
  Documentation/Images/Solver/OrbitalExample.png
  Documentation/Images/Solver/RadialViewExample.png
  Documentation/Images/Solver/SurfaceMagExample.png
  Documentation/Input/Speech.md
  Documentation/README_Solver.md
  README.md
Labels: Documentation

#5960 Interactable fixes part 5/5
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/States/InteractableStateModel.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/States/InteractableStates.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/Core/Theme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/States/States.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableOnFocusInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/VisualThemes/StatesInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/VisualThemes/ThemeInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityStylesUtility.cs
  Documentation/Images/Button/MRTK_Button_HowToUse_Interactable.png
  Documentation/Images/Button/mrtk_button_profiles.gif
  Documentation/Images/Interactable/DefaultInteractableStates.png
  Documentation/Images/Interactable/DefaultStates.png
  Documentation/Images/Interactable/DefaultTheme_button.png
  Documentation/Images/Interactable/DefaultTheme_values.png
  Documentation/Images/Interactable/Event_audioClip.png
  Documentation/Images/Interactable/Event_hold.png
  Documentation/Images/Interactable/Event_onClickEffect.png
  Documentation/Images/Interactable/Event_toggle.png
  Documentation/Images/Interactable/Events.png
  Documentation/Images/Interactable/InputFeatures_short.png
  Documentation/Images/Interactable/InteractableInspector_basicSteps.png
  Documentation/Images/Interactable/Profile_multiDimensions.png
  Documentation/Images/Interactable/Profile_toggle.png
  Documentation/Images/Interactable/Profiles_Themes.png
  Documentation/Images/Interactable/Profiles_noTarget.png
  Documentation/Images/Interactable/StatesScriptableObject.png
  Documentation/Images/Interactable/Theme.png
  Documentation/Images/VisualThemes/ThemeInspectorExample.png
  Documentation/README_Button.md
  Documentation/README_Interactable.md
  Documentation/VisualThemes.md
Labels: Documentation, UX Controls - Interactable

#5974 Cache spatialInteractionManager on first use, not in constructor
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityArticulatedHand.cs
Labels: Input System

#5944 add simple methods to acquire ray for a pointer (eyes, head, hand, etc)
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExample.cs
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/EyeGizmo.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/EyeGizmo.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/HandLeftGizmo.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/HandLeftGizmo.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/HandRightGizmo.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/HandRightGizmo.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/HeadGizmo.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/HeadGizmo.prefab.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputDataExample.cs
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputDataExample.cs.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputDataExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputDataExample.unity.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputDataExampleGizmo.cs
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputDataExampleGizmo.cs.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputRaysFloor.mat
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputRaysFloor.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputRaysFloor_Highlighted.mat
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputRaysFloor_Highlighted.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputRaysFloor_Pressed.mat
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputData/InputRaysFloor_Pressed.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/HolographicButtonSeeItSayItLabel.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/PressableButtonFrontPlate.asset
  Assets/MixedRealityToolkit.SDK/Features/Utilities/InputRayUtils.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/InputRayUtils.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/Utilities/PointerUtils.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputRayUtilsTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputRayUtilsTests.cs.meta
  Assets/MixedRealityToolkit/Utilities/MathUtilities.cs
  Documentation/Input/InputEvents.md
  Documentation/Input/InputState.md
  Documentation/Input/Overview.md
Labels: Utilities

#5972 BoundingBox proximity pointer null check
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
Labels: UX Controls - Bounding Box

#5902 Add input scene to test new controller input axes
  Assets/MixedRealityToolkit.Tools/Microsoft.MixedReality.Toolkit.Tools.asmdef
  Assets/MixedRealityToolkit.Tools/RuntimeTools.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Inspectors.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Inspectors/DisplayInputResultInspector.cs
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Inspectors/DisplayInputResultInspector.cs.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/InputAxesChecker.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/InputAxesChecker/DisplayInputResult.cs
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/InputAxesChecker/DisplayInputResult.cs.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/InputAxesChecker/InputAxesChecker.unity
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/InputAxesChecker/InputAxesChecker.unity.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/Microsoft.MixedReality.Toolkit.Tools.Runtime.asmdef
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/Microsoft.MixedReality.Toolkit.Tools.Runtime.asmdef.meta
  Assets/MixedRealityToolkit/Definitions/Devices/ControllerMappingLibrary.cs
  ProjectSettings/InputManager.asset
Labels: Example/Test Scene, Input System

#6002 SpatialMesh Editor cleanup fix
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
Labels: Release Blocker

#6046 feedback: move experimental service managers to separate folder
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Boundary.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Boundary/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Boundary/Prefabs/BoundarySystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Boundary/Prefabs/BoundarySystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Boundary/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Boundary/Scripts/BoundarySystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Boundary/Scripts/BoundarySystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Camera.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Camera/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Camera/Prefabs/CameraSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Camera/Prefabs/CameraSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Camera/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Camera/Scripts/CameraSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Camera/Scripts/CameraSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Diagnostics.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Diagnostics/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Diagnostics/Prefabs/DiagnosticsSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Diagnostics/Prefabs/DiagnosticsSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Diagnostics/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Diagnostics/Scripts/DiagnosticsSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Diagnostics/Scripts/DiagnosticsSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Input.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Input/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Input/Prefabs/InputSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Input/Prefabs/InputSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Input/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Input/Scripts/InputSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Input/Scripts/InputSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/SpatialAwareness.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/SpatialAwareness/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/SpatialAwareness/Prefabs/SpatialAwarenessSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/SpatialAwareness/Prefabs/SpatialAwarenessSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/SpatialAwareness/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/SpatialAwareness/Scripts/SpatialAwarenessSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/SpatialAwareness/Scripts/SpatialAwarenessSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Support.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Support/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Support/Scripts/BaseServiceManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Support/Scripts/BaseServiceManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Teleport.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Teleport/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Teleport/Prefabs/TeleportSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Teleport/Prefabs/TeleportSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Teleport/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Teleport/Scripts/TeleportSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Teleport/Scripts/TeleportSystemManager.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/CoreServicesTests.cs
Labels: Customer Feedback, Experimental, Services

#6019 Ux interaction destroy/disable fix and tests
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ManipulationHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/BoundingBoxTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ManipulationHandlerTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
Labels: Release Blocker

#5949 Fix spam of ReflectionTypeLoadExceptions in some scenarios in Unity Editor. Fixes #5419.
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/ExtensionServiceCreator.cs
  Assets/MixedRealityToolkit/Extensions/AssemblyExtensions.cs
  Assets/MixedRealityToolkit/Extensions/AssemblyExtensions.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityProfileCloneWindow.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/TypeReferencePropertyDrawer.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/ServiceFacadeInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityInspectorUtility.cs
Labels: Release Blocker

#6040 Uses/anborod/nuget documentation
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/NuGet/AddNewSource.png
  Documentation/Images/NuGet/ManageNuGetPackages.png
  Documentation/Images/NuGet/NuGetForUnityPreferencesTab.png
  Documentation/Images/NuGet/ProjectPreferences.png
  Documentation/Images/NuGet/SearchBox.png
  Documentation/Images/NuGet/UpdatesTab.png
  Documentation/MRTKNuGetPackage.md
Labels: Package Management - NuGet

#6064 Fix 5993 - Remove Usage of Shared Materials with Clipping Primitives
  Assets/MixedRealityToolkit/Inspectors/ClippingBoxInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingPlaneInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingPrimitiveInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingPrimitiveInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ClippingSphereInspector.cs
  Assets/MixedRealityToolkit/Utilities/StandardShader/ClippingPrimitive.cs
Labels: Shaders / Materials, Urgency-Soon

#6069 Cherrypick/6048
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHololens2UnityUI.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonUnityUI.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
Labels: Release Blocker

#6067 Fix intermittently failing ManipulationHandlerOriginOffset test
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ManipulationHandlerTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/TestHand.cs
Labels: Release Blocker

#6081 Fix pressable button test failures related to missing Text Mesh Pro Essentials
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PlayModeTestUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
Labels: Release Blocker, Tests

#6079 Fix black piano key not responding to hand tracking input.
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/Piano.prefab
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/PianoBlackKey.prefab
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/PianoBlackKey.prefab.meta
Labels: Release Blocker

#6063 Add documentation (and description panel) for controller mapping tool
  Assets/MixedRealityToolkit.Tools/RuntimeTools/StandardAssets.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/StandardAssets/Prefabs.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/StandardAssets/Prefabs/SceneDescriptionPanel.prefab
  Assets/MixedRealityToolkit.Tools/RuntimeTools/StandardAssets/Prefabs/SceneDescriptionPanel.prefab.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/ControllerMappingTool.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/ControllerMappingTool/ControllerMappingTool.unity
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/ControllerMappingTool/ControllerMappingTool.unity.meta
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/ControllerMappingTool/DisplayInputResult.cs
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/ControllerMappingTool/DisplayInputResult.cs.meta
  Documentation/Images/ControllerMappingTool/ActiveControls.png
  Documentation/Images/ControllerMappingTool/AllControls.png
  Documentation/Images/ControllerMappingTool/ControllerMappingTool.png
  Documentation/Input/CreateDataProvider.md
  Documentation/Tools/ControllerMappingTool.md
  Documentation/toc.yml
Labels: Documentation, Example/Test Scene, Release Blocker

#6035 apply same workaround as in EditorSceneUtils
  Assets/MixedRealityToolkit/Utilities/Scenes/RuntimeSceneUtils.cs
Labels: Release Blocker

#5868 [Shell-Parity] Speech command confirmation label
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.unity
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/SpeechInputExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/SpeechInputExamples.unity.meta
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/SpeechInputHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Animations/SpeechConfirmationLabel.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Animations/SpeechConfirmationLabel/SpeechConfirmationLabel.anim
  Assets/MixedRealityToolkit.SDK/Features/UX/Animations/SpeechConfirmationLabel/SpeechConfirmationLabel.anim.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Animations/SpeechConfirmationLabel/SpeechConfirmationLabel.controller
  Assets/MixedRealityToolkit.SDK/Features/UX/Animations/SpeechConfirmationLabel/SpeechConfirmationLabel.controller.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlateLabel.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlateLabel.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Tooltips/LabelOnlyTooltip.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Tooltips/LabelOnlyTooltip.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Tooltips/SpeechConfirmationTooltip.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Tooltips/SpeechConfirmationTooltip.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/DestroyOnAnimationComplete.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/DestroyOnAnimationComplete.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/SpeechConfirmationTooltip.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/SpeechConfirmationTooltip.cs.meta
  Assets/MixedRealityToolkit.SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Documentation/Images/Input/SpeechCommands.PNG
  Documentation/Images/Input/SpeechCommandsProfile.png
  Documentation/Images/Input/SpeechCommands_SpeechInputHandler1.png
  Documentation/Images/Input/SpeechCommands_SpeechInputHandler2.png
  Documentation/Images/Input/SpeechExampleScene.png
  Documentation/Input/InputActions.md
  Documentation/Input/Speech.md
Labels: Release Blocker, Shell Parity, UX Controls

#6097 Stops ToolTip inspectors from continuously refreshing
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Tooltips/ToolTipConnectorInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Tooltips/ToolTipInspector.cs
Labels: Bug, Editor, UX Controls

#6049 Add an example to demo Interactable with UnityUI support
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scenes/InteractablesExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scripts/HideAfterEnabled.cs
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scripts/HideAfterEnabled.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractableButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/UnityUIInteractableButton.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/UIMaterialInstantiator.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/UIMaterialInstantiator.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableColorTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableShaderTheme.cs
  Documentation/README_Button.md
Labels: UnityUI

#6029 Updated default simulation mouse rotation speed for improved usability
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoInputSimulationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/GestureEventsInputSimulationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityInputSimulationProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputSimulationProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens1/DefaultHoloLens1InputSimulationProfile.asset
Labels: Input Simulation

#6123 Update buffer size debug output for help mitigating issue
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
Labels: Documentation

#6126 Update MRTK_Development to Version 2.2.0
  Assets/MixedRealityToolkit.Examples/Version.txt
  Assets/MixedRealityToolkit.Extensions/Version.txt
  Assets/MixedRealityToolkit.Providers/Version.txt
  Assets/MixedRealityToolkit.SDK/Version.txt
  Assets/MixedRealityToolkit.Services/Version.txt
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  Assets/MixedRealityToolkit.Tests/Version.txt
  Assets/MixedRealityToolkit.Tools/Version.txt
  Assets/MixedRealityToolkit/Version.txt
  Documentation/Contributing/Roadmap.md
  ProjectSettings/ProjectSettings.asset
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/ci-release.yml
  pipelines/ci.yaml
  pipelines/pr.yaml
Labels: Package Management - NuGet

#6110 Update asset retargeter to account for anim files with script references
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
Labels: Build / Tools, Release Blocker

#6141 fix ?. usages for obvious UnityEngine.Component derived objects
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerHandlerExample.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfileInspector.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/SpatialAwarenessMeshObject.cs
  Assets/MixedRealityToolkit/Utilities/StandardShader/StandardShaderUtility.cs
Labels: Release Blocker

#6109 [Docs] Documentation fix for the Examples Hub
  Assets/MixedRealityToolkit.Examples/Demos/ExamplesHub/Scenes/MRTKExamplesHub.unity
  Documentation/Images/ExamplesHub/MRTK_ExamlesHub_BuildSettings.png
  Documentation/Images/ExamplesHub/MRTK_ExamplesHubToggleFeaturesPanel.png
  Documentation/README_ExampleHub.md
Labels: Documentation, Release Blocker

#6102 [Docs] Bounding Box documentation improvement
  Documentation/Images/BoundingBox/MRTK_BoundingBox_Examples.png
  Documentation/README_BoundingBox.md
Labels: Documentation, Release Blocker

#6111 [Docs] Button documentation improvement
  Documentation/Images/Button/MRTK_Button_IconUpdate1.png
  Documentation/Images/Button/MRTK_Button_IconUpdate2.png
  Documentation/Images/Button/MRTK_Button_IconUpdate3.png
  Documentation/Images/Button/MRTK_Button_IconUpdate4.png
  Documentation/README_Button.md
Labels: Release Blocker

#6127 Filter out HL2 for the remoting select bug
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/BaseWindowsMixedRealitySource.cs
Labels: Holographic Remoting
