Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-02, with the labels that each got.

#3372 [vNext][UX] Line Usability Tweaks
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/BaseLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/BaseLineDataProviderInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/EllipseLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/ParabolaPhysicalLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/ParabolicConstrainedLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/RectangleLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/SimpleLineDataProviderInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/SplineDataProviderInspector.cs
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/BaseMixedRealityLineDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/RectangleLineDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/BaseMixedRealityLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/MixedRealityLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/StripMeshLineRenderer.cs
Labels: UX Controls

#3396 Update FocusProvider's UIRaycastCamera logic
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
Labels: Ready for Review

#3398 Update controller mappings
  Assets/MixedRealityToolkit.Providers/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
Labels: Ready for Review

#3397 New static helper methods to BoundsExtensions
  Assets/MixedRealityToolkit/Extensions/BoundsExtensions.cs
Labels: Enhancement

#3405 Synchronize ManipulationHandler GUID
  Assets/MixedRealityToolkit.Examples/Demos/UX/TwoHandManipulation/ManipulationExample.unity
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ManipulationHandler.cs.meta
Labels: Ready for Review

#3407 [vNext][UX] Interactable: Replaced TextMeshPro with TextMesh
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/HolographicButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/HolographicButtonToggle.prefab
Labels: UX Controls

#3408 Feature/mrtk_interactable into mrtk_dev
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/HolographicButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/HolographicButtonToggle.prefab
Labels: Ready for Review

#3411 Sync interactable guids
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scenes/InteractablesGallery.unity
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonContent.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonPlate.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/HolographicButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/HolographicButton.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/HolographicButtonToggle.prefab
Labels: Ready for Review

#3412 Remove IMixedRealityInputHandler from DragAndDropHandler
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/DragAndDropHandler.cs
Labels: Ready for Review

#3388 Update SpectatorView (Preview) README.md
  Assets/HoloToolkit-Preview/SpectatorView/README.md
Labels: Documentation, SpectatorView

#3419 Update Spatial Awareness system cleanup
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
Labels: Spatial Mapping / Awareness

#3413 Update solvers example
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Prefabs/SolverSwappingVolume.prefab
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scripts/SwapVolume.cs
Labels: Example/Test Scene, Ready for Review, Solvers

#3426 Fix pointer profile serialization
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
Labels: Ready for Review

#3424 fix GetObserver[s]<T> return type, cleanup unneeded / commented code
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/EventDatum/SpatialAwareness/MixedRealitySpatialAwarenessEventData.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
Labels: BREAKING CHANGE, MRTK Approved, Spatial Mapping / Awareness, v2 Adoption Blocking, v2 Bugs, v2 Feature Change

#3431 Update Readme.md - SpectatorView Preview
  Assets/HoloToolkit-Preview/SpectatorView/README.md
Labels: Documentation, SpectatorView

#3445 Update MixedRealityToolkit-Generated to .Generated to match style
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
Labels: Ready for Review

#3451 Add documentation and images folders plus images for packaging page
  Documentation/images/mrtk-experimental.jpg
  Documentation/images/mrtk-extensions.jpg
  Documentation/images/mrtk-foundation.jpg
  Documentation/readme.md
Labels: Documentation

#3410 [vNext][UX] Tooltip Examples Scene
  Assets/MixedRealityToolkit.Examples/Demos/UX/Tooltips.meta
  Assets/MixedRealityToolkit.Examples/Demos/UX/Tooltips/Scenes.meta
  Assets/MixedRealityToolkit.Examples/Demos/UX/Tooltips/Scenes/TooltipExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Tooltips/Scenes/TooltipExamples.unity.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/ToolTipSpawner.cs
Labels: UX Controls

#3459 Expose RadialView's settings as public properties
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/RadialView.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/RadialViewReferenceDirection.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/RadialViewReferenceDirection.cs.meta
Labels: Ready for Review, Solvers

#3462 input stability and performance fixes
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/InputSystemGlobalListener.cs
  Assets/MixedRealityToolkit/Definitions/Physics/RayStep.cs
  Assets/MixedRealityToolkit/Utilities/CameraCache.cs
Labels: Input / Interactions, v2 Bugs

#3467 add images for boundary system overview page
  Documentation/images/boundariesUnavailableAlert.jpg
  Documentation/images/boundaryObjectPhysicsLayerSelection.jpg
  Documentation/images/boundarySystemSettings.jpg
  Documentation/images/boundarySystemTypeSelection.jpg
  Documentation/images/boundaryVisualizationProfile.jpg
  Documentation/images/experienceScale.jpg
Labels: Documentation

#3468 add images for spatial awareness overview page
  Documentation/images/additionalServicesSettings.jpg
  Documentation/images/spatialAwarenessMeshObserverProfile.jpg
  Documentation/images/spatialAwarenessSystemSettings.jpg
  Documentation/images/spatialAwarenessSystemTypeSelection.jpg
  Documentation/images/windowsMixedRealitySpatialMeshObserver.jpg
  Documentation/images/windowsMixedRealitySpatialMeshObserverTypeSelection.jpg
Labels: Documentation

#3469 update mesh observer profile image
  Documentation/images/spatialAwarenessMeshObserverProfile.jpg
Labels: Documentation

#3470 resize boundary profile image
  Documentation/images/boundaryVisualizationProfile.jpg
Labels: Documentation

#3473 new documentation images
  Documentation/images/boundarySystemBoundaryCeilingSettings.jpg
  Documentation/images/boundarySystemBoundaryWallSettings.jpg
  Documentation/images/boundarySystemFloorSettings.jpg
  Documentation/images/boundarySystemGeneralSettings.jpg
  Documentation/images/boundarySystemPlayAreaSettings.jpg
  Documentation/images/boundarySystemTrackedAreaSettings.jpg
  Documentation/images/spatialAwarenessMeshDisplaySettings.jpg
  Documentation/images/spatialAwarenessMeshGeneralSettings.jpg
  Documentation/images/spatialAwarenessMeshLevelOfDetailSettings.jpg
  Documentation/images/spatialAwarenessMeshObserverProfile.jpg
  Documentation/images/spatialAwarenessMeshPhysicsSettings.jpg
Labels: Documentation

#3455 Search all controller mappings before trying to assign a default interaction
  Assets/MixedRealityToolkit/Providers/BaseController.cs
Labels: Input / Interactions

#3458 Replace beta 1 diagnostics visualization with a modified VisualProfiler-Unity fork
  Assets/MixedRealityToolkit.Examples/Demos/Diagnostics/Scenes/DiagnosticsDemo.unity
  Assets/MixedRealityToolkit.Examples/Demos/Diagnostics/Scripts/DiagnosticsDemoControls.cs
  Assets/MixedRealityToolkit.SDK/Features/Diagnostics.meta
  Assets/MixedRealityToolkit.SDK/Features/Diagnostics/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Features/Diagnostics/Scripts/DiagnosticsHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/Diagnostics/Scripts/DiagnosticsHandler.cs.meta
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs.meta
  Assets/MixedRealityToolkit/Definitions/Diagnostics/CpuUseTracker.cs
  Assets/MixedRealityToolkit/Definitions/Diagnostics/CpuUseTracker.cs.meta
  Assets/MixedRealityToolkit/Definitions/Diagnostics/FpsUseTracker.cs
  Assets/MixedRealityToolkit/Definitions/Diagnostics/FpsUseTracker.cs.meta
  Assets/MixedRealityToolkit/Definitions/Diagnostics/MemoryReading.cs
  Assets/MixedRealityToolkit/Definitions/Diagnostics/MemoryUseTracker.cs
  Assets/MixedRealityToolkit/Definitions/Diagnostics/MemoryUseTracker.cs.meta
  Assets/MixedRealityToolkit/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
  Assets/MixedRealityToolkit/EventDatum/Diagnostics/DiagnosticsEventData.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/Diagnostics/IMixedRealityDiagnosticsSystem.cs
  NOTICE.md
Labels: BREAKING CHANGE, Diagnostics / Tools, v2 Adoption Blocking

#3483 Cherry-pick readme changes from mrtk_release
  README.md
Labels: Documentation

#3486 Update controller pointer line to support color again
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_DefaultPointerLine.mat
Labels: Ready for Review

#3489 Add additional null checking in the Orbital solver
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/Orbital.cs
Labels: Ready for Review, Solvers

#3491 Beta2 minor clean-up
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_Standard_Blue.mat.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_Standard_DarkBrown.mat
Labels: Ready for Review

#3490 Change WMR.RemoveController to take in an InteractionSource
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
Labels: Ready for Review

#3506 Read the default profile and default platforms from the ExtensionServiceAttribute
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit/Attributes/MixedRealityExtensionServiceAttribute.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
Labels: Ready for Review

#3508 Pre-beta2 spell check pass
  Assets/MixedRealityToolkit.Examples/Demos/Diagnostics/Scripts/DiagnosticsDemoControls.cs
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/InspectorFields/Inspectors/InspectorFieldsExampleInspector.cs
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/InspectorFields/Scripts/InspectorFieldsExample.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ManipulationHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Layout/ButtonBackgroundSize.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Layout/ButtonBackgroundSizeOffset.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/States/InteractableStateModel.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/States/InteractableStates.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/States/States.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Themes/InteractableAnimatorTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Collections/TileGridObjectCollection.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/CursorModifier.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Receivers/InteractionReceiver.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/ToolTip.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundBlob.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundMesh.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/Easing.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/InteractableHighlight.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/StatesInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/ThemeInspector.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit.Tests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit/Extensions/LayerExtensions.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityPreferences.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpatialAwarenessMeshObserverProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/TypeReferencePropertyDrawer.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorFieldsUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/Services/BaseService.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MixedRealityToolkit/Utilities/InspectorFields/InspectorField.cs
  Assets/MixedRealityToolkit/Utilities/Physics/Interpolator.cs
  Assets/MixedRealityToolkit/Utilities/Physics/TwoHandScaleLogic.cs
Labels: Ready for Review

#3515 Fix example scenes setup around FocusProvider
  Assets/MixedRealityToolkit.Examples/Demos/UX/BoundingBox/BoundingBoxExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Tooltips/Scenes/TooltipExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/InspectorFields/Scenes/InspectorFieldsGallery.unity
Labels: Ready for Review

#3517 Fix spatial demo scene
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity
Labels: Example/Test Scene, Spatial Mapping / Awareness
