Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-04, with the labels that each got.

#3725 Pointer focus dispatch rework
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
Labels: InternalMerge

#3701 Add public accessors for BaseCursor fields
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
Labels: InternalMerge

#3763 Small fixes for PressableButton
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
Labels: UX Controls

#3766 Fix error when auto-configuring input data provider
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
Labels: Editor, v2 Bugs

#3774 Getting started documentation for spatial awareness
  Documentation/SpatialAwareness/ConfiguringSpatialAwarenessMeshObserver.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/toc.yml
  External/ReadMeImages/MRTK_ConfiguredHierarchy.png
  External/ReadMeImages/SpatialAwareness/MRTKConfig_SpatialAwareness.png
  External/ReadMeImages/SpatialAwareness/MeshObserverDisplaySettings.png
  External/ReadMeImages/SpatialAwareness/MeshObserverGeneralSettings.png
  External/ReadMeImages/SpatialAwareness/MeshObserverLevelOfDetailSettings.png
  External/ReadMeImages/SpatialAwareness/MeshObserverPhysicsSettings.png
  External/ReadMeImages/SpatialAwareness/SpatialAwarenessMeshObserverProfile.png
  External/ReadMeImages/SpatialAwareness/SpatialAwarenessProfile.png
  External/ReadMeImages/SpatialAwareness/SpatialAwarenessSelectObserver.png
  External/ReadMeImages/SpatialAwareness/SpatialAwarenessSelectSystemType.png
Labels: Documentation, Spatial Mapping / Awareness, v2 Documentation

#3793 Use texture for dotted line in DefaultPointerController
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/DefaultControllerPointer.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_DefaultPointerLine.mat
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_DefaultPointerLineNoTarget.mat
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_DefaultPointerLineNoTarget.mat.meta
  Assets/MixedRealityToolkit/StandardAssets/Textures/DefaultPointerDottedLine.png
  Assets/MixedRealityToolkit/StandardAssets/Textures/DefaultPointerDottedLine.png.meta
Labels: UX Controls

#3768 Spatial Awareness architecture documentation revision
  Documentation/Architecture/SpatialAwareness/IMixedRealitySpatialAwarenessMeshHandler.md
  Documentation/Architecture/SpatialAwareness/IMixedRealitySpatialAwarenessSurfaceFindingHandler.md
  Documentation/Architecture/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.md
  Documentation/Architecture/SpatialAwareness/IMixedRealitySpatialObserver.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessEventData.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessMeshHandler.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessPlanarSurfaceHandler.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessProfile.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessProfileInspector.md
  Documentation/Architecture/SpatialAwareness/MixedRealitySpatialAwarenessSystem.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessMeshDisplayOptions.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessMeshLevelOfDetail.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessSurfaceTypes.md
  Documentation/Architecture/SpatialAwareness/SpatialAwarenessSystemArchitecture.md
  Documentation/Architecture/SpatialAwareness/toc.yml
  Documentation/Architecture/toc.yml
  External/ReadMeImages/SpatialAwareness/IMixedRealitySpatialAwarenessMeshHandler.png
  External/ReadMeImages/SpatialAwareness/IMixedRealitySpatialAwarenessSurfaceFindingHandler.png
  External/ReadMeImages/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.png
  External/ReadMeImages/SpatialAwareness/IMixedRealitySpatialObserver.png
  External/ReadMeImages/SpatialAwareness/MixedRealitySpatialAwarenessEventData.png
  External/ReadMeImages/SpatialAwareness/SpatialAwarenessSystemArchitecture.png
Labels: Documentation, Spatial Mapping / Awareness, v2 Documentation

#3799 Obsolete scrub
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Receivers/InteractionReceiver.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/ToolTipSpawner.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/GazeHandHelper.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/Handlers/IMixedRealityInputHandler.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/Handlers/IMixedRealitySpatialInputHandler.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/Handlers/IMixedRealitySpatialInputHandler.cs.meta
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityInputSystem.cs
Labels: Release Candidate

#3813 Update the Getting Started page to mention the required windows SDK.
  Documentation/GettingStartedWithTheMRTK.md
Labels: Release Candidate

#3804 Change the namespace of BoundingBox to the UI one (from Utilities)
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/ToggleBoundingBox.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBoxHelper.cs
Labels: Release Candidate, UX Controls

#3811 Getting started and configuring documentation for the diagnostics system
  Documentation/Diagnostics/ConfiguringDiagnostics.md
  Documentation/Diagnostics/DiagnosticsSystemGettingStarted.md
  Documentation/Diagnostics/UsingVisualProfiler.md
  Documentation/toc.yml
  External/ReadMeImages/Diagnostics/DiagnosticsGeneralSettings.png
  External/ReadMeImages/Diagnostics/DiagnosticsProfile.png
  External/ReadMeImages/Diagnostics/DiagnosticsProfilerSettings.png
  External/ReadMeImages/Diagnostics/DiagnosticsSelectSystemType.png
  External/ReadMeImages/Diagnostics/MRTKConfig_Diagnostics.png
Labels: Diagnostics / Tools, Documentation, Release Candidate, v2 Documentation

#3810 profiler sample rate was unbounded in the inspector
  Assets/MixedRealityToolkit/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
Labels: Diagnostics / Tools, Release Candidate

#3760 First pass at input documentation
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityInputSystemProfile.asset.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealitySpeechCommandsProfile.asset.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityToolkitConfigurationProfile.asset.meta
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.unity
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.unity.meta
  Documentation/Input/Controllers.md
  Documentation/Input/Dictation.md
  Documentation/Input/Gestures.md
  Documentation/Input/InputActions.md
  Documentation/Input/InputEvents.md
  Documentation/Input/InputProviders.md
  Documentation/Input/Overview.md
  Documentation/Input/Pointers.md
  Documentation/Input/Speech.md
  Documentation/toc.yml
  External/ReadMeImages/Input/ControllerInputMapping.png
  External/ReadMeImages/Input/Diagrams.vsdx
  External/ReadMeImages/Input/DictationDataProvider.png
  External/ReadMeImages/Input/EventFlow.png
  External/ReadMeImages/Input/GestureProfile.png
  External/ReadMeImages/Input/InputActions.png
  External/ReadMeImages/Input/PointerProfile.png
  External/ReadMeImages/Input/RegisteredServiceProviders.PNG
  External/ReadMeImages/Input/SpeechCommands.PNG
Labels: Release Candidate

#3812 Add a documentation section on performance
  Documentation/Performance/PerfGettingStarted.md
  Documentation/toc.yml
Labels: Release Candidate

#3805 Boundary system documentation (and a minor fix to the spatial docs)
  Documentation/Boundary/BoundarySystemGettingStarted.md
  Documentation/Boundary/ConfiguringBoundaryVisualization.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/toc.yml
  External/ReadMeImages/Boundary/BoundarySelectSystemType.png
  External/ReadMeImages/Boundary/BoundaryVisualizationCeilingSettings.png
  External/ReadMeImages/Boundary/BoundaryVisualizationFloorSettings.png
  External/ReadMeImages/Boundary/BoundaryVisualizationGeneralSettings.png
  External/ReadMeImages/Boundary/BoundaryVisualizationPlayAreaSettings.png
  External/ReadMeImages/Boundary/BoundaryVisualizationProfile.png
  External/ReadMeImages/Boundary/BoundaryVisualizationTrackedAreaSettings.png
  External/ReadMeImages/Boundary/BoundaryVisualizationWallSettings.png
  External/ReadMeImages/Boundary/MRTKConfig_Boundary.png
Labels: Boundaries, Documentation, v2 Documentation

#3807 Cleanup and update of ET navigation demo and scripts
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Demo_ScrollPanZoom/Scripts/BaseClasses/PanZoomBase.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Demo_ScrollPanZoom/Scripts/BaseClasses/PanZoomBase_RectTransf.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Demo_ScrollPanZoom/Scripts/BaseClasses/PanZoomBase_Texture.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Demo_ScrollPanZoom/Scripts/PanZoom_RectTransf.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Demo_ScrollPanZoom/Scripts/PanZoom_Texture.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Demo_ScrollPanZoom/Scripts/Scroll_RectTransf.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Demo_ScrollPanZoom/Scripts/Scroll_Texture.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Demo_ScrollPanZoom/Scripts/Target_MoveToCamera.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Scenes/mrtk_eyes_00_RootScene.unity
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Scenes/mrtk_eyes_03_Navigation.unity
Labels: Eye Tracking

#3819 Removed variants of methods to raise input events that receive no handedness.
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/EventDatum/Input/HandTrackingInputEventData.cs
  Assets/MixedRealityToolkit/EventDatum/Input/InputEventData.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchController.cs
Labels: Release Candidate

#3828 Add HTK -> MRTK API porting guide
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/HTKToMRTKPortingGuide.md
  Documentation/toc.yml
Labels: Release Candidate, v2 Documentation

#3836 Update GettingStartedWithTheMRTK.md
  Documentation/GettingStartedWithTheMRTK.md
Labels: Release Candidate, v2 Documentation

#3794 PressableButton Inspector Improvement
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/PressableButtonInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/PressableButtonInspector.cs.meta
  Assets/MixedRealityToolkit/Attributes/ReadOnlyAttribute.cs
  Assets/MixedRealityToolkit/Attributes/ReadOnlyAttribute.cs.meta
Labels: Editor, UX Controls

#3839 add mrtk packages documentation
  Documentation/Packaging/MRTK_Packages.md
  Documentation/toc.yml
  External/ReadMeImages/Packaging/MRTKExperimental.png
  External/ReadMeImages/Packaging/MRTKExtensions.png
  External/ReadMeImages/Packaging/MRTKFoundation.png
Labels: Release Candidate, v2 Documentation

#3821 Allow extension of MixedRealityInputSystem
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
Labels: Input / Interactions, Release Candidate

#3843 Fix See-it, Say-it label delay timing regression: Easing was unchecked. Interactable theme updated.
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/HolographicButtonSeeItSayItLabel.asset
Labels: Release Candidate, UX Controls

#3837 add authors doc
  Documentation/Authors.md
  Documentation/toc.yml
Labels: Release Candidate, v2 Documentation

#3832 Update AppBar to make touch events work in all cases
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/AppBar/AppBarButton.cs
  Assets/MixedRealityToolkit.Services/InputSystem/NearInteractionTouchable.cs
Labels: Release Candidate, UX Controls

#3851 add using the visual profiler documentation
  Documentation/Diagnostics/ConfiguringDiagnostics.md
  Documentation/Diagnostics/DiagnosticsSystemGettingStarted.md
  Documentation/Diagnostics/UsingVisualProfiler.md
  Documentation/toc.yml
  External/ReadMeImages/Diagnostics/VisualProfiler.png
  External/ReadMeImages/Diagnostics/VisualProfilerMemory.png
  External/ReadMeImages/Diagnostics/VisualProfilerMissedFrames.png
Labels: Diagnostics / Tools, Release Candidate, v2 Documentation

#3855 Eye Tracking documentation kick off
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
  Documentation/EyeTracking/EyeTracking_Cursor.md
  Documentation/EyeTracking/EyeTracking_ExamplesOverview.md
  Documentation/EyeTracking/EyeTracking_EyeGazeProvider.md
  Documentation/EyeTracking/EyeTracking_Main.md
  Documentation/EyeTracking/EyeTracking_Navigation.md
  Documentation/EyeTracking/EyeTracking_Positioning.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/EyeTracking/EyeTracking_Visualization.md
  Documentation/toc.yml
  External/ReadMeImages/EyeTracking/mrtk_et_EyeTrackingTarget.jpg
  External/ReadMeImages/EyeTracking/mrtk_et_EyeTrackingTarget_Notification.jpg
  External/ReadMeImages/EyeTracking/mrtk_et_compilation.png
  External/ReadMeImages/EyeTracking/mrtk_et_gazeinput.jpg
  External/ReadMeImages/EyeTracking/mrtk_et_heatmaps.png
  External/ReadMeImages/EyeTracking/mrtk_et_nav_panzoom.jpg
  External/ReadMeImages/EyeTracking/mrtk_et_nav_rotate.jpg
  External/ReadMeImages/EyeTracking/mrtk_et_nav_scroll.jpg
  External/ReadMeImages/EyeTracking/mrtk_et_nav_scroll_ettarget.jpg
  External/ReadMeImages/EyeTracking/mrtk_et_navigation.png
  External/ReadMeImages/EyeTracking/mrtk_et_placeholder.png
  External/ReadMeImages/EyeTracking/mrtk_et_positioning.png
  External/ReadMeImages/EyeTracking/mrtk_et_positioning_slider.png
  External/ReadMeImages/EyeTracking/mrtk_et_targetselect.png
  External/ReadMeImages/EyeTracking/mrtk_setup_configprofile.png
  External/ReadMeImages/EyeTracking/mrtk_setup_configure.png
  External/ReadMeImages/EyeTracking/mrtk_setup_eyes_dataprovider.png
  External/ReadMeImages/EyeTracking/mrtk_setup_eyes_gazeprovider.png
  External/ReadMeImages/EyeTracking/mrtk_setup_eyes_gazesettings.png
  External/ReadMeImages/EyeTracking/mrtk_setup_eyes_simulate.png
  README.md
Labels: Release Candidate, UX Controls

#3866 Properly set up example scenes with input module
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Scenes/mrtk_eyes_00_RootScene.unity
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Scenes/Glb-Loading-Demo.unity
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Scenes/Gltf-Loading-Demo.unity
  Assets/MixedRealityToolkit.Examples/Demos/Utilities/InspectorFields/Scenes/InspectorFieldsExamples.unity
Labels: RC1 Bug

#3874 add componentization document
  Documentation/Packaging/MRTK_Modularization.md
  Documentation/toc.yml
  External/ReadMeImages/Packaging/AccessingViaInterfaces.png
Labels: Documentation, Package Management, Release Candidate, v2 Documentation

#3750 Adds 'Try Repair' to SystemType property drawer with missing class reference
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/SelectRepairedTypeWindow.cs
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/SelectRepairedTypeWindow.cs.meta
  Assets/MixedRealityToolkit/Inspectors/PropertyDrawers/TypeReferencePropertyDrawer.cs
Labels: Editor

#3888 Adds 'Utilities' to Mixed Reality Toolkit menu
  Assets/MixedRealityToolkit/Inspectors/ChannelPackerWindow.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
Labels: Editor

#3935 Release frame after its been used for aruco marker detection
  Assets/MixedRealityToolkit.Extensions/PhotoCapture/HoloLensCamera.cs
Labels: SpectatorView

#3934 Make camera frame helper classes serializable for future networking synchronization
  Assets/MixedRealityToolkit.Extensions/PhotoCapture/CameraExtrinsics.cs
  Assets/MixedRealityToolkit.Extensions/PhotoCapture/CameraIntrinsics.cs
  Assets/MixedRealityToolkit.Extensions/PhotoCapture/StreamDescription.cs
Labels: SpectatorView

#3936 Add socketer component as an extension to enable TCP networking for shared experiences
  Assets/MixedRealityToolkit.Extensions/Socketer.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scenes.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scenes/SocketerExampleScene.unity
  Assets/MixedRealityToolkit.Extensions/Socketer/Scenes/SocketerExampleScene.unity.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/IncomingMessage.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/IncomingMessage.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/MessageEvent.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/MessageEvent.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/Microsoft.MixedReality.Toolkit.Extensions.Experimental.Socketer.asmdef
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/Microsoft.MixedReality.Toolkit.Extensions.Experimental.Socketer.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/OutgoingMessage.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/OutgoingMessage.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/SocketEndpoint.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/SocketEndpoint.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/Socketer.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/Socketer.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/SocketerClient.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/SocketerClient.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/TCPConnectionManager.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/TCPConnectionManager.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/Test.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/Test/TCPConnectionManagerTest.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/Test/TCPConnectionManagerTest.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Socketer.md
  Assets/MixedRealityToolkit.Extensions/Socketer/Socketer.md.meta
Labels: Sharing / Networking, SpectatorView

#3937 Add a qr code extension to the MRTK to enable public facing development around spectator view calibration
  Assets/MixedRealityToolkit.Extensions/MarkerDetection/IMarkerDetector.cs
  Assets/MixedRealityToolkit.Extensions/QRCodesTracker.meta
  Assets/MixedRealityToolkit.Extensions/QRCodesTracker/Microsoft.MixedReality.Toolkit.Extensions.Experimental.QRCodesTracker.asmdef
  Assets/MixedRealityToolkit.Extensions/QRCodesTracker/Microsoft.MixedReality.Toolkit.Extensions.Experimental.QRCodesTracker.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/QRCodesTracker/QRCodesTracker.md
  Assets/MixedRealityToolkit.Extensions/QRCodesTracker/QRCodesTracker.md.meta
  Assets/MixedRealityToolkit.Extensions/QRCodesTracker/Scripts.meta
  Assets/MixedRealityToolkit.Extensions/QRCodesTracker/Scripts/QRCodesManager.cs
  Assets/MixedRealityToolkit.Extensions/QRCodesTracker/Scripts/QRCodesManager.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Microsoft.MixedReality.Toolkit.Extensions.Experimental.SpectatorView.asmdef
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/ArUco/HoloLens/SpectatorViewPluginArUcoMarkerDetector.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/QRCodeMarkerDetector.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/QRCodeMarkerDetector.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/QRCodeMarkerVisual.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/QRCodeMarkerVisual.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv0.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv0.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv1.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv1.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv10.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv10.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv11.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv11.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv12.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv12.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv13.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv13.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv14.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv14.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv15.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv15.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv16.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv16.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv17.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv17.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv18.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv18.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv19.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv19.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv2.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv2.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv3.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv3.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv4.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv4.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv5.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv5.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv6.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv6.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv7.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv7.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv8.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv8.png.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv9.png
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/QRCode/Resources/sv9.png.meta
Labels: SpectatorView

#3919 Fix GridObjectCollection
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Collections/ScatterObjectCollection.cs
Labels: UX Controls

#3933 PressableButton Inspector Improvement (Part 2)
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/PianoKey.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButton.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/PressableButtonInspector.cs
Labels: Editor, UX Controls

#4002 Eliminate serialization warning message from the input simulation profile
  Assets/MixedRealityToolkit.Examples/Demos/Audio/Scripts/obj.meta
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Dictation/Dictation.MixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/MixedRealityInputSimulationProfileInspector.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/MixedRealityInputSimulationProfileInspector.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/MixedRealityToolkit.Services.InputSimulation.Editor.asmdef
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/MixedRealityToolkit.Services.InputSimulation.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/IInputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/IInputSimulationService.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/MixedRealityInputSimulationProfile.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedGestureHand.cs
Labels: Input / Interactions

#4003 update preferences ui to use full name of MRTK
  Assets/MixedRealityToolkit/Inspectors/MixedRealityPreferences.cs
Labels: Editor

#3996 Remove references to dead field showCursorWithEyeGaze.
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoPointerProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
Labels: Eye Tracking

#4010 Update HandInteractionExample piano prefab assets
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/Piano.prefab
  Assets/MixedRealityToolkit.Examples/StandardAssets/Materials/PianoKeys.mat
  Assets/MixedRealityToolkit.Examples/StandardAssets/Materials/PianoKeys.mat.meta
  Assets/MixedRealityToolkit.Examples/StandardAssets/Models/PianoKeys.fbx
  Assets/MixedRealityToolkit.Examples/StandardAssets/Models/PianoKeys.fbx.meta
  Assets/MixedRealityToolkit.Examples/StandardAssets/Textures/PianoKeys_DIF.png
  Assets/MixedRealityToolkit.Examples/StandardAssets/Textures/PianoKeys_DIF.png.meta
  Assets/MixedRealityToolkit.Examples/StandardAssets/Textures/PianoKeys_NM.png
  Assets/MixedRealityToolkit.Examples/StandardAssets/Textures/PianoKeys_NM.png.meta
Labels: UX Controls

#3990 Stops AppBar from changing custom button visibility
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/AppBar/AppBar.cs
Labels: UX Controls

#3946 Removes GC Alloc from various services
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/DefaultPointerMediator.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedHandDataProvider.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchDeviceManager.cs
Labels: Feature Request

#4048 Disable MRTK scene checker window while build is active
  Assets/MixedRealityToolkit/Utilities/MixedRealityToolkitSceneChecker.cs
Labels: Bug, Editor

#3748 Extension Service Creation Wizard
  Assets/MixedRealityToolkit/Inspectors/ExtensionTemplates.meta
  Assets/MixedRealityToolkit/Inspectors/ExtensionTemplates/ExtensionServiceCreator.cs
  Assets/MixedRealityToolkit/Inspectors/ExtensionTemplates/ExtensionServiceCreator.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ExtensionTemplates/ExtensionServiceWizard.cs
  Assets/MixedRealityToolkit/Inspectors/ExtensionTemplates/ExtensionServiceWizard.cs.meta
  Assets/MixedRealityToolkit/Inspectors/InputTemplates.meta
  Documentation/Utilities/ExtensionServiceCreationWizard.md
  ExtensionTemplates/ExtensionInterfaceTemplate.txt
  ExtensionTemplates/ExtensionProfileTemplate.txt
  ExtensionTemplates/ExtensionScriptTemplate.txt
Labels: Editor, Utilities

#4047 Moves camera management into core CameraService
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.Services/CameraSystem.meta
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs.meta
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityToolkit.Services.CameraSystem.asmdef
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityToolkit.Services.CameraSystem.asmdef.meta
  Assets/MixedRealityToolkit/Definitions/MixedRealityCameraProfile.cs
  Assets/MixedRealityToolkit/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/CameraSystem.meta
  Assets/MixedRealityToolkit/Interfaces/CameraSystem/IMixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit/Interfaces/CameraSystem/IMixedRealityCameraSystem.cs.meta
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_CameraProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_MixedRealityToolkitConfigurationScreen.png
Labels: ARCore, Services

#4105 Move remarks tags outside of summary tags
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/InteractableHighlight.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/RadialView.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityInputActionsProfile.cs
  Assets/MixedRealityToolkit/EventDatum/Input/HandPanEventData.cs
  Assets/MixedRealityToolkit/EventDatum/Input/SourcePoseEventData.cs
  Assets/MixedRealityToolkit/EventDatum/Input/SourceStateEventData.cs
  Assets/MixedRealityToolkit/Extensions/ProcessExtensions.cs
  Assets/MixedRealityToolkit/Interfaces/EventSystem/IMixedRealityEventSystem.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/Handlers/IMixedRealityFocusChangedHandler.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityPointer.cs
  Assets/MixedRealityToolkit/Interfaces/Registrars/IMixedRealityServiceRegistrar.cs
  Assets/MixedRealityToolkit/Interfaces/TeleportSystem/IMixedRealityTeleportHotSpot.cs
  Assets/MixedRealityToolkit/Providers/BaseGenericInputSource.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorAssemblyReloadManager.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/Utilities/Physics/Interpolator.cs
  Assets/MixedRealityToolkit/Utilities/WindowsApiChecker.cs
  Assets/MixedRealityToolkit/Utilities/WindowsDevicePortal/DevicePortal.cs
Labels: Documentation

#3773 Service Facades / Service Custom Inspectors
  Assets/MixedRealityToolkit.Examples/Demos/Audio/Scripts/obj.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/InputSystem/Utilities/CanvasEditorExtension.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Attributes/DocLinkAttribute.cs
  Assets/MixedRealityToolkit/Attributes/DocLinkAttribute.cs.meta
  Assets/MixedRealityToolkit/Attributes/MixedRealityServiceInspectorAttribute.cs
  Assets/MixedRealityToolkit/Attributes/MixedRealityServiceInspectorAttribute.cs.meta
  Assets/MixedRealityToolkit/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitFacadeHandler.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitFacadeHandler.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors.meta
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/BaseMixedRealityServiceInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/BaseMixedRealityServiceInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/FocusProviderInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/FocusProviderInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/HandJointServiceInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/HandJointServiceInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/IMixedRealityServiceInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/IMixedRealityServiceInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/MixedRealityToolkit.Core.Inspectors.ServiceInspectors.asmdef
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/MixedRealityToolkit.Core.Inspectors.ServiceInspectors.asmdef.meta
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/ServiceFacadeInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/ServiceFacadeInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/SpatialAwarenessSystemInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/SpatialAwarenessSystemInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/TeleportSystemInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/TeleportSystemInspector.cs.meta
  Assets/MixedRealityToolkit/Providers/Hands/HandJointService.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/Facades.meta
  Assets/MixedRealityToolkit/Utilities/Facades/ServiceFacade.cs
  Assets/MixedRealityToolkit/Utilities/Facades/ServiceFacade.cs.meta
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_EnableServiceInspectors.PNG
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_ServiceInspectors.PNG
  Documentation/MixedRealityConfigurationGuide.md
Labels: Editor

#4122 Fix Tooltip font materials for single pass instanced rendering.
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Tooltips/Bezier ToolTip.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Tooltips/Simple Line ToolTip.prefab
Labels: UX Controls
