Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-07, with the labels that each got.

#4775 Input recording and playback feature
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Models/BoomBox/glTF/BoomBox_Mat.mat
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Models/Lantern/glTF/LanternPost_Mat.mat
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/CustomProfiles/HandInteractionRecordArticulatedHandPoseMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/InputRecordingControls.cs
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/InputRecordingControls.cs.meta
  Assets/MixedRealityToolkit.Examples/Microsoft.MixedReality.Toolkit.Examples.asmdef
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputRecordingProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputRecordingProfile.asset.meta
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens2/DefaultHoloLens2InputSystemProfile.asset
  Assets/MixedRealityToolkit.Services/InputAnimation.meta
  Assets/MixedRealityToolkit.Services/InputAnimation/IMixedRealityInputPlaybackService.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/IMixedRealityInputPlaybackService.cs.meta
  Assets/MixedRealityToolkit.Services/InputAnimation/IMixedRealityInputRecordingService.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/IMixedRealityInputRecordingService.cs.meta
  Assets/MixedRealityToolkit.Services/InputAnimation/InputAnimation.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/InputAnimation.cs.meta
  Assets/MixedRealityToolkit.Services/InputAnimation/InputAnimationSerializationUtils.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/InputAnimationSerializationUtils.cs.meta
  Assets/MixedRealityToolkit.Services/InputAnimation/InputPlaybackService.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/InputPlaybackService.cs.meta
  Assets/MixedRealityToolkit.Services/InputAnimation/InputRecordingService.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/InputRecordingService.cs.meta
  Assets/MixedRealityToolkit.Services/InputAnimation/MixedRealityInputRecordingProfile.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/MixedRealityInputRecordingProfile.cs.meta
  Assets/MixedRealityToolkit.Services/InputAnimation/MixedRealityToolkit.Services.InputAnimation.asmdef
  Assets/MixedRealityToolkit.Services/InputAnimation/MixedRealityToolkit.Services.InputAnimation.asmdef.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/Microsoft.MixedReality.Toolkit.Services.InputSimulation.Editor.asmdef
  Assets/MixedRealityToolkit.Services/InputSimulation/IInputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedHand.cs
  Assets/MixedRealityToolkit.Tests/Microsoft.MixedReality.Toolkit.Tests.asmdef
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
  Documentation/Images/InputSimulation/MRTK_InputAnimation_PlaybackDiagram.png
  Documentation/Images/InputSimulation/MRTK_InputAnimation_RecordingDiagram.png
  Documentation/InputSimulation/InputAnimationFileFormat.md
  Documentation/InputSimulation/InputAnimationRecording.md
  Documentation/toc.yml
Labels: Input Simulation, Input System

#5033 Adds PlayMode Tests for Interactables + Some Test Cleanup
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.Services/InputSystem/BaseNearInteractionTouchable.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/TestFixture_02_MixedRealityToolkitFilesTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/DefaultPrimaryPointerSelectorTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/BoundingBoxTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputEventSystemTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputSystem/DefaultRaycastProviderTest.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ManipulationHandlerTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Microsoft.MixedReality.Toolkit.Tests.PlayModeTests.asmdef
  Assets/MixedRealityToolkit.Tests/PlayModeTests/NearInteractionTouchableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PlayModeTestUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
  Assets/MixedRealityToolkit/Providers/BaseGenericInputSource.cs
Labels: Tests

#5161 Fixes ToolTip background plane size issues
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/ToolTip.cs
Labels: GA Blocker, UX Controls

#5135 Changes to enable future stand alone support for the input system
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/DefaultRaycastProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputSystem/DefaultRaycastProviderTest.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PlayModeTestUtilities.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityRaycastProvider.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Input System, Services

#5194 Fix regression caused by #5167
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
Labels: Speech

#5128 [Customer request][HTK parity] Add 3D model spatial mesh observer for use in editor
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/Microsoft.MixedReality.Toolkit.Providers.ObjectMeshObserver.asmdef
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/Microsoft.MixedReality.Toolkit.Providers.ObjectMeshObserver.asmdef.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/Profiles.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/Profiles/DefaultObjectMeshObserverProfile.asset
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/Profiles/DefaultObjectMeshObserverProfile.asset.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/RoomFileFormat.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/RoomFileFormat/RoomFileImporter.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/RoomFileFormat/RoomFileImporter.cs.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/RoomFileFormat/RoomFileSerializer.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/RoomFileFormat/RoomFileSerializer.cs.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfile.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfile.cs.meta
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfileInspector.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfileInspector.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/SpatialAwareness.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/SpatialAwareness/ExampleSpatialMesh.room
  Assets/MixedRealityToolkit.SDK/StandardAssets/Models/SpatialAwareness/ExampleSpatialMesh.room.meta
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/SpatialAwarenessMeshObject.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
Labels: Customer Feedback, Editor, HTK Parity, Spatial Mapping / Awareness

#5168 [Shell Parity] [Button] Compressible Button
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButtonHoloLens2.cs
  Assets/MixedRealityToolkit/Utilities/MaintainBorderLightWidth.cs
  Assets/MixedRealityToolkit/Utilities/MaintainBorderLightWidth.cs.meta
Labels: GA Blocker, Shell Parity

#5198 Add customer feedback described in #5196
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
Labels: Customer Feedback, Spatial Mapping / Awareness

#5231 Fix crefs that were breaking the docs build
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Components/FocusRaycastTestProxy.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Components/TestPointer.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderRaycastTests.cs
Labels: Documentation

#5230 add playmode test that toggles the profiler using speech kbd shortcuts
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SpeechTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SpeechTests.cs.meta
Labels: Tests

#4993 Update Wireframe Shader & Inspector for transparency support
  Assets/MixedRealityToolkit/Inspectors/MixedRealityShaderGUI.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityShaderGUI.cs.meta
  Assets/MixedRealityToolkit/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityWireframeShaderGUI.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityWireframeShaderGUI.cs.meta
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MRTK_Wireframe.shader
Labels: Shaders / Materials

#5234 Fix the docs build
  Assets/MixedRealityToolkit/Inspectors/MixedRealityShaderGUI.cs
Labels: Documentation

#5229 [Shell Parity] [Slate] Slate Flattened Border Fix
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/Slate.prefab
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
Labels: GA Blocker, Shell Parity

#5249 Fix VisualProfilerControl.ToggleProfiler implementation
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/VisualProfilerControl.cs
Labels: Diagnostics / Tools

#5096 Dependency Window
  Assets/MixedRealityToolkit/Inspectors/DependencyWindow.cs
  Assets/MixedRealityToolkit/Inspectors/DependencyWindow.cs.meta
  Documentation/Images/DependencyWindow/MRTK_Dependency_Window.png
  Documentation/Images/DependencyWindow/MRTK_Dependency_Window_Unreferenced.png
  Documentation/Utilities/DependencyWindow.md
Labels: Editor, Shell Parity

#5233 Add experimental standalone service managers
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Boundary.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Boundary/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Boundary/Prefabs/BoundarySystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Boundary/Prefabs/BoundarySystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Boundary/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Boundary/Scripts/BoundarySystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Boundary/Scripts/BoundarySystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera/Prefabs/CameraSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera/Prefabs/CameraSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera/Scripts/CameraSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera/Scripts/CameraSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Diagnostics.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Diagnostics/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Diagnostics/Prefabs/DiagnosticsSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Diagnostics/Prefabs/DiagnosticsSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Diagnostics/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Diagnostics/Scripts/DiagnosticsSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Diagnostics/Scripts/DiagnosticsSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Input.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Input/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Input/Prefabs/InputSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Input/Prefabs/InputSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Input/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Input/Scripts/InputSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Input/Scripts/InputSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/SpatialAwareness.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/SpatialAwareness/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/SpatialAwareness/Prefabs/SpatialAwarenessSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/Features/SpatialAwareness/Prefabs/SpatialAwarenessSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/SpatialAwareness/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/SpatialAwareness/Scripts/SpatialAwarenessSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/SpatialAwareness/Scripts/SpatialAwarenessSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Support.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Support/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Support/Scripts/BaseServiceManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Support/Scripts/BaseServiceManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Teleport.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Teleport/Prefabs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Teleport/Prefabs/TeleportSystem.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Teleport/Prefabs/TeleportSystem.prefab.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Teleport/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Teleport/Scripts/TeleportSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Teleport/Scripts/TeleportSystemManager.cs.meta
  Assets/MixedRealityToolkit.SDK/Microsoft.MixedReality.Toolkit.SDK.asmdef
Labels: Experimental, Services

#5270 camera service manager: fix missing service type reference
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera/Prefabs/CameraSystem.prefab
Labels: Experimental, Services

#5272 Make camera system initiate playspace parenting
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
Labels: Services

#5267 Remove mesh specific event raising methods from spatial awareness system
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/DemoSpatialMeshHandler.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
Labels: BREAKING CHANGE, Spatial Mapping / Awareness

#5283 Improve event [un]registration in spatial awareness demo
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/DemoSpatialMeshHandler.cs
Labels: Example/Test Scene

#5286 Move stand alone service managers to experimental namespace
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Boundary/Scripts/BoundarySystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Camera/Scripts/CameraSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Diagnostics/Scripts/DiagnosticsSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Input/Scripts/InputSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/SpatialAwareness/Scripts/SpatialAwarenessSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Support/Scripts/BaseServiceManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Teleport/Scripts/TeleportSystemManager.cs
Labels: Experimental, Services

#5271 [Shell Parity] Proximity Light Shell Parity
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonContentCageProximity.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/FingerCursor.prefab
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
  Assets/MixedRealityToolkit/Utilities/ProximityLight.cs
Labels: GA Blocker, Shell Parity

#5288 Add interface type to the "null concrete type" message in the service locator
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Customer Feedback, Services

#5175 Screenshot Utility
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ScreenshotUtility.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ScreenshotUtility/ScreenshotUtilityTest.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ScreenshotUtility/ScreenshotUtilityTest.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/ScreenshotUtility.cs
  Assets/MixedRealityToolkit/Utilities/Editor/ScreenshotUtility.cs.meta
  Documentation/Images/ScreenshotUtility/MRTK_ScreenshotUtility_Example_Capture.png
  Documentation/Images/ScreenshotUtility/MRTK_ScreenshotUtility_Menu_Item.png
  Documentation/Utilities/ScreenshotUtility.md
Labels: Editor

#5347 [Docs] Update tool documentation
  Assets/MixedRealityToolkit/Inspectors/DependencyWindow.cs
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/MRTK_Icon_BuildWindow.png
  Documentation/Images/MRTK_Icon_DependencyWindow.png
  Documentation/Images/MRTK_Icon_InputRecording.png
  Documentation/Images/MRTK_Icon_OptimizeWindow.png
  Documentation/Images/Performance/MRTKStandardShader-Stats.PNG
  Documentation/Images/Performance/UnityStandardShader-Stats.PNG
  Documentation/toc.yml
  README.md
Labels: Documentation

#5303 Clipping Examples Scene
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/ClippingBox.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/ClippingBox.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/ClippingSphere.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/ClippingSphere.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/HumanHeart.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/HumanHeart.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/MRTKLogo.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/MRTKLogo.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Models/HumanHeart.fbx
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Models/HumanHeart.fbx.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scenes/ClippingExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scenes/ClippingExamples.unity.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Textures/HumanHeart_Albdeo.png
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Textures/HumanHeart_Albdeo.png.meta
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
  Assets/MixedRealityToolkit/Utilities/ClippingSphere.cs
  Documentation/README_MRTKStandardShader.md
  Documentation/UpdatingToGA.md
Labels: Documentation, Shaders / Materials

#3961 Feature: Scene Transition Service
  Assets/MixedRealityToolkit.Extensions.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/DefaultSceneTransitionServiceProfile.asset
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/DefaultSceneTransitionServiceProfile.asset.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/ISceneTransitionService.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/ISceneTransitionService.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionService.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionService.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionServiceProfile.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionServiceProfile.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/CameraFaderQuad.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/CameraFaderQuad.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/CameraFaderState.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/CameraFaderState.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/CameraFaderTargets.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/CameraFaderTargets.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/ICameraFader.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Scripts/ICameraFader.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/ProgressIndicatorRotatingObject.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/ProgressIndicatorRotatingObject.mat.meta
  Documentation/Extensions/SceneTransitionService/SceneTransitionServiceOverview.md
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/Extensions.PNG
  Documentation/toc.yml
Labels: 4 - In Review, Feature Request, Services

#5357 Add support for .msix package files
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
Labels: Build / Tools

#5367 Fix GettingStarted page
  Documentation/GettingStartedWithTheMRTK.md
Labels: Urgency-Soon

#5404 Fix MRTK asset menu layout / remove duplicate menu
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionServiceProfile.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfile.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/MixedRealityInputRecordingProfile.cs
Labels: Bug, Editor

#5321 Interactable scene & inspector updates
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scenes/InteractablesExamples.unity
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/Model_BuckyTheme.asset
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableReceiverListInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/ThemeInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorUIUtility.cs
Labels: Example/Test Scene, Profile and Inspectors

#5408 Update spatial mesh level of detail values, translate in observer
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/SpatialAwarenessMeshLevelOfDetail.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/Observers/IMixedRealitySpatialAwarenessMeshObserver.cs
Labels: BREAKING CHANGE, Spatial Mapping / Awareness

#5403 [Shell-Parity] Hand Ray visual updates
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/DefaultControllerPointer.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/ShellHandRayPointer.cs
  Assets/MixedRealityToolkit/StandardAssets/Textures/DefaultPointerDottedLine.png
Labels: GA Blocker, Shell Parity

#5410 Clean up documentation across the board
  Documentation/Architecture/InputSystem/CoreSystem.md
  Documentation/Boundary/BoundarySystemGettingStarted.md
  Documentation/Boundary/ConfiguringBoundaryVisualization.md
  Documentation/Contributing/BreakingChanges.md
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/DevDocGuide.md
  Documentation/Contributing/DocumentationGuide.md
  Documentation/Contributing/Feature_Contribution_Process.md
  Documentation/Contributing/UnitTests.md
  Documentation/Diagnostics/ConfiguringDiagnostics.md
  Documentation/Diagnostics/DiagnosticsSystemGettingStarted.md
  Documentation/Diagnostics/UsingVisualProfiler.md
  Documentation/ExperimentalFeatures.md
  Documentation/EyeTracking/EyeTracking_EyeGazeProvider.md
  Documentation/EyeTracking/EyeTracking_Navigation.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/HTKToMRTKPortingGuide.md
  Documentation/Input/Dictation.md
  Documentation/Input/Gestures.md
  Documentation/Input/InputEvents.md
  Documentation/Input/InputProviders.md
  Documentation/Input/Pointers.md
  Documentation/Input/Speech.md
  Documentation/InputSimulation/InputAnimationRecording.md
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/InputSystem/HandTracking.md
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/MixedRealityServices.md
  Documentation/Packaging/MRTK_Modularization.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/Profiles/Profiles.md
  Documentation/README_HandInteractionExamples.md
  Documentation/README_Interactable.md
  Documentation/README_MRTKStandardShader.md
  Documentation/Utilities/DependencyWindow.md
  Documentation/hologram-stabilization.md
Labels: Documentation

#5412 [Shell-Parity] Radial Solver update for the 'Follow Me' behavior
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Slate/FollowMeToggle.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/RadialView.cs
Labels: GA Blocker, Shell Parity, Solvers, UX Controls, UX Controls - Slate

#5362 [Docs] Updated infographic for the MRTK Architecture
  Documentation/Architecture/Overview.md
  Documentation/Images/Architecture/MRTK_Architecture.png
  Documentation/Images/Architecture/OverviewDiagramPart1.png
  Documentation/Images/Architecture/OverviewDiagramPart2.png
Labels: Documentation

#5427 Fix coffee cup drop and update profile assets
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/GestureEventsConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/GestureEventsInputSimulationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/GestureEventsInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/RecordArticulatedHandPoseConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/RecordArticulatedHandPoseInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/RecordArticulatedHandPoseSpeechCommandsProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/TetheredPlacement.cs
Labels: Example/Test Scene, Profile and Inspectors

#5422 Added audio feedback to Unity UI examples
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
Labels: GA Blocker, UX Controls, UnityUI

#5401 Round Shell Parity Button + Additional Button prefabs in different dimension
  Assets/MixedRealityToolkit.Examples/Demos/UX/PressableButton/Scenes/PressableButtonExample.unity
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlateCircular.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlateCircular.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonContentCageProximityCircular.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonContentCageProximityCircular.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar3H.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar3H.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar3V.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar3V.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar4H.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar4H.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar4V.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar4V.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar5H.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar5H.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar5V.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar5V.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Circular_32x32.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Circular_32x32.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Circular_40x40.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Circular_40x40.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Circular_48x48.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Circular_48x48.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnly2Lines_48x96.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnly2Lines_48x96.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnly4Lines_48x96.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnly4Lines_48x96.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnlyNumber_48x48.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnlyNumber_48x48.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnly_48x48.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnly_48x48.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_32x96.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_32x96.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_48x48.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_48x48.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_56x56.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_56x56.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_64x64.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_64x64.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ToggleSwitch.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ToggleSwitch.prefab.meta
  Assets/MixedRealityToolkit/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
  Documentation/Images/Button/MRTK_Button_Base.png
  Documentation/Images/Button/MRTK_Button_Checkbox.png
  Documentation/Images/Button/MRTK_Button_Cube.png
  Documentation/Images/Button/MRTK_Button_HoloLens1.png
  Documentation/Images/Button/MRTK_Button_Layout.png
  Documentation/Images/Button/MRTK_Button_Prefabs_HoloLens2.png
  Documentation/Images/Button/MRTK_Button_Prefabs_HoloLens2BarH.png
  Documentation/Images/Button/MRTK_Button_Prefabs_HoloLens2BarV.png
  Documentation/Images/Button/MRTK_Button_Prefabs_HoloLens2Circular.png
  Documentation/Images/Button/MRTK_Button_Prefabs_HoloLens2Unplated.png
  Documentation/Images/Button/MRTK_Button_Prefabs_HoloLens2_32x96.png
  Documentation/Images/Button/MRTK_Button_Radial.png
  Documentation/Images/Button/MRTK_Button_Round.png
  Documentation/Images/Button/MRTK_Button_ToggleSwitch.png
  Documentation/README_Button.md
Labels: DDE Partner, Documentation, GA Blocker, Shell Parity, UX Controls - Buttons

#5458 Add workaround for hands/eyes on .NET Native
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityUtilities.cs
  Documentation/InputSystem/HandTracking.md
Labels: Windows Mixed Reality

#5421 Reassigned and updated font/font material on some interactable prefabs.
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/Button.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ButtonHoloLens1.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ButtonHoloLens1Toggle.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/CheckBox.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/Radial.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/RadialSet.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ToggleSwitch.prefab
Labels: GA Blocker

#5457 [Shell Parity] Adding HoloLens 2 shell-parity Toggle button
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlateToggleState.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlateToggleState.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/PressableButtonToggleStateOff.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/PressableButtonToggleStateOff.asset.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/PressableButtonToggleStateOn.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/PressableButtonToggleStateOn.asset.meta
Labels: Customer Feedback, Hack Week, Shell Parity, UX Controls - Buttons
