Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-12, with the labels that each got.

#6770 fix mouse provider not auto selecting profile
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
Labels: Bug

#6785 Release notes and updating articles updated to 2.2.0
  Documentation/Images/CameraSystem/WMRCameraSettingsProfile.png
  Documentation/Images/CameraSystem/WMRCameraSettingsReprojectionMethod.png
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
Labels: Documentation, Release Blocker

#6784 Create optimize materials for hand joint mesh visualization
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/HandIndexTip.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/HandIndexTip.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/HandJoint.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/HandJoint.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Hands/HandJointSmall.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Hands/HandJointSphere.prefab
Labels: Performance, Shaders / Materials

#6783 Clean up unnecessary GC allocation every frame
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/DefaultPointerMediator.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityServiceRegistry.cs
Labels: Performance

#6731 Add option in Windows Mixed Reality camera settings for reprojection mode
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Definitions.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Definitions/HolographicDepthReprojectionMethod.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Definitions/HolographicDepthReprojectionMethod.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Definitions/HolographicFrameNativeData.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Definitions/HolographicFrameNativeData.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityReprojectionUpdater.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityReprojectionUpdater.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityUtilities.cs
  Assets/MixedRealityToolkit/Utilities/ScriptingUtilities.cs
  Assets/MixedRealityToolkit/Utilities/ScriptingUtilities.cs.meta
Labels: CameraSystem, HoloLens 2, Release Blocker

#6791 Fix obsolete message for SolverHandler enum
  Assets/MixedRealityToolkit/Definitions/Utilities/TrackedObjectType.cs
Labels: Solvers

#6792 update DotNetWinRT min version
  Assets/MixedReality.Toolkit.Foundation.nuspec
Labels: Package Management - NuGet, Release Blocker

#6795 Fix FacadeHandler throwing exception
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitFacadeHandler.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Editor, Release Blocker

#6804 On asset upgrade change columnthenrow to rowthencolumn layout
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
Labels: Release Blocker, UX Controls - Collections

#6803 Manage UnityAR provider asmdef file based on Unity version
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/ConfigurationChecker.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/ConfigurationChecker/Microsoft.MixedReality.UnityAR.ConfigurationChecker.asmdef
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/ConfigurationChecker/Microsoft.MixedReality.UnityAR.ConfigurationChecker.asmdef.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.2018
  Assets/MixedRealityToolkit.Staging/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.2018.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.2019
  Assets/MixedRealityToolkit.Staging/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.2019.meta
  Documentation/CrossPlatform/UsingARFoundation.md
Labels: AR Foundation, Cross Platform, Release Blocker

#6815 Execute borderlight width calculation only on scale changes
  Assets/MixedRealityToolkit/Utilities/MaintainBorderLightWidth.cs
Labels: Performance, Shaders / Materials

#6817 Update release notes: add remoting steps and a note re: projects with spaces.
  Documentation/ReleaseNotes.md
Labels: Documentation, Release Blocker

#6790 Extension service wizard fixes
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/ExtensionServiceCreator.cs
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/ExtensionServiceWizard.cs
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/Templates/ExtensionScriptTemplate.txt
Labels: Editor, Services

#6825 Added setting of default configuration profile in case there's none set for adding the mrtk gameobject to the scene
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Documentation/GettingStartedWithTheMRTK.md
Labels: Profile and Inspectors

#6823 Update version of MSBuild for Unity
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
Labels: Package Management

#6829 Prerelease/2.2.0 stabilization -> dev
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/DotNetAdapter.csproj
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildMRTKTemplates/WSA.Player.Template.props.template
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/ReleaseNotes.md
Labels: Release Management

#6828 Reserialize some assets for 2.2 release
  Assets/MixedRealityToolkit.Examples/Demos/Boundary/Scenes/BoundaryVisualization.unity
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlateBorderOnly.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/MRTK_GrabbableDots2RowsH.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/MRTK_GrabbableDots2RowsV1.mat
Labels: Release Management

#6827 Fix building NuGet locally and add support for DotNetWinRT in NuGet packages
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildMRTKTemplates/WSA.InEditor.Template.props.template
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildMRTKTemplates/WSA.InEditor.Template.props.template.meta
  Assets/MixedRealityToolkit.Tools/MixedReality.Toolkit.Tools.nuspec
  scripts/packaging/NuGetRestoreProject.csproj
Labels: Holographic Remoting, Package Management - NuGet

#6835 Update NuGet import steps
  Documentation/Contributing/DevDocGuide.md
  Documentation/MRTKNuGetPackage.md
  Documentation/ReleaseNotes.md
Labels: Documentation

#6824 Add holographic remoting documentation article
  Documentation/Images/Tools/Remoting/EnableMSBuildForUnity.png
  Documentation/Images/Tools/Remoting/EnterIPAddress.png
  Documentation/Images/Tools/Remoting/SelectDeviceVersion.png
  Documentation/Images/Tools/Remoting/SelectEmulationMode.png
  Documentation/Images/Tools/Remoting/StartHolographicEmulation.png
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/toc.yml
Labels: Documentation

#6832 Update code in InputEvents doc
  Documentation/Input/InputEvents.md
Labels: Documentation

#6836 Minor updates to release notes
  Documentation/ReleaseNotes.md
Labels: Documentation

#6837 add #6807 to known issues
  Documentation/ReleaseNotes.md
Labels: Documentation, Holographic Remoting

#6839 Add special WSA InEditor NuGet restore to CI
  pipelines/templates/compilemsbuild.yml
Labels: CI/Build, Package Management - NuGet

#6840 Add MRTKLogo_64x64.png to our Images folder
  Documentation/Images/MRTKLogo_64x64.png
Labels: Package Management - NuGet

#6841 NuGet packaging update
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit.Tools/MixedReality.Toolkit.Tools.nuspec
  scripts/packaging/createnugetpackages.ps1
Labels: Package Management - NuGet

#6843 Add 2.2.0 to the documentation version list
  web/version.js
Labels: Documentation, Release Management

#6845 Update license URL to point to releases/2.2.0 branch
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit.Tools/MixedReality.Toolkit.Tools.nuspec
Labels: Package Management - NuGet, Release Management

#6847 Rename MRTKLogo_64x64.png
  Documentation/Images/MRTK_Logo_NuGet.png
Labels: Release Management

#6848 Update iconUrl to point to renamed icon
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit.Tools/MixedReality.Toolkit.Tools.nuspec
Labels: Package Management - NuGet, Release Management

#6849 Update WSA.Player.Template.props.template to reference the DotNetWinRT adapter
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildMRTKTemplates/WSA.Player.Template.props.template
Labels: Package Management - NuGet

#6838 Optimize Window Update
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Tools/Microsoft.MixedReality.Toolkit.Tools.asmdef
  Assets/MixedRealityToolkit.Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
  Documentation/Images/Performance/OptimizeWindow_SceneAnalysis.png
  Documentation/Tools/OptimizeWindow.md
Labels: Editor, Performance

#6853 Revert license path back to mrtk_dev
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit.Tools/MixedReality.Toolkit.Tools.nuspec
Labels: Release Management

#6859 Fix links to handtracking page
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityUtilities.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityHandTrackingProfile.cs
  Assets/MixedRealityToolkit/Providers/Hands/HandJointService.cs
Labels: Documentation

#6861 Standardize C# codeblock syntax in docs
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/Architecture/InputSystem/Terminology.md
  Documentation/Architecture/SystemsExtensionsProviders.md
  Documentation/CameraSystem/CreateSettingsProvider.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/DevDocGuide.md
  Documentation/Contributing/DocumentationGuide.md
  Documentation/Contributing/UnitTests.md
  Documentation/DetectingPlatformCapabilities.md
  Documentation/Diagnostics/ConfiguringDiagnostics.md
  Documentation/Extensions/ExtensionServices.md
  Documentation/Extensions/SceneTransitionService/SceneTransitionServiceOverview.md
  Documentation/EyeTracking/EyeTracking_EyeGazeProvider.md
  Documentation/EyeTracking/EyeTracking_IsUserCalibrated.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/Input/CreateDataProvider.md
  Documentation/Input/Gaze.md
  Documentation/Input/HandTracking.md
  Documentation/Input/HowToAddNearInteractivity.md
  Documentation/Input/InputEvents.md
  Documentation/Input/InputState.md
  Documentation/Input/Pointers.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/README_BoundingBox.md
  Documentation/README_ExampleHub.md
  Documentation/README_Interactable.md
  Documentation/README_Solver.md
  Documentation/README_SystemKeyboard.md
  Documentation/ReleaseNotes.md
  Documentation/Rendering/MaterialInstance.md
  Documentation/SceneSystem/SceneSystemContentLoading.md
  Documentation/SceneSystem/SceneSystemLightingScenes.md
  Documentation/ServiceUtilities/MixedRealityServiceRegistryAndIMixedRealityServiceRegistrar.md
  Documentation/SpatialAwareness/CreateDataProvider.md
  Documentation/SpatialAwareness/UsageGuide.md
  Documentation/TeleportSystem/Overview.md
  Documentation/Updating.md
  Documentation/VisualThemes.md
  Documentation/hologram-stabilization.md
Labels: Documentation

#6865 Remove specific locales from links
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Scenes/EyeTrackingDemo-03-Navigation.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/LaunchUri.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Definitions/HolographicFrameNativeData.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Dwell/DwellHandler.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedHand.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MixedRealityToolkit/Utilities/WindowsApiChecker.cs
  Assets/MixedRealityToolkit/Utilities/WindowsDevicePortal/DevicePortal.cs
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/BuildAndDeploy.md
  Documentation/Contributing/BreakingChanges.md
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/DocumentationGuide.md
  Documentation/Contributing/UnitTests.md
  Documentation/EyeTracking/EyeTracking_Main.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Input/Dictation.md
  Documentation/Input/Gaze.md
  Documentation/Input/Gestures.md
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/README_BoundingBox.md
  Documentation/README_SystemKeyboard.md
  Documentation/README_TextPrefab.md
  Documentation/ReleaseNotes.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/SpatialAwareness/SpatialObjectMeshObserver.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/hologram-stabilization.md
  README.md
Labels: Documentation

#6846 Migrate to EditorGUI.DisabledGroupScope
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfileInspector.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationWindow.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/MixedRealityInputSimulationProfileInspector.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityBoundaryVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityEyeTrackingProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityGesturesProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityHandTrackingProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityMouseInputProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpatialAwarenessMeshObserverProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpatialAwarenessSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpeechCommandsProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MixedRealityToolkit/Utilities/Editor/GUIEnabledWrapper.cs
Labels: Editor, Profile and Inspectors

#6869 Add missing links, convert some crefs into xrefs, add alt text to images
  Assets/MixedRealityToolkit.SDK/Experimental/ScrollingObjectCollection/README.md
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Controllers/README.md
  Assets/MixedRealityToolkit.SDK/Profiles/MixedRealityControllerConfigurationProfile.md
  Assets/MixedRealityToolkit.SDK/Profiles/README.md
  Documentation/Architecture/SystemsExtensionsProviders.md
  Documentation/BuildAndDeploy.md
  Documentation/Contributing/DevDocGuide.md
  Documentation/DownloadingTheMRTK.md
  Documentation/Input/InputState.md
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/README_BoundingBox.md
  Documentation/README_HandJointChaser.md
  Documentation/README_Sliders.md
  Documentation/SceneSystem/SceneSystemGettingStarted.md
  Documentation/SceneSystem/SceneSystemSceneTypes.md
  Documentation/Tools/DependencyWindow.md
  Documentation/Tools/ScreenshotUtility.md
Labels: Documentation

#6871 Fix broken link (Experimental features on the MRTK home page)
  README.md
Labels: Documentation

#6873 Update controller docs to more correctly represent the current state of features
  Assets/MixedRealityToolkit.SDK/Profiles/MixedRealityControllerConfigurationProfile.md
  Documentation/MixedRealityConfigurationGuide.md
Labels: Controller Visualization, Documentation

#6872 Update spacing / formatting in some docs
  Assets/MixedRealityToolkit.Examples/Demos/README.md
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/README.md
  Assets/MixedRealityToolkit.SDK/Experimental/PulseShader/README.md
  Assets/MixedRealityToolkit.SDK/Experimental/ScrollingObjectCollection/README.md
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Controllers/README.md
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/README.md
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Tooltips/README.md
  Assets/MixedRealityToolkit.SDK/Profiles/MixedRealityControllerConfigurationProfile.md
  Assets/MixedRealityToolkit.SDK/Profiles/README.md
  Assets/MixedRealityToolkit/Providers/Hands/README.md
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/Boundary/BoundarySystemGettingStarted.md
  Documentation/BuildAndDeploy.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/DevDocGuide.md
  Documentation/Contributing/UnitTests.md
  Documentation/DownloadingTheMRTK.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Input/Pointers.md
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/Profiles/Profiles.md
  Documentation/README_AppBar.md
  Documentation/README_BoundingBox.md
  Documentation/README_Button.md
  Documentation/README_ExampleHub.md
  Documentation/README_FingertipVisualization.md
  Documentation/README_HandInteractionExamples.md
  Documentation/README_ManipulationHandler.md
  Documentation/README_NearMenu.md
  Documentation/README_ObjectCollection.md
  Documentation/README_Slate.md
  Documentation/README_SystemKeyboard.md
  Documentation/README_Tooltip.md
  Documentation/ReleaseNotes.md
  Documentation/Rendering/MaterialInstance.md
  Documentation/SceneSystem/SceneSystemContentLoading.md
  Documentation/SceneSystem/SceneSystemGettingStarted.md
  Documentation/SceneSystem/SceneSystemLightingScenes.md
  Documentation/SceneSystem/SceneSystemSceneTypes.md
  Documentation/ServiceUtilities/MixedRealityServiceRegistryAndIMixedRealityServiceRegistrar.md
  Documentation/Tools/DependencyWindow.md
  Documentation/Updating.md
  Documentation/VisualThemes.md
Labels: Documentation

#6885 Include the MRTK.Generated meta file in .gitignore
  .gitignore
Labels: Release Management

#6882 UnityAR asmdef check: update #elif to include 2019_1
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs
Labels: Cross Platform, Unity 2019

#6880 Clean-up warnings during NuGet build
  Assets/MixedRealityToolkit.SDK/Experimental/Inspectors/Microsoft.MixedReality.Toolkit.SDK.Experimental.Inspectors.asmdef
  Assets/MixedRealityToolkit.SDK/Experimental/Inspectors/NonNativeKeyboard.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Inspectors/NonNativeKeyboard/SliderInputFieldInspector.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Inspectors/NonNativeKeyboard/SliderInputFieldInspector.cs.meta
  Assets/MixedRealityToolkit.SDK/Experimental/NonNativeKeyboard/Scripts/SliderInputField.cs
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/ExtensionServiceWizard.cs
Labels: Package Management - NuGet

#6884 Correct the api contract version for the spatial issupported check
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
Labels: Spatial Mapping / Awareness

#6866 Delete README_Pointers.md
  Documentation/README_Pointers.md
Labels: Documentation

#6888 Spell check docs
  Assets/MixedRealityToolkit.SDK/Experimental/ScrollingObjectCollection/README.md
  Assets/MixedRealityToolkit.SDK/Profiles/README.md
  Documentation/Architecture/FrameworkAndRuntime.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/DevDocGuide.md
  Documentation/Contributing/DocumentationGuide.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/Images/ExamplesHub/MRTK_ExamplesHub_BuildSettings.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_RegisteredServiceProvidersProfile.png
  Documentation/Input/HowToAddNearInteractivity.md
  Documentation/Input/InputEvents.md
  Documentation/Input/Pointers.md
  Documentation/MRTKNuGetPackage.md
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/Profiles/Profiles.md
  Documentation/README_Button.md
  Documentation/README_ExampleHub.md
  Documentation/README_Interactable.md
  Documentation/README_MRTKStandardShader.md
  Documentation/README_ManipulationHandler.md
  Documentation/README_Solver.md
  Documentation/ReleaseNotes.md
  Documentation/SceneSystem/SceneSystemLoadProgress.md
  Documentation/SpatialAwareness/CreateDataProvider.md
  Documentation/Updating.md
  Documentation/VisualThemes.md
Labels: Documentation

#6887 Add examples hub to TOC documentation
  Documentation/toc.yml
Labels: Documentation

#6892 Standardize docs headers syntax
  Documentation/Boundary/ConfiguringBoundaryVisualization.md
  Documentation/Diagnostics/ConfiguringDiagnostics.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/README_AppBar.md
  Documentation/README_BoundingBox.md
  Documentation/README_Button.md
  Documentation/README_ExampleHub.md
  Documentation/README_FingertipVisualization.md
  Documentation/README_HandInteractionExamples.md
  Documentation/README_LostTrackingService.md
  Documentation/README_ManipulationHandler.md
  Documentation/README_NearMenu.md
  Documentation/README_ObjectCollection.md
  Documentation/README_Slate.md
  Documentation/README_Sliders.md
  Documentation/README_SystemKeyboard.md
  Documentation/README_Tooltip.md
  Documentation/SceneSystem/SceneSystemGettingStarted.md
  Documentation/Tools/DependencyWindow.md
  Documentation/Tools/ScreenshotUtility.md
Labels: Documentation

#6834 Fix Pressable Button State Reset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
Labels: Bug, UX Controls - Buttons

#6893 Update casing in docs headers (phase 1)
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/documentation-issue.md
  .github/issue_template.md
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Models/Avocado/README.md
  Assets/MixedRealityToolkit.Examples/Demos/README.md
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/README.md
  Assets/MixedRealityToolkit.SDK/Experimental/PulseShader/README.md
  Assets/MixedRealityToolkit.SDK/Experimental/ScrollingObjectCollection/README.md
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Controllers/README.md
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/README.md
  Assets/MixedRealityToolkit.SDK/Profiles/MixedRealityControllerConfigurationProfile.md
  Assets/MixedRealityToolkit/Providers/Hands/README.md
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/Architecture/InputSystem/CoreSystem.md
  Documentation/Architecture/InputSystem/Terminology.md
  Documentation/Architecture/SpatialAwareness.md
  Documentation/Architecture/SystemsExtensionsProviders.md
  Documentation/Boundary/BoundarySystemGettingStarted.md
  Documentation/Boundary/ConfiguringBoundaryVisualization.md
  Documentation/CameraSystem/CameraSystemOverview.md
  Documentation/CameraSystem/CreateSettingsProvider.md
  Documentation/CameraSystem/UnityArCameraSettings.md
  Documentation/CameraSystem/WindowsMixedRealityCameraSettings.md
  Documentation/Contributing/BreakingChanges.md
Labels: Documentation

#6889 Remove some inline HTML from MD docs
  Documentation/Images/Pointers/MRTK_MousePointer.png
  Documentation/Input/Pointers.md
  Documentation/Packaging/MRTK_Packages.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/Profiles/Profiles.md
  Documentation/README_NearMenu.md
  Documentation/README_Solver.md
Labels: Documentation

#6902 Dedicate documentation info for observers
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
Labels: Documentation, Spatial Mapping / Awareness

#6895 Update coding guidelines to use =>
  Documentation/Contributing/CodingGuidelines.md
Labels: Documentation

#6898 Header capitalization phase 2
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/ExperimentalFeatures.md
  Documentation/Contributing/Feature_Contribution_Process.md
  Documentation/Contributing/PullRequests.md
  Documentation/Contributing/Roadmap.md
  Documentation/Contributing/UnitTests.md
  Documentation/CrossPlatform/UsingARFoundation.md
  Documentation/DetectingPlatformCapabilities.md
  Documentation/Diagnostics/ConfiguringDiagnostics.md
  Documentation/Diagnostics/DiagnosticsSystemGettingStarted.md
  Documentation/Diagnostics/UsingVisualProfiler.md
  Documentation/Extensions/ExtensionServices.md
  Documentation/Extensions/SceneTransitionService/SceneTransitionServiceOverview.md
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
  Documentation/EyeTracking/EyeTracking_ExamplesOverview.md
  Documentation/EyeTracking/EyeTracking_EyesAndHands.md
  Documentation/EyeTracking/EyeTracking_IsUserCalibrated.md
  Documentation/EyeTracking/EyeTracking_Navigation.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/HTKToMRTKPortingGuide.md
  Documentation/Input/Controllers.md
  Documentation/Input/Dictation.md
  Documentation/Input/Gestures.md
  Documentation/hologram-stabilization.md
Labels: Documentation

#6899 Header capitalization phase 3
  Documentation/Input/HandTracking.md
  Documentation/Input/InputActions.md
  Documentation/Input/InputProviders.md
  Documentation/Input/InputState.md
  Documentation/Input/Overview.md
  Documentation/Input/Pointers.md
  Documentation/Input/Speech.md
  Documentation/InputSimulation/InputAnimationFileFormat.md
  Documentation/InputSimulation/InputAnimationRecording.md
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/MRTK_PackageContents.md
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/Packaging/MRTK_Modularization.md
  Documentation/Packaging/MRTK_Packages.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/Profiles/Profiles.md
  Documentation/README_BoundingBox.md
  Documentation/README_Button.md
  Documentation/README_ExampleHub.md
  Documentation/README_HandJointChaser.md
  Documentation/README_Interactable.md
  Documentation/README_LostTrackingService.md
  Documentation/README_MRTKStandardShader.md
Labels: Documentation

#6901 Header capitalization phase 4
  Documentation/README_NearMenu.md
  Documentation/README_ObjectCollection.md
  Documentation/README_Slate.md
  Documentation/README_Sliders.md
  Documentation/README_Solver.md
  Documentation/README_TextPrefab.md
  Documentation/ReleaseNotes.md
  Documentation/Rendering/MaterialInstance.md
  Documentation/SceneSystem/SceneSystemContentLoading.md
  Documentation/SceneSystem/SceneSystemLightingScenes.md
  Documentation/SceneSystem/SceneSystemLoadProgress.md
  Documentation/SceneSystem/SceneSystemSceneTypes.md
  Documentation/SpatialAwareness/ConfiguringSpatialAwarenessMeshObserver.md
  Documentation/SpatialAwareness/CreateDataProvider.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/SpatialAwareness/SpatialObjectMeshObserver.md
  Documentation/SpatialAwareness/UsageGuide.md
  Documentation/TeleportSystem/Overview.md
  Documentation/Tools/ControllerMappingTool.md
  Documentation/Tools/DependencyWindow.md
  Documentation/Tools/ExtensionServiceCreationWizard.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/Tools/OptimizeWindow.md
  Documentation/Tools/ScreenshotUtility.md
  Documentation/VisualThemes.md
  README.md
Labels: Documentation

#6482 Improve profile inspector code
  Assets/MixedRealityToolkit/Definitions/BaseMixedRealityProfile.cs
  Assets/MixedRealityToolkit/Definitions/CameraSystem/BaseCameraSettingsProfile.cs
  Assets/MixedRealityToolkit/Definitions/CameraSystem/MixedRealityCameraSettingsConfiguration.cs
  Assets/MixedRealityToolkit/Definitions/MixedRealityInputDataProviderConfiguration.cs
  Assets/MixedRealityToolkit/Definitions/MixedRealityServiceConfiguration.cs
  Assets/MixedRealityToolkit/Definitions/MixedRealitySpatialObserverConfiguration.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/BaseSpatialAwarenessObserverProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/DataProviderAccessServiceInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/DataProviderAccessServiceInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealitySpatialAwarenessSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/ServiceFacadeInspector.cs
  Assets/MixedRealityToolkit/Interfaces/IMixedRealityServiceConfiguration.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Profile and Inspectors

#6903 Add ARM64 support to build window for Unity 2019 and support multiple VS versions side-by-side
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
Labels: Build Window

#6502 Clean up build window
  Assets/MixedRealityToolkit.Tools/BuildWindow.meta
  Assets/MixedRealityToolkit.Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MixedRealityToolkit.Tools/BuildWindow/BuildDeployWindow.cs.meta
  Assets/MixedRealityToolkit.Tools/Microsoft.MixedReality.Toolkit.Tools.asmdef
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpBuildDeployPreferences.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpPlayerBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/WindowsDevicePortal/DataStructures/DeviceInfo.cs
  Assets/MixedRealityToolkit/Utilities/WindowsDevicePortal/DataStructures/DevicePortalConnections.cs
  Assets/MixedRealityToolkit/Utilities/WindowsDevicePortal/DevicePortal.cs
Labels: Build Window

#6617 Build Window improvements 2
  Assets/MixedRealityToolkit.Tools/BuildWindow/BuildDeployWindow.cs
Labels: Build Window

#6919 Fix spatial observer and validate with tests
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Microsoft.MixedReality.Toolkit.Tests.PlayModeTests.asmdef
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SpatialObserverTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SpatialObserverTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/TestProfiles.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/TestProfiles/TestMixedRealitySpatialAwarenessSystemProfile.asset
  Assets/MixedRealityToolkit.Tests/PlayModeTests/TestProfiles/TestMixedRealitySpatialAwarenessSystemProfile.asset.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/TestProfiles/TestMixedRealitySpatialAwarenessSystemProfile_ManualStart.asset
  Assets/MixedRealityToolkit.Tests/PlayModeTests/TestProfiles/TestMixedRealitySpatialAwarenessSystemProfile_ManualStart.asset.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/TestProfiles/TestSpatialObjectMeshObserverProfile.asset
  Assets/MixedRealityToolkit.Tests/PlayModeTests/TestProfiles/TestSpatialObjectMeshObserverProfile.asset.meta
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
Labels: Spatial Mapping / Awareness

#6949 Add missing namespace to IMixedRealityMouseDeviceManager
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityMouseDeviceManager.cs
Labels: Mouse Input
