Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-05, with the labels that each got.

#4148 Stops FacadeHandler from accessing MRTK instance in DestroyAllChildren
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitFacadeHandler.cs
Labels: Bug

#4190 Update documentation (ToC and ET images / links)
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
  Documentation/EyeTracking/EyeTracking_ExamplesOverview.md
  Documentation/EyeTracking/EyeTracking_Positioning.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/EyeTracking/EyeTracking_Visualization.md
  Documentation/toc.yml
Labels: Documentation

#3985 Improve TCPConnectionManager monobehaviour
  Assets/MixedRealityToolkit.Extensions/Socketer/Scenes/SocketerExampleScene.unity
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/OutgoingMessage.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/OutgoingMessage.cs.meta
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/SocketEndpoint.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/TCPConnectionManager.cs
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/Test/TCPConnectionManagerTest.cs
Labels: Sharing / Networking, SpectatorView

#4225 update spatial observers and demo to use registry
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/DemoSpatialMeshHandler.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
Labels: Spatial Mapping / Awareness

#4226 update diagnostic demo to get the service from the registry
  Assets/MixedRealityToolkit.Examples/Demos/Diagnostics/Scripts/DiagnosticsDemoControls.cs
Labels: Diagnostics / Tools

#4131 Updates Create Extension Service Wizard to generate service inspectors
  Assets/MixedRealityToolkit/Inspectors/ExtensionTemplates/ExtensionServiceCreator.cs
  Assets/MixedRealityToolkit/Inspectors/ExtensionTemplates/ExtensionServiceWizard.cs
  ExtensionTemplates/ExtensionInspectorTemplate.txt
  ExtensionTemplates/ExtensionInterfaceTemplate.txt
  ExtensionTemplates/ExtensionProfileTemplate.txt
  ExtensionTemplates/ExtensionScriptTemplate.txt
Labels: Editor

#4254 update teleport sdk components to use the service registry
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/TeleportHotSpot.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
Labels: Input / Interactions

#4315 Update systems and demos to reference the input system via the service registry
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoBasicSetup/Scripts/FollowEyeGazeGazeProvider.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoScrollPanZoom/Scripts/BaseClasses/PanZoomBase.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoScrollPanZoom/Scripts/BaseClasses/PanZoomBaseRectTransf.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoScrollPanZoom/Scripts/BaseClasses/PanZoomBaseTexture.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoTargetPositioning/Scripts/MoveObjByEyeGaze.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoVisualizer/Scripts/DrawOnTexture.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoVisualizer/Scripts/InputPointerVisualizer.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoVisualizer/Scripts/LogStructureEyeGaze.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/FollowEyeGaze.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/Input/SpeechVisualFeedback.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/TargetBehaviors/OnLookAtRotateByEyeGaze.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/CursorModifier.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/InteractiveMeshCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/TeleportCursor.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/ShellHandRayPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/ControllerFinder.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedArticulatedHand.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedGestureHand.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedHand.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/InputSystemGlobalListener.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputModule.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/InputSystem/Utilities/CanvasUtility.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityGazeProvider.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
  Assets/MixedRealityToolkit/Providers/BaseGenericInputSource.cs
  Assets/MixedRealityToolkit/Providers/BaseInputDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/GenericPointer.cs
  Assets/MixedRealityToolkit/Providers/Hands/BaseHandVisualizer.cs
  Assets/MixedRealityToolkit/Providers/Hands/HandJointService.cs
  Assets/MixedRealityToolkit/Providers/Hands/HandJointUtils.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/GenericJoystickController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchController.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityServiceRegistry.cs
Labels: Input / Interactions

#4270 Gaze cursor activation behavior that matches the shell
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazePointerVisibilityStateMachine.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazePointerVisibilityStateMachine.cs.meta
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/GazePointerStateMachineTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/GazePointerStateMachineTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/MixedRealityToolkit.Tests.PlayModeTests.asmdef
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PlayModeTestUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PlayModeTestUtilities.cs.meta
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityFocusProvider.cs
Labels: BREAKING CHANGE

#4035 Feature: multiple MRTK instances
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/CustomProfiles/HandInteractionAllExampleMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.Generated/CustomProfiles.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitFacadeHandler.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityPlayspace.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityToolkitSceneChecker.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityToolkitSceneChecker.cs.meta
Labels: Editor, Feature Request, Urgency-Soon

#4382 Prevents multiple MRTK instance initializations on enter playmode
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Bug, Urgency-Now

#4384 Removes ExecuteAlways from MixedRealityToolkit
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
  Assets/MixedRealityToolkit/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
Labels: Bug, Urgency-Now

#4437 Update runtime components to access system profiles from the system instance
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/GestureTester.cs
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/ToggleHandVisualisation.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/IInputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedGestureHand.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/InputSystemGlobalListener.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Interfaces/BoundarySystem/IMixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/Interfaces/CameraSystem/IMixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit/Interfaces/Diagnostics/IMixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityService.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
  Assets/MixedRealityToolkit/Providers/BaseInputDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/Hands/BaseHandVisualizer.cs
  Assets/MixedRealityToolkit/Providers/Hands/HandJointService.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MixedRealityToolkit/Services/BaseCoreSystem.cs
  Assets/MixedRealityToolkit/Services/BaseService.cs
Labels: BREAKING CHANGE

#4459 Fix the docs build
  Documentation/README_MRTKStandardShader.md
Labels: Documentation

#4388 Diagnostics Visual Profiler Improvements
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/Materials.meta
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/Materials/DiagnosticsInstancedColored.mat
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/Materials/DiagnosticsInstancedColored.mat.meta
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
  Assets/MixedRealityToolkit/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Assets/MixedRealityToolkit/Interfaces/Diagnostics/IMixedRealityDiagnosticsSystem.cs
Labels: BREAKING CHANGE

#4446 [MRTK Shell Parity] [Cursor] Asset: Cursor and Contextual icons
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_Focus_geo.fbx
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_Focus_geo.fbx.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_IBeam.fbx
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_IBeam.fbx.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_MousePointer_geo.fbx
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_MousePointer_geo.fbx.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_MoveArrows_geo.fbx
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_MoveArrows_geo.fbx.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_Press_geo.fbx
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_Press_geo.fbx.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_Rest_geo.fbx
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_Rest_geo.fbx.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_RotateArrows_geo.fbx
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Cursor_RotateArrows_geo.fbx.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/Light.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/Light.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/MousePointer.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/MousePointer.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/SHADOW_PBR.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/SHADOW_PBR.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/Shadow.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/Shadow.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/ibeam_dx.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Materials/ibeam_dx.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures/Cursor_MousePointer_tex.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures/Cursor_MousePointer_tex.png.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures/Cursor_Move_Shadow.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures/Cursor_Move_Shadow.png.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures/Cursor_Ring_Shadow.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures/Cursor_Ring_Shadow.png.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures/Cursor_Rotate_Shadow.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Meshes/Cursors/Textures/Cursor_Rotate_Shadow.png.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorFocus.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorFocus.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMousePointer.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMousePointer.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsEastWest.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsEastWest.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsMove.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsMove.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsNorthSouth.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsNorthSouth.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsNortheastSouthwest.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsNortheastSouthwest.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsNorthwestSoutheast.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorMoveArrowsNorthwestSoutheast.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorPress.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorPress.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorRest.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorRest.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorRotateArrowsHorizontal.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorRotateArrowsHorizontal.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorRotateArrowsVertical.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Cursors/CursorRotateArrowsVertical.prefab.meta
Labels: Epic, Shell Parity

#4424 Adds multi-scene editor tests / tests for multiple MRTK instances
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/TestFixture_01_MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/GazePointerStateMachineTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ManipulationHandlerTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SimplePlayModeTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
Labels: Urgency-Soon

#4558 Add clarification on the SDK version vs desktop Windows version
  README.md
Labels: Documentation

#4553 Update Roadmap.md
  Documentation/Contributing/Roadmap.md
Labels: Documentation

#4593 Add IMixedRealityDataProviderAccess and update how data providers are retrieved
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoScrollPanZoom/Scripts/BaseClasses/PanZoomBase.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/DictationHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/ControllerFinder.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestFixture_03_InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MixedRealityToolkit/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityMouseDeviceManager.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityMouseDeviceManager.cs.meta
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityDataProviderAccess.cs
  Assets/MixedRealityToolkit/Interfaces/Services/IMixedRealityDataProviderAccess.cs.meta
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
Labels: Input

#4501 [MRTK Shell Parity] [Button] Fit & finish: proximity light intensity, distance, pulse effect polish
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicBackPlate.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconFontMaterial.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconPin.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconPin.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ButtonHoloLens1.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ButtonHoloLens1.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ButtonHoloLens1Toggle.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/ButtonHoloLens1Toggle.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/ButtonPin.png
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Textures/ButtonPin.png.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/AppBar/AppBar.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/AppBar/PressableButtonAppBar.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButtonHoloLens2.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButtonHoloLens2.cs.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_PressableInteractablesButtonBox.mat
  Documentation/Images/Button/MRTK_ButtonPrefabs.jpg
  Documentation/README_Button.md
Labels: Epic, Shell Parity, UX Controls

#4585 Addressing some code review comments from pull/4480 and updating localizers
  Assets/MixedRealityToolkit.Extensions/Socketer/Scripts/SocketEndpoint.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scenes/SpectatorView.ASA.Android.unity
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scenes/SpectatorView.ASA.Android.unity.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scenes/SpectatorView.ASA.HoloLens.unity
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scenes/SpectatorView.ASA.HoloLens.unity.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scenes/SpectatorView.ArUco.HoloLens.unity
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scenes/SpectatorView.ArUco.HoloLens.unity.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Calibration/HeadsetCalibration.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/MarkerDetection/MarkerVisualizerSpatialLocalizer.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerDetectorCoordinateService.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerDetectorCoordinateService.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerDetectorSpatialLocalizer.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerDetectorSpatialLocalizer.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerVisualizerCoordinateService.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerVisualizerCoordinateService.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerVisualizerSpatialLocalizer.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/MarkerVisualizerSpatialLocalizer.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/SpatialCoordinateSystemManager.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/SpatialCoordinateSystemManager.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/SpatialCoordinateSystemParticipant.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/SpatialCoordinateSystemParticipant.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/SpatialLocalizer.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/SpatialLocalizer.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/SpatialLocalizerBase.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/Sharing/SpatialLocalizerBase.cs.meta
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/SpatialCoordinateSystemManager.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/SpatialCoordinateSystemMember.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/SpatialLocalizerBase.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/SpectatorView.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/StateSynchronization/CommandService.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/StateSynchronization/NetworkedComponents/SkinnedMeshRenderer/SkinnedMeshRendererBroadcaster.cs
  Assets/MixedRealityToolkit.Extensions/SpectatorView/Scripts/UI/MobileOverlayVisual.cs
  Assets/SpatialAlignment.ASA/SpatialAnchorsCoordinate.cs
  Assets/SpatialAlignment.ASA/SpatialAnchorsLocalizer.cs
Labels: SpectatorView

#4619 MixedRealityToolkit object now properly unregisters services on shutdown
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestExtensionService1.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/MixedRealityServiceRegistry.cs
Labels: Services
