Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2019-11, with the labels that each got.

#6280 Adding Surface Magnetism Solver + Hand Ray Example scene
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scenes/SurfaceMagnetismSpatialAwarenessExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scenes/SurfaceMagnetismSpatialAwarenessExample.unity.meta
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/ToggleSpatialMeshVisualization.cs
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/ToggleSpatialMeshVisualization.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconSpatialMesh.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconSpatialMesh.mat.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconSpatialMapping.png
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconSpatialMapping.png.meta
Labels: Example/Test Scene, Solvers

#6452 Getting started documentation updates based on research study
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/getting_started/SwitchPlatform.png
Labels: Documentation

#6456 Improve 2019 daily build
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs
  pipelines/templates/common-Unity2019.yml
  scripts/support2019/Assets/MixedRealityToolkit.Providers/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  scripts/support2019/Packages/manifest.json
  scripts/support2019/setup_for_2019.ps1
Labels: CI/Build

#6457 Deprecate constructors taking a registrar parameter
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/ILostTrackingService.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingService.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingService.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingServiceInspector.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Scripts/BasicLostTrackingVisual.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Scripts/ILostTrackingVisual.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionService.cs
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Boundary/Scripts/BoundarySystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Camera/Scripts/CameraSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Diagnostics/Scripts/DiagnosticsSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Input/Scripts/InputSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/SpatialAwareness/Scripts/SpatialAwarenessSystemManager.cs
  Assets/MixedRealityToolkit.SDK/Experimental/ServiceManagers/Teleport/Scripts/TeleportSystemManager.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/InputRecordingService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/BaseInputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputPlaybackService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSystem/DefaultRaycastProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit.Services/SceneSystem/MixedRealitySceneSystem.cs
  Assets/MixedRealityToolkit.Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MixedRealityToolkit.Services/TeleportSystem/MixedRealityTeleportSystem.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/BaseTestExtensionService.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestBaseDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestDataProvider1.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestExtensionService1.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestExtensionService2.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestExtensionService3.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestInputDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestSpatialAwarenessDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/SpatialAwareness/SpatialAwarenessSystemTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputSystem/DefaultRaycastProviderTest.cs
  Assets/MixedRealityToolkit/Providers/BaseInputDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
  Assets/MixedRealityToolkit/Providers/Hands/HandJointService.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MixedRealityToolkit/Services/BaseCoreSystem.cs
  Assets/MixedRealityToolkit/Services/BaseDataProvider.cs
  Assets/MixedRealityToolkit/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MixedRealityToolkit/Services/BaseExtensionService.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/Utilities/CoreServices.cs
Labels: Services

#6446 Depth Buffer Viewer
  Assets/MixedRealityToolkit/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Services/MixedRealityToolkit.cs
  Assets/MixedRealityToolkit/StandardAssets/Shaders/DepthBufferPostProcess.shader
  Assets/MixedRealityToolkit/StandardAssets/Shaders/DepthBufferPostProcess.shader.meta
  Assets/MixedRealityToolkit/Utilities/Rendering/DepthBufferRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Rendering/DepthBufferRenderer.cs.meta
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_DepthBufferExample.gif
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_EditorConfiguration.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_EnableServiceInspectors.PNG
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/SceneSystem/SceneSystemContentLoading.md
  Documentation/SceneSystem/SceneSystemSceneTypes.md
  Documentation/hologram-stabilization.md
Labels: Editor

#6431 Fix and simplify HandConstraint solver tracking
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/PalmUpHandMenu.prefab
  Assets/MixedRealityToolkit.SDK/Features/Utilities/InputRayUtils.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/PointerUtils.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/HandConstraintPalmUp.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit/Extensions/HandednessExtensions.cs
  Assets/MixedRealityToolkit/Extensions/HandednessExtensions.cs.meta
  Assets/MixedRealityToolkit/Providers/Hands/HandJointUtils.cs
Labels: Solvers, Solvers - HandContraint

#6474 Update text materials to write to depth by default
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Materials/InvisibleBacking.mat
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Materials/InvisibleBacking.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit/StandardAssets/FontsSDFTextures/segoeui SDF.asset
  Assets/MixedRealityToolkit/StandardAssets/FontsSDFTextures/seguisb SDF.asset
Labels: Example/Test Scene

#6488 Update unsafe code build tool to only run when contextually relevant
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpBuildDeployPreferences.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
Labels: Build / Tools

#6477 Fix VS ordering in UwpAppxBuildTools
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
Labels: Build / Tools

#6476 Update SR_Triangles_Object_Space.shader to use UnityObjectToClipPos
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Assets/SR_Triangles_Object_Space.shader
Labels: Shaders / Materials

#6500 remove release branches from build status
  README.md
Labels: Documentation

#6501 Update build tools deploy name when HoloLens is attached
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
Labels: Build Window

#6483 Move material from examples to SDK package
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/PanContent.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Materials/PanContent.mat.meta
Labels: UX Controls - Slate

#6504 Update MaterialInstance warning
  Assets/MixedRealityToolkit/Utilities/Rendering/MaterialInstance.cs
Labels: Shaders / Materials

#6506 Re-add generate C# projects to build window, when relevant
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
Labels: Build Window

#6513 Reserialize scene system profiles based on the state of the repo's scenes
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealitySceneSystemProfile.asset
Labels: Extension

#6497 Classify AR Foundation provider as experimental, fix for 6461
  Assets/MixedRealityToolkit.Extensions/Providers.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Definitions.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Definitions/ArTrackedPose.cs
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Definitions/ArTrackedPose.cs.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Definitions/ArTrackingType.cs
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Definitions/ArTrackingType.cs.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Definitions/ArUpdateType.cs
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Definitions/ArUpdateType.cs.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Editor.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Editor/Microsoft.MixedReality.Providers.UnityAR.Editor.asmdef
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Editor/Microsoft.MixedReality.Providers.UnityAR.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Profiles.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/UnityARCameraSettings.cs.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/UnityARCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/UnityARCameraSettingsProfile.cs.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Utilities.meta
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Utilities/ArEnumConversion.cs
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Utilities/ArEnumConversion.cs.meta
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityCameraProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens1/DefaultHoloLens1CameraProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens2/DefaultHoloLens2CameraProfile.asset
  scripts/support2019/Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  scripts/support2019/setup_for_2019.ps1
Labels: AR Foundation, Cross Platform

#6518 update mrtk_development version number from 2.2.0 -> 2.3.0
  Assets/MixedRealityToolkit.Examples/Version.txt
  Assets/MixedRealityToolkit.Extensions/Version.txt
  Assets/MixedRealityToolkit.Providers/Version.txt
  Assets/MixedRealityToolkit.SDK/Version.txt
  Assets/MixedRealityToolkit.Services/Version.txt
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  Assets/MixedRealityToolkit.Tests/Version.txt
  Assets/MixedRealityToolkit.Tools/Version.txt
  Assets/MixedRealityToolkit/Version.txt
  ProjectSettings/ProjectSettings.asset
  pipelines/ci-daily.yml
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/ci-release.yml
  pipelines/ci.yaml
  pipelines/pr.yaml
Labels: CI/Build

#6529 Add prerelease/2.2.0 to the docs version dropdown
  web/version.js
Labels: Documentation

#6526 Fix interactable to change states after setup of statemanager
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
Labels: UX Controls - Interactable

#6533 Ensure test prep creates a main camera in the scene
  Assets/MixedRealityToolkit.Tests/PlayModeTests/CoreServicesTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
Labels: Tests

#6540 fix helper method to honor new code validation rule
  Assets/MixedRealityToolkit.Tests/TestUtilities.cs
Labels: Tests

#6523 Updates to InteractableToggleCollection - Part 2
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/InteractableToggleCollection.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableToggleCollectionInspector.cs
Labels: Release Blocker, UX Controls - Interactable

#6542 cherry-pick teleport pointer fixes from Alexees
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
Labels: Input System - Pointer

#6548 Cherry pick docs to stabilization
  Documentation/EyeTracking/EyeTracking_ExamplesOverview.md
  Documentation/Input/InputEvents.md
Labels: Documentation

#6547 Add test for Interactable disabled on start
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Prefabs/Model_PushButton_DisabledOnStart.prefab
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Prefabs/Model_PushButton_DisabledOnStart.prefab.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
Labels: Tests, UX Controls - Interactable

#6549 Add base class for camera settings providers
  Assets/MixedRealityToolkit.Extensions/Providers/Experimental/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit/Interfaces/CameraSystem/IMixedRealityCameraSettingsProvider.cs
  Assets/MixedRealityToolkit/Providers/BaseCameraSettingsProvider.cs
  Assets/MixedRealityToolkit/Providers/BaseCameraSettingsProvider.cs.meta
Labels: CameraSystem, Release Blocker

#6559 alphabetization and minor refactoring of the Features section
  Documentation/toc.yml
Labels: Documentation

#6516 Revert "add hololens2 inputsimulationprofile"
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens2/DefaultHoloLens2InputSimulationProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens2/DefaultHoloLens2InputSimulationProfile.asset.meta
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens2/DefaultHoloLens2InputSystemProfile.asset
Labels: Release Blocker

#6563 Generating extension service assembly definitions & folder clean up
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/BasicLostTrackingVisual.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/BasicLostTrackingVisual.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor/LostTrackingServiceInspector.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor/LostTrackingServiceInspector.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor/Microsoft.MixedReality.Toolkit.Extensions.Tracking.Editor.asmdef
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor/Microsoft.MixedReality.Toolkit.Extensions.Tracking.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces/ILostTrackingService.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces/ILostTrackingService.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces/ILostTrackingVisual.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces/ILostTrackingVisual.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Microsoft.MixedReality.Toolkit.Extensions.Tracking.asmdef
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Microsoft.MixedReality.Toolkit.Extensions.Tracking.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Profiles.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Profiles/DefaultLostTrackingServiceProfile.asset
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Profiles/DefaultLostTrackingServiceProfile.asset.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/CameraFaderQuad.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/CameraFaderQuad.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions/CameraFaderState.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions/CameraFaderState.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions/CameraFaderTargets.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions/CameraFaderTargets.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces/ICameraFader.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces/ICameraFader.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces/ISceneTransitionService.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces/ISceneTransitionService.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/LoadContentScene.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/LoadContentScene.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Microsoft.MixedReality.Toolkit.Extensions.SceneTransitionService.asmdef
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Microsoft.MixedReality.Toolkit.Extensions.SceneTransitionService.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Profiles.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Profiles/DefaultSceneTransitionServiceProfile.asset
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Profiles/DefaultSceneTransitionServiceProfile.asset.meta
Labels: Release Blocker

#6528 Bugfix boundingbox rotationhandle
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
Labels: UX Controls - Bounding Box

#6571 Merge pull request #6563 from radicalad/extensionServiceAsmedf
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/BasicLostTrackingVisual.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/BasicLostTrackingVisual.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor/LostTrackingServiceInspector.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor/LostTrackingServiceInspector.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor/Microsoft.MixedReality.Toolkit.Extensions.Tracking.Editor.asmdef
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Editor/Microsoft.MixedReality.Toolkit.Extensions.Tracking.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces/ILostTrackingService.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces/ILostTrackingService.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces/ILostTrackingVisual.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Interfaces/ILostTrackingVisual.cs.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Microsoft.MixedReality.Toolkit.Extensions.Tracking.asmdef
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Microsoft.MixedReality.Toolkit.Extensions.Tracking.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Profiles.meta
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Profiles/DefaultLostTrackingServiceProfile.asset
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Profiles/DefaultLostTrackingServiceProfile.asset.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/CameraFaderQuad.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/CameraFaderQuad.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions/CameraFaderState.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions/CameraFaderState.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions/CameraFaderTargets.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Definitions/CameraFaderTargets.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces/ICameraFader.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces/ICameraFader.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces/ISceneTransitionService.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Interfaces/ISceneTransitionService.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/LoadContentScene.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/LoadContentScene.cs.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Microsoft.MixedReality.Toolkit.Extensions.SceneTransitionService.asmdef
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Microsoft.MixedReality.Toolkit.Extensions.SceneTransitionService.asmdef.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Profiles.meta
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Profiles/DefaultSceneTransitionServiceProfile.asset
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Profiles/DefaultSceneTransitionServiceProfile.asset.meta
Labels: Release Blocker

#6570 Add camera system documentation
  Assets/MixedRealityToolkit/Providers/BaseCameraSettingsProvider.cs
  Documentation/CameraSystem/CameraSystemOverview.md
  Documentation/CameraSystem/CreateSettingsProvider.md
  Documentation/CameraSystem/UnityArCameraSettings.md
  Documentation/CameraSystem/WindowsMixedRealityCameraSettings.md
  Documentation/Images/CameraSystem/CameraDisplaySettings.png
  Documentation/Images/CameraSystem/CameraSettingsProviders.png
  Documentation/Images/CameraSystem/EnableCameraSystem.png
  Documentation/Images/CameraSystem/ExampleProviderFolderStructure.png
  Documentation/Images/CameraSystem/ExpandNewProvider.png
  Documentation/Images/CameraSystem/ExpandProviders.png
  Documentation/Images/CameraSystem/SelectCameraProfile.png
  Documentation/Images/CameraSystem/SelectCameraSystemType.png
  Documentation/Images/CameraSystem/SelectUnityArSettings.png
  Documentation/Images/CameraSystem/SelectWindowsMixedRealitySettings.png
  Documentation/Images/CameraSystem/UnityArSettingsConfiguration.png
  Documentation/toc.yml
Labels: CameraSystem, Documentation

#6572 Merge pull request #6528 from gilbdev/bugfix/boundingbox_rotationhandle
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
Labels: Release Blocker, UX Controls - Bounding Box

#6315 Create serializable Project Preferences
  .gitignore
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitFilesTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ProjectPreferencesTest.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ProjectPreferencesTest.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/ProjectPreferencesInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/ProjectPreferencesInspector.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Utilities/Search/MixedRealitySearchInspectorUtility.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences.meta
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences/EditorPreferences.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences/EditorPreferences.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences/ProjectPreferences.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences/ProjectPreferences.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences/SerializableDictionary.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Preferences/SerializableDictionary.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityToolkitFiles.cs
  Assets/MixedRealityToolkit/Utilities/UWPCapabilityUtility.cs
Labels: Editor

#6575 add wsa editor build support - unblock #6391
  NuGet/BuildSource.proj
  pipelines/templates/compilemsbuild.yml
  scripts/packaging/createnugetpackages.ps1
Labels: CI/Build

#6583 Interactable inspector polish
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityStylesUtility.cs
Labels: Editor, UX Controls - Interactable

#6544 add build rule for android and ios players
  NuGet/BuildSource.proj
  pipelines/templates/compilemsbuild.yml
  scripts/packaging/createnugetpackages.ps1
Labels: CI/Build, Release Blocker

#6578 Remove unused matrixVP to prevent shader error
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Assets/SR_Triangles.shader
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Assets/SR_Triangles_Object_Space.shader
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Assets/SR_triangles_Lost_Tracking.mat
Labels: Release Blocker

#6591 Update boundary system to use MRTK type instead of Unity type
  Assets/MixedRealityToolkit.Examples/Demos/Boundary/Scripts/BoundaryVisualizationDemo.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/Definitions/BoundarySystem/BoundaryType.cs
  Assets/MixedRealityToolkit/Definitions/BoundarySystem/BoundaryType.cs.meta
  Assets/MixedRealityToolkit/Interfaces/BoundarySystem/IMixedRealityBoundarySystem.cs
  Documentation/Updating.md
Labels: Boundaries

#6590 Create separate package for UnityAR provider
  Assets/MixedRealityToolkit.Staging.meta
  Assets/MixedRealityToolkit.Staging/UnityAR.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Definitions.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Definitions/ArTrackedPose.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/Definitions/ArTrackedPose.cs.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Definitions/ArTrackingType.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/Definitions/ArTrackingType.cs.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Definitions/ArUpdateType.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/Definitions/ArUpdateType.cs.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/Microsoft.MixedReality.Providers.UnityAR.Editor.asmdef
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/Microsoft.MixedReality.Providers.UnityAR.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/License.txt
  Assets/MixedRealityToolkit.Staging/UnityAR/License.txt.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  Assets/MixedRealityToolkit.Staging/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Profiles.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset
  Assets/MixedRealityToolkit.Staging/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/UnityARCameraSettings.cs.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/UnityARCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/UnityARCameraSettingsProfile.cs.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Utilities.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Utilities/ArEnumConversion.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/Utilities/ArEnumConversion.cs.meta
  Assets/MixedRealityToolkit.Staging/UnityAR/Version.txt
  Assets/MixedRealityToolkit.Staging/UnityAR/Version.txt.meta
  scripts/packaging/unitypackage.ps1
Labels: Package Management, Package Management - NuGet, Release Blocker

#6601 Always enable View Asset and Documentation buttons in profile inspectors
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityInspectorUtility.cs
Labels: Profile and Inspectors, Release Blocker

#6603 Refresh profile inspector documentation images
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_ActiveConfiguration.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_BoundaryVisualizationProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_CameraProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_ControllerMappingProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_ControllerVisualizationProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_DiagnosticsProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_DiagnosticsSystemSelection.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_ExperienceSettings.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_GesturesProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputActionsProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputPointerProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputSystemProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_InputSystemSelection.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_MixedRealityToolkitConfigurationScreen.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_RegisteredServiceProfidersProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_SceneSystemProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_SpatialAwarenessProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_SpatialAwarenessSystemSelection.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_SpeechCommandsProfile.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_TeleportationSystemSelection.png
  Documentation/Images/MixedRealityToolkitConfigurationProfileScreens/MRTK_WindowsMixedRealityControllerConfigScreen.png
  Documentation/Images/Profiles/input_profile.png
  Documentation/MixedRealityConfigurationGuide.md
Labels: Documentation

#6608 Document prerequisites for using the Unity Ar settings provider
  Documentation/CameraSystem/UnityArCameraSettings.md
  Documentation/Images/CrossPlatform/UnityArAssemblyReferences.png
  scripts/support2019/Assets/MixedRealityToolkit.Staging/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  scripts/support2019/setup_for_2019.ps1
Labels: AR Foundation, Cross Platform, Documentation

#6605 fix auto-population of default profile
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingService.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionService.cs
Labels: Extension

#6610 fix nuget packaging error
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
Labels: Package Management - NuGet, Release Blocker

#6594 Fix incorrectly set up gridobjectcollection assets
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/NearMenuExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/BoundingBox/Scenes/BoundingBoxExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Collections/Scripts/GridObjectLayoutControl.cs
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scenes/InteractablesExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/PressableButton/Scenes/PressableButtonExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Text/Scenes/TextPrefabExamples.unity
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHub.unity
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHubMainMenu.unity
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_AboveFingertips_3x2.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_AboveFingertips_3x4.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Scenes.meta
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Scripts.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar3H.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar3V.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar4H.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar4V.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar5V.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Sliders/PinchSlider.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
Labels: Release Blocker

#6616 Progress Indicator State Field Fix
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorObjectDisplay.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorOrbsRotator.cs
Labels: Release Blocker

#6607 Update MixedRealityInputAction constructor
  Assets/MixedRealityToolkit.Providers/OpenVR/GenericOpenVRController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/OculusTouchController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/ViveKnucklesController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/ViveWandController.cs
  Assets/MixedRealityToolkit.Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityGGVHand.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedArticulatedHand.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedGestureHand.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchController.cs
Labels: Input System, Input System - Input Actions

#6618 disable packaging of source code in nupkg files
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Staging/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit.Tools/MixedReality.Toolkit.Tools.nuspec
Labels: Package Management - NuGet, Release Blocker

#6615 Bugfix boundingbox rotationhandle #2
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
Labels: Release Blocker

#6620 package android and ios players in foundation (#6441)
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildTemplates/Plugin.Android.meta.template
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildTemplates/Plugin.Android.meta.template.meta
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildTemplates/Plugin.iOS.meta.template
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildTemplates/Plugin.iOS.meta.template.meta
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
Labels: Android, Cross Platform, Package Management - NuGet, Release Blocker, iOS

#6633 add new authors for 2.2.0
  Documentation/Authors.md
Labels: Documentation

#6602 Fix CanInteract in Interactable
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
Labels: Tests, UX Controls - Interactable

#6644 Fix Solver Doc Images
  Documentation/README_Solver.md
Labels: Documentation, Solvers

#6599 Polish near interaction docs
  Documentation/Images/Input/Pointers/GrabPointer_MRTKProfile.png
  Documentation/Images/Input/Pointers/NearInteractionTouchableGizmos.png
  Documentation/Images/Input/Pointers/NearInteractionTouchableSetup.gif
  Documentation/Images/Input/Pointers/PokePointer_MRTKProfile.png
  Documentation/Input/HowToAddNearInteractivity.md
Labels: Documentation, Input System, Touch Input

#6652 Moves some methods from WindowsMixedRealityExtensions to SystemNumericsExtensions
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityUtilities.cs
  Assets/MixedRealityToolkit/Extensions/SystemNumericsExtensions.cs
  Assets/MixedRealityToolkit/Extensions/SystemNumericsExtensions.cs.meta
Labels: Cross Platform

#6653 Update BaseController.SetupConfiguration parameters to no longer take in a source type
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/BaseInputSimulationService.cs
  Assets/MixedRealityToolkit/Interfaces/Devices/IMixedRealityController.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
Labels: Controller Visualization, Cross Platform

#6648 Refresh getting started images, add package content details
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/MRTK_ConfigureScene.png
  Documentation/Images/MRTK_NoProfileMessage.png
  Documentation/Images/MRTK_SelectConfigurationProfile.png
  Documentation/Images/MRTK_UnitySetupPrompt.png
  Documentation/MRTK_PackageContents.md
  Documentation/toc.yml
Labels: Documentation

#6635 Staging files
  Assets/MixedRealityToolkit.Staging/License.txt
  Assets/MixedRealityToolkit.Staging/License.txt.meta
  Assets/MixedRealityToolkit.Staging/README.md
  Assets/MixedRealityToolkit.Staging/README.md.meta
  Assets/MixedRealityToolkit.Staging/Version.txt
  Assets/MixedRealityToolkit.Staging/Version.txt.meta
  scripts/packaging/unitypackage.ps1
Labels: Documentation, Package Management

#6667 README_Button.md Unity UI tweak
  Documentation/README_Button.md
Labels: Documentation

#6661 First pass on docs formatting, spelling, and updates
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/SpatialAwarenessMeshObject.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
  Documentation/Architecture/ConfigurationAndProfiles.md
  Documentation/Architecture/FrameworkAndRuntime.md
  Documentation/Architecture/InputSystem/CoreSystem.md
  Documentation/Architecture/InputSystem/Terminology.md
  Documentation/Architecture/Overview.md
  Documentation/Architecture/SystemsExtensionsProviders.md
  Documentation/Boundary/BoundarySystemGettingStarted.md
  Documentation/CameraSystem/CreateSettingsProvider.md
  Documentation/CameraSystem/UnityArCameraSettings.md
  Documentation/Contributing/BreakingChanges.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/DevDocGuide.md
  Documentation/Contributing/DocumentationGuide.md
  Documentation/Contributing/ExperimentalFeatures.md
  Documentation/Contributing/Feature_Contribution_Process.md
  Documentation/Contributing/PullRequests.md
  Documentation/Contributing/Roadmap.md
  Documentation/Contributing/UnitTests.md
Labels: Documentation

#6647 Fix Interactable default input action
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
Labels: UX Controls - Interactable

#6654 [Docs] Landing page update: Added Galaxy Explorer. Example scene screenshots update
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Images/EyeTracking/mrtk_et_heatmaps.png
  Documentation/Images/EyeTracking/mrtk_et_navigation.png
  Documentation/Images/EyeTracking/mrtk_et_targetselect.png
  Documentation/Images/MRTK_GalaxyExplorer.jpg
  README.md
Labels: Documentation

#6676 Cherry pick docs to stabilization
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/Input/HowToAddNearInteractivity.md
  Documentation/README_Button.md
  Documentation/README_ExampleHub.md
Labels: Documentation

#6673 Fix invalid scene transition service profile
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubRegisteredServiceProvidersProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneTransitionServiceProfile.asset
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/Profiles/DefaultSceneTransitionServiceProfile.asset
  scripts/ci/validatecode.ps1
Labels: Release Blocker

#6650 GridObjectCollection asset migration attempt 2
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Scenes/EyeTrackingDemo-02-TargetSelection.unity
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Scenes/EyeTrackingDemo-03-Navigation.unity
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Scenes/EyeTrackingDemo-04-TargetPositioning.unity
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/Scenes/EyeTrackingDemo-05-Visualizer.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Prefabs/PalmUpHandMenu.prefab
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/HandMenuExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Scenes/NearMenuExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scenes/ClippingExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/BoundingBox/Scenes/BoundingBoxExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Collections/Scenes/ObjectCollectionExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Scenes/InteractablesExamples.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/PressableButton/Scenes/PressableButtonExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Slate/SlateExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Slider/Scenes/SliderExample.unity
  Assets/MixedRealityToolkit.Examples/Demos/UX/Text/Scenes/TextPrefabExamples.unity
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHubMainMenu.unity
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_AboveFingertips_3x2.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_InPalm_3x3.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x3.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x3_Circles.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x4.prefab
  Assets/MixedRealityToolkit.Examples/Experimental/HandMenuLayout/Scenes/HandMenuLayoutExamples.unity
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/Assets/SR_Triangles_Lost_Tracking.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
  Assets/MixedRealityToolkit.Tools/RuntimeTools/Tools/ControllerMappingTool/ControllerMappingTool.unity
Labels: Release Blocker

#6691 Add meta validation to PR validation
  Assets/MixedRealityToolkit.Tools/MSBuild/MRTKMSBuildTemplates.meta
  pipelines/templates/common.yml
  scripts/ci/validatecode.ps1
Labels: CI/Build

#6696 Add component menu to obsolete
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoTargetPositioning/Scripts/GrabReleaseDetector.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoVisualizer/Scripts/OnSelectVisualizerInputController.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/TargetBehaviors/KeepFacingCamera.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/Utils/KeepThisAlive.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/Utils/StatusText.cs
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/DemoTouchButton.cs
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/GrabTouchExample.cs
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Script/ToggleBoundingBox.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/PointerClickHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Layout/ButtonBackgroundSize.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Layout/ButtonBackgroundSizeOffset.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/InteractableHighlight.cs
  Assets/MixedRealityToolkit.Services/InputSystem/InputSystemGlobalListener.cs
Labels: Editor

#6698 Fix deploy issue after Unity assembly reload
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/WindowsDevicePortal/DevicePortal.cs
Labels: Build Window

#6704 Second phase of stabilization docs formatting, spelling, and updates
  Documentation/Contributing/Feature_Contribution_Process.md
  Documentation/Diagnostics/UsingVisualProfiler.md
  Documentation/Extensions/ExtensionServices.md
  Documentation/Extensions/SceneTransitionService/SceneTransitionServiceOverview.md
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
  Documentation/EyeTracking/EyeTracking_ExamplesOverview.md
  Documentation/EyeTracking/EyeTracking_EyeGazeProvider.md
  Documentation/EyeTracking/EyeTracking_EyesAndHands.md
  Documentation/EyeTracking/EyeTracking_IsUserCalibrated.md
  Documentation/EyeTracking/EyeTracking_Main.md
  Documentation/EyeTracking/EyeTracking_Navigation.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/Input/CreateDataProvider.md
  Documentation/Input/Gaze.md
  Documentation/Input/InputEvents.md
  Documentation/Input/InputState.md
  Documentation/Input/Overview.md
  Documentation/Input/Pointers.md
  Documentation/Input/Speech.md
  Documentation/InputSimulation/InputAnimationRecording.md
  Documentation/InputSimulation/InputSimulationService.md
Labels: Documentation

#6702 Update WMR scripts with DotNetWinRT support for Holographic Remoting
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityUtilities.cs
Labels: Holographic Remoting

#6712 Material theme should not active/deactivate host gameobject
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableMaterialTheme.cs
Labels: Visual Themes

#6699 Don't crash on global listeners
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Components/TestInputGlobalListener.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InputEventSystemTests.cs
  Assets/MixedRealityToolkit/Services/BaseEventSystem.cs
Labels: DDE Partner, Input System

#6718 Automatically modify the package manifest to include msbuild for unity
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest.meta
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs.meta
  Packages/manifest.json
Labels: Package Management, Release Blocker

#6720 Add csproj and nuget for DotNetWinRT
  .gitignore
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/DotNetAdapter.csproj
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/DotNetAdapter.csproj.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/NuGet.config
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/NuGet.config.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
Labels: Holographic Remoting

#6713 [Docs] Pulse shader documentation improvement
  Assets/MixedRealityToolkit.SDK/Experimental/PulseShader/README.md
Labels: Documentation

#6728 add support for dotnetwinrt adapter in asset retargeter
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
Labels: CI/Build, Release Blocker

#6730 fix logic error in asset retargeting
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
Labels: CI/Build

#6719 Add new foundation package dependency
  Assets/MixedReality.Toolkit.Foundation.nuspec
Labels: Package Management - NuGet, Release Blocker

#6729 Move MSBuild for Unity enabling to MRTK Configurator
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  ProjectSettings/ProjectSettings.asset
Labels: Build / Tools, Release Blocker

#6733 update roadmap to include 2.3 plan and 2.4 early ideas
  Documentation/Contributing/Roadmap.md
Labels: Documentation

#6740 update manifest to not auto-pull msbuild for unity
  Packages/manifest.json
Labels: Package Management

#6742 Mark MRC capture settings as experimental, disabled by default
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Profiles/DefaultWindowsMixedRealityCameraSettingsProfile.asset
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityCameraSettingsProfile.cs
Labels: CameraSystem, HoloLens 2

#6749 Update recommended version for new MRC and header update
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/UnitTests.md
Labels: Documentation

#6754 update MSBuild for Unity reference to v0.8.2
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/DotNetAdapter.csproj
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
Labels: Package Management, Release Blocker
