Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-10, with the labels that each got.

#8722 Cherrypick #8711 to 2.5
  Documentation/ReleaseNotes.md
Labels: Documentation

#8721 Additional improvement to remoting doc
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation

#8712 Update github.io documentation version list and default
  scripts/docs/web/version.js
Labels: Documentation, Release Management

#8726 mrtk_release -> mrtk_development
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
  scripts/docs/web/version.js
Labels: Release Management

#8617 Re-add haptics to InteractionSourceExtensions
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Extensions/InteractionSourceExtensions.cs
Labels: Windows Mixed Reality

#8731 Clean up CI exceptions list
  scripts/ci/validatecode.ps1
Labels: CI/Build

#8744 Fix table in MRTK_Packages document
  Documentation/Packaging/MRTK_Packages.md
Labels: Documentation

#8764 Replacement PR for #8761, 8760, 8759 and 8758
  Assets/MRTK/StandardAssets/Textures/IridescentSpectrum.png
  Assets/MRTK/StandardAssets/Textures/IridescentSpectrum.png.meta
  Assets/MRTK/StandardAssets/Textures/IridescentSpectrumRainbow.png
  Assets/MRTK/StandardAssets/Textures/IridescentSpectrumRainbow.png.meta
  Assets/MRTK/StandardAssets/packagetemplate.json
  Documentation/Authors.md
Labels: Package Management - UPM

#8765 Use variable expansion for CI/PR demands
  pipelines/ci-daily.yml
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/ci-release.yml
  pipelines/ci-weekly-internal.yml
  pipelines/ci.yaml
  pipelines/pr.yaml
Labels: CI/Build

#8682 Make sure NearInteraction triggers CanInteract check
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/InteractableToggleCollection.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Simulation/InteractablePointerSimulator.cs
  Assets/MRTK/Tests/PlayModeTests/InteractableTests.cs
Labels: Bug

#8428 Feature/step slider
  Assets/MRTK/Examples/Experimental/StepSlider.meta
  Assets/MRTK/Examples/Experimental/StepSlider/StepSliderExample.unity
  Assets/MRTK/Examples/Experimental/StepSlider/StepSliderExample.unity.meta
  Assets/MRTK/SDK/Experimental/StepSlider.meta
  Assets/MRTK/SDK/Experimental/StepSlider/README.md
  Assets/MRTK/SDK/Experimental/StepSlider/README.md.meta
  Assets/MRTK/SDK/Experimental/StepSlider/StepSlider.cs
  Assets/MRTK/SDK/Experimental/StepSlider/StepSlider.cs.meta
  Assets/MRTK/SDK/Experimental/StepSlider/StepSlider.prefab
  Assets/MRTK/SDK/Experimental/StepSlider/StepSlider.prefab.meta
  Assets/MRTK/SDK/Features/UX/Scripts/Sliders/PinchSlider.cs
  Documentation/README_Sliders.md
Labels: Help Wanted

#8772 Update some private property casing
  Assets/MRTK/Examples/Demos/EyeTracking/DemoTargetPositioning/Scripts/MoveObjByEyeGaze.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystem.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystemEditorOperations.cs
Labels: Code Style

#8753 Fix inaccessible scene system resources
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealitySceneSystemProfileInspector.cs
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySceneSystemProfile.asset
  Assets/MRTK/SceneSystemResources.meta
  Assets/MRTK/SceneSystemResources/DefaultLightingScene.unity
  Assets/MRTK/SceneSystemResources/DefaultLightingScene.unity.meta
  Assets/MRTK/SceneSystemResources/DefaultManagerScene.unity
  Assets/MRTK/SceneSystemResources/DefaultManagerScene.unity.meta
  Assets/MRTK/packagetemplate.json
  Documentation/Images/SceneSystem/DefaultResourcesMessage.png
  Documentation/Images/SceneSystem/ReimportSceneSystemResources.png
  Documentation/Images/SceneSystem/UpmImportSceneSystemResources.png
  Documentation/Packaging/MRTK_Packages.md
  Documentation/SceneSystem/SceneSystemGettingStarted.md
  scripts/packaging/createupmpackages.ps1
  scripts/packaging/extensionsfolderpreupm.ps1
  scripts/packaging/foundationpreupm.ps1
Labels: Multi-Scene, Package Management - UPM

#8788 Reset release notes for 2.6
  Documentation/ReleaseNotes.md
Labels: Documentation

#8786 Add license and changelog files to the UPM packages
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MRTK/Examples/packagetemplate.json
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySceneSystemProfile.asset
  Assets/MRTK/packagetemplate.json
  CHANGELOG.md
  LICENSE.md
  UPM/Documentation~/README.md
  UPM/UnityMetaFiles/CHANGELOG.md.meta.examples
  UPM/UnityMetaFiles/CHANGELOG.md.meta.extensions
  UPM/UnityMetaFiles/CHANGELOG.md.meta.foundation
  UPM/UnityMetaFiles/CHANGELOG.md.meta.standardassets
  UPM/UnityMetaFiles/CHANGELOG.md.meta.testutilities
  UPM/UnityMetaFiles/CHANGELOG.md.meta.tools
  UPM/UnityMetaFiles/LICENSE.md.meta.examples
  UPM/UnityMetaFiles/LICENSE.md.meta.extensions
  UPM/UnityMetaFiles/LICENSE.md.meta.foundation
  UPM/UnityMetaFiles/LICENSE.md.meta.standardassets
  UPM/UnityMetaFiles/LICENSE.md.meta.testutilities
  UPM/UnityMetaFiles/LICENSE.md.meta.tools
  UPM/UnityMetaFiles/NOTICE.md.meta.examples
  UPM/UnityMetaFiles/NOTICE.md.meta.extensions
  UPM/UnityMetaFiles/NOTICE.md.meta.foundation
  UPM/UnityMetaFiles/NOTICE.md.meta.standardassets
  UPM/UnityMetaFiles/NOTICE.md.meta.testutilities
  UPM/UnityMetaFiles/NOTICE.md.meta.tools
  scripts/packaging/createupmpackages.ps1
Labels: Package Management - UPM

#8798 Cherry-pick fix for #8719 into 2.5.1 release
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionTouchablesExample.unity
Labels: Example/Test Scene

#8797 Merge stabilization -> mrtk_dev
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MRTK/Examples/packagetemplate.json
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySceneSystemProfile.asset
  Assets/MRTK/packagetemplate.json
  CHANGELOG.md
  LICENSE.md
  UPM/Documentation~/README.md
  UPM/UnityMetaFiles/CHANGELOG.md.meta.examples
  UPM/UnityMetaFiles/CHANGELOG.md.meta.extensions
  UPM/UnityMetaFiles/CHANGELOG.md.meta.foundation
  UPM/UnityMetaFiles/CHANGELOG.md.meta.standardassets
  UPM/UnityMetaFiles/CHANGELOG.md.meta.testutilities
  UPM/UnityMetaFiles/CHANGELOG.md.meta.tools
  UPM/UnityMetaFiles/LICENSE.md.meta.examples
  UPM/UnityMetaFiles/LICENSE.md.meta.extensions
  UPM/UnityMetaFiles/LICENSE.md.meta.foundation
  UPM/UnityMetaFiles/LICENSE.md.meta.standardassets
  UPM/UnityMetaFiles/LICENSE.md.meta.testutilities
  UPM/UnityMetaFiles/LICENSE.md.meta.tools
  UPM/UnityMetaFiles/NOTICE.md.meta.examples
  UPM/UnityMetaFiles/NOTICE.md.meta.extensions
  UPM/UnityMetaFiles/NOTICE.md.meta.foundation
  UPM/UnityMetaFiles/NOTICE.md.meta.standardassets
  UPM/UnityMetaFiles/NOTICE.md.meta.testutilities
  UPM/UnityMetaFiles/NOTICE.md.meta.tools
  scripts/packaging/createupmpackages.ps1
Labels: Release Management

#8799 Cherry-pick fix for #8654 for 2.5.1 release
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/LeapMotionHandTrackingExample.unity
Labels: Example/Test Scene

#8805 Release notes for v2.5.1
  Documentation/ReleaseNotes.md
  Documentation/usingupm.md
Labels: Documentation, Release Management

#8809 Update Oculus device manager to load default profile automatically
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Profiles/DefaultOculusXRSDKDeviceManagerProfile.asset
  Assets/MRTK/Providers/Oculus/XRSDK/Profiles/DefaultOculusXRSDKDeviceManagerProfile.asset.meta
  Assets/MRTK/Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
  Documentation/CrossPlatform/OculusQuestMRTK.md
Labels: Oculus

#8804 Fix immutable shader issue when switching to URP (#8783)
  Assets/MRTK/StandardAssets/EditorUtilities.meta
  Assets/MRTK/StandardAssets/EditorUtilities/MRTK.StandardAssets.Editor.asmdef
  Assets/MRTK/StandardAssets/EditorUtilities/MRTK.StandardAssets.Editor.asmdef.meta
  Assets/MRTK/StandardAssets/EditorUtilities/OnLoadUtilities.cs
  Assets/MRTK/StandardAssets/EditorUtilities/OnLoadUtilities.cs.meta
  Assets/MRTK/StandardAssets/Shaders/MRTK.Shaders.sentinel
  Assets/MRTK/StandardAssets/Shaders/MRTK.Shaders.sentinel.meta
  Documentation/ReleaseNotes.md
  scripts/ci/validatecode.ps1
  scripts/packaging/createupmpackages.ps1
Labels: Package Management - UPM, Shaders / Materials

#8815 Merge stabilization -> mrtk_dev
  Assets/MRTK/Core/Extensions/TypeExtensions.cs
  Assets/MRTK/Core/Inspectors/Profiles/DataProviderAccessServiceInspector.cs
  Assets/MRTK/StandardAssets/EditorUtilities.meta
  Assets/MRTK/StandardAssets/EditorUtilities/MRTK.StandardAssets.Editor.asmdef
  Assets/MRTK/StandardAssets/EditorUtilities/MRTK.StandardAssets.Editor.asmdef.meta
  Assets/MRTK/StandardAssets/EditorUtilities/OnLoadUtilities.cs
  Assets/MRTK/StandardAssets/EditorUtilities/OnLoadUtilities.cs.meta
  Assets/MRTK/StandardAssets/Shaders/MRTK.Shaders.sentinel
  Assets/MRTK/StandardAssets/Shaders/MRTK.Shaders.sentinel.meta
  Documentation/ReleaseNotes.md
  Documentation/usingupm.md
  scripts/ci/validatecode.ps1
  scripts/packaging/createupmpackages.ps1
Labels: Release Management

#8821 Add additional references to the ARM64 workaround to ReleaseNotes and UsingUpm articles
  Documentation/ReleaseNotes.md
  Documentation/usingupm.md
Labels: Documentation

#8818 update the docs list and default to 2.5.1
  scripts/docs/web/version.js
Labels: Documentation, Release Management

#8823 mrtk_release -> mrtk_development
  Documentation/ReleaseNotes.md
  Documentation/usingupm.md
  scripts/docs/web/version.js
Labels: Release Management

#8825 Added a missing quote
  Documentation/usingupm.md
Labels: Documentation

#8841 Separate out if checks so we don't skip the continue and cause IndexOutOfRangeException
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool/ListInputFeatureUsages.cs
Labels: Build / Tools

#8845 Update release notes, fix authors formatting
  Documentation/Authors.md
  Documentation/ReleaseNotes.md
Labels: Documentation

#8840 Update mapping profile serialization for Oculus types
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
Labels: Controller Mapping, Oculus

#8848 Fix up some Unity behavioral warnings
  Assets/MRTK/Core/Extensions/GameObjectExtensions.cs
  Assets/MRTK/Core/Extensions/UnityObjectExtensions.cs
  Assets/MRTK/Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerHandlerExample.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/InteractableToggleCollection.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ScaleHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonConfigHelper.cs
  Assets/MRTK/SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Tooltips/ToolTip.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Utilities/ToggleHandVisualisation.cs
  Assets/MRTK/Services/InputSystem/GazeProvider.cs
  Assets/MRTK/Tests/PlayModeTests/PointerTests.cs
Labels: Code Style

#8842 Clipping Enhancements: GPU Instancing, Ellipsoids, and other changes.
  Assets/MRTK/Core/Inspectors/ClippingSphereInspector.cs
  Assets/MRTK/Core/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingBox.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPlane.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPrimitive.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingSphere.cs
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/ClippingInstancedExamples.unity
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/ClippingInstancedExamples.unity.meta
  Assets/MRTK/Examples/StandardAssets/Materials/ShaderBallClippingBox.mat
  Assets/MRTK/Examples/StandardAssets/Materials/ShaderBallClippingPlane.mat
  Assets/MRTK/Examples/StandardAssets/Materials/ShaderBallClippingPlaneInner.mat
  Assets/MRTK/Examples/StandardAssets/Materials/ShaderBallClippingSphere.mat
  Assets/MRTK/Examples/StandardAssets/Materials/ShaderBallClippingSphereInner.mat
  Assets/MRTK/StandardAssets/Shaders/MixedRealityShaderUtils.cginc
  Assets/MRTK/StandardAssets/Shaders/MixedRealityStandard.shader
  Assets/MRTK/StandardAssets/Shaders/MixedRealityTextMeshPro.shader
  Assets/MRTK/StandardAssets/Shaders/Text3DShader.shader
  Documentation/Rendering/ClippingPrimitive.md
Labels: Shader Clipping, Shaders / Materials

#8853 Various GGV pointer related fixes
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/DefaultPointerMediator.cs
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1InputSystemProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1PointerProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1PointerProfile.asset.meta
Labels: Input System - Pointer

#8865 Fix broken link
  Documentation/Contributing/Roadmap.md
Labels: Documentation

#8866 Cherry pick some recent docs changes to 2.5.1
  Documentation/Contributing/Roadmap.md
  Documentation/usingupm.md
Labels: Documentation

#8859 Refactor out WMR controller definition
  Assets/MRTK/Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MRTK/Core/Definitions/Devices/MixedRealityInteractionMappingLegacyInput.cs
  Assets/MRTK/Core/Definitions/Devices/MixedRealityInteractionMappingLegacyInput.cs.meta
  Assets/MRTK/Core/Definitions/Devices/WindowsMixedRealityControllerDefinition.cs
  Assets/MRTK/Core/Definitions/Devices/WindowsMixedRealityControllerDefinition.cs.meta
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedMotionController.cs
  Assets/MRTK/Core/Providers/UnityInput/GenericJoystickController.cs
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MRTK/Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/BaseWindowsMixedRealitySource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/BaseWindowsMixedRealityXRSDKSource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
Labels: Controller Mapping

#8880 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MRTK/Core/Definitions/Devices/MixedRealityInteractionMappingLegacyInput.cs
  Assets/MRTK/Core/Definitions/Devices/MixedRealityInteractionMappingLegacyInput.cs.meta
  Assets/MRTK/Core/Definitions/Devices/WindowsMixedRealityControllerDefinition.cs
  Assets/MRTK/Core/Definitions/Devices/WindowsMixedRealityControllerDefinition.cs.meta
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedMotionController.cs
  Assets/MRTK/Core/Providers/UnityInput/GenericJoystickController.cs
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/OculusXRSDKHandtrackingConfigurationChecker.cs
  Assets/MRTK/Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/BaseWindowsMixedRealitySource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/BaseWindowsMixedRealityXRSDKSource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MRTK/Tests/EditModeTests/Editor/OculusIntegrationSetupTests.cs
  Documentation/Authors.md
  Documentation/CrossPlatform/OculusQuestMRTK.md
Labels: Automerge

#8882 Add an enable flag step to remoting with NuGet instructions
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation

#8884 ButtonConfigHelperInspector typo fix
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
Labels: Bug

#8787 Fix profile switching related issues
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputModule.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Services/InputSystem/Utilities/CanvasUtility.cs
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/ReleaseNotes.md
Labels: Bug
