Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-06, with the labels that each got.

#8002 Added a note about NuGet package support.
  Documentation/GettingStartedWithTheMRTK.md
Labels: Documentation

#7883 Improved NonNativeKeyboard
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_Backspace.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_Close.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_Dictation.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_Down.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_Left.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_Right.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_Shift_Symbols.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_UnShift_Symbols.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/KeyboardKeyGlyphs_Up.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/NonNativeKeyboardSprites.spriteatlas
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/NonNativeKeyboardSprites.spriteatlas.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Icons/Placeholder.png.meta
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Prefabs/NonNativeKeyboard.prefab
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Scripts/KeyboardValueKey.cs
Labels: UX Controls - Non Native Keyboard

#8010 Fix controller mapping profile rendering in Unity 2019.3
  Assets/MRTK/Core/Inspectors/Utilities/MixedRealityStylesUtility.cs
Labels: Profile and Inspectors, Unity 2019

#7940 Migrating PressableButton and PressableButtonHololens2 to use local positioning for movingButtonVisuals and iconText objects.
  Assets/MRTK/SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MRTK/SDK/Features/UX/Scripts/PressableButtons/PressableButtonHoloLens2.cs
  Assets/MRTK/Tests/PlayModeTests/PressableButtonTests.cs
Labels: Bug, Fixed

#8013 Fixing slate zoom when slate is rotated around up vector
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MRTK/Tests/PlayModeTests/SlateTests.cs
Labels: Bug, UX Controls - Slate

#8032 Update WMR Plugin version to 1.0.21
  Packages/manifest.json
Labels: Holographic Remoting

#8033 Move "Enable MSBuild for Unity" from config dialog to MRTK menu
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Documentation/Images/ConfigurationDialog/EnableMSB4UPrompt.png
  Documentation/Images/ConfigurationDialog/MSB4UMenuItems.png
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
Labels: Configuration, Editor

#8070 Update test icons
  Assets/MRTK/Tests/EditModeTests/BoundarySystem/InscribedRectangleTests.cs.meta
  Assets/MRTK/Tests/EditModeTests/Editor/ToolboxWindowTests.cs.meta
  Assets/MRTK/Tests/EditModeTests/Tools/ExtensionServiceCreatorTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/BaseEventSystemTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/GltfTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/NearInteractionGrabbableTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/UserInputSimulationTest.cs.meta
Labels: Tests

#8071 Update some textures to load by GUID
  Assets/MRTK/Core/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MRTK/Services/InputSimulation/Editor/InputSimulationWindow.cs
Labels: Package Management - UPM

#8073 Update InputSimulationWindow to show pause button
  Assets/MRTK/Services/InputSimulation/Editor/InputSimulationWindow.cs
Labels: Input Simulation

#8084 Add new layer to nuspec files to fix build
  Assets/MRTK/Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MRTK/Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MRTK/Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MRTK/Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MRTK/Tests/TestUtilities/MixedReality.Toolkit.Tests.Utilities.nuspec
  Assets/MRTK/Tools/MixedReality.Toolkit.Tools.nuspec
Labels: Package Management - NuGet

#8085 Update MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedReality.Toolkit.Foundation.nuspec
Labels: Package Management - NuGet

#8019 Damped harmonic oscillator/elastic sim system
  Assets/MRTK/SDK/Experimental/Elastic.meta
  Assets/MRTK/SDK/Experimental/Elastic/Scripts.meta
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticHandleLogic.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticHandleLogic.cs.meta
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticSystem.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticSystem.cs.meta
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticTypes.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticTypes.cs.meta
  Assets/MRTK/Tests/PlayModeTests/Experimental/ElasticTests.cs
  Assets/MRTK/Tests/PlayModeTests/Experimental/ElasticTests.cs.meta
Labels: UX Controls

#8100 Turn off head gaze override by default
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoPointerProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExamplePointerProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubPointerProfile.asset
  Assets/MRTK/Examples/Experimental/NonNativeKeyboard/Profiles/NonNativeKeyboardMixedRealityInputPointerProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
Labels: Input System - Gaze

#8058 Lay the foundation for supporting UPM packaging of MRTK
  Assets/MRTK/Core/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitFiles.cs
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker.meta
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/AssemblyInfo.cs
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/AssemblyInfo.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.LeapMotion.ConfigurationChecker.asmdef
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.LeapMotion.ConfigurationChecker.asmdef.meta
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionConfigurationChecker.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionConfigurationChecker.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor/Microsoft.MixedReality.Toolkit.LeapMotion.Editor.asmdef
  Assets/MRTK/Providers/LeapMotion/Editor/Microsoft.MixedReality.Toolkit.LeapMotion.Editor.asmdef.meta
  Assets/MRTK/Providers/UnityAR/Editor/ConfigurationChecker.meta
  Assets/MRTK/Providers/UnityAR/Editor/ConfigurationChecker/AssemblyInfo.cs
  Assets/MRTK/Providers/UnityAR/Editor/ConfigurationChecker/AssemblyInfo.cs.meta
  Assets/MRTK/Providers/UnityAR/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.UnityAR.ConfigurationChecker.asmdef
  Assets/MRTK/Providers/UnityAR/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.UnityAR.ConfigurationChecker.asmdef.meta
  Assets/MRTK/Providers/UnityAR/Editor/Microsoft.MixedReality.Toolkit.UnityAR.Editor.asmdef
  Assets/MRTK/Providers/UnityAR/Editor/Microsoft.MixedReality.Toolkit.UnityAR.Editor.asmdef.meta
  Assets/MRTK/Providers/UnityAR/Editor/UnityARConfigurationChecker.cs
  Assets/MRTK/Providers/UnityAR/Editor/UnityARConfigurationChecker.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/AssemblyInfo.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/AssemblyInfo.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.ConfigurationChecker.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.ConfigurationChecker.asmdef.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/Microsoft.MixedReality.Toolkit.WMR.Editor.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/Microsoft.MixedReality.Toolkit.WMR.Editor.asmdef.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityConfigurationChecker.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityConfigurationChecker.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.WMR.Editor.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.WMR.Editor.asmdef.meta
  Assets/MRTK/Providers/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.Editor.asmdef
  Assets/MRTK/Providers/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.Editor.asmdef.meta
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MRTK/Tests/EditModeTests/Core/MixedRealityToolkitFilesTests.cs
  Assets/link.xml
Labels: Package Management - UPM

#8103 Add InputFeatureUsage scene
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool.meta
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool/InputFeatureUsageTool.unity
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool/InputFeatureUsageTool.unity.meta
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool/ListInputFeatureUsages.cs
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool/ListInputFeatureUsages.cs.meta
  Documentation/Images/ControllerMappingTool/InputFeatureUsages.png
  Documentation/Tools/ControllerMappingTool.md
  Documentation/Tools/InputFeatureUsageTool.md
  Documentation/toc.yml
Labels: Build / Tools, XR SDK

#8105 Replace Assets/link.xml with dynamically created one in MRTK.Generated
  Assets/MRTK/Core/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitPreserveSettings.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitPreserveSettings.cs.meta
  Assets/link.xml
  Assets/link.xml.meta
  Documentation/MRTK_and_managed_code_stripping.md
  Documentation/ReleaseNotes.md
  Documentation/toc.yml
Labels: Package Management - UPM

#8121 Fix CI: remove link.xml* from the foundation nuspec, it is auto generated
  Assets/MixedReality.Toolkit.Foundation.nuspec
Labels: Package Management - NuGet
