Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-11, with the labels that each got.

#8892 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputModule.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Services/InputSystem/Utilities/CanvasUtility.cs
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
  scripts/ci/common.psm1
  scripts/ci/githubchanges.ps1
  scripts/ci/validatebuildlog.ps1
  scripts/ci/validatecode.ps1
  scripts/ci/validatedocs.ps1
  scripts/lint/prettyjson.ps1
  scripts/packaging/createnugetpackages.ps1
  scripts/packaging/createupmpackages.ps1
  scripts/packaging/examplesfolderpreupm.ps1
  scripts/packaging/extensionsfolderpreupm.ps1
  scripts/packaging/foundationpreupm.ps1
  scripts/packaging/publishupmpackages.ps1
  scripts/packaging/unitypackage.ps1
  scripts/packaging/updateMRTKVersion.ps1
  scripts/packaging/versionmetadata.ps1
  scripts/test/generate_repeat_tests.py
  scripts/test/run_playmode_tests.ps1
  scripts/test/run_repeat_tests.ps1
Labels: Automerge

#8895 Branch synchronization: mrtk_development --> feature/interactive_element
  Documentation/CrossPlatform/OculusQuestMRTK.md
  Documentation/README_BoundsControl.md
Labels: Automerge

#8918 Docs cherrypick to 2.5.1 branch
  Documentation/CrossPlatform/OculusQuestMRTK.md
  Documentation/Images/MRTK_ConfigureScene.png
  Documentation/Images/MRTK_SceneSetup.png
  Documentation/Images/MRTK_UnitySetupPrompt.png
  Documentation/Images/getting_started/MRTK_GettingStarted_TMPro.png
  Documentation/Images/getting_started/SwitchPlatform.png
  Documentation/Installation.md
  Documentation/README_BoundsControl.md
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation

#8906 Introduce IMixedRealityServiceState to allow components and apps to better understand services
  Assets/MRTK/Core/Interfaces/Services/IMixedRealityServiceState.cs
  Assets/MRTK/Core/Interfaces/Services/IMixedRealityServiceState.cs.meta
  Assets/MRTK/Core/Providers/BaseInputDeviceManager.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Core/Providers/InputAnimation/InputRecordingService.cs
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Core/Services/BaseService.cs
  Assets/MRTK/Extensions/HandPhysicsService/HandPhysicsService.cs
  Assets/MRTK/Extensions/LostTrackingService/LostTrackingService.cs
  Assets/MRTK/Extensions/SceneTransitionService/SceneTransitionService.cs
  Assets/MRTK/Providers/Windows/WindowsDictationInputProvider.cs
  Assets/MRTK/Providers/Windows/WindowsSpeechInputProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MRTK/Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystem.cs
  Assets/MRTK/Tests/EditModeTests/Services/BaseTestExtensionService.cs
  Assets/MRTK/Tests/EditModeTests/Services/TestBaseDataProvider.cs
Labels: Core, Services

#8922 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Interfaces/Services/IMixedRealityServiceState.cs
  Assets/MRTK/Core/Interfaces/Services/IMixedRealityServiceState.cs.meta
  Assets/MRTK/Core/Providers/BaseInputDeviceManager.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Core/Providers/InputAnimation/InputRecordingService.cs
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Core/Services/BaseService.cs
  Assets/MRTK/Extensions/HandPhysicsService/HandPhysicsService.cs
  Assets/MRTK/Extensions/LostTrackingService/LostTrackingService.cs
  Assets/MRTK/Extensions/SceneTransitionService/SceneTransitionService.cs
  Assets/MRTK/Providers/Windows/WindowsDictationInputProvider.cs
  Assets/MRTK/Providers/Windows/WindowsSpeechInputProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Collections/BaseObjectCollection.cs
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MRTK/Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystem.cs
  Assets/MRTK/StandardAssets/EditorUtilities/OnLoadUtilities.cs
  Assets/MRTK/Tests/EditModeTests/Services/BaseTestExtensionService.cs
  Assets/MRTK/Tests/EditModeTests/Services/TestBaseDataProvider.cs
  Documentation/Images/MRTK_ConfigureScene.png
  Documentation/Images/MRTK_SceneSetup.png
  Documentation/Images/MRTK_UnitySetupPrompt.png
  Documentation/Images/getting_started/MRTK_GettingStarted_TMPro.png
  Documentation/Images/getting_started/SwitchPlatform.png
  Documentation/Installation.md
Labels: Automerge

#8925 Small fixes for Unity 2020.1
  Assets/MRTK/Core/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
Labels: Unity 2020

#8929 Remove unnecessary PlayspaceAdapter
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
Labels: Spatial Mapping / Awareness, XR SDK

#8932 Clean up some inheritdoc tags
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityPose.cs
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityTransform.cs
  Assets/MRTK/Core/Providers/BaseGenericInputSource.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Core/Providers/GenericPointer.cs
  Assets/MRTK/Core/Providers/InputSimulation/KeyBinding.cs
  Assets/MRTK/Core/Utilities/WindowsDevicePortal/DataStructures/DeviceInfo.cs
  Assets/MRTK/SDK/Features/UX/Scripts/VisualThemes/States/State.cs
  Assets/MRTK/Tests/PlayModeTests/EventCatcherTestUtilities.cs
Labels: Documentation

#8931 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityPose.cs
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityTransform.cs
  Assets/MRTK/Core/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MRTK/Core/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MRTK/Core/Providers/BaseGenericInputSource.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Core/Providers/GenericPointer.cs
  Assets/MRTK/Core/Providers/InputSimulation/KeyBinding.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Core/Utilities/WindowsDevicePortal/DataStructures/DeviceInfo.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/SDK/Features/UX/Scripts/VisualThemes/States/State.cs
  Assets/MRTK/StandardAssets/Shaders/MixedRealityStandard.shader
  Assets/MRTK/Tests/PlayModeTests/EventCatcherTestUtilities.cs
  Documentation/Images/MRTKStandardShader/MRTK_LWRPUpgrade.jpg
  Documentation/Images/MRTKStandardShader/MRTK_URPUpgrade.jpg
  Documentation/Installation.md
  Documentation/README_MRTKStandardShader.md
Labels: Automerge

#8873 Fix GLTF related deserialization issues
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfAccessor.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfAccessorSparseIndices.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfAnimationChannelTarget.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfAnimationSampler.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfBufferView.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfCamera.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfMeshPrimitive.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfSampler.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/GltfConversions.cs
  Documentation/ReleaseNotes.md
Labels: Bug, GLTF

#8934 Read CacheServerIPAddress from env instead of local variable
  pipelines/templates/tasks/unitybuild.yml
Labels: CI/Build

#8936 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfAccessor.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfAccessorSparseIndices.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfAnimationChannelTarget.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfAnimationSampler.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfBufferView.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfCamera.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfMeshPrimitive.cs
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfSampler.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/GltfConversions.cs
  Documentation/ReleaseNotes.md
  pipelines/templates/tasks/unitybuild.yml
Labels: Automerge

#8923 Various BoundsControl fixes
  Assets/MRTK/SDK/Editor/Inspectors/UX/BoundsControl/BoundsControlInspector.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/Links.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/PerAxisHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/VisualUtils.cs
  Documentation/README_BoundsControl.md
Labels: Bug

#8939 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/SDK/Editor/Inspectors/UX/BoundsControl/BoundsControlInspector.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/Links.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/PerAxisHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/VisualUtils.cs
  Documentation/README_BoundsControl.md
  pipelines/pr-2019.yaml
Labels: Automerge

#8953 Delete failing oculus integration test
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/OculusXRSDKHandtrackingConfigurationChecker.cs
  Assets/MRTK/Tests/EditModeTests/Editor/OculusIntegrationSetupTests.cs
  Assets/MRTK/Tests/EditModeTests/Editor/OculusIntegrationSetupTests.cs.meta
Labels: Oculus, Tests, Unity 2019

#8948 Skip rendering build entries when their folder was deleted
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
Labels: Build Window

#8945 Add global dependency validation pipeline task
  pipelines/templates/common.yml
  pipelines/templates/tasks/validateassets.yml
  scripts/ci/validateassets.ps1
Labels: CI/Build, Dependencies

#8963 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Examples/Common/Scripts/LoadProfilesOnStartup.cs
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHub.unity
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputModule.cs
  Assets/MRTK/Tests/PlayModeTests/PointerProfileTests.cs
  Documentation/MixedRealityConfigurationGuide.md
  pipelines/templates/common.yml
  pipelines/templates/tasks/validateassets.yml
  scripts/ci/validateassets.ps1
Labels: Automerge

#8941 Improve scroll bar in input actions profile when not rendered as a sub profile
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
Labels: Profile and Inspectors

#8714 Rigged Hands graduation part 1
  Assets/MRTK/Core/Providers/BaseController.cs
  Assets/MRTK/Core/Providers/Hands/HandPoseUtils.cs
  Assets/MRTK/Core/Providers/Hands/HandPoseUtils.cs.meta
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandControllerVisualizationProfile.asset
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Materials/HandMeshOutline.mat
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_HandsPrefab.prefab
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers/OculusHand.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Profiles/DefaultOculusXRSDKDeviceManagerProfile.asset
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/L_Hand_MRTK_Rig_02.fbx
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/L_Hand_MRTK_Rig_02.fbx.meta
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/R_Hand_MRTK_Rig_02.fbx
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/R_Hand_MRTK_Rig_02.fbx.meta
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/RiggedHandLeft.prefab
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/RiggedHandLeft.prefab.meta
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/RiggedHandRight.prefab
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/RiggedHandRight.prefab.meta
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/RiggedHandVisualizer.cs
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeletonLeft.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeletonLeft.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeletonRight.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeletonRight.prefab.meta
  Assets/MRTK/Tests/PlayModeTests/Core/Providers/Hands/RiggedHandVisualizerTests.cs
  Assets/MRTK/Tests/PlayModeTests/Core/Providers/Hands/RiggedHandVisualizerTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestRiggedHandInputSystemProfile.asset
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestRiggedHandInputSystemProfile.asset.meta
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestRiggedHandVisualizationConfigurationProfile.asset
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestRiggedHandVisualizationConfigurationProfile.asset.meta
Labels: Hand Tracking

#8974 Comment out scoped validation until VM issue is sorted
  pipelines/pr-2019.yaml
  pipelines/pr.yaml
Labels: CI/Build

#8969 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityInputActionsProfileInspector.cs
  Assets/MRTK/Core/Providers/BaseController.cs
  Assets/MRTK/Core/Providers/Hands/HandPoseUtils.cs
  Assets/MRTK/Core/Providers/Hands/HandPoseUtils.cs.meta
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandControllerVisualizationProfile.asset
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Materials/HandMeshOutline.mat
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_HandsPrefab.prefab
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers/OculusHand.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Profiles/DefaultOculusXRSDKDeviceManagerProfile.asset
  Assets/MRTK/Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/RiggedHandLeft.prefab
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/RiggedHandRight.prefab
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/handLeft.fbx
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/Prefabs/handRight.fbx
  Assets/MRTK/SDK/Experimental/RiggedHandVisualizer/README_RiggedHandVisualizer.md
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/L_Hand_MRTK_Rig_02.fbx
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/L_Hand_MRTK_Rig_02.fbx.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/R_Hand_MRTK_Rig_02.fbx
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/R_Hand_MRTK_Rig_02.fbx.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/RiggedHand.mat
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/RiggedHand.mat.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/RiggedHandLeft.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/RiggedHandLeft.prefab.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/RiggedHandRight.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/RiggedHandVisualizer/RiggedHandRight.prefab.meta
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/TeleportCursor.cs
  Assets/MRTK/SDK/Features/UX/Scripts/RiggedHandVisualizer.meta
  Assets/MRTK/SDK/Features/UX/Scripts/RiggedHandVisualizer/RiggedHandVisualizer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/RiggedHandVisualizer/RiggedHandVisualizer.cs.meta
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityXRSDKControllerVisualizationProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityXRSDKControllerVisualizationProfile.asset.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeletonLeft.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeletonLeft.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeletonRight.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeletonRight.prefab.meta
  Assets/MRTK/Tests/PlayModeTests/Core/Providers/Hands/RiggedHandVisualizerTests.cs
  Assets/MRTK/Tests/PlayModeTests/Core/Providers/Hands/RiggedHandVisualizerTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestRiggedHandInputSystemProfile.asset
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestRiggedHandInputSystemProfile.asset.meta
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestRiggedHandVisualizationConfigurationProfile.asset
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestRiggedHandVisualizationConfigurationProfile.asset.meta
  Documentation/README_RiggedHandVisualizer.md
  Documentation/toc.yml
  pipelines/pr-2019.yaml
  pipelines/pr.yaml
Labels: Automerge

#8967 Fix a DeleteArrayElementAtIndex related issue
  Assets/MRTK/SDK/Editor/Inspectors/UX/Constraints/ConstraintManagerInspector.cs
Labels: Bug, Editor

#8981 Lock tests to run on StandaloneWindows to try to improve daily CI
  pipelines/templates/common.yml
  pipelines/templates/tests.yml
Labels: Tests

#8982 Only run 2019 daily on a machine with VS2019
  pipelines/ci-daily.yml
Labels: CI/Build

#8949 Fix button names so that they match their labels in NearMenu prefabs
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu2x4.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu3x2.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu4x2.prefab
Labels: UX Controls - Buttons

#8794 Support for the HP controller in MRTK
  Assets/MRTK/Core/Definitions/Devices/HPMotionControllerDefinition.cs
  Assets/MRTK/Core/Definitions/Devices/HPMotionControllerDefinition.cs.meta
  Assets/MRTK/Core/Definitions/Devices/SupportedControllerType.cs
  Assets/MRTK/Core/Providers/UnityInput/GenericJoystickController.cs
  Assets/MRTK/Providers/OpenVR/HPMotionController.cs
  Assets/MRTK/Providers/OpenVR/HPMotionController.cs.meta
  Assets/MRTK/Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/InputHandlers.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/InputHandlers/HPMotionControllerInputHandler.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/InputHandlers/HPMotionControllerInputHandler.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/MRTK.WMR.Shared.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/BaseWindowsMixedRealitySource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/HPMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/HPMotionController.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/MRTK.WMR.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/HPMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/HPMotionController.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/MRTK.WMR.XRSDK.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/XRSDK/Controllers/GenericXRSDKController.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerVisualizationProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
Labels: Windows Mixed Reality
