Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-04, with the labels that each got.

#7604 Add some profiling to hands (and formatting / cleanup)
  Assets/MRTK/Core/Providers/BaseController.cs
  Assets/MRTK/Core/Providers/BaseInputDeviceManager.cs
  Assets/MRTK/Core/Providers/Hands/ArticulatedHandDefinition.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityArticulatedHandDefinition.cs
  Assets/MRTK/Services/InputSimulation/SimulatedArticulatedHand.cs
  Assets/MRTK/Services/InputSimulation/SimulatedHand.cs
Labels: Performance

#7605 Reduce raycast allocations, update performance markers
  Assets/MRTK/Core/Extensions/EventSystemExtensions.cs
  Assets/MRTK/Core/Utilities/Physics/MixedRealityRaycaster.cs
Labels: Input System, Performance

#6925 Added Basic Dialog for compatibility with old MixedRealityToolkit
  Assets/MRTK/Examples/Experimental/Dialog.meta
  Assets/MRTK/Examples/Experimental/Dialog/DialogExample.unity
  Assets/MRTK/Examples/Experimental/Dialog/DialogExample.unity.meta
  Assets/MRTK/Examples/Experimental/Dialog/DialogExampleController.cs
  Assets/MRTK/Examples/Experimental/Dialog/DialogExampleController.cs.meta
  Assets/MRTK/SDK/Experimental/Dialog.meta
  Assets/MRTK/SDK/Experimental/Dialog/Prefabs.meta
  Assets/MRTK/SDK/Experimental/Dialog/Prefabs/DialogLarge_192x192.prefab
  Assets/MRTK/SDK/Experimental/Dialog/Prefabs/DialogLarge_192x192.prefab.meta
  Assets/MRTK/SDK/Experimental/Dialog/Prefabs/DialogMedium_192x128.prefab
  Assets/MRTK/SDK/Experimental/Dialog/Prefabs/DialogMedium_192x128.prefab.meta
  Assets/MRTK/SDK/Experimental/Dialog/Prefabs/DialogSmall_192x96.prefab
  Assets/MRTK/SDK/Experimental/Dialog/Prefabs/DialogSmall_192x96.prefab.meta
  Assets/MRTK/SDK/Experimental/Dialog/Scripts.meta
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/Dialog.cs
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/Dialog.cs.meta
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogButton.cs
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogButton.cs.meta
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogButtonType.cs
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogButtonType.cs.meta
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogResult.cs
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogResult.cs.meta
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogShell.cs
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogShell.cs.meta
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogState.cs
  Assets/MRTK/SDK/Experimental/Dialog/Scripts/DialogState.cs.meta
Labels: UX Controls

#7608 Update authors list to add recent contributors
  Documentation/Authors.md
Labels: Documentation

#7609 Cleaned up test documentation
  Documentation/Contributing/UnitTests.md
Labels: Documentation

#7612 Add profiler instrumentation to input handlers and input manager
  Assets/MRTK/Core/Utilities/Physics/MixedRealityRaycaster.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputModule.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: Input System, Performance

#7618 Remove unused reference from XR SDK Config Checker
  Assets/MRTK/Providers/XRSDK/Editor/XRSDKConfigurationChecker.cs
Labels: XR SDK

#7619 Cleanup input instrumentation
  Assets/MRTK/Services/InputSystem/DefaultRaycastProvider.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/GazeProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: Input System, Performance

#7615 clarify some things I noticed in the eye tracking setup docs
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
Labels: Documentation, Eye Tracking

#7621 additional eye tracking setup docs
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
Labels: Documentation, Eye Tracking

#7628 Fix service facade inspector headers
  Assets/MRTK/Core/Inspectors/ServiceInspectors/ServiceFacadeInspector.cs
Labels: Profile and Inspectors, Services

#7625 Fixes issue where sphere pointer can grab overlapping non-target layer objects
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Tests/PlayModeTests/SpherePointerTests.cs
Labels: Input System - Focus, Input System - Near Interaction

#7633 Only try to get textureCoord2 is the shared mesh is readable
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityRaycastHit.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
Labels: Input System - Focus

#7641 Fix comments flagged by comment style checker
  Assets/MRTK/SDK/Experimental/Features/UX/BoundsControl/Visuals/BoxDisplay.cs
  Assets/MRTK/SDK/Features/UX/Scripts/AppBar/AppBar.cs
  Assets/MRTK/Tests/PlayModeTests/BaseCursorTests.cs
  Assets/MRTK/Tests/PlayModeTests/InputEventSystemTests.cs
Labels: Documentation

#7637 Fix grasp point on hands without joints in SpherePointer
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
Labels: Holographic Remoting, Input System - Near Interaction

#7644 Update ManualCameraControl.cs summary doc
  Assets/MRTK/Services/InputSimulation/ManualCameraControl.cs
Labels: Documentation

#7646 Add additional profiler markers and update from begin/endsample to using(marker)
  Assets/MRTK/Core/Providers/BaseInputDeviceManager.cs
  Assets/MRTK/Core/Providers/Hands/ArticulatedHandDefinition.cs
  Assets/MRTK/Core/Providers/UnityInput/GenericJoystickController.cs
  Assets/MRTK/Core/Providers/UnityInput/MouseController.cs
  Assets/MRTK/Core/Providers/UnityInput/MouseDeviceManager.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityTouchController.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MRTK/Core/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MRTK/Core/Services/BaseEventSystem.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/MixedRealityServiceRegistry.cs
  Assets/MRTK/Providers/OpenVR/GenericOpenVRController.cs
  Assets/MRTK/Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityArticulatedHandDefinition.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/BaseWindowsMixedRealitySource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/BaseWindowsMixedRealityXRSDKSource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MRTK/Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MRTK/Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MRTK/Providers/XRSDK/Controllers/GenericXRSDKController.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/BaseMousePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/CurvePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/DefaultPointerMediator.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/DefaultPrimaryPointerSelector.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/MousePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/ParabolicTeleportPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/ScreenSpaceMousePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/ShellHandRayPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointerGrabPoint.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointerVisual.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/TouchPointer.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: Input System, Performance

#7649 Add profiler instrumentation to spatial awareness paths
  Assets/MRTK/Core/Providers/BaseSpatialMeshObserver.cs
  Assets/MRTK/Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
Labels: Performance, Spatial Mapping / Awareness

#7653 Add profiler markers to the teleport system
  Assets/MRTK/Services/TeleportSystem/MixedRealityTeleportSystem.cs
Labels: Performance, Teleport System

#7652 Add profiler markers to diags system and visual profiler
  Assets/MRTK/Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MRTK/Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
Labels: Diagnostics / Tools, Performance

#7654 Add profiler markers to camera system and the generic xr sdk mesh observer
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
Labels: CameraSystem, Performance, Spatial Mapping / Awareness

#7655 Update config checker to be aware of XR SDK
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Core/Utilities/Editor/XRSettingsUtilities.cs
Labels: XR SDK

#7611 Made NonNativeKeyboard touchable
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Prefabs/NonNativeKeyboard.prefab
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Scripts/NonNativeKeyboardTouchAssistant.cs
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Scripts/NonNativeKeyboardTouchAssistant.cs.meta
Labels: Keyboard, UX Controls - Non Native Keyboard

#7656 Update docs to explain a bit more about what GGV is.
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityGGVHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKGGVHand.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
  Assets/MRTK/Tests/PlayModeTests/SlateTests.cs
  Documentation/Input/InputProviders.md
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/README_SystemKeyboard.md
Labels: Documentation

#7658 Add profiler instrumentation to scene system
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystem.cs
Labels: Multi-Scene, Performance

#7661 Add profiler instrumentation to extension services
  Assets/MRTK/Extensions/HandPhysicsService/HandPhysicsService.cs
  Assets/MRTK/Extensions/HandPhysicsService/JointKinematicBody.cs
  Assets/MRTK/Extensions/LostTrackingService/LostTrackingService.cs
  Assets/MRTK/Extensions/SceneTransitionService/CameraFaderQuad.cs
  Assets/MRTK/Extensions/SceneTransitionService/LoadContentScene.cs
  Assets/MRTK/Extensions/SceneTransitionService/SceneTransitionService.cs
Labels: Extension, Performance

#7550 Input events propagation phases (Bubble up + Trickle down)
  Assets/MRTK/Core/EventDatum/Input/InputEventData.cs
  Assets/MRTK/Core/Interfaces/EventSystem/IMixedRealityEventPropagationData.cs
  Assets/MRTK/Core/Interfaces/EventSystem/IMixedRealityEventPropagationData.cs.meta
  Assets/MRTK/Core/Interfaces/EventSystem/IMixedRealityEventPropagationSystem.cs
  Assets/MRTK/Core/Interfaces/EventSystem/IMixedRealityEventPropagationSystem.cs.meta
  Assets/MRTK/Core/Utilities/CoreServices.cs
  Assets/MRTK/SDK/Experimental/Features/UX/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Sliders/PinchSlider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: DO NOT MERGE, Input System

#7665 Improve MRTK project settings text
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/ProjectPreferences.cs
Labels: MRTK usability

#7670 Move WMR camera warning into correct scope
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
Labels: CameraSystem, Windows Mixed Reality

#7671 Add profiler instrumentation to data provider and performance documentation
  Documentation/Images/Performance/UnityProfilerGraph.png
  Documentation/Images/Performance/UnityProfilerHierarchy.png
  Documentation/Input/CreateDataProvider.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/SpatialAwareness/CreateDataProvider.md
Labels: Documentation, Performance

#7674 Re-add accidentally removed profiler marker
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: Feature Branch, Performance

#7680 Add instrumentation recommendation to performance getting started page.
  Documentation/Performance/PerfGettingStarted.md
Labels: Documentation, Performance

#7683 Add manual DotNetAdapter install instructions
  Documentation/Images/Tools/Remoting/LaunchNuGetForUnity.png
  Documentation/Images/Tools/Remoting/LocateDotNetWinRT.png
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation

#7684 Update coding guidelines to match current state of the repo
  Documentation/Contributing/CodingGuidelines.md
Labels: Code Style, Documentation

#7691 Input Simulation camera movespeed and profile adjustment
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputSimulationProfile.asset
  Assets/MRTK/Services/InputSimulation/ManualCameraControl.cs
  Documentation/ReleaseNotes.md
Labels: Input Simulation

#7679 Hand menu improvements - added gaze activation option, new examples
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Large_AutoWorldLock_On_HandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Large_AutoWorldLock_On_HandDrop.prefab.meta
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Large_WorldLock_On_GrabAndPull.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Large_WorldLock_On_GrabAndPull.prefab.meta
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Medium_HideOnHandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Medium_HideOnHandDrop.prefab.meta
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Small_HideOnHandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Small_HideOnHandDrop.prefab.meta
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityInputSimulationProfile.asset.meta
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityInputSystemProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityInputSystemProfile.asset.meta
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityToolkitConfigurationProfile.asset.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandMenuExamples.unity
  Assets/MRTK/Examples/Demos/UX/Slider/Scripts/ShowSliderValue.cs
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/HandMenuSliderAssets/Animations/Slider_02_Hover.anim
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/HandMenuSliderAssets/Animations/Slider_02_Rest.anim
  Assets/MRTK/SDK/Features/UX/Interactable/Materials/HolographicBackPlateBorderOnly.mat
  Assets/MRTK/SDK/Features/UX/Interactable/Materials/MRTK_GrabbableDots2RowsH_NoFade.mat
  Assets/MRTK/SDK/Features/UX/Interactable/Materials/MRTK_GrabbableDots2RowsH_NoFade.mat.meta
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraintPalmUp.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
  Documentation/Images/HandMenu/MRTK_HandMenu_Example1.png
  Documentation/Images/HandMenu/MRTK_HandMenu_Example2.png
  Documentation/Images/HandMenu/MRTK_HandMenu_Example3.png
  Documentation/Images/HandMenu/MRTK_HandMenu_Example4.png
  Documentation/Images/HandMenu/MRTK_HandMenu_Example5.png
  Documentation/Images/HandMenu/MRTK_HandMenu_ExampleScene.png
  Documentation/Images/Solver/MRTK_Solver_HandConstraintPalmUp.png
  Documentation/README_HandMenu.md
  Documentation/README_Solver.md
  README.md
Labels: UX Controls - Hand Menu

#7639 Leap Motion Data Provider
  Assets/MRTK/Core/Definitions/Devices/DeviceInputType.cs
  Assets/MRTK/Core/Providers/Hands/ArticulatedHandDefinition.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/LeapMotionHandTrackingExample.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/LeapMotionHandTrackingExample.unity.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/LeapCoreAssetsDetector.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/LeapCoreAssetsDetector.cs.meta
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MRTK/Providers/LeapMotion.meta
  Assets/MRTK/Providers/LeapMotion/AssemblyInfo.cs
  Assets/MRTK/Providers/LeapMotion/AssemblyInfo.cs.meta
  Assets/MRTK/Providers/LeapMotion/Definitions.meta
  Assets/MRTK/Providers/LeapMotion/Definitions/LeapControllerOrientation.cs
  Assets/MRTK/Providers/LeapMotion/Definitions/LeapControllerOrientation.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor.meta
  Assets/MRTK/Providers/LeapMotion/Editor/AssemblyInfo.cs
  Assets/MRTK/Providers/LeapMotion/Editor/AssemblyInfo.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker.meta
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/AssemblyInfo.cs
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/AssemblyInfo.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/LeapMotionConfigurationChecker.cs
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/LeapMotionConfigurationChecker.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.LeapMotion.ConfigurationChecker.asmdef
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.LeapMotion.ConfigurationChecker.asmdef.meta
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionDeviceManagerProfileInspector.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionDeviceManagerProfileInspector.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionUtilities.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionUtilities.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor/Microsoft.MixedReality.Toolkit.Providers.LeapMotion.Editor.asmdef
  Assets/MRTK/Providers/LeapMotion/Editor/Microsoft.MixedReality.Toolkit.Providers.LeapMotion.Editor.asmdef.meta
  Assets/MRTK/Providers/LeapMotion/LeapMotionArticulatedHand.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionArticulatedHand.cs.meta
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManager.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManager.cs.meta
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManagerProfile.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManagerProfile.cs.meta
  Assets/MRTK/Providers/LeapMotion/Microsoft.MixedReality.Toolkit.Providers.LeapMotion.asmdef
  Assets/MRTK/Providers/LeapMotion/Microsoft.MixedReality.Toolkit.Providers.LeapMotion.asmdef.meta
  Assets/MRTK/Providers/LeapMotion/Profiles.meta
  Assets/MRTK/Providers/LeapMotion/Profiles/DefaultLeapMotionConfigurationProfile.asset
  Assets/MRTK/Providers/LeapMotion/Profiles/DefaultLeapMotionConfigurationProfile.asset.meta
  Assets/MRTK/Providers/LeapMotion/Profiles/DefaultLeapMotionInputSystemProfile.asset
  Assets/MRTK/Providers/LeapMotion/Profiles/DefaultLeapMotionInputSystemProfile.asset.meta
  Assets/MRTK/Providers/LeapMotion/Profiles/LeapMotionDeviceManagerProfile.asset
  Assets/MRTK/Providers/LeapMotion/Profiles/LeapMotionDeviceManagerProfile.asset.meta
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Documentation/CrossPlatform/LeapMotionMRTK.md
  Documentation/Images/CrossPlatform/LeapMotion/LeapAddDataProvider.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapCloneInputSystemProfile.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapDeskOrientationExampleMetacarpals.gif
  Documentation/Images/CrossPlatform/LeapMotion/LeapDevManagerDesk.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapDevManagerHeadset.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapHeadsetOrientationExampleMetacarpals.gif
  Documentation/Images/CrossPlatform/LeapMotion/LeapInputConfigurationProfile.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapMotionConfigureCSCFile2.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapProfileClone.png
Labels: Cross Platform, Leap Motion

#7710 Add WindowsMixedRealityUtilities.SpatialCoordinateSystem null checks
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
Labels: Windows Mixed Reality

#7707 Migration Tool: Only list files in migration tool project option that actually can be migrated
  Assets/MRTK/SDK/Features/Utilities/Migration/Tools/MigrationTool.cs
  Assets/MRTK/SDK/Inspectors/UX/ManipulationHandler/ManipulationHandlerInspector.cs
  Assets/MRTK/Tests/EditModeTests/Experimental/MigrationToolTests.cs
  Assets/MRTK/Tools/MigrationWindow/MigrationWindow.cs
Labels: Migration

#7714 Configurable pinch/air tap thresholds for Leap Motion
  Assets/MRTK/Core/Providers/Hands/ArticulatedHandDefinition.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionDeviceManagerProfileInspector.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionArticulatedHand.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManager.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManagerProfile.cs
Labels: Cross Platform, Leap Motion

#7703 [2.4.0 stabilization] Several bug fix for the HandInteractionExample scene
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/Piano.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Demos/UX/Slider/Scripts/ShowSliderValue.cs
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
Labels: Example/Test Scene, UX Controls

#7725 Add guidance on consuming MRTK in larger projects
  Documentation/LargeProjects.md
  Documentation/toc.yml
Labels: Documentation

#7723 Added WMR Standalone section to Build and Deploy doc
  Documentation/BuildAndDeploy.md
  Documentation/Images/BuildDeploy/WMR/BuildSettingsStandaloneUnity.png
  Documentation/Images/BuildDeploy/WMR/FileExplorerUnityExe.png
  Documentation/Images/BuildDeploy/WMR/SteamSearchWMRPlugin.png
  Documentation/Images/BuildDeploy/WMR/WMRPlugin.png
  Documentation/Images/BuildDeploy/WMR/WMRPluginActive.png
  Documentation/toc.yml
Labels: Documentation

#7731 Add 2.4.0 stabilization to our docs list
  web/version.js
Labels: Documentation, Release Management

#7735 Migration Tool UX improve
  Assets/MRTK/SDK/Features/Utilities/Migration/Tools/MigrationTool.cs
  Assets/MRTK/Tools/MigrationWindow/MigrationWindow.cs
Labels: Migration

#7730 Update the configurator to detect an appropriate audio spatializer and respond to changes
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Core/Utilities/Editor/SpatializerUtilities.cs
  Assets/MRTK/Core/Utilities/Editor/SpatializerUtilities.cs.meta
Labels: Editor, Spatial Sound / Audio

#7743 Prerelease/2.4.0 stabilization -> mrtk_dev
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Core/Utilities/Editor/SpatializerUtilities.cs
  Assets/MRTK/Core/Utilities/Editor/SpatializerUtilities.cs.meta
  Assets/MRTK/SDK/Features/Utilities/Migration/Tools/MigrationTool.cs
  Assets/MRTK/Tools/MigrationWindow/MigrationWindow.cs
Labels: Release Management

#7752 Add missing meta for new docs page
  Assets/MRTK/SDK/Experimental/Dialog/README_Dialog.md.meta
Labels: Documentation
