Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-03, with the labels that each got.

#7441 Update test files to load assets via GUID instead of path
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/SpatialAwareness/SpatialAwarenessSystemTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ButtonConfigHelperTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/CoreServicesTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Experimental/BoundsControlTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/LoadingIndicatorTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PinchSliderTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SlateTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SpatialObserverTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils/TestButtonUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/VisualThemeTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities/TestUtilities.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/ServiceFacadeInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityToolkitFiles.cs
Labels: Tests

#7469 Cleanup some missed usages of SetupConfiguration
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
Labels: Controller Mapping

#7281 Fix nested prefabs with custom MRTK inspectors
  Assets/MixedRealityToolkit.SDK/Inspectors/Input/Handlers/ControllerPoseSynchronizerInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Input/Handlers/SpeechInputHandlerInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableReceiverListInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/VisualThemes/StatesInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/VisualThemes/ThemeInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MixedRealityToolkit/Inspectors/Utilities/Lines/DataProviders/BaseLineDataProviderInspector.cs
  Documentation/Contributing/CodingGuidelines.md
Labels: Editor, Profile and Inspectors

#7471 Clean up warnings in PointerClickHandler
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/PointerClickHandler.cs
Labels: Cleanup

#7442 update releasenotes and updating pages with recent changes
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
Labels: Documentation

#7470 Update adapter version in WSA.Player.Template.props.template
  Assets/MixedRealityToolkit.Tools/MSBuild/MSBuildMRTKTemplates/WSA.Player.Template.props.template
Labels: Package Management - NuGet

#7476 shorten release notes, consolidate upgrade/update information
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
Labels: Documentation

#7480 Add RequireComponent to CursorContextManipulationHandler
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/CursorContextManipulationHandler.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/BaseCursorTests.cs
Labels: Migration, UX Controls - ManipulationHandler

#7460 Allow visual themes to reset
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/Core/ThemeStateProperty.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableActivateTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableAnimatorTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableAudioTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableColorChildrenTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableGrabScaleTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableMaterialTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableOffsetTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableRotationTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableScaleTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableShaderTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableStringTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableThemeBase.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/ScaleOffsetColorTheme.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/VisualThemeTests.cs
  Documentation/Images/Interactable/Profiles_Themes.png
  Documentation/README_Interactable.md
  Documentation/VisualThemes.md
Labels: UX Controls - Interactable, Visual Themes

#7484 Fixing Solver Tests Which Fail Locally
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
Labels: Tests

#7477 Add null checks for gazeProviderPointingData
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
Labels: Input System - Focus, Input System - Gaze

#7413 MixedRealityKeyboardPreview Follow Solver
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/MixedRealityKeyboardPreview.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/Prefabs/MixedRealityKeyboardPreview.prefab
  Assets/MixedRealityToolkit.SDK/Experimental/FollowSolver/Follow.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Experimental/FollowSolver/FollowInspector.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
  Assets/MixedRealityToolkit/Extensions/BoundsExtensions.cs
Labels: Experimental, Keyboard, Solvers

#7495 Update UnityAR nuspec based on the new path depth
  Assets/MRTK/Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
Labels: CI/Build

#7489 Add check EyesPose.IsSupported to only call APIs when supported
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
Labels: Eye Tracking

#7500 Remove incorrect obsolete from WindowsSpeechInputProvider
  Assets/MRTK/Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
Labels: Speech

#7502 Extensions NuGet packaging fix
  Assets/MRTK/Extensions/MixedReality.Toolkit.Extensions.nuspec
Labels: Package Management - NuGet

#7510 Update ExamplesHub scene paths
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHub.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHubMainMenu.unity
Labels: CI/Build, Example/Test Scene

#7516 Checking the Optimize Mesh Data setting at build time.
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs
  Documentation/Performance/PerfGettingStarted.md
Labels: Build / Tools

#7524 Fix accidental addition of extra scenes by default
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  ProjectSettings/EditorBuildSettings.asset
Labels: Build / Tools

#7529 Update documentation to reflect the new MRTK folder hierarchy
  Documentation/Architecture/InputSystem/ControllersPointersAndFocus.md
  Documentation/Architecture/InputSystem/CoreSystem.md
  Documentation/Boundary/BoundarySystemGettingStarted.md
  Documentation/CameraSystem/CreateSettingsProvider.md
  Documentation/Contributing/BreakingChanges.md
  Documentation/Contributing/CodingGuidelines.md
  Documentation/Contributing/ExperimentalFeatures.md
  Documentation/Contributing/Feature_Contribution_Process.md
  Documentation/Contributing/UnitTests.md
  Documentation/Diagnostics/DiagnosticsSystemGettingStarted.md
  Documentation/EyeTracking/EyeTracking_ExamplesOverview.md
  Documentation/EyeTracking/EyeTracking_EyeGazeProvider.md
  Documentation/EyeTracking/EyeTracking_IsUserCalibrated.md
  Documentation/EyeTracking/EyeTracking_Navigation.md
  Documentation/EyeTracking/EyeTracking_TargetSelection.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Input/CreateDataProvider.md
  Documentation/Input/Dictation.md
  Documentation/Input/Gestures.md
  Documentation/Input/HowToAddNearInteractivity.md
  Documentation/Input/InputActions.md
  Documentation/Input/Pointers.md
  Documentation/Input/Speech.md
  Documentation/MRTK_PackageContents.md
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/Packaging/MRTK_Modularization.md
  Documentation/Profiles/Profiles.md
  Documentation/README_AppBar.md
  Documentation/README_BoundingBox.md
  Documentation/README_Button.md
  Documentation/README_ExampleHub.md
  Documentation/README_FingertipVisualization.md
  Documentation/README_HandInteractionExamples.md
  Documentation/README_HandJointChaser.md
  Documentation/README_Interactable.md
  Documentation/README_MRTKStandardShader.md
  Documentation/README_ManipulationHandler.md
  Documentation/README_ObjectCollection.md
  Documentation/README_ObjectManipulator.md
  Documentation/README_Sliders.md
  Documentation/README_Solver.md
  Documentation/README_SystemKeyboard.md
  Documentation/README_TapToPlace.md
  Documentation/README_TextPrefab.md
  Documentation/README_Tooltip.md
  Documentation/ReleaseNotes.md
  Documentation/ServiceUtilities/MixedRealityServiceRegistryAndIMixedRealityServiceRegistrar.md
  Documentation/SpatialAwareness/CreateDataProvider.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/SpatialAwareness/UsageGuide.md
  Documentation/Tools/ControllerMappingTool.md
  Documentation/Tools/DependencyWindow.md
  Documentation/Tools/ExtensionServiceCreationWizard.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/Tools/ScreenshotUtility.md
  Documentation/Updating.md
  Documentation/VisualThemes.md
Labels: Documentation

#7531 Shader Variant Removal
  Assets/MRTK/Core/Inspectors/HoverLightInspector.cs
  Assets/MRTK/Core/Inspectors/ProximityLightInspector.cs
  Assets/MRTK/Core/StandardAssets/Shaders/MixedRealityStandard.shader
  Assets/MRTK/Core/StandardAssets/Shaders/MixedRealityTextMeshPro.shader
  Assets/MRTK/Core/StandardAssets/Shaders/Text3DShader.shader
  Assets/MRTK/Core/Utilities/StandardShader/ClippingBox.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPlane.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPrimitive.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingSphere.cs
  Assets/MRTK/Core/Utilities/StandardShader/HoverLight.cs
  Assets/MRTK/Core/Utilities/StandardShader/ProximityLight.cs
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/ClippingExamples.unity
  Documentation/README_MRTKStandardShader.md
  Documentation/Rendering/ClippingPrimitive.md
  Documentation/Rendering/HoverLight.md
  Documentation/Rendering/MaterialInstance.md
  Documentation/Rendering/ProximityLight.md
  Documentation/toc.yml
Labels: Documentation, Shader Clipping, Shaders / Materials

#7540 Add links to optimization page
  Documentation/Performance/PerfGettingStarted.md
Labels: Documentation

#7532 Improve Hand Mesh Performance
  Assets/MRTK/Core/Definitions/Devices/MixedRealityHandTrackingProfile.cs
  Assets/MRTK/Core/Extensions/SystemNumericsExtensions.cs
  Assets/MRTK/Core/Interfaces/InputSystem/Handlers/IMixedRealityHandMeshHandler.cs
  Assets/MRTK/Core/Providers/Hands/BaseHandVisualizer.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityArticulatedHandDefinition.cs
Labels: Hand Tracking, Performance

#7545 Icon asset cleanup
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/SDK/Features/UX/Buttons/DefaultIconSet.asset
  Assets/MRTK/SDK/Features/UX/Interactable/Textures.meta
  Assets/MRTK/SDK/Features/UX/Interactable/Textures/ButtonHome.png
  Assets/MRTK/SDK/Features/UX/Interactable/Textures/ButtonHome.png.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/AppBar/AppBar.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Assets/MRTK/SDK/StandardAssets/Sprites.meta
  Assets/MRTK/SDK/StandardAssets/Sprites/DefaultIconsSpriteSheet.psd
  Assets/MRTK/SDK/StandardAssets/Sprites/DefaultIconsSpriteSheet.psd.meta
  Assets/MRTK/SDK/StandardAssets/Textures/CircleIcon.png
  Assets/MRTK/SDK/StandardAssets/Textures/CircleIcon.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconAdd.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconAdjust.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconAdjust.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconCamera.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconCheckOff.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconCheckOn.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconClose.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconClose.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconDone.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconDone.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconDot.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconFollowMe.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconFollowMe.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconHandJoint.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconHandJoint.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconHandMesh.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconHandMesh.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconHandRay.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconHandRay.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconHide.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconHide.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconHome.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconMRTKLogo.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconMessage.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconMicrophone.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconPin.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconPin.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconProfiler.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconProfiler.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconRadioOff.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconRadioOn.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconRefresh.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconSearch.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconSettings.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconShow.png
  Assets/MRTK/SDK/StandardAssets/Textures/IconShow.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconSpatialMapping.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconStar.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconSwitchOff.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IconSwitchOn.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IridescentSpectrum.png
  Assets/MRTK/SDK/StandardAssets/Textures/IridescentSpectrum.png.meta
  Assets/MRTK/SDK/StandardAssets/Textures/IridescentSpectrumRainbow.png
  Assets/MRTK/SDK/StandardAssets/Textures/IridescentSpectrumRainbow.png.meta
Labels: Cleanup

#7525 Support Android Single Pass instead of unavailable Single Pass Instanced
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/MixedRealityOptimizeUtils.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
Labels: Android

#7551 Add compliance build configuration
  pipelines/ci-weekly-internal.yml
  pipelines/config/PolicheckUserExclusion.xml
Labels: CI/Build

#7557 Documentation Warning Fix
  Assets/MRTK/SDK/Experimental/Dock/Dockable.cs
  Assets/MRTK/SDK/Experimental/Dock/README_Dock.md
Labels: Documentation

#7558 Adding the Dock Control to the TOC
  Documentation/toc.yml
Labels: Documentation

#7552 Fix case where a specific controller handedness is set but only non-handed interactions exist
  Assets/MRTK/Core/Providers/BaseController.cs
Labels: Controller Mapping

#7564 Genericize gazeProvider ref in GGVPointer
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
Labels: Input System - Gaze

#7556 Add additional orientation option
  Assets/MRTK/SDK/Features/Utilities/Solvers/SurfaceMagnetism.cs
Labels: Solvers

#7563 Enable/Disable Input System (part of series)
  Assets/MRTK/Core/Services/BaseEventSystem.cs
  Assets/MRTK/Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Tests/EditModeTests/SpatialAwareness/SpatialAwarenessSystemTests.cs
  Assets/MRTK/Tests/PlayModeTests/InputSystem/DisableEnableInputSystemTest.cs
  Assets/MRTK/Tests/PlayModeTests/PointerTests.cs
  Assets/MRTK/Tests/PlayModeTests/Utils/TestInputUtilities.cs
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
Labels: Services

#7568 Update eye tracking documentation
  Documentation/EyeTracking/EyeTracking_EyeGazeProvider.md
  Documentation/EyeTracking/EyeTracking_IsUserCalibrated.md
  Documentation/EyeTracking/EyeTracking_Main.md
  Documentation/toc.yml
Labels: Documentation, Eye Tracking

#7570 Eye Tracking docs quick fix
  Documentation/EyeTracking/EyeTracking_Main.md
Labels: Documentation, Eye Tracking

#7576 fixed broken link referring to eye tracking docs
  Documentation/InputSimulation/InputSimulationService.md
Labels: Documentation, Eye Tracking

#7575 Update deprecated MRTK configurator enum value for 2019.3
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
Labels: Unity 2019

#7584 Add size utility calculator for editor
  Assets/MRTK/Core/Utilities/Editor/SizeUtilities.cs
  Assets/MRTK/Core/Utilities/Editor/SizeUtilities.cs.meta
Labels: Editor

#7589 Update meta for openvr_api
  Assets/MRTK/Providers/OpenVR/Headers/openvr_api.cs.meta
Labels: OpenVR

#7592 Fix save when creating a new file
  Assets/MRTK/Core/Utilities/Editor/AssemblyDefinition.cs
Labels: Editor, Utilities

#7590 Instrument (Unity Profiler) input system code paths
  Assets/MRTK/Core/Providers/BaseInputDeviceManager.cs
  Assets/MRTK/Core/Providers/UnityInput/GenericJoystickController.cs
  Assets/MRTK/Core/Providers/UnityInput/MouseController.cs
  Assets/MRTK/Core/Providers/UnityInput/MouseDeviceManager.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityTouchController.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MRTK/Core/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/MixedRealityServiceRegistry.cs
  Assets/MRTK/Providers/OpenVR/GenericOpenVRController.cs
  Assets/MRTK/Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/BaseWindowsMixedRealitySource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/BaseWindowsMixedRealityXRSDKSource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MRTK/Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MRTK/Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MRTK/Providers/XRSDK/Controllers/GenericXRSDKController.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/GazeProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Documentation/ReleaseNotes.md
Labels: Input System, Performance

#7595 Fix Unity 2019.3 build
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MRTK/Providers/XRSDK/Controllers/GenericXRSDKController.cs
Labels: Unity 2019

#7594 Update GazeProvider to use SpatialPointerPose.Head
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MRTK/Core/Interfaces/InputSystem/IMixedRealityGazeProviderHeadOverride.cs
  Assets/MRTK/Core/Interfaces/InputSystem/IMixedRealityGazeProviderHeadOverride.cs.meta
  Assets/MRTK/Core/Providers/BaseInputDeviceManager.cs
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoPointerProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scripts.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/ColorChanger.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/ColorChanger.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/ColorChangerUnityUI.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/ColorChangerUnityUI.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/DebugTextOutput.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/DebugTextOutput.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/DemoTouchButton.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/DemoTouchButton.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/GestureTester.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/GestureTester.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/GrabTouchExample.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/GrabTouchExample.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/HandInteractionTouch.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/HandInteractionTouch.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/HandInteractionTouchRotate.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/HandInteractionTouchRotate.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/LaunchUri.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/LaunchUri.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/RotateWithPan.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/RotateWithPan.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/SystemKeyboardExample.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/SystemKeyboardExample.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/TetheredPlacement.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/TetheredPlacement.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/ToggleBoundingBox.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/ToggleBoundingBox.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/ToggleGazeSource.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/ToggleGazeSource.cs.meta
  Assets/MRTK/Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExamplePointerProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubPointerProfile.asset
  Assets/MRTK/Examples/Experimental/NonNativeKeyboard/Profiles/NonNativeKeyboardMixedRealityInputPointerProfile.asset
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/SDK/Features/Utilities/InputRayUtils.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MRTK/Services/InputSystem/GazeProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Documentation/Images/Input/GazeConfigurationEntrypoint.png
  Documentation/Input/Gaze.md
Labels: Input System - Gaze, Windows Mixed Reality

#7602 Improve FocusProvider perf (slightly)
  Assets/MRTK/Core/Providers/GenericPointer.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/GazePointerVisibilityStateMachine.cs
Labels: Input System - Gaze

#7600 Add profiler instrumentation to MRTK's raycast logic
  Assets/MRTK/Core/Utilities/Physics/MixedRealityRaycaster.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MRTK/Services/InputSystem/DefaultRaycastProvider.cs
Labels: Input System - Focus, Performance

#7601 Update Unity and WMR package versions
  Packages/manifest.json
  ProjectSettings/ProjectVersion.txt
Labels: Release Management
