Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-12, with the labels that each got.

#8942 Add MixedRealityInteractionMapping tool
  Assets/MRTK/Tools/RuntimeTools/Tools/MixedRealityInteractionTool.meta
  Assets/MRTK/Tools/RuntimeTools/Tools/MixedRealityInteractionTool/MixedRealityInteractionTool.cs
  Assets/MRTK/Tools/RuntimeTools/Tools/MixedRealityInteractionTool/MixedRealityInteractionTool.cs.meta
  Assets/MRTK/Tools/RuntimeTools/Tools/MixedRealityInteractionTool/MixedRealityInteractionTool.unity
  Assets/MRTK/Tools/RuntimeTools/Tools/MixedRealityInteractionTool/MixedRealityInteractionTool.unity.meta
  Documentation/Images/ControllerMappingTool/MixedRealityInteractionMappings.png
  Documentation/Tools/ControllerMappingTool.md
  Documentation/Tools/InputFeatureUsageTool.md
  Documentation/Tools/MixedRealityInteractionTool.md
  Documentation/toc.yml
Labels: Build / Tools, Controller Mapping

#9023 Add featureCategory field to package template
  Assets/MRTK/Examples/packagetemplate.json
  Assets/MRTK/Extensions/packagetemplate.json
  Assets/MRTK/StandardAssets/packagetemplate.json
  Assets/MRTK/Tests/TestUtilities/packagetemplate.json
  Assets/MRTK/Tools/packagetemplate.json
  Assets/MRTK/packagetemplate.json
Labels: Package Management - NPM

#9024 Remove use of MSBuild for Unity
  Assets/MRTK/Core/Utilities/Editor/PackageManifest.meta
  Assets/MRTK/Core/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
  Assets/MRTK/Core/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs.meta
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter/.gitignore
  Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj
  Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj.meta
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs.meta
  Documentation/Images/ConfigurationDialog/ConfigurationDialogUWPSettings.png
  Documentation/LargeProjects.md
  Documentation/MRTK_Configuration_Dialog.md
  Documentation/Tools/HolographicRemoting.md
Labels: Package Management - NuGet

#9053 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Utilities/Editor/PackageManifest.meta
  Assets/MRTK/Core/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
  Assets/MRTK/Core/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs.meta
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter/.gitignore
  Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj
  Assets/MRTK/Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj.meta
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Services/InputSystem/GazeProvider.cs
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs.meta
  Documentation/Images/ConfigurationDialog/ConfigurationDialogUWPSettings.png
  Documentation/LargeProjects.md
  Documentation/MRTK_Configuration_Dialog.md
  Documentation/Tools/HolographicRemoting.md
Labels: Automerge

#9062 Fix boundary visualization for 2.5.2
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
Labels: Boundaries

#9079 Update supported platforms in docs
  README.md
Labels: Documentation

#9080 Clean up speech recognizer logs in test runner batch mode
  Assets/MRTK/Providers/Windows/WindowsDictationInputProvider.cs
  Assets/MRTK/Providers/Windows/WindowsSpeechInputProvider.cs
Labels: Speech, Tests

#9084 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Providers/Windows/WindowsDictationInputProvider.cs
  Assets/MRTK/Providers/Windows/WindowsSpeechInputProvider.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
Labels: Automerge

#9068 Reserialize assets
  Assets/MRTK/Core/Providers/ObjectMeshObserver/Profiles/DefaultObjectMeshObserverProfile.asset
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandConfigurationProfile.asset
  Assets/MRTK/Examples/Common/Scripts/DwellProfileWithDecay.cs.meta
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/GestureEventsConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/GestureEventsInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/RecordArticulatedHandPoseConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/Dictation/Dictation.MixedRealityInputSystemProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/Dictation/Dictation.MixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExampleConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/UX/BoundsControl/Scenes/BoundsControlConfigs/CoffeeCupTranslateHandlesConfiguration.asset
  Assets/MRTK/Examples/Demos/UX/Interactables/Profiles/Interactable_MixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/Dwell/InstantDwellProfile.asset
  Assets/MRTK/Examples/Experimental/Dwell/ToggleDwellProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/NonNativeKeyboard/Profiles/NonNativeKeyboardMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/RiggedHandVisualizer/Profiles/RiggedHandLeapMotionDeviceManagerProfile.asset
  Assets/MRTK/Extensions/HandPhysicsService/Profiles/HandPhysicsMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManagerProfile.cs.meta
  Assets/MRTK/Providers/LeapMotion/Profiles/DefaultLeapMotionConfigurationProfile.asset
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs.meta
  Assets/MRTK/Providers/XRSDK/Profiles/DefaultHololens2XRSDKConfigurationProfile.asset
  Assets/MRTK/SDK/Experimental/Features/Dwell/DwellProfile.cs.meta
  Assets/MRTK/SDK/Features/UX/Interactable/States/DefaultInteractableStates.asset
  Assets/MRTK/SDK/Features/UX/Interactable/States/FocusInteractableStates.asset
  Assets/MRTK/SDK/Features/UX/Interactable/States/FocusPressTouchGrabStates.asset
  Assets/MRTK/SDK/Features/UX/Interactable/States/HoloLensInteractableStates.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputSimulationProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1ConfigurationProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1InputSimulationProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1InputSystemProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2ConfigurationProfile.asset
  Assets/MRTK/StandardAssets/FontsSDFTextures/segoeuil SDF.asset
  Assets/MRTK/StandardAssets/FontsSDFTextures/segoeuisl SDF.asset
  Assets/MRTK/StandardAssets/FontsSDFTextures/seguisb SDF zwriteOff.asset
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestSpatialObjectMeshObserverProfile.asset
Labels: Release Management

#9090 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Providers/ObjectMeshObserver/Profiles/DefaultObjectMeshObserverProfile.asset
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandConfigurationProfile.asset
  Assets/MRTK/Examples/Common/Scripts/DwellProfileWithDecay.cs.meta
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/GestureEventsConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/GestureEventsInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/RecordArticulatedHandPoseConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/Dictation/Dictation.MixedRealityInputSystemProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/Dictation/Dictation.MixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExampleConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/UX/BoundsControl/Scenes/BoundsControlConfigs/CoffeeCupTranslateHandlesConfiguration.asset
  Assets/MRTK/Examples/Demos/UX/Interactables/Profiles/Interactable_MixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/Dwell/InstantDwellProfile.asset
  Assets/MRTK/Examples/Experimental/Dwell/ToggleDwellProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/NonNativeKeyboard/Profiles/NonNativeKeyboardMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/RiggedHandVisualizer/Profiles/RiggedHandLeapMotionDeviceManagerProfile.asset
  Assets/MRTK/Extensions/HandPhysicsService/Profiles/HandPhysicsMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManagerProfile.cs.meta
  Assets/MRTK/Providers/LeapMotion/Profiles/DefaultLeapMotionConfigurationProfile.asset
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs.meta
  Assets/MRTK/Providers/XRSDK/Profiles/DefaultHololens2XRSDKConfigurationProfile.asset
  Assets/MRTK/SDK/Experimental/Features/Dwell/DwellProfile.cs.meta
  Assets/MRTK/SDK/Features/UX/Interactable/States/DefaultInteractableStates.asset
  Assets/MRTK/SDK/Features/UX/Interactable/States/FocusInteractableStates.asset
  Assets/MRTK/SDK/Features/UX/Interactable/States/FocusPressTouchGrabStates.asset
  Assets/MRTK/SDK/Features/UX/Interactable/States/HoloLensInteractableStates.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityDiagnosticsProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputSimulationProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1ConfigurationProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1InputSimulationProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1InputSystemProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2ConfigurationProfile.asset
  Assets/MRTK/StandardAssets/FontsSDFTextures/segoeuil SDF.asset
  Assets/MRTK/StandardAssets/FontsSDFTextures/segoeuisl SDF.asset
  Assets/MRTK/StandardAssets/FontsSDFTextures/seguisb SDF zwriteOff.asset
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestSpatialObjectMeshObserverProfile.asset
Labels: Automerge
