Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-01, with the labels that each got.

#6970 Migrate changes from #6961
  Documentation/README_BoundingBox.md
Labels: Documentation

#6931 Fix slate zooming for GGV Pointer
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SlateTests.cs
Labels: Bug, UX Controls - Slate

#6935 Minor doc clarifications about upgrading to a new version of MRTK
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
Labels: Documentation

#6976 Fix poke pointer layer mask
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
Labels: Input System - Pointer, UnityUI

#6979 Reclaim outstandingMeshObject on suspend
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
Labels: Spatial Mapping / Awareness

#6978 SpatialMeshObserver refactor
  Assets/MixedRealityToolkit.Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/BaseSpatialAwarenessObject.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/SpatialAwarenessMeshObject.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/SpatialAwarenessPlanarObject.cs
  Assets/MixedRealityToolkit/Interfaces/SpatialAwareness/IMixedRealitySpatialAwarenessObject.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialMeshObserver.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialMeshObserver.cs.meta
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
Labels: Cross Platform, Spatial Mapping / Awareness

#6977 Update fov tests and code
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Extensions/CameraExtensionTests.cs
  Assets/MixedRealityToolkit/Extensions/CameraExtensions.cs
  Assets/MixedRealityToolkit/Utilities/MathUtilities.cs
Labels: Utilities

#6822 Utilize pointer cache in default input system
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/DefaultControllerPointer.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/GrabPointer.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/ParabolicPointer.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/PokePointer.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/TouchPointer.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Input/Handlers/ControllerPoseSynchronizerInspector.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/BaseInputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSystem/GazeProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestPointer.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Components/TestPointer.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PlayModeTestUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils/TestButtonUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils/TestButtonUtilities.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils/TestInputUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils/TestInputUtilities.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils/UnityUiUtilities.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils/UnityUiUtilities.cs.meta
  Assets/MixedRealityToolkit/Definitions/InputSystem/PointerOption.cs
  Assets/MixedRealityToolkit/Extensions/UnityObjectExtensions.cs
  Assets/MixedRealityToolkit/Interfaces/InputSystem/IMixedRealityPointer.cs
  Assets/MixedRealityToolkit/Providers/BaseInputDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/GenericPointer.cs
  Assets/MixedRealityToolkit/Providers/Hands/HandJointService.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchDeviceManager.cs
Labels: Input System - Pointer, Performance

#6863 Line pointer refactor for performance
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Pointers/DefaultControllerPointer.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/CurvePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/CurvePointer.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/ShellHandRayPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MixedRealityToolkit.SDK/StandardAssets/Materials/MRTK_DefaultPointerLineNoTarget.mat
  Assets/MixedRealityToolkit.Services/TeleportSystem/MixedRealityTeleportSystem.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Components/FocusRaycastTestProxy.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerTests.cs
  Assets/MixedRealityToolkit/Definitions/Physics/RayStep.cs
  Assets/MixedRealityToolkit/Services/BaseEventSystem.cs
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/BaseMixedRealityLineDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/BezierInertia.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/BaseMixedRealityLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/MixedRealityLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/MaintainBorderLightWidth.cs
  Documentation/Input/Pointers.md
Labels: Input System - Pointer, Performance

#6990 BaseSpatialMeshObserver and MixedRealityOptimizeUtils updates for XR SDK
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens2/DefaultHoloLens2ConfigurationProfile.asset
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SpatialObserverTests.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialMeshObserver.cs
  Assets/MixedRealityToolkit/Utilities/Editor/InputMappingAxisUtility.cs
  Assets/MixedRealityToolkit/Utilities/Editor/MixedRealityOptimizeUtils.cs
Labels: Performance, Spatial Mapping / Awareness

#6989 Refactor WMRUtilities to support Unity legacy XR and XR SDK
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Definitions/HolographicFrameNativeData.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Definitions/IWindowsMixedRealityUtilitiesProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Definitions/IWindowsMixedRealityUtilitiesProvider.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityReprojectionUpdater.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityUtilities.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityUtilities.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityUtilitiesProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityUtilitiesProvider.cs.meta
Labels: Cross Platform, Windows Mixed Reality

#6984 Update dependency graph
  Assets/MixedRealityToolkit.Tools/DependencyWindow/DependencyWindow.cs
Labels: Utilities

#6988 Complete PR #6133
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionService.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/InputRecordingService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationService.cs
  Assets/MixedRealityToolkit/Attributes/MixedRealityDataProviderAttribute.cs
  Assets/MixedRealityToolkit/Attributes/MixedRealityExtensionServiceAttribute.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/DataProviderAccessServiceInspector.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
Labels: Editor, Profile and Inspectors

#7000 Add prerelease/2.3.0 to the docs version dropdown
  web/version.js
Labels: Documentation

#6998 Fix UnityAR namespaces in Unity 2019.3
  Assets/MixedRealityToolkit.Staging/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/UnityARCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.Staging/UnityAR/Utilities/ArEnumConversion.cs
Labels: AR Foundation, Cross Platform, Unity 2019

#7004 fully apply extension service attribute to hand physics service
  Assets/MixedRealityToolkit.Extensions/HandPhysicsService/HandPhysicsService.cs
  Assets/MixedRealityToolkit.Extensions/HandPhysicsService/HandPhysicsServiceProfile.cs.meta
Labels: Extension

#7001 GLTF scene fixes
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Scenes/Glb-Loading-Demo.unity
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Scenes/Gltf-Loading-Demo.unity
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Scripts/TestGltfLoading.cs
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/GltfConversions.cs
Labels: Example/Test Scene, GLTF

#7017 moves UnityAr folder from Staging to Providers
  Assets/MixedRealityToolkit.Providers/UnityAR.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArTrackedPose.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArTrackedPose.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArTrackingType.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArTrackingType.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArUpdateType.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArUpdateType.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.UnityAR.ConfigurationChecker.asmdef
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.UnityAR.ConfigurationChecker.asmdef.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/Microsoft.MixedReality.Toolkit.Providers.UnityAR.Editor.asmdef
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/Microsoft.MixedReality.Toolkit.Providers.UnityAR.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  Assets/MixedRealityToolkit.Providers/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/README.md
  Assets/MixedRealityToolkit.Providers/UnityAR/README.md.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Utilities.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Utilities/ArEnumConversion.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Utilities/ArEnumConversion.cs.meta
  Assets/MixedRealityToolkit.Staging.meta
  Assets/MixedRealityToolkit.Staging/License.txt
  Assets/MixedRealityToolkit.Staging/License.txt.meta
  Assets/MixedRealityToolkit.Staging/README.md
  Assets/MixedRealityToolkit.Staging/README.md.meta
  Assets/MixedRealityToolkit.Staging/Version.txt
  Assets/MixedRealityToolkit.Staging/Version.txt.meta
Labels: AR Foundation

#7026 Remove staging package from CI's packaging steps
  scripts/packaging/unitypackage.ps1
Labels: CI/Build, Package Management

#7023 Line pointer line fix
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/LinePointer.cs
Labels: Input System - Pointer, LineRenderer

#7031 Fix nuget build of unityar (had old folder name)
  Assets/MixedRealityToolkit.Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
Labels: CI/Build, Package Management - NuGet

#7033 Merge stabilization -> dev
  Assets/MixedRealityToolkit.Providers/UnityAR.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArTrackedPose.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArTrackedPose.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArTrackingType.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArTrackingType.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArUpdateType.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Definitions/ArUpdateType.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.UnityAR.ConfigurationChecker.asmdef
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.UnityAR.ConfigurationChecker.asmdef.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/Microsoft.MixedReality.Toolkit.Providers.UnityAR.Editor.asmdef
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/Microsoft.MixedReality.Toolkit.Providers.UnityAR.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/UnityARCameraSettingsProfileInspector.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  Assets/MixedRealityToolkit.Providers/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset
  Assets/MixedRealityToolkit.Providers/UnityAR/Profiles/DefaultUnityARCameraSettingsProfile.asset.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/README.md
  Assets/MixedRealityToolkit.Providers/UnityAR/README.md.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Utilities.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Utilities/ArEnumConversion.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Utilities/ArEnumConversion.cs.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Experimental/UX/ObjectManipulator/ObjectManipulatorInspector.cs
  Assets/MixedRealityToolkit.Staging.meta
  Assets/MixedRealityToolkit.Staging/License.txt
  Assets/MixedRealityToolkit.Staging/License.txt.meta
  Assets/MixedRealityToolkit.Staging/README.md
  Assets/MixedRealityToolkit.Staging/README.md.meta
  Assets/MixedRealityToolkit.Staging/Version.txt
  Assets/MixedRealityToolkit.Staging/Version.txt.meta
  Documentation/Images/NuGet/SaveNewSource.png
  Documentation/MRTKNuGetPackage.md
  scripts/packaging/unitypackage.ps1
Labels: Release Management

#7036 Remove Unity 2019 setup step for daily pipeline
  pipelines/templates/common-Unity2019.yml
  scripts/support2019/Assets/MixedRealityToolkit.Staging/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  scripts/support2019/Packages/manifest.json
  scripts/support2019/setup_for_2019.ps1
Labels: CI/Build, Unity 2019

#7038 Update pipelines to run Unity 2018.4 instead of Unity 2018.3
  Assets/MixedRealityToolkit/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  pipelines/README.md
  pipelines/ci-daily.yml
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-release.yml
  pipelines/pr.yaml
Labels: CI/Build, Unity 2018

#7041 Fix potential nullref in WindowsMixedRealityUtilities
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityUtilities.cs
Labels: Release Blocker, Windows Mixed Reality

#7042 Patch both the existing WMR DLL and the shared DLL when packaging NuGet
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityUtilities.cs
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
Labels: Package Management - NuGet

#7010 Fix Line Renderer editor error
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/EllipseLineDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/SimpleLineDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/Lines/DataProviders/SplineDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/BaseMixedRealityLineRenderer.cs
  Assets/MixedRealityToolkit/Utilities/Lines/Renderers/MixedRealityLineRenderer.cs
Labels: Editor, LineRenderer

#7043 Cherry-pick #7027 to stabilization
  pipelines/pr.yaml
  pipelines/templates/common.yml
  pipelines/templates/tasks/githubchanges.yml
  pipelines/templates/tasks/validatecode.yml
  scripts/ci/common.psm1
  scripts/ci/githubchanges.ps1
  scripts/ci/validatebuildlog.ps1
  scripts/ci/validatecode.ps1
  scripts/ci/validatedocs.ps1
Labels: CI/Build, Release Management

#7050 Use variable instead of explicit Unity version in pipelines
  pipelines/templates/tasks/unitypackages.yml
Labels: CI/Build

#7051 Filter out the ProjectSettings .asset files, which don't have a meta file
  scripts/ci/validatecode.ps1
Labels: CI/Build

#7013 Add XR SDK folder, asmdef, and boundary implementation
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs
  Assets/MixedRealityToolkit.Providers/XRSDK.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/ConfigurationChecker.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.XRSDK.ConfigurationChecker.asmdef
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.XRSDK.ConfigurationChecker.asmdef.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/ConfigurationChecker/XRSDKConfigurationChecker.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/ConfigurationChecker/XRSDKConfigurationChecker.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.asmdef
  Assets/MixedRealityToolkit.Providers/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.asmdef.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKToolkitConfigurationProfile.asset.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKBoundarySystem.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKSubsystemHelpers.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKSubsystemHelpers.cs.meta
  Assets/MixedRealityToolkit.Services/BoundarySystem/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit/Providers/BaseBoundarySystem.cs
  Assets/MixedRealityToolkit/Providers/BaseBoundarySystem.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/AssemblyDefinition.cs
  ProjectSettings/ProjectVersion.txt
Labels: Boundaries, XR SDK

#7040 Add XR SDK settings files to repo
  Assets/XR.meta
  Assets/XR/Loaders.meta
  Assets/XR/Loaders/Windows MR Loader.asset
  Assets/XR/Loaders/Windows MR Loader.asset.meta
  Assets/XR/Settings.meta
  Assets/XR/Settings/Windows MR Package Settings.asset
  Assets/XR/Settings/Windows MR Package Settings.asset.meta
  Assets/XR/XRGeneralSettings.asset
  Assets/XR/XRGeneralSettings.asset.meta
  ProjectSettings/EditorBuildSettings.asset
  ProjectSettings/XRPackageSettings.asset
  ProjectSettings/XRSettings.asset
Labels: XR SDK

#7052 Remove UnityAR from foundation NuGet package
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit.Tests/TestUtilities/MixedReality.Toolkit.Tests.Utilities.nuspec
  Assets/MixedRealityToolkit.Tools/MixedReality.Toolkit.Tools.nuspec
Labels: Package Management - NuGet

#7053 Cherrypick PR #7039 from wiwei/fastervalidation to stabilization
  pipelines/pr.yaml
Labels: CI/Build

#7012 Fix Solvers tracking pointers as target transforms
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/BaseMousePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
  Assets/MixedRealityToolkit/Interfaces/Devices/IMixedRealityControllerPoseSynchronizer.cs
Labels: Solvers

#7037 Add clipping primitives to 3DTextShader
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/TextMeshProMaterial.mat
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Materials/TextMeshProMaterial.mat.meta
  Assets/MixedRealityToolkit.Examples/Demos/StandardShader/Scenes/ClippingExamples.unity
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityShaderUtils.cginc
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityShaderUtils.cginc.meta
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityTextMeshPro.shader
  Assets/MixedRealityToolkit/StandardAssets/Shaders/Text3DShader.shader
  Assets/MixedRealityToolkit/Utilities/StandardShader/ClippingPrimitive.cs
  Documentation/README_MRTKStandardShader.md
Labels: Shaders / Materials

#7071 Move AppBar summaries to be inline with the properties instead of the fields
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/AppBar/AppBar.cs
Labels: Documentation, UX Controls - AppBar

#7074 Merge stabilization -> dev
  Assets/MixedRealityToolkit.Extensions/HandPhysicsService/HandPhysicsServiceProfile.cs
  Assets/MixedRealityToolkit.Extensions/LostTrackingService/LostTrackingServiceProfile.cs
  Assets/MixedRealityToolkit.Extensions/SceneTransitionService/SceneTransitionServiceProfile.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityCameraSettingsProfile.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/AppBar/AppBar.cs
  Documentation/Contributing/CodingGuidelines.md
  pipelines/pr.yaml
Labels: Release Management

#7075 Move existing WMR XR into XR2018 folder
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.ConfigurationChecker.asmdef
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.ConfigurationChecker.asmdef.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/WindowsMixedRealityConfigurationChecker.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/WindowsMixedRealityConfigurationChecker.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.Editor.asmdef
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.Editor.asmdef.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/BaseWindowsMixedRealitySource.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/BaseWindowsMixedRealitySource.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Definitions.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Definitions/HolographicFrameNativeData.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Definitions/HolographicFrameNativeData.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Extensions.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Extensions/GestureRecognizerExtensions.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Extensions/GestureRecognizerExtensions.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Extensions/InteractionSourceExtensions.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Extensions/InteractionSourceExtensions.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.asmdef
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.asmdef.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityArticulatedHand.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityCameraSettings.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityController.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityGGVHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityGGVHand.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityUtilitiesProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityUtilitiesProvider.cs.meta
Labels: Windows Mixed Reality, XR SDK

#7077 Fix profile path location for UnityAR
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs
Labels: AR Foundation

#7079 Update License.txt files to currently recommended verbiage
  Assets/MixedRealityToolkit.Examples/License.txt
  Assets/MixedRealityToolkit.Extensions/License.txt
  Assets/MixedRealityToolkit.Providers/License.txt
  Assets/MixedRealityToolkit.SDK/License.txt
  Assets/MixedRealityToolkit.Services/License.txt
  Assets/MixedRealityToolkit.Tests/License.txt
  Assets/MixedRealityToolkit.Tools/License.txt
  Assets/MixedRealityToolkit/License.txt
  License.txt
Labels: Release Management

#7083 Add TrackedPoseDriver for XR SDK at runtime
  Assets/MixedRealityToolkit.Providers/UnityAR/UnityARCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/ConfigurationChecker/XRSDKConfigurationChecker.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/GenericXRSDKCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKToolkitConfigurationProfile.asset
Labels: CameraSystem, XR SDK

#7018 Allow input simulation service to work outside of editor
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/GestureEventsConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/GestureEventsInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/RecordArticulatedHandPoseConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/HandTracking/Profiles/RecordArticulatedHandPoseInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Dictation/Dictation.MixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExampleConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExampleInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/Speech/Speech.MixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Profiles/Interactable_MixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Examples/Demos/UX/Interactables/Profiles/Interactable_MixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubConfigurationProfile.asset
  Assets/MixedRealityToolkit.Examples/Experimental/NonNativeKeyboard/Profiles/NonNativeKeyboardMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityToolkitConfigurationProfile.asset
  Assets/MixedRealityToolkit.SDK/Profiles/HoloLens2/DefaultHoloLens2InputSystemProfile.asset
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_Flat.json
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_Grab.json
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_Open.json
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_OpenSteadyGrabPoint.json
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_Pinch.json
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_PinchSteadyWrist.json
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_Poke.json
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_ThumbsUp.json
  Assets/MixedRealityToolkit.Services/InputSimulation/ArticulatedHandPoses/ArticulatedHandPose_Victory.json
  Assets/MixedRealityToolkit.Services/InputSimulation/BaseInputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/BaseInputSimulationService.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/InputPlaybackService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/InputPlaybackService.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/InputSimulationService.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/ManualCameraControl.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/ManualCameraControl.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/Microsoft.MixedReality.Toolkit.Services.InputSimulation.asmdef
  Assets/MixedRealityToolkit.Services/InputSimulation/MouseRotationProvider.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/MouseRotationProvider.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedArticulatedHandPoses.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedArticulatedHandPoses.cs.meta
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedHandDataProvider.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedHandDataProvider.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities/PlayModeTestUtilities.cs
  Assets/MixedRealityToolkit.Tools/ReserializeAssetsUtility/ReserializeAssetsUtility.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/ArticulatedHandPose.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/SystemType.cs
  Documentation/Images/InputSimulation/InputSimulationSupportedPlatforms.gif
  Documentation/InputSimulation/InputSimulationService.md
Labels: Editor, Input Simulation

#7088 Add initial XR SDK docs and reserialize some XR SDK assets
  Assets/MixedRealityToolkit.Extensions/HandPhysicsService/README.md
  Assets/XR/Settings/Windows MR Package Settings.asset
  Assets/XR/XRGeneralSettings.asset
  Documentation/GettingStartedWithTheMRTK.md
Labels: Documentation, XR SDK

#7093 XR SDK input helpers
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Extensions.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Extensions/WindowsExtensions.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Extensions/WindowsExtensions.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityUtilitiesProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/XRSDKWindowsMixedRealityUtilitiesProvider.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/XRSDKWindowsMixedRealityUtilitiesProvider.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKConfigurationProfile.asset
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKConfigurationProfile.asset.meta
Labels: Input System, XR SDK

#7006 Added MigrationWindow Tool
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/Migration/Tools.meta
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/Migration/Tools/MigrationTool.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/Migration/Tools/MigrationTool.cs.meta
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/ManipulationHandler/ManipulationHandlerInspector.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Experimental.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Experimental/MigrationToolTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Experimental/MigrationToolTests.cs.meta
  Assets/MixedRealityToolkit.Tools/Experimental.meta
  Assets/MixedRealityToolkit.Tools/Experimental/Migration.meta
  Assets/MixedRealityToolkit.Tools/Experimental/Migration/MigrationWindow.cs
  Assets/MixedRealityToolkit.Tools/Experimental/Migration/MigrationWindow.cs.meta
  Assets/MixedRealityToolkit.Tools/Microsoft.MixedReality.Toolkit.Tools.asmdef
  Documentation/Images/MigrationWindow/MRTK_Migration_Modes.png
  Documentation/Images/MigrationWindow/MRTK_Migration_Window.png
  Documentation/Images/MigrationWindow/MRTK_Object_Migration.png
  Documentation/Images/MigrationWindow/MRTK_Project_Migration.png
  Documentation/Images/MigrationWindow/MRTK_Scene_Selection.png
  Documentation/Tools/MigrationWindow.md
Labels: Feature Request

#7130 Add nuget docs to TOC and polish
  Documentation/MRTKNuGetPackage.md
  Documentation/MRTK_PackageContents.md
  Documentation/ReleaseNotes.md
  Documentation/toc.yml
Labels: Documentation

#7131 Mac fix: Remove hardcoded '\' in GetPackageCache
  Assets/MixedRealityToolkit/Utilities/Editor/FileUtilities.cs
Labels: Build / Tools, Mac Editor

#7133 Fix WSA player build break
  Assets/MixedRealityToolkit/Utilities/CameraFOVChecker.cs
Labels: CI/Build

#7122 Delay initialization of project configurator window
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityEditorSettings.cs
Labels: Editor

#7136 Prerelease/2.3.0 stabilization -> dev
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Extensions/CameraExtensionTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerTests.cs
  Assets/MixedRealityToolkit/Extensions/CameraExtensions.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/MixedReality.Toolkit.targets
  Assets/MixedRealityToolkit/Utilities/CameraFOVChecker.cs
  Assets/MixedRealityToolkit/Utilities/CameraFOVChecker.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/FileUtilities.cs
  Documentation/MRTKNuGetPackage.md
  Documentation/MRTK_PackageContents.md
  Documentation/ReleaseNotes.md
  Documentation/toc.yml
Labels: Release Management

#7139 TeleportSystem comment updates and minor updates
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MixedRealityToolkit.Services/TeleportSystem/MixedRealityTeleportSystem.cs
  Assets/MixedRealityToolkit/EventDatum/Input/BaseInputEventData.cs
  Assets/MixedRealityToolkit/Interfaces/EventSystem/IMixedRealityEventSource.cs
Labels: Teleport System

#7124 Add support for Windows Mixed Reality motion controllers and articulated hands for XR SDK
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit.Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Profiles/DefaultWindowsMixedRealityCameraSettingsProfile.asset
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/BaseWindowsMixedRealityXRSDKSource.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/BaseWindowsMixedRealityXRSDKSource.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Controllers.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Controllers/GenericXRSDKController.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Controllers/GenericXRSDKController.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKConfigurationProfile.asset
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKDeviceManager.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKSubsystemHelpers.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMapping.cs
  Assets/MixedRealityToolkit/Providers/BaseController.cs
Labels: Input System, Windows Mixed Reality, XR SDK

#7142 Fix holographic remoting doc
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation

#7141 [GLTF-Import] Files get ignored, when File ending is not lower case
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/GltfUtility.cs
Labels: GLTF

#7148 Add null check if no (or incorrect type) camera settings profile is set
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/BaseWindowsMixedRealityCameraSettings.cs
Labels: CameraSystem

#7147 Add .EditMode to all edit mode test namespaces
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Definitions/Devices/MixedRealityHandTrackingProfileTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Extensions/CameraExtensionTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitFilesTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Physics/Utilities/InterpolationUtilitiesTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Physics/Utilities/InterpolatorTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ProjectPreferencesTest.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ScreenshotUtility/ScreenshotUtilityTest.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Examples/Demos/EyeTracking/DemoVisualizer/Scripts/UserInputRecorderTest.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Experimental/BoundsControlTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/ControllerMappingTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/DefaultPrimaryPointerSelectorTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/GazePointerStateMachineTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InputSystemTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/InteractionDefinitionTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/TestPointer.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/InputSystem/UnityInputManagerHelperTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/BaseTestExtensionService.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestDataProvider1.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestExtensionService1.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestExtensionService2.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestExtensionService3.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestFailService.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestInputDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/ITestService.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestBaseDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestDataProvider1.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestExtensionService1.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestExtensionService2.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestExtensionService3.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestFailService.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestInputDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealityInputSystemProfile.asset
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestProfiles/TestMixedRealitySpatialAwarenessSystemProfile.asset
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestSpatialAwarenessDataProvider.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/SpatialAwareness/SpatialAwarenessSystemTests.cs
Labels: Tests

#7146 Refactor out shared WMR articulated hand definition
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityArticulatedHandDefinition.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityArticulatedHandDefinition.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
Labels: Cross Platform, Windows Mixed Reality

#7128 Overlapping pressable buttons fix
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/PressableButtons/PressableButton.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PressableButtonTests.cs
Labels: Bug, UX Controls - Buttons

#7153 Add HoloLens 1 hand definition to XR SDK support
  Assets/MixedRealityToolkit.Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/BaseWindowsMixedRealitySource.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/BaseWindowsMixedRealitySource.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityGGVHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityGGVHand.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKGGVHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKGGVHand.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
Labels: HoloLens, XR SDK

#6960 Improvements to Hand Constraint juicyness
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/HandConstraintPalmUp.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
  Documentation/README_Solver.md
Labels: UX Controls - Hand Menu

#7135 Add dataprovider helpers to CoreServices
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoScrollPanZoom/Scripts/BaseClasses/PanZoomBase.cs
  Assets/MixedRealityToolkit.Examples/Demos/SpatialAwareness/Scripts/ToggleSpatialMeshVisualization.cs
  Assets/MixedRealityToolkit.Extensions/HandPhysicsService/HandPhysicsService.cs
  Assets/MixedRealityToolkit.SDK/Experimental/NonNativeKeyboard/Scripts/NonNativeKeyboard.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/Handlers/DictationHandler.cs
  Assets/MixedRealityToolkit.SDK/Features/Input/InputSimulationIndicators.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Utilities/InputRecordingControls.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/Editor/InputSimulationWindow.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/SimulatedGestureHand.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SolverTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/SpatialObserverTests.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities/PlayModeTestUtilities.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/SpatialAwarenessSystemInspector.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseController.cs
  Assets/MixedRealityToolkit/Utilities/CoreServices.cs
  Documentation/Architecture/SystemsExtensionsProviders.md
  Documentation/Images/Input/RegisteredServiceProviders.PNG
  Documentation/Input/HandTracking.md
  Documentation/SpatialAwareness/UsageGuide.md
Labels: Documentation, Services

#7162 Fixing DotNet api compatibility for Migration Tool
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/Migration/Tools/MigrationTool.cs
  Assets/MixedRealityToolkit.Tools/Experimental/MigrationWindow.meta
  Assets/MixedRealityToolkit.Tools/Experimental/MigrationWindow/MigrationWindow.cs
  Assets/MixedRealityToolkit.Tools/Experimental/MigrationWindow/MigrationWindow.cs.meta
Labels: Bug

#7168 Fix toggle colleciton inspector
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableToggleCollectionInspector.cs
Labels: Editor, Profile and Inspectors, UX Controls - Interactable

#7127 Fixed bounds control runtime example
  Assets/MixedRealityToolkit.Examples/Experimental/Demos/UX/BoundsControl/Scenes/BoundsControlRuntimeExample.unity
  Assets/MixedRealityToolkit.Examples/Experimental/Demos/UX/BoundsControl/Scripts/BoundsControlRuntimeExample.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/BoundsControl/BoundsControl.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/UX/BoundsControl/Visuals/Links.cs
Labels: Example/Test Scene, UX Controls - Bounding Box

#7145 Ensure MRTK core systems support enable/disable correctly
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/InputAnimation/InputRecordingService.cs
  Assets/MixedRealityToolkit.Services/InputSimulation/InputSimulationService.cs
  Assets/MixedRealityToolkit.Services/TeleportSystem/MixedRealityTeleportSystem.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/BaseTestExtensionService.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Services/TestBaseDataProvider.cs
  Assets/MixedRealityToolkit/Providers/BaseBoundarySystem.cs
  Assets/MixedRealityToolkit/Providers/Hands/HandJointService.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/MouseDeviceManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MixedRealityToolkit/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MixedRealityToolkit/Services/BaseCoreSystem.cs
  Assets/MixedRealityToolkit/Services/BaseDataProvider.cs
  Assets/MixedRealityToolkit/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MixedRealityToolkit/Services/BaseExtensionService.cs
  Assets/MixedRealityToolkit/Services/BaseService.cs
Labels: Services

#7137 Add protections on Interactable called before being initialized
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/InteractableTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Prefabs/TestInteractableInitialize.prefab
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Prefabs/TestInteractableInitialize.prefab.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Utils/TestButtonUtilities.cs
  Documentation/README_Interactable.md
Labels: UX Controls - Interactable

#7144 Fix platform directory separator char use to be platform agnostic
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoVisualizer/Scripts/BasicInputLogger.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoVisualizer/Scripts/UserInputPlayback.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/DemoVisualizer/Scripts/UserInputRecorder.cs
  Assets/MixedRealityToolkit.Examples/Demos/EyeTracking/General/Scripts/Utils/Utils.cs
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Scenes/Gltf-Loading-Demo.unity
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Scripts/Editor/TestGltfLoadingEditor.cs
  Assets/MixedRealityToolkit.Examples/Demos/Gltf/Scripts/TestGltfLoading.cs
  Assets/MixedRealityToolkit.Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MixedRealityToolkit.Tools/MSBuild/Scripts/Utilities.cs
  Assets/MixedRealityToolkit/Extensions/StringExtensions.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityToolkitFiles.cs
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/ConstructGltf.cs
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/GltfUtility.cs
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/Importers/GltfEditorImporter.cs
  Documentation/Contributing/CodingGuidelines.md
Labels: Editor

#7173 Fixes an issue on the InscribedRectangle algorithm to have a proper initial search space for candidates.
  Assets/MixedRealityToolkit.Tests/EditModeTests/BoundarySystem.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/BoundarySystem/InscribedRectangleTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/BoundarySystem/InscribedRectangleTests.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Microsoft.MixedReality.Toolkit.Tests.EditModeTests.asmdef
  Assets/MixedRealityToolkit/Definitions/BoundarySystem/InscribedRectangle.cs
Labels: Boundaries, Immersive HMD

#7166 Update input device management for XR SDK
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKDeviceManager.cs
Labels: HoloLens, XR SDK

#7175 Fix prioritized layer mask usage in FocusProvider.GetPrioritizedHitResult
  Assets/MixedRealityToolkit.Services/InputSystem/FocusProvider.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MixedRealityToolkit/Definitions/SpatialAwareness/MixedRealitySpatialAwarenessMeshObserverProfile.cs
  Assets/MixedRealityToolkit/Extensions/LayerExtensions.cs
  Assets/MixedRealityToolkit/Providers/BaseSpatialObserver.cs
Labels: Input System - Focus

#7181 Update the touch interactivity docs to be clearer about the type of NearInteractionTouch script needed
  Documentation/Input/HowToAddNearInteractivity.md
Labels: Documentation, Touch Input

#7180 Gate TrackedPoseDriver behind package existing
  Assets/MixedRealityToolkit.Providers/XRSDK/GenericXRSDKCameraSettings.cs
Labels: Unity 2019, XR SDK

#7183 Prerelease/2.3.0 stabilization -> dev
  Assets/MixedRealityToolkit.Providers/XRSDK/GenericXRSDKCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKDeviceManager.cs
Labels: Release Management

#7195 Fix mappings for motion controllers on XR SDK
  Assets/MixedRealityToolkit.Providers/XRSDK/Controllers/GenericXRSDKController.cs
Labels: Immersive HMD, XR SDK

#7196 Adds a python script that will figure out the percent/stats of experimental features.
  scripts/tools/experimental_stats.py
Labels: Release Management

#7198 Fix foundation unitypackage packaging: do not presume ar or xr plugins
  scripts/packaging/unitypackage.ps1
Labels: CI/Build, Package Management

#7200 Fix-up more usages of legacy XR APIs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/StabilizationPlaneModifier.cs
Labels: Unity 2019

#7185 Fix solverhandler for hand joint rotation
  Assets/MixedRealityToolkit.Examples/Demos/Solvers/Scripts/SolverExampleManager.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/RadialView.cs
  Assets/MixedRealityToolkit.SDK/Features/Utilities/Solvers/SurfaceMagnetism.cs
  Documentation/Images/Solver/HandJoint_ForwardUpVectors.png
  Documentation/Images/Solver/SolverHandler_AdditionalRotation.png
  Documentation/README_Solver.md
Labels: Solvers

#7199 Harden MRTK Project Configurator
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
Labels: Editor

#7205 Update cached coordinate system whenever the underlying IntPtr changes
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityUtilities.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/XRSDKWindowsMixedRealityUtilitiesProvider.cs
Labels: Windows Mixed Reality

#7204 Update foldouts that didn't have toggleOnLabelClick set to true
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ServiceInspectors/HandJointServiceInspector.cs
Labels: Profile and Inspectors

#7208 Merge stabilization -> dev
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityUtilities.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/csc.rsp
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/csc.rsp.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/XRSDKWindowsMixedRealityUtilitiesProvider.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Controllers/GenericXRSDKController.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/StabilizationPlaneModifier.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/WorldAnchorManager.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018.meta
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/Microsoft.MixedReality.Toolkit.Services.BoundarySystem.asmdef
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/Microsoft.MixedReality.Toolkit.Services.BoundarySystem.asmdef.meta
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs.meta
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/csc.rsp
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/csc.rsp.meta
  Assets/MixedRealityToolkit.Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MixedRealityToolkit.Services/InputSystem/Editor/Microsoft.MixedReality.Toolkit.Services.InputSystem.Editor.asmdef
  Assets/MixedRealityToolkit.Services/InputSystem/Editor/MixedRealityCanvasInspector.cs
  Assets/MixedRealityToolkit.Services/InputSystem/Editor/NearInteractionTouchableInspector.cs
  Assets/MixedRealityToolkit.Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MixedRealityToolkit/Utilities/Editor/MixedRealityOptimizeUtils.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MixedRealityToolkit/Utilities/Editor/XRSettingsUtilities.cs
  Assets/MixedRealityToolkit/Utilities/Editor/XRSettingsUtilities.cs.meta
  scripts/packaging/unitypackage.ps1
Labels: Release Management

#7209 Update to latest msbuild for unity
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
Labels: Package Management - NuGet

#7207 Fix destroyimmediate for OnValidate() code path
  Assets/MixedRealityToolkit.Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MixedRealityToolkit/Extensions/UnityObjectExtensions.cs
Labels: Editor

#7210 Update csproj and MSB4U dependency components
  .gitignore
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/.gitignore
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/DotNetAdapter.csproj
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/NuGet.config
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/DotNetAdapter/NuGet.config.meta
  Packages/manifest.json
Labels: MSBuild
