Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-02, with the labels that each got.

#7216 Configure dialog will prompt if the version of MSBuild for Unity should be upgraded
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
Labels: MSBuild, Package Management

#7221 Check for null focusedWindow before showing notification
  Assets/MixedRealityToolkit/Utilities/Editor/EditorAssemblyReloadManager.cs
Labels: Build / Tools, Build Window

#7227 Add offset for correct palm rotation on XR SDK
  .gitignore
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MixedRealityToolkit/Definitions/Utilities/ArticulatedHandPose.cs
Labels: HoloLens 2, XR SDK

#7229 Move DotNetAdapter into WMR.Shared
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/DotNetAdapter.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/DotNetAdapter/.gitignore
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj.meta
Labels: Windows Mixed Reality, XR SDK

#7230 Improve package manifest update logic, add test cases
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs.meta
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
Labels: Package Management, Tests

#7235 Update to the latest DotNetWinRT and MSBuild for Unity packages
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
Labels: Build / Tools, Package Management

#7234 Add some docs around various HL2 remoting troubleshooting scenarios and getting help
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/Tools/Remoting/DotNetAdapterInspector.png
  Documentation/Images/Tools/Remoting/DotNetWinRTPresent.png
  Documentation/Images/Tools/Remoting/MSB4UPackageManager.png
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation, Holographic Remoting

#7217 Update release notes, upgrade guide, roadmap and authors list for 2.3.0 release
  Documentation/Authors.md
  Documentation/Contributing/Roadmap.md
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
Labels: Documentation

#7238 Align our documentation guidelines to our own guidelines
  Documentation/Contributing/DocumentationGuide.md
Labels: Documentation

#7237 Update the valid size of the glb buffers according to the spec
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/GltfUtility.cs
Labels: GLTF

#7240 Merge stabilization -> dev
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs.meta
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityProfileCloneWindow.cs
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityToolkitFiles.cs
  Documentation/Authors.md
  Documentation/Contributing/Roadmap.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/Tools/Remoting/DotNetAdapterInspector.png
  Documentation/Images/Tools/Remoting/DotNetWinRTPresent.png
  Documentation/Images/Tools/Remoting/MSB4UPackageManager.png
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/Updating.md
Labels: Release Management

#7247 Spellcheck and formatting in 2.3 docs
  Documentation/Contributing/ExperimentalFeatures.md
  Documentation/Contributing/Roadmap.md
  Documentation/CrossPlatform/UsingARFoundation.md
  Documentation/Extensions/HandPhysicsService/HandPhysicsServiceOverview.md
  Documentation/EyeTracking/EyeTracking_Positioning.md
  Documentation/Input/Pointers.md
  Documentation/MRTK_PackageContents.md
  Documentation/Packaging/MRTK_Modularization.md
  Documentation/Packaging/MRTK_Packages.md
  Documentation/README_MRTKStandardShader.md
  Documentation/README_NearMenu.md
  Documentation/README_Sliders.md
  Documentation/README_TextPrefab.md
  Documentation/ReleaseNotes.md
  Documentation/Rendering/MaterialInstance.md
  Documentation/SpatialAwareness/ConfiguringSpatialAwarenessMeshObserver.md
  Documentation/Tools/ExtensionServiceCreationWizard.md
Labels: Documentation, Release Management

#7248 Document known issue / workaround for msbuildforunity #133
  Documentation/Images/ReleaseNotes/ApiCompatibilityLevel.png
  Documentation/Images/ReleaseNotes/DuplicateDependencies.png
  Documentation/ReleaseNotes.md
Labels: Documentation

#7249 Update packages doc for 2.3
  Documentation/MRTK_PackageContents.md
Labels: Documentation

#7251 Configurator better honors filter when setting configuratons
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/DotNetAdapter/DotNetAdapter.csproj
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MixedRealityToolkit/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Documentation/ReleaseNotes.md
Labels: Build / Tools

#7257 Add notes about Dependencies folder and *.msb4u.csproj file
  Documentation/ReleaseNotes.md
Labels: Documentation

#7260 Fix missing assembly error on 2019.3
  Assets/MixedRealityToolkit/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
Labels: Build / Tools, Unity 2019

#7265 Remove non-relative link to docs
  Documentation/README_ExampleHub.md
Labels: Documentation

#7266 Update docs for MSB4U resolution troubleshooting and add additional notes
  Documentation/README_ExampleHub.md
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation

#7278 Update nuget package license links
  Assets/MixedReality.Toolkit.Foundation.nuspec
  Assets/MixedRealityToolkit.Examples/MixedReality.Toolkit.Examples.nuspec
  Assets/MixedRealityToolkit.Extensions/MixedReality.Toolkit.Extensions.nuspec
  Assets/MixedRealityToolkit.Providers/UnityAR/MixedReality.Toolkit.Providers.UnityAR.nuspec
  Assets/MixedRealityToolkit.Tests/MixedReality.Toolkit.Tests.nuspec
  Assets/MixedRealityToolkit.Tests/TestUtilities/MixedReality.Toolkit.Tests.Utilities.nuspec
  Assets/MixedRealityToolkit.Tools/MixedReality.Toolkit.Tools.nuspec
Labels: Release Management

#7276 Add CanEditMultipleObjects tag
  Assets/MixedRealityToolkit.SDK/Inspectors/Experimental/FollowSolver/FollowInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MixedRealityToolkit.SDK/Inspectors/Utilities/Solvers/InBetweenInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingBoxInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingPlaneInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingPrimitiveInspector.cs
  Assets/MixedRealityToolkit/Inspectors/ClippingSphereInspector.cs
Labels: Editor, Profile and Inspectors

#7282 Merge stabilization -> dev
  Assets/MixedRealityToolkit.Extensions/HandPhysicsService/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Extensions/HandPhysicsService/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/Editor/ConfigurationChecker/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Editor/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/Editor/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/AssemblyInfo.cs.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/ConfigurationChecker.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/Microsoft.MixedReality.Toolkit.Providers.XRSDK.ConfigurationChecker.asmdef
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/Microsoft.MixedReality.Toolkit.Providers.XRSDK.ConfigurationChecker.asmdef.meta
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/XRSDKConfigurationChecker.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Editor/XRSDKConfigurationChecker.cs.meta
  Assets/MixedRealityToolkit.Tests/TestUtilities/AssemblyInfo.cs
  Assets/MixedRealityToolkit.Tests/TestUtilities/AssemblyInfo.cs.meta
  scripts/ci/common.psm1
  scripts/ci/validatecode.ps1
Labels: Release Management

#7283 Fixes edge cases when checking if collider is in field of view
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Extensions/CameraExtensionTests.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerTests.cs
  Assets/MixedRealityToolkit/Utilities/CameraFOVChecker.cs
Labels: Release Blocker

#7287 Update test icons for new 2.3 test files
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ProjectPreferencesTest.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Experimental/BoundsControlTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ConstraintTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Experimental/BoundsControlTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Experimental/ObjectManipulatorTests.cs.meta
Labels: Release Management

#7289 Use alternate sync method for build tools repository
  pipelines/ci-release.yml
Labels: CI/Build

#7290 Remove alternate implementation of FindFilesInAssets
  Assets/MixedRealityToolkit/Utilities/Editor/FileUtilities.cs
Labels: Utilities

#7292 Add additional debugging steps for MSB4U and HL2 remoting
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation

#7293 Merge stabilization -> dev
  Assets/MixedRealityToolkit.Providers/UnityAR/Editor/ConfigurationChecker/UnityARConfigurationChecker.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Extensions/CameraExtensionTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/MixedRealityToolkitFilesTests.cs
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/PackageManifestUpdaterTests.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Core/Utilities/ProjectPreferencesTest.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Experimental/BoundsControlTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/ConstraintTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Experimental/BoundsControlTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/Experimental/ObjectManipulatorTests.cs.meta
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerTests.cs
  Assets/MixedRealityToolkit/Utilities/CameraFOVChecker.cs
  Assets/MixedRealityToolkit/Utilities/Editor/FileUtilities.cs
  Assets/MixedRealityToolkit/Utilities/ScriptingUtilities.cs
  Documentation/CrossPlatform/UsingARFoundation.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
  pipelines/ci-release.yml
Labels: Release Management

#7297 Update pipeline to include MixedReality.Toolkit.Test.Utilities
  pipelines/ci-release.yml
Labels: CI/Build

#7295 More XR SDK docs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/XRSDK/PluginManagement.png
  Documentation/MRTKNuGetPackage.md
  Documentation/toc.yml
Labels: Documentation, XR SDK

#7309 Update ci-release.yml
  pipelines/ci-release.yml
Labels: Build / Tools, CI/Build

#7308 Update known issues in release notes
  Documentation/ReleaseNotes.md
Labels: Documentation

#7311 Clarify Unity version and add XR SDK docs reference
  Documentation/GettingStartedWithTheMRTK.md
Labels: Documentation

#7279 Update the documentation version list to add 2.3.0
  web/version.js
Labels: Documentation, Release Management

#7304 Match access modifier
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/BoundingBox/BoundingBoxHelper.cs
Labels: UX Controls - Bounding Box

#7314 Merge release into development
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/XRSDK/PluginManagement.png
  Documentation/MRTKNuGetPackage.md
  Documentation/ReleaseNotes.md
  Documentation/toc.yml
  pipelines/ci-release.yml
Labels: Release Management

#7319 Add scaffolding for 2.4.0 release notes, etc
  Documentation/Contributing/Roadmap.md
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
Labels: Documentation

#7099 Added bounds control migration handler
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/Migration/BoundsControlMigrationHandler.cs
  Assets/MixedRealityToolkit.SDK/Experimental/Features/Utilities/Migration/BoundsControlMigrationHandler.cs.meta
  Assets/MixedRealityToolkit.Tests/EditModeTests/Experimental/MigrationToolTests.cs
Labels: UX Controls - Bounds Control

#7327 Fixed minor spelling error
  Documentation/Updating.md
Labels: Documentation

#7330 Fixing Unity Editor Wireframe Shading Mode Error
  Assets/MixedRealityToolkit/StandardAssets/Shaders/MixedRealityStandard.shader
Labels: Editor, Shaders / Materials

#7346 Prerelease/2.3.0 stabilization -> dev
  pipelines/ci-release.yml
Labels: Package Management - NuGet, Release Management

#7360 Update hand physics example scene to load correct profile at startup
  Assets/MixedRealityToolkit.Extensions/HandPhysicsService/Examples/HandPhysicsServiceExample.unity
Labels: Example/Test Scene

#7364 Spell check PackageManifestUpdater
  Assets/MixedRealityToolkit/Utilities/Editor/PackageManifest/PackageManifestUpdater.cs
Labels: Package Management

#7367 Ensure camera is looking at cube and input system ticks.
  Assets/MixedRealityToolkit.Tests/PlayModeTests/PointerBehaviorTests.cs
Labels: Tests

#7370 Hide visual profiler while MRC is running
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityDiagnosticsSystem.cs
  Assets/MixedRealityToolkit.Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
  Assets/MixedRealityToolkit/Definitions/Diagnostics/MixedRealityDiagnosticsProfile.cs
  Assets/MixedRealityToolkit/Inspectors/Profiles/MixedRealityDiagnosticsSystemProfileInspector.cs
  Documentation/Diagnostics/UsingVisualProfiler.md
Labels: Diagnostics / Tools

#7211 Fix MRTK experience scale
  Assets/MixedRealityToolkit.Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MixedRealityToolkit.Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs
  Documentation/MixedRealityConfigurationGuide.md
Labels: Services

#7368 Fix extension service wizard generation on optional profile
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/ExtensionServiceCreator.cs
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/Templates/ExtensionConstructorTemplate.txt
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/Templates/ExtensionConstructorTemplate.txt.meta
  Assets/MixedRealityToolkit.Tools/ExtensionServiceCreator/Templates/ExtensionScriptTemplate.txt
Labels: Editor, Extension

#7383 Fix ButtonIconSet for Unity 2019.3
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/Buttons/ButtonIconSet.cs
Labels: Unity 2019

#7384 Update ScriptingUtilities.cs summary tags
  Assets/MixedRealityToolkit/Utilities/ScriptingUtilities.cs
Labels: Documentation

#7391 Fix 7091 - Boundary system enabling ceiling based on wall flag
  Assets/MixedRealityToolkit/Services/BaseBoundarySystem.cs
  Assets/MixedRealityToolkit/Services/BaseBoundarySystem.cs.meta
Labels: Boundaries

#7377 Fix visual rotation theme for toggling local vs world space rotation
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Themes/Model_BuckyTheme.asset
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableRotationTheme.cs
  Assets/MixedRealityToolkit.SDK/Features/UX/Scripts/VisualThemes/ThemeEngines/InteractableThemeBase.cs
  Assets/MixedRealityToolkit.Tests/PlayModeTests/VisualThemeTests.cs
Labels: Visual Themes

#7415 Releases/2.3.0 -> mrtk_release
  Documentation/ReleaseNotes.md
Labels: Release Management

#7419 mrtk_release -> mrtk_dev
  Documentation/ReleaseNotes.md
Labels: Documentation, Release Management

#7406 Mrtk controller mapping update fix
  Assets/MixedRealityToolkit/Definitions/Devices/MixedRealityControllerMapping.cs
Labels: Input System

#7402 Switch from API contract version to IsMethodPresent (#6886)
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Extensions/InteractionSourceExtensions.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MixedRealityToolkit/Utilities/WindowsApiChecker.cs
Labels: Cleanup

#7422 Fix install appx on local via MRTK deploy window
  Assets/MixedRealityToolkit.Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MixedRealityToolkit.Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
  Assets/MixedRealityToolkit/Extensions/DateTimeExtensions.cs
  Assets/MixedRealityToolkit/Extensions/DateTimeExtensions.cs.meta
  Assets/MixedRealityToolkit/Utilities/WindowsDevicePortal/DataStructures/DeviceInfo.cs
  Assets/MixedRealityToolkit/Utilities/WindowsDevicePortal/DevicePortal.cs
Labels: Build Window, Editor

#7425 Removing specific formatting for GLTF mesh-primitive attributes
  Assets/MixedRealityToolkit/Utilities/Gltf/Serialization/GltfUtility.cs
Labels: GLTF

#7429 Add IsPropertyAvailable and IsTypeAvailable to WindowsApiChecker
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/BaseWindowsMixedRealityCameraSettings.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/Shared/WindowsMixedRealityReprojectionUpdater.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs
  Assets/MixedRealityToolkit.Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MixedRealityToolkit/Utilities/WindowsApiChecker.cs
Labels: Cleanup

#7396 HoloLens 2 style Check box / Radio / Toggle Switch buttons
  Assets/MixedRealityToolkit.Examples/Demos/UX/PressableButton/Scenes/PressableButtonExample.unity
  Assets/MixedRealityToolkit.Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconCheckBoxOff.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconCheckBoxOff.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconCheckBoxOn.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconCheckBoxOn.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconRadioOff.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconRadioOff.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconRadioOn.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconRadioOn.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconSwitchOff.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconSwitchOff.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconSwitchOn.mat
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Materials/HolographicButtonIconSwitchOn.mat.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2TextOnly_48x48.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleCheckBox_32x32.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleCheckBox_32x32.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleCheckBox_32x96.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleCheckBox_32x96.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleRadio_32x32.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleRadio_32x32.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleRadio_32x96.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleRadio_32x96.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleSwitch_32x32.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleSwitch_32x32.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleSwitch_32x96.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleSwitch_32x96.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle_32x96.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle_32x96.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle_40x40.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle_40x40.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle_48x48.prefab
  Assets/MixedRealityToolkit.SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle_48x48.prefab.meta
  Assets/MixedRealityToolkit.SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconCheckOff.png
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconCheckOff.png.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconCheckOn.png
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconCheckOn.png.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconRadioOff.png
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconRadioOff.png.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconRadioOn.png
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconRadioOn.png.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconSwitchOff.png
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconSwitchOff.png.meta
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconSwitchOn.png
  Assets/MixedRealityToolkit.SDK/StandardAssets/Textures/IconSwitchOn.png.meta
Labels: Example/Test Scene, UX Controls

#7435 Minor updates to build window
  Assets/MixedRealityToolkit.Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MixedRealityToolkit/Utilities/BuildAndDeploy/UwpBuildDeployPreferences.cs
Labels: Build Window
