Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-07, with the labels that each got.

#7705 Prototyping Keyboard shortcut to bring up Input Simulation Cheat Sheet
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/Help_Panel_Viewer.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/Help_Panel_Viewer.prefab.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Services/InputSimulation/InputSimulationHelpGuide.cs
  Assets/MRTK/Services/InputSimulation/InputSimulationHelpGuide.cs.meta
  Assets/MRTK/Services/InputSimulation/Microsoft.MixedReality.Toolkit.Services.InputSimulation.asmdef
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/ReleaseNotes.md
Labels: Documentation, Input Simulation

#8135 Update mappings for generic XR SDK controller
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/BaseWindowsMixedRealityXRSDKSource.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
  Assets/MRTK/Providers/XRSDK/Controllers/GenericXRSDKController.cs
  Assets/MRTK/Providers/XRSDK/CustomUsages.cs
  Assets/MRTK/Providers/XRSDK/CustomUsages.cs.meta
Labels: Controller Mapping, XR SDK

#8142 Port #8100 to 2.4.1
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoPointerProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExamplePointerProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubPointerProfile.asset
  Assets/MRTK/Examples/Experimental/NonNativeKeyboard/Profiles/NonNativeKeyboardMixedRealityInputPointerProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Documentation/ReleaseNotes.md
Labels: Release Management

#8144 Add input simulation to XRSDK profile
  Assets/MRTK/Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset
Labels: Input Simulation, XR SDK

#8154 scroll view graduation part 2
  Assets/MRTK/Examples/Experimental/ScrollingObjectCollection/Scripts/ScrollableListPopulator.cs
  Assets/MRTK/SDK/Experimental/Inspectors/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs
  Assets/MRTK/SDK/Experimental/ScrollingObjectCollection/ScrollingObjectCollection.cs
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
Labels: Bug, UX Controls - Collections

#8166 Fix path to script for CI
  pipelines/templates/tasks/versionmetadata.yml
Labels: CI/Build

#8167 Remove unneeded AssemblyInfo.cs
  Assets/MRTK/Examples/Experimental/Dwell/Editor/AssemblyInfo.cs
  Assets/MRTK/Examples/Experimental/Dwell/Editor/AssemblyInfo.cs.meta
Labels: CI/Build

#8170 Fix parameter expansion in CI versioning
  pipelines/templates/tasks/versionmetadata.yml
  scripts/packaging/versionmetadata.ps1
Labels: CI/Build

#8172 Add note about UWP in editor support for Leap
  Documentation/CrossPlatform/LeapMotionMRTK.md
Labels: Documentation, Leap Motion

#8173 Fix dockable object assertion failure
  Assets/MRTK/SDK/Experimental/Dock/Dockable.cs
Labels: Bug

#8181 Perform null check on glTF material parsing
  Assets/MRTK/Core/Utilities/Gltf/Serialization/ConstructGltf.cs
Labels: GLTF

#8179 Fix a TapToPlace issue caused by Start() execution order
  Assets/MRTK/SDK/Features/Utilities/Solvers/TapToPlace.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
Labels: Bug, Solvers

#8180 Allow Eye gaze to be controlled with the mouse
  Assets/MRTK/Core/Providers/InputSimulation/Editor/MixedRealityInputSimulationProfileInspector.cs
  Assets/MRTK/Core/Providers/InputSimulation/IInputSimulationService.cs
  Assets/MRTK/Core/Providers/InputSimulation/InputSimulationEnum.cs
  Assets/MRTK/Core/Providers/InputSimulation/InputSimulationService.cs
  Assets/MRTK/Core/Providers/InputSimulation/MixedRealityInputSimulationProfile.cs
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/GestureEventsInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuMixedRealityInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityInputSimulationProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputSimulationProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1InputSimulationProfile.asset
  Assets/MRTK/Tests/PlayModeTests/FocusProviderTests.cs
  Documentation/ReleaseNotes.md
Labels: Eye Tracking, Input Simulation, Input System - Gaze

#8165 Add support for packages that contain their own examples (ex: hand physics) and some script cleanup
  Assets/MRTK/Extensions/HandPhysicsService/.npmignore
  Assets/MRTK/Extensions/HandPhysicsService/package.json
  scripts/packaging/createupmpackages.ps1
  scripts/packaging/examplesfolderpostupm.ps1
  scripts/packaging/examplesfolderpreupm.ps1
Labels: Package Management - UPM

#8192 Fix + test coverage for broken near interactions with ObjectManipulator and legacy ManipulationHandler
  Assets/MRTK/SDK/Features/Input/Handlers/Manipulation/ManipulationHandler.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ObjectManipulator.cs
  Assets/MRTK/Tests/PlayModeTests/ManipulationHandlerTests.cs
  Assets/MRTK/Tests/PlayModeTests/ObjectManipulatorTests.cs
Labels: Bug, Input System - Near Interaction

#8190 Add None to AxisFlags
  Assets/MRTK/Core/Definitions/Utilities/AxisFlags.cs
  Assets/MRTK/Core/Definitions/Utilities/RotationConstraintType.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/MoveAxisConstraint.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/RotationAxisConstraint.cs
Labels: Bug

#8195 Clean-up duplicate constructor bodies in MixedRealityInteractionMapping
  Assets/MRTK/Core/Definitions/Devices/MixedRealityInteractionMapping.cs
Labels: Input System - Input Actions

#8197 Fix the switching of AutoFollowAtDistance
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/FollowMeToggle.cs
Labels: Bug

#8196 Update play mode tests to work in Unity 2019
  Assets/MRTK/Tests/EditModeTests/SpatialAwareness/SpatialAwarenessSystemTests.cs
  Assets/MRTK/Tests/PlayModeTests/BaseCursorTests.cs
  Assets/MRTK/Tests/PlayModeTests/BaseEventSystemTests.cs
  Assets/MRTK/Tests/PlayModeTests/BasePlayModeTests.cs
  Assets/MRTK/Tests/PlayModeTests/BoundingBoxTests.cs
  Assets/MRTK/Tests/PlayModeTests/ConstraintTests.cs
  Assets/MRTK/Tests/PlayModeTests/Core/Providers/Hands/BaseHandVisualizerTests.cs
  Assets/MRTK/Tests/PlayModeTests/Experimental/BoundsControlTests.cs
  Assets/MRTK/Tests/PlayModeTests/Experimental/ElasticTests.cs
  Assets/MRTK/Tests/PlayModeTests/FocusProviderRaycastTests.cs
  Assets/MRTK/Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MRTK/Tests/PlayModeTests/GltfTests.cs
  Assets/MRTK/Tests/PlayModeTests/GridObjectCollectionTests.cs
  Assets/MRTK/Tests/PlayModeTests/InputEventSystemTests.cs
  Assets/MRTK/Tests/PlayModeTests/InputRayUtilsTests.cs
  Assets/MRTK/Tests/PlayModeTests/InputSystem/DefaultRaycastProviderTest.cs
  Assets/MRTK/Tests/PlayModeTests/InputSystem/DisableEnableInputSystemTest.cs
  Assets/MRTK/Tests/PlayModeTests/InteractableEventTests.cs
  Assets/MRTK/Tests/PlayModeTests/InteractableTests.cs
  Assets/MRTK/Tests/PlayModeTests/JoystickTests.cs
  Assets/MRTK/Tests/PlayModeTests/ManipulationHandlerTests.cs
  Assets/MRTK/Tests/PlayModeTests/NearInteractionGrabbableTests.cs
  Assets/MRTK/Tests/PlayModeTests/NearInteractionTouchableTests.cs
  Assets/MRTK/Tests/PlayModeTests/ObjectManipulatorTests.cs
  Assets/MRTK/Tests/PlayModeTests/PinchSliderTests.cs
  Assets/MRTK/Tests/PlayModeTests/PointerEventsTests.cs
  Assets/MRTK/Tests/PlayModeTests/PointerProfileTests.cs
  Assets/MRTK/Tests/PlayModeTests/PointerTests.cs
  Assets/MRTK/Tests/PlayModeTests/SlateTests.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
  Assets/MRTK/Tests/PlayModeTests/SpeechTests.cs
  Assets/MRTK/Tests/PlayModeTests/SpherePointerTests.cs
  Assets/MRTK/Tests/PlayModeTests/UserInputSimulationTest.cs
  Assets/MRTK/Tests/PlayModeTests/VisualThemeTests.cs
  Documentation/Contributing/UnitTests.md
Labels: Tests, Unity 2019

#8194 Add flexibility to hand menu positioning
  Assets/MRTK/Core/Providers/InputSimulation/Editor/InputSimulationWindow.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
Labels: UX Controls - Hand Menu

#8205 Unity 2019 tests: Update SolverTests to use some tolerance in the LessThanOrEqual case
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
Labels: Tests, Unity 2019

#8200 Elastic Systems Upstream Merge
  Assets/MRTK/Examples/Experimental/Elastic.meta
  Assets/MRTK/Examples/Experimental/Elastic/Materials.meta
  Assets/MRTK/Examples/Experimental/Elastic/Materials/Shelf.mat
  Assets/MRTK/Examples/Experimental/Elastic/Materials/Shelf.mat.meta
  Assets/MRTK/Examples/Experimental/Elastic/Materials/springs.mat
  Assets/MRTK/Examples/Experimental/Elastic/Materials/springs.mat.meta
  Assets/MRTK/Examples/Experimental/Elastic/Materials/springs.png
  Assets/MRTK/Examples/Experimental/Elastic/Materials/springs.png.meta
  Assets/MRTK/Examples/Experimental/Elastic/Scenes.meta
  Assets/MRTK/Examples/Experimental/Elastic/Scenes/ElasticDemo.unity
  Assets/MRTK/Examples/Experimental/Elastic/Scenes/ElasticDemo.unity.meta
  Assets/MRTK/Examples/Experimental/Elastic/Scripts.meta
  Assets/MRTK/Examples/Experimental/Elastic/Scripts/WidgetElasticDemo.cs
  Assets/MRTK/Examples/Experimental/Elastic/Scripts/WidgetElasticDemo.cs.meta
  Assets/MRTK/SDK/Editor/Inspectors/UX/ObjectManipulator/ObjectManipulatorInspector.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticConfiguration.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticConfiguration.cs.meta
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticHandleLogic.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticSystem.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticTypes.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/IElasticSystem.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/IElasticSystem.cs.meta
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/LinearElasticSystem.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/LinearElasticSystem.cs.meta
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/QuaternionElasticSystem.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/QuaternionElasticSystem.cs.meta
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/VolumeElasticSystem.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/VolumeElasticSystem.cs.meta
  Assets/MRTK/SDK/Features/Input/Handlers/ObjectManipulator.cs
  Assets/MRTK/Tests/PlayModeTests/Experimental/ElasticTests.cs
Labels: Example/Test Scene, Interactions, UX Controls - ObjectManipulator, Utilities

#8216 modify script to only pack. publishing will be done separately
  scripts/packaging/.npmrc.official
  scripts/packaging/.npmrc.test
  scripts/packaging/createupmpackages.ps1
Labels: Package Management - UPM

#8223 Remove XR SDK in-repo assets
  .gitignore
  Assets/XR.meta
  Assets/XR/Loaders.meta
  Assets/XR/Loaders/AR Core Loader.asset
  Assets/XR/Loaders/AR Core Loader.asset.meta
  Assets/XR/Loaders/AR Kit Loader.asset
  Assets/XR/Loaders/AR Kit Loader.asset.meta
  Assets/XR/Loaders/Oculus Loader.asset
  Assets/XR/Loaders/Oculus Loader.asset.meta
  Assets/XR/Loaders/Windows MR Loader.asset
  Assets/XR/Loaders/Windows MR Loader.asset.meta
  Assets/XR/Settings.meta
  Assets/XR/Settings/AR Core Loader Settings.asset
  Assets/XR/Settings/AR Core Loader Settings.asset.meta
  Assets/XR/Settings/AR Kit Loader Settings.asset
  Assets/XR/Settings/AR Kit Loader Settings.asset.meta
  Assets/XR/Settings/Oculus Settings.asset
  Assets/XR/Settings/Oculus Settings.asset.meta
  Assets/XR/Settings/Windows MR Package Settings.asset
  Assets/XR/Settings/Windows MR Package Settings.asset.meta
  Assets/XR/XRGeneralSettings.asset
  Assets/XR/XRGeneralSettings.asset.meta
  Documentation/GettingStartedWithMRTKAndXRSDK.md
Labels: XR SDK

#8209 Scroll View Graduation - Part 3
  Assets/MRTK/Examples/Experimental/ScrollingObjectCollection/Scripts/ScrollableListPopulator.cs
  Assets/MRTK/SDK/Experimental/Inspectors/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs
  Assets/MRTK/SDK/Experimental/ScrollingObjectCollection/ScrollingObjectCollection.cs
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
Labels: Bug, UX Controls - Collections

#8227 MixedRealityDictationSystem: Add ability to get audio clip for current dictation session
  Assets/MRTK/Core/Interfaces/Devices/IMixedRealityDictationSystem.cs
  Assets/MRTK/Providers/Windows/WindowsDictationInputProvider.cs
  Assets/MRTK/SDK/Features/Input/Handlers/DictationHandler.cs
  Documentation/ReleaseNotes.md
Labels: BREAKING CHANGE, Help Wanted
