Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-08, with the labels that each got.

#8244 Remove incorrect prefab from ET pointer profile
  Assets/MRTK/Core/Providers/BaseInputDeviceManager.cs
  Assets/MRTK/Examples/Demos/EyeTracking/General/Profiles/EyeTrackingDemoPointerProfile.asset
Labels: Example/Test Scene, Eye Tracking

#8255 Split boundary system fixes from #8050
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs
Labels: Boundaries

#8253 Add an asmdef checker roadblock to PR/CI validation
  scripts/ci/validatecode.ps1
Labels: CI/Build

#8246 Update LaunchUri.cs to use Unity-defined URI launcher
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/LaunchUri.cs
Labels: Example/Test Scene

#8260 Enabling runtime profile switching
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MRTK/Services/InputSystem/GazeProvider.cs
  Assets/MRTK/Tests/PlayModeTests/ChangeActiveProfileTests.cs
  Assets/MRTK/Tests/PlayModeTests/ChangeActiveProfileTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/SpatialObserverTests.cs
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestBoundaryOnly.asset
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestBoundaryOnly.asset.meta
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestBoundaryVisualization.asset
  Assets/MRTK/Tests/PlayModeTests/TestProfiles/TestBoundaryVisualization.asset.meta
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
Labels: Bug

#8268 Improve XRSettingsUtilities.IsLegacyXRActive check
  Assets/MRTK/Core/Utilities/Editor/XRSettingsUtilities.cs
Labels: XR SDK

#8273 Don't try loading Unity-deprecated assemblies in 2020+
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.asmdef
  Assets/MRTK/Services/BoundarySystem/XR2018/Microsoft.MixedReality.Toolkit.Services.BoundarySystem.asmdef
Labels: Unity 2020

#8276 Update XRSDKWindowsMixedRealityUtilitiesProvider.cs to provide HolographicFrame access
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/XRSDKWindowsMixedRealityUtilitiesProvider.cs
Labels: Windows Mixed Reality, XR SDK

#8271 Update some deprecated APIs in Unity 2020
  Assets/MRTK/Core/Providers/ObjectMeshObserver/RoomFileFormat/RoomFileImporter.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/Importers/GlbAssetImporter.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/Importers/GltfAssetImporter.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/Importers/GltfEditorImporter.cs
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
Labels: Unity 2020, XR SDK

#8275 Update and move XRSubsystem helpers into core
  Assets/MRTK/Core/Utilities/XRSubsystemHelpers.cs
  Assets/MRTK/Core/Utilities/XRSubsystemHelpers.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityCameraSettings.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/Editor/XRSDKConfigurationChecker.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKCameraSettings.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/Providers/XRSDK/XRSDKSubsystemHelpers.cs
Labels: XR SDK

#8279 Update a subset of the XRSDK configuration checkers to only run on editor startup
  Assets/MRTK/Providers/Oculus/XRSDK/Editor/OculusXRSDKConfigurationChecker.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/WindowsMixedRealityXRSDKConfigurationChecker.cs
  Assets/MRTK/Providers/XRSDK/Editor/XRSDKConfigurationChecker.cs
Labels: Developer Loop

#8281 Fix examples upm package
  Assets/MRTK/Examples/packagetemplate.json
Labels: Package Management - UPM

#8270 Refactor out DeviceUtility.IsPresent to wrap legacy + XR SDK code
  Assets/MRTK/Core/Providers/InputSimulation/InputSimulationService.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedHandDataProvider.cs
  Assets/MRTK/Core/Utilities/DeviceUtility.cs
  Assets/MRTK/Core/Utilities/DeviceUtility.cs.meta
Labels: Unity 2020, XR SDK

#8274 Add documentation for using UPM with MRTK
  Documentation/CrossPlatform/UsingARFoundation.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/Packaging/MRTK_ExamplesUpm.png
  Documentation/Images/Packaging/MRTK_FoundationUPM.png
  Documentation/MRTKNuGetPackage.md
  Documentation/MRTK_PackageContents.md
  Documentation/Packaging/MRTK_Packages.md
  Documentation/Updating.md
  Documentation/toc.yml
  Documentation/usingupm.md
Labels: Documentation, Package Management - UPM

#8288 Fixed Typo in Overview.md
  Documentation/Input/Overview.md
Labels: Documentation

#8289 Fixed typo in WindowsMixedRealityCameraSettings.md
  Documentation/CameraSystem/WindowsMixedRealityCameraSettings.md
Labels: Documentation

#8230 Scroll graduation - Part 4
  Assets/MRTK/SDK/Experimental/ScrollingObjectCollection/ScrollingObjectCollection.cs
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
Labels: Bug, UX Controls - Collections

#8305 Remove UNITY_EDITOR define from MigrationTool.cs in editor-only assembly
  Assets/MRTK/SDK/Editor/Migration/Tools/MigrationTool.cs
Labels: Diagnostics / Tools

#8294 Update WorldAnchorManager and StabilizationPlaneModifier for Unity 2020
  Assets/MRTK/SDK/Experimental/Features/Utilities/StabilizationPlaneModifier.cs
  Assets/MRTK/SDK/Experimental/Features/Utilities/WorldAnchorManager.cs
  Assets/MRTK/SDK/Microsoft.MixedReality.Toolkit.SDK.asmdef
Labels: Unity 2020, XR SDK

#8314 Convert from legacy XR check to display subsystem running check
  Assets/MRTK/SDK/Experimental/Features/Utilities/StabilizationPlaneModifier.cs
Labels: XR SDK

#8306 Enable UPM publishing in CI
  pipelines/templates/publishpackages.yml
  pipelines/templates/tasks/upmpackages.yml
  scripts/packaging/createupmpackages.ps1
  scripts/packaging/publishupmpackages.ps1
Labels: Package Management - UPM

#8316 Add missing change that enables publishing of upm packages
  pipelines/templates/publishpackages.yml
  scripts/packaging/publishupmpackages.ps1
Labels: Package Management - UPM

#8315 Move Editor reference from MRTK.cs to config profile inspector
  Assets/MRTK/Core/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
Labels: Editor, Input System

#8116 Update Unity versions for public CI / PR validation
  pipelines/ci-daily.yml
  pipelines/ci-packaging.yml
  pipelines/ci.yaml
  pipelines/config/settings.yml
  pipelines/pr.yaml
Labels: CI/Build

#8317 Update CI demand to Unity 2018.4.26f1
  pipelines/ci-packaging-dontpublish.yml
Labels: CI/Build

#8319 Mouse cursor size update
  Assets/MRTK/SDK/Features/UX/Prefabs/Cursors/MouseCursor.prefab
Labels: Mouse Input

#8323 Update internal CI Unity versions
  pipelines/ci-packaging-internal.yml
  pipelines/ci-release.yml
  pipelines/ci-weekly-internal.yml
  pipelines/config/settings.yml
Labels: CI/Build

#8322 Compile out non-2020-compliant code in MixedRealityOptimizeUtils
  Assets/MRTK/Core/Utilities/Editor/MixedRealityOptimizeUtils.cs
Labels: Utilities

#8282 Update LostTrackingService for Unity 2020 and XRSDK/WMR
  Assets/MRTK/Extensions/LostTrackingService/LostTrackingService.cs
  Assets/MRTK/Extensions/LostTrackingService/Microsoft.MixedReality.Toolkit.Extensions.Tracking.asmdef
  Assets/MRTK/Providers/UnityAR/Editor/UnityARConfigurationChecker.cs
Labels: Extension, Unity 2020, XR SDK

#8328 Add HandJointService to XR SDK profile
  Assets/MRTK/Providers/XRSDK/Profiles/DefaultXRSDKConfigurationProfile.asset
  Assets/MRTK/Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset
Labels: Hand Tracking, XR SDK

#8334 Update authors with recent 2.5.0 contributors
  Documentation/Authors.md
Labels: Documentation

#8324 Create simple UPM packaging only pipelines for release publishing
  pipelines/packageupmpublic-preview.yaml
  pipelines/packageupmpublic.yaml
  pipelines/templates/tasks/upmpackages.yml
Labels: CI/Build, Package Management - UPM

#8336 Add note about tools that save to Library
  Documentation/Updating.md
Labels: Documentation

#8341 Update additional cases in StabilizationPlaneModifier for XR SDK
  Assets/MRTK/SDK/Experimental/Features/Utilities/StabilizationPlaneModifier.cs
Labels: Unity 2020

#8339 Add support for the Leap Motion Unity Modules version 4.5.1
  Assets/MRTK/Core/Utilities/Editor/AssemblyDefinition.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/LeapMotionHandTrackingExample.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/LeapCoreAssetsDetector.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionConfigurationChecker.cs
  Documentation/CrossPlatform/LeapMotionMRTK.md
  Documentation/Images/CrossPlatform/LeapMotion/LeapMotionIntegrateMenu.png
  Documentation/ReleaseNotes.md
  scripts/ci/validatecode.ps1
Labels: Leap Motion

#8347 it's -> its in possessive usages
  Assets/MRTK/Core/Definitions/BoundarySystem/InscribedRectangle.cs
  Assets/MRTK/Core/Definitions/Utilities/AutoStartBehavior.cs
  Assets/MRTK/Core/EventDatum/README.md
  Assets/MRTK/Core/Extensions/CanvasExtensions.cs
  Assets/MRTK/Core/Extensions/TransformExtensions.cs
  Assets/MRTK/Core/Inspectors/Profiles/DataProviderAccessServiceInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MRTK/Core/Utilities/EdgeUtilities.cs
  Assets/MRTK/Core/Utilities/Editor/SizeUtilities.cs
  Assets/MRTK/Core/Utilities/GameObjectManagement/GameObjectCreator.cs
  Assets/MRTK/Core/Utilities/GameObjectManagement/IGameObjectCreatorListener.cs
  Assets/MRTK/Core/Utilities/MaintainBorderLightWidth.cs
  Assets/MRTK/Core/Utilities/Rendering/MaterialInstance.cs
  Assets/MRTK/Core/Utilities/StandardShader/MeshSmoother.cs
  Assets/MRTK/SDK/Experimental/Features/UX/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Experimental/Features/UX/BoundsControl/Visuals/ProximityEffect/ProximityEffect.cs
  Assets/MRTK/SDK/Features/Audio/Influencers/AudioInfluencerController.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/States/InteractableStates.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/CursorModifier.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/ScreenSpaceMousePointer.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MRTK/Services/InputSystem/Utilities/ScaleMeshEffect.cs
  Assets/MRTK/Tests/PlayModeTests/Experimental/BoundsControlTests.cs
  Assets/MRTK/Tests/PlayModeTests/InteractableTests.cs
  Assets/MRTK/Tests/PlayModeTests/LoadingIndicatorTests.cs
  Assets/MRTK/Tests/PlayModeTests/Utils/UnityUiUtilities.cs
  Assets/MRTK/Tools/DependencyWindow/DependencyWindow.cs
Labels: Documentation

#8349 Fix standard assets loading and fix controller mapping profile image loading
  Assets/MRTK/Core/Definitions/Devices/ControllerMappingLibrary.cs
  Assets/MRTK/Core/Providers/UnityInput/XboxController.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitFiles.cs
  Assets/MRTK/Providers/OpenVR/OculusRemoteController.cs
  Assets/MRTK/Providers/OpenVR/OculusTouchController.cs
  Assets/MRTK/Providers/OpenVR/ViveWandController.cs
  Assets/MRTK/Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/StandardAssets/MRTK.StandardAssets.sentinel
  Assets/MRTK/StandardAssets/MRTK.StandardAssets.sentinel.meta
Labels: Controller Mapping

#8350 Fix MRTKFiles tests
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitFiles.cs
  Assets/MRTK/Tests/EditModeTests/Core/MixedRealityToolkitFilesTests.cs
Labels: Tests

#8342 Enable publishing of upm packages in release pipelines
  pipelines/packageupmpublic-preview.yaml
  pipelines/packageupmpublic.yaml
Labels: CI/Build, Package Management - UPM

#8370 Scene understanding - cleaned up version (no bonus commits) of 8369
  .gitignore
  Assets/MRTK/Core/Definitions/SpatialAwareness/Experimental/MixedRealitySpatialAwarenessSceneUnderstandingObserverProfile.cs
  Assets/MRTK/Core/Definitions/SpatialAwareness/SpatialAwarenessSurfaceTypes.cs
  Assets/MRTK/Core/Extensions/SpatialAwarenessSurfaceTypesExtensions.cs
  Assets/MRTK/Core/Extensions/SpatialAwarenessSurfaceTypesExtensions.cs.meta
  Assets/MRTK/Core/Interfaces/SpatialAwareness/Observers/Experimental/IMixedRealitySpatialAwarenessSceneUnderstandingObserver.cs
  Assets/MRTK/Examples/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs
  Assets/MRTK/Providers/Experimental/WindowsMixedReality/SceneUnderstanding/.gitignore
  Assets/MRTK/Providers/Experimental/WindowsMixedReality/SceneUnderstanding/SceneUnderstanding.csproj
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Profiles.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Profiles/DefaultSceneUnderstandingObserverProfile.asset
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Profiles/DefaultSceneUnderstandingObserverProfile.asset.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/SceneUnderstanding.csproj.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.asmdef
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.asmdef.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
Labels: Scene Understanding, Spatial Mapping / Awareness

#8259 MRTK-Quest packaging pipeline/documentation
  .gitignore
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Branding.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Branding/MRTK-Quest_Logo.png
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Branding/MRTK-Quest_Logo.png.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Materials.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Materials/HandMeshOutline.mat
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Materials/HandMeshOutline.mat.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Shaders.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Shaders/RimOutline.shader
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Art/Shaders/RimOutline.shader.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/MRTKQuestConfigurationChecker.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/MRTKQuestConfigurationChecker.cs.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/Microsoft.MixedReality.Toolkit.XRSDK.Oculus.Handtracking.Editor.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/Microsoft.MixedReality.Toolkit.XRSDK.Oculus.Handtracking.Editor.asmdef.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/License.txt
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/License.txt.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_CustomTeleportCursor.prefab
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_CustomTeleportCursor.prefab.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_HandsPrefab.prefab
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_HandsPrefab.prefab.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_LocalAvatar.prefab
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_LocalAvatar.prefab.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_OVRCameraRig.prefab
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Prefabs/MRTK-Quest_OVRCameraRig.prefab.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Resources.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Resources/MRTK-OculusConfig.asset
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Resources/MRTK-OculusConfig.asset.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Config.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Config/MRTKOculusConfig.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Config/MRTKOculusConfig.cs.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers/OculusHand.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers/OculusHand.cs.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/HandInput.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/HandInput/HandPoseUtils.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/HandInput/HandPoseUtils.cs.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/Microsoft.MixedReality.Toolkit.XRSDK.Oculus.Handtracking.Utilities.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/Microsoft.MixedReality.Toolkit.XRSDK.Oculus.Handtracking.Utilities.asmdef.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/TeleportPointer.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/TeleportPointer/CustomTeleportCursorHandler.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/TeleportPointer/CustomTeleportCursorHandler.cs.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/TeleportPointer/CustomTeleportPointer.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/TeleportPointer/CustomTeleportPointer.cs.meta
  Assets/MRTK/Providers/Oculus/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
  Documentation/CrossPlatform/OculusQuestMRTK.md
  Documentation/Images/CrossPlatform/OculusQuest/OculusAddDataXRSDKProvider.png
  Documentation/Images/CrossPlatform/OculusQuest/OculusIntegrationControllerAndHands.png
  Documentation/Images/CrossPlatform/OculusQuest/OculusIntegrationCsc.png
  Documentation/ReleaseNotes.md
  Documentation/toc.yml
  scripts/ci/validatecode.ps1
Labels: Documentation, Oculus

#8393 Add UPM to release notes
  Documentation/ReleaseNotes.md
Labels: Documentation, Package Management - UPM

#8389 fix appbar custom button visibility
  Assets/MRTK/SDK/Features/UX/Scripts/AppBar/AppBar.cs
Labels: UX Controls - AppBar

#8402 Scene understanding: re-create default profile and some minor code changes in the inspector and attrib usage
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Editor/SceneUnderstandingObserverProfileInspector.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Profiles/DefaultSceneUnderstandingObserverProfile.asset
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Profiles/DefaultSceneUnderstandingObserverProfile.asset.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/SceneUnderstandingObserverProfile.cs.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
Labels: Scene Understanding, Spatial Mapping / Awareness

#8398 Improve spatial mesh material handling - fix 8394 and 8396
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scripts/DemoSpatialMeshHandler.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Documentation/ReleaseNotes.md
Labels: Spatial Mapping / Awareness

#8406 Fix object mesh observer not auto finding the profile
  Assets/MRTK/Core/Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
Labels: Profile and Inspectors, Spatial Mapping / Awareness

#8387 Replace InitOnLoad with MRTK > Utils > WMR > Check Config
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityConfigurationChecker.cs
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
Labels: Configuration
