Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-09, with the labels that each got.

#8425 Update author name to align with other UPM packages
  Assets/MRTK/Examples/packagetemplate.json
  Assets/MRTK/Extensions/packagetemplate.json
  Assets/MRTK/StandardAssets/packagetemplate.json
  Assets/MRTK/Tests/TestUtilities/packagetemplate.json
  Assets/MRTK/Tools/packagetemplate.json
  Assets/MRTK/packagetemplate.json
Labels: Package Management - UPM

#8447 Fix input axis mappings in 2.5
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/Editor/InputMappingAxisUtility.cs
Labels: Input System

#8438 Update internal pool from Analog On-Prem to N-1
  pipelines/ci-packaging-internal.yml
  pipelines/ci-release.yml
  pipelines/ci-weekly-internal.yml
Labels: CI/Build

#8448 Fix test utilities access in 2019.4 when imported via UPM
  Assets/MRTK/Tests/TestUtilities/Microsoft.MixedReality.Toolkit.Tests.Utilities.asmdef
  Assets/MRTK/Tests/TestUtilities/PlayModeTestUtilities.cs
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
Labels: Package Management - UPM, Tests

#8454 Prerelease/2.5.0 stabilization -> mrtk_dev
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/Editor/InputMappingAxisUtility.cs
  Assets/MRTK/Examples/Experimental/PulseShader/Profile.meta
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderConfigurationProfile.asset.meta
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderHandTrackingProfile.asset
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderHandTrackingProfile.asset.meta
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderInputSystemProfile.asset
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderInputSystemProfile.asset.meta
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderSpatialAwarenessMeshObserverProfile.asset.meta
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderSpatialAwarenessSystemProfile.asset
  Assets/MRTK/Examples/Experimental/PulseShader/Profile/PulseShaderSpatialAwarenessSystemProfile.asset.meta
  Assets/MRTK/Examples/Experimental/PulseShader/Scenes/PulseShaderExamples.unity
  Assets/MRTK/Examples/Experimental/PulseShader/Scripts.meta
  Assets/MRTK/Examples/Experimental/PulseShader/Scripts/HideOnDevice.cs
  Assets/MRTK/Examples/Experimental/PulseShader/Scripts/HideOnDevice.cs.meta
  Assets/MRTK/SDK/Experimental/PulseShader/Materials/MRTK_Pulse_ArticulatedHandMeshBlue.mat
  Assets/MRTK/SDK/Experimental/PulseShader/Materials/MRTK_Pulse_ArticulatedHandMeshBlue.mat.meta
  Assets/MRTK/SDK/Experimental/PulseShader/Materials/MRTK_Pulse_ArticulatedHandMeshPurple.mat
  Assets/MRTK/SDK/Experimental/PulseShader/Materials/MRTK_Pulse_ArticulatedHandMeshPurple.mat.meta
  Assets/MRTK/SDK/Experimental/PulseShader/Materials/MRTK_Pulse_SpatialMeshBlue.mat
  Assets/MRTK/SDK/Experimental/PulseShader/Materials/MRTK_Pulse_SpatialMeshBlue.mat.meta
  Assets/MRTK/SDK/Experimental/PulseShader/Materials/MRTK_Pulse_SpatialMeshPurple.mat
  Assets/MRTK/SDK/Experimental/PulseShader/Materials/MRTK_Pulse_SpatialMeshPurple.mat.meta
  Assets/MRTK/SDK/Experimental/PulseShader/Scripts/HandPulseLogic.cs
  Assets/MRTK/SDK/Experimental/PulseShader/Scripts/SurfacePulse.cs
  Assets/MRTK/SDK/StandardAssets/Prefabs/ArticulatedHandMeshPulse.prefab
  Assets/MRTK/SDK/StandardAssets/Prefabs/ArticulatedHandMeshPulse.prefab.meta
  Assets/MRTK/Tests/TestUtilities/Microsoft.MixedReality.Toolkit.Tests.Utilities.asmdef
  Assets/MRTK/Tests/TestUtilities/PlayModeTestUtilities.cs
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
  pipelines/ci-packaging-internal.yml
  pipelines/ci-release.yml
  pipelines/ci-weekly-internal.yml
Labels: Release Management

#8442 Update private static readonly capitalization and add some readonly modifiers where reasonable
  Assets/MRTK/Core/Definitions/BoundarySystem/InscribedRectangle.cs
  Assets/MRTK/Core/Definitions/SpatialAwareness/SpatialAwarenessMeshObject.cs
  Assets/MRTK/Core/Definitions/Utilities/ArticulatedHandPose.cs
  Assets/MRTK/Providers/OpenVR/OpenVRRenderModel.cs
  Assets/MRTK/SDK/Experimental/Dock/Dockable.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
Labels: Code Style

#8461 Update layout of Examples package to facilitate importing individual samples via UPM
  Assets/MRTK/Examples/Common.meta
  Assets/MRTK/Examples/Common/Materials.meta
  Assets/MRTK/Examples/Common/Materials/CubeEnvironmentColor.mat
  Assets/MRTK/Examples/Common/Materials/CubeEnvironmentColor.mat.meta
  Assets/MRTK/Examples/Common/Prefabs.meta
  Assets/MRTK/Examples/Common/Prefabs/CoffeeCup.prefab
  Assets/MRTK/Examples/Common/Prefabs/CoffeeCup.prefab.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations/Slider_02_AnimationController.controller
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations/Slider_02_AnimationController.controller.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations/Slider_02_Grab.anim
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations/Slider_02_Grab.anim.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations/Slider_02_Hover.anim
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations/Slider_02_Hover.anim.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations/Slider_02_Rest.anim
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Animations/Slider_02_Rest.anim.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Materials.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Materials/Slider_Dot.mat
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Materials/Slider_Dot.mat.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Models.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Models/Slider_Dot_geo.fbx
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Models/Slider_Dot_geo.fbx.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Scripts.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Scripts/UpdateSliderTrackLine.cs
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Scripts/UpdateSliderTrackLine.cs.meta
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Slider.prefab
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Slider.prefab.meta
  Assets/MRTK/Examples/Common/Profiles.meta
  Assets/MRTK/Examples/Common/Profiles/RiggedHands.meta
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandConfigurationProfile.asset
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandConfigurationProfile.asset.meta
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandControllerVisualizationProfile.asset
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandControllerVisualizationProfile.asset.meta
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandInputSystemProfile.asset
  Assets/MRTK/Examples/Common/Profiles/RiggedHands/RiggedHandInputSystemProfile.asset.meta
  Assets/MRTK/Examples/Common/Scripts.meta
  Assets/MRTK/Examples/Common/Scripts/ColorChanger.cs
  Assets/MRTK/Examples/Common/Scripts/ColorChanger.cs.meta
  Assets/MRTK/Examples/Common/Scripts/DwellProfileWithDecay.cs
  Assets/MRTK/Examples/Common/Scripts/DwellProfileWithDecay.cs.meta
  Assets/MRTK/Examples/Common/Scripts/MaterialMatrix.cs
  Assets/MRTK/Examples/Common/Scripts/MaterialMatrix.cs.meta
  Assets/MRTK/Examples/Common/Scripts/Slider.meta
  Assets/MRTK/Examples/Common/Scripts/Slider/ShowSliderValue.cs
  Assets/MRTK/Examples/Common/Scripts/Slider/ShowSliderValue.cs.meta
  Assets/MRTK/Examples/Common/Scripts/Slider/SliderChangeColor.cs
  Assets/MRTK/Examples/Common/Scripts/Slider/SliderChangeColor.cs.meta
  Assets/MRTK/Examples/Common/Scripts/Toggle.meta
  Assets/MRTK/Examples/Common/Scripts/Toggle/ToggleGazeSource.cs
  Assets/MRTK/Examples/Common/Scripts/Toggle/ToggleGazeSource.cs.meta
  Assets/MRTK/Examples/Common/Scripts/Toggle/ToggleSpatialMeshVisualization.cs
  Assets/MRTK/Examples/Common/Scripts/Toggle/ToggleSpatialMeshVisualization.cs.meta
  Assets/MRTK/Examples/Common/Scripts/TriggerOnStartup.cs
  Assets/MRTK/Examples/Common/Scripts/TriggerOnStartup.cs.meta
  Assets/MRTK/Examples/Common/Themes.meta
  Assets/MRTK/Examples/Common/Themes/ExampleHubBackPlateTheme.asset
  Assets/MRTK/Examples/Common/Themes/ExampleHubBackPlateTheme.asset.meta
  Assets/MRTK/Examples/packagetemplate.json
  Documentation/Packaging/MRTK_Packages.md
Labels: Example/Test Scene, Package Management - UPM

#8455 Add VR Offset Modification Settings to Leap Configuration Profile
  Assets/MRTK/Providers/LeapMotion/Definitions/LeapVRDeviceOffsetMode.cs
  Assets/MRTK/Providers/LeapMotion/Definitions/LeapVRDeviceOffsetMode.cs.meta
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionDeviceManagerProfileInspector.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManager.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManagerProfile.cs
  Assets/MRTK/Providers/LeapMotion/Profiles/LeapMotionDeviceManagerProfile.asset
  Documentation/CrossPlatform/LeapMotionMRTK.md
  Documentation/Images/CrossPlatform/LeapMotion/LeapDeviceManagerDesk.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapDeviceManagerHeadset.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapDeviceManagerProfileBeforeClone.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapMotionDeviceManagerDesk.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapMotionDeviceManagerHeadset.png
  Documentation/Images/CrossPlatform/LeapMotion/LeapMotionDeviceManagerProfile.png
Labels: Leap Motion

#8467 Fixed Typo in README_Solver.md
  Documentation/README_Solver.md
Labels: Documentation

#8424 Improving clipping primitive performance and deleting instanced mater…
  Assets/MRTK/Core/Inspectors/ClippingPrimitiveInspector.cs
  Assets/MRTK/Core/Utilities/Rendering/MaterialInstance.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPrimitive.cs
Labels: Bug

#8430 Scroll View Graduation - Part 6 - Reverting propagation
  Assets/MRTK/Examples/Experimental/ScrollingObjectCollection/Scripts/ScrollableListPopulator.cs
  Assets/MRTK/Examples/Experimental/ScrollingObjectCollection/Scripts/ScrollablePagination.cs
  Assets/MRTK/Examples/Experimental/ScrollingObjectCollection/Scripts/ScrollablePagination.cs.meta
  Assets/MRTK/SDK/Experimental/Inspectors/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs
  Assets/MRTK/SDK/Experimental/ScrollingObjectCollection/ScrollingObjectCollection.cs
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
Labels: UX Controls - Collections

#8470 Properly switch input simulation mode in tests
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
  Assets/MRTK/Tests/PlayModeTests/InteractableEventTests.cs
  Assets/MRTK/Tests/PlayModeTests/PinchSliderTests.cs
  Assets/MRTK/Tests/PlayModeTests/SlateTests.cs
Labels: Bug

#8478 Change the input simulation mode in InputActions.MixedRealityInputSimulationProfile
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityInputSimulationProfile.asset
Labels: Bug

#8484 Add recent authors to the documentation page
  Documentation/Authors.md
Labels: Documentation

#8464 Fix scaling issue of bounding box
  Assets/MRTK/SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MRTK/Tests/PlayModeTests/BoundingBoxTests.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
Labels: Bug

#8488 Packaging changes to address 8176 and glTF example file copy / material import errors
  Assets/MRTK/Core/Utilities/Editor/ScriptedImporterAssetReimporter.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/Importers/GltfEditorImporter.cs
  Assets/MRTK/Examples/Demos/Gltf/Models/Avocado/glTF/Avocado.gltf.meta
  Assets/MRTK/Examples/Demos/Gltf/Models/Avocado/glTF/AvocadoCustomAttr.gltf.meta
  Assets/MRTK/Examples/Demos/Gltf/Models/Avocado/glTF/AvocadoMaterial.mat
  Assets/MRTK/Examples/Demos/Gltf/Models/Avocado/glTF/AvocadoMaterial.mat.meta
  Assets/MRTK/Examples/Demos/Gltf/Scripts/Editor/TestGltfLoadingEditor.cs
  Assets/MRTK/SDK/StandardAssets/Shaders/SR_Triangles.shader
  Assets/MRTK/SDK/StandardAssets/Shaders/SR_Triangles.shader.meta
  Assets/MRTK/SDK/StandardAssets/Shaders/SR_Triangles_Object_Space.shader
  Assets/MRTK/SDK/StandardAssets/Shaders/SR_Triangles_Object_Space.shader.meta
Labels: Example/Test Scene, Package Management - UPM

#8500 Add Input Playback Service to RecordArticulatedHandPoseInputSystemProfile
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/RecordArticulatedHandPoseInputSystemProfile.asset
Labels: Bug

#8391 Adding Follow Solver Example scene
  Assets/MRTK/Examples/Experimental/Solvers/FollowSolverExample.unity
  Assets/MRTK/Examples/Experimental/Solvers/FollowSolverExample.unity.meta
  Assets/MRTK/SDK/Experimental/FollowSolver/Follow.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
Labels: Solvers

#8532 Add analytics to doc site
  scripts/docs/templates/mrtk/styles/main.js
Labels: Documentation

#8533 Fix unresponsive radial button
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/RadialSet.prefab
Labels: Bug

#8537 Update method name in Pointers.md document
  Documentation/Input/Pointers.md
Labels: Documentation

#8530 Moving Scroll folders out of experimental
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/HolographicBackPlateNoBorder_Light_Blue.mat
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/HolographicBackPlateNoBorder_Light_Blue.mat.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/ScrollItemCardBackplate.mat
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/ScrollItemCardBackplate.mat.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/ScrollWindowBackground.mat
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/ScrollWindowBackground.mat.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/DynamicScrollPopulator.prefab
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/DynamicScrollPopulator.prefab.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/ScrollingOC_Objects_Plated32x32.prefab
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/ScrollingOC_Objects_Plated32x32.prefab.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/ScrollingOC_PressableBtn_32x96.prefab
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/ScrollingOC_PressableBtn_32x96.prefab.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scenes.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scenes/ScrollingObjectCollection.unity
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scenes/ScrollingObjectCollection.unity.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollableListPopulator.cs
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollableListPopulator.cs.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollablePagination.cs
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollablePagination.cs.meta
  Assets/MRTK/SDK/Editor/Inspectors/UX/ScrollingObjectCollection.meta
  Assets/MRTK/SDK/Editor/Inspectors/UX/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs.meta
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection.meta
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/README.md
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/README.md.meta
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollection.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollection.cs.meta
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollectionNode.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollectionNode.cs.meta
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
  Documentation/Contributing/ExperimentalFeatures.md
  Documentation/toc.yml
  README.md
Labels: UX Controls - Collections

#8542 Branch synchronization: prerelease/2.5.0_stabilization --> mrtk_development
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/HolographicBackPlateNoBorder_Light_Blue.mat
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/HolographicBackPlateNoBorder_Light_Blue.mat.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/ScrollItemCardBackplate.mat
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/ScrollItemCardBackplate.mat.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/ScrollWindowBackground.mat
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Materials/ScrollWindowBackground.mat.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/DynamicScrollPopulator.prefab
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/DynamicScrollPopulator.prefab.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/ScrollingOC_Objects_Plated32x32.prefab
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/ScrollingOC_Objects_Plated32x32.prefab.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/ScrollingOC_PressableBtn_32x96.prefab
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/ScrollingOC_PressableBtn_32x96.prefab.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scenes.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scenes/ScrollingObjectCollection.unity
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scenes/ScrollingObjectCollection.unity.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollableListPopulator.cs
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollableListPopulator.cs.meta
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollablePagination.cs
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollablePagination.cs.meta
  Assets/MRTK/SDK/Editor/Inspectors/UX/ScrollingObjectCollection.meta
  Assets/MRTK/SDK/Editor/Inspectors/UX/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs.meta
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/RadialSet.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection.meta
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/README.md
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/README.md.meta
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollection.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollection.cs.meta
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollectionNode.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollectionNode.cs.meta
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
  Documentation/Contributing/ExperimentalFeatures.md
  Documentation/toc.yml
  README.md
Labels: Automerge

#8559 Adding Migration Window entry to toc
  Documentation/toc.yml
Labels: Documentation

#8558 Branch synchronization: prerelease/2.5.0_stabilization --> mrtk_development
  Assets/MRTK/Core/Utilities/XRSubsystemHelpers.cs
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/ReleaseNotes.md
  Documentation/toc.yml
Labels: Automerge

#8579 Check the presence of XR device before dependent subsequent steps
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MRTK/Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs
Labels: Bug

#8576 Branch synchronization: prerelease/2.5.0_stabilization --> mrtk_development
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Examples/Common/Prefabs/Help_Panel_Viewer.prefab
  Assets/MRTK/Providers/Oculus/XRSDK/Controllers/OculusXRSDKTouchController.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Editor/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.Editor.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/Editor/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.Editor.asmdef.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.Handtracking.Editor.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.Handtracking.Editor.asmdef.meta
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/OculusXRSDKHandtrackingConfigurationChecker.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers/OculusHand.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/Microsoft.MixedReality.Toolkit.XRSDK.Oculus.Handtracking.Utilities.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Utils/Microsoft.MixedReality.Toolkit.XRSDK.Oculus.Handtracking.Utilities.asmdef.meta
  Assets/MRTK/Providers/Oculus/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs.meta
  Assets/MRTK/Providers/Oculus/XRSDK/Profiles/OculusXRSDKDeviceManagerProfile.asset
  Assets/MRTK/Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/PerAxisHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ScaleHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MRTK/Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs
  Assets/MRTK/Tests/EditModeTests/Editor/OculusIntegrationSetupTests.cs
  Assets/MRTK/Tests/EditModeTests/Microsoft.MixedReality.Toolkit.Tests.EditModeTests.asmdef
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
  Documentation/Updating.md
  scripts/ci/validatecode.ps1
Labels: Automerge

#8572 Fix controller popup window when MRTK isn't initialized
  Assets/MRTK/Core/Inspectors/ControllerPopupWindow.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
Labels: Controller Mapping

#8594 Branch synchronization: prerelease/2.5.0_stabilization --> mrtk_development
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Large_AutoWorldLock_On_HandDrop.prefab
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Large_WorldLock_On_GrabAndPull.prefab
  Assets/MRTK/Examples/Demos/EyeTracking/Scenes/EyeTrackingDemo-04-TargetPositioning.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExample.unity
  Assets/MRTK/Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerExample.unity
  Assets/MRTK/Examples/Demos/Solvers/Scenes/SolverExamples.unity
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/ClippingExamples.unity
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/OutlineExamples.unity
  Assets/MRTK/Examples/Demos/UX/BoundingBox/Scenes/BoundingBoxExamples.unity
  Assets/MRTK/Examples/Demos/UX/BoundsControl/Scenes/BoundsControlExamples.unity
  Assets/MRTK/Examples/Demos/UX/ObjectManipulator/Scenes/ObjectManipulatorExample.unity
  Assets/MRTK/Examples/Demos/UX/Tooltips/Scenes/TooltipExamples.unity
  Assets/MRTK/Examples/Experimental/Dock/DockExample.unity
  Assets/MRTK/Examples/Experimental/Elastic/Scenes/ElasticSystemExamples.unity
  Assets/MRTK/Examples/Experimental/HandCoach/Scenes/HandCoachExample.unity
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Scenes/HandMenuLayoutExamples.unity
  Assets/MRTK/Examples/Experimental/Joystick/JoystickExample.unity
  Assets/MRTK/Examples/Experimental/PulseShader/Scenes/PulseShaderExamples.unity
  Assets/MRTK/Examples/Experimental/Solvers/FollowSolverExample.unity
  Assets/MRTK/Examples/StandardAssets/Prefabs/SceneDescriptionPanelRev.prefab
  Assets/MRTK/Extensions/HandPhysicsService/Examples/HandPhysicsServiceExample.unity
  Assets/MRTK/SDK/Experimental/Joystick/JoystickPrefab.prefab
  Assets/MRTK/SDK/Features/Input/Handlers/ObjectManipulator.cs
  Assets/MRTK/Tests/PlayModeTests/ConstraintTests.cs
  Documentation/Updating.md
  scripts/docs/templates/mrtk/partials/head.tmpl.partial
  scripts/docs/templates/mrtk/styles/main.js
Labels: Automerge

#8596 Adding Scalable HoverLight Support
  Assets/MRTK/Core/Utilities/StandardShader/HoverLight.cs
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/HoverLightExamples.unity
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/HoverLightExamples.unity.meta
  Assets/MRTK/Examples/StandardAssets/Animations/HoverLightRotate.anim
  Assets/MRTK/Examples/StandardAssets/Animations/HoverLightRotate.anim.meta
  Assets/MRTK/Examples/StandardAssets/Animations/HoverLightRotate.controller
  Assets/MRTK/Examples/StandardAssets/Animations/HoverLightRotate.controller.meta
  Assets/MRTK/Examples/StandardAssets/Materials/HoverLightGray.mat
  Assets/MRTK/Examples/StandardAssets/Materials/HoverLightGray.mat.meta
  Assets/MRTK/Examples/StandardAssets/Materials/HoverLightParticle.mat
  Assets/MRTK/Examples/StandardAssets/Materials/HoverLightParticle.mat.meta
  Assets/MRTK/StandardAssets/Shaders/MixedRealityStandard.shader
  Documentation/Rendering/HoverLight.md
Labels: Release Blocker, Shaders / Materials

#8512 Docs update 2.5.0 stabilization
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/Images/MRTK-Doc-Versions.png
  Documentation/Installation.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/WelcomeToMRTK.md
  Documentation/toc.yml
  README.md
  toc.yml
Labels: Documentation

#8592 Refactor SpatialInteractionManager access and conversions from Unity to native SpatialInteractionSource
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityUtilities.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Extensions/InteractionSourceExtensions.cs
Labels: Windows Mixed Reality

#8618 Add file that was missing from 8496
  Documentation/Images/MRTK-Doc-Versions.png
Labels: Documentation

#8619 Update gitignore file
  .gitignore
Labels: CI/Build

#8621 Fix links that were broken in 8496
  Documentation/MRTK_PackageContents.md
  Documentation/toc.yml
Labels: Documentation

#8591 Update some asmdefs to Unity 2019 version for UPM packaging
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.WMR.Editor.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.WMR.Editor.asmdef.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/WindowsMixedRealityXRSDKConfigurationChecker.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/WindowsMixedRealityXRSDKConfigurationChecker.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.WMR.asmdef
  Assets/MRTK/Providers/XRSDK/Editor.meta
  Assets/MRTK/Providers/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.Editor.asmdef
  Assets/MRTK/Providers/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.Editor.asmdef.meta
  Assets/MRTK/Providers/XRSDK/Editor/XRSDKConfigurationChecker.cs
  Assets/MRTK/Providers/XRSDK/Editor/XRSDKConfigurationChecker.cs.meta
  Assets/MRTK/Providers/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.asmdef
  Documentation/Installation.md
  Documentation/ReleaseNotes.md
Labels: BREAKING CHANGE, Bug

#8620 Add motion controller simulation to input simulation documentation
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/Installation.md
Labels: Documentation

#8456 Feature/dmc update
  .gitignore
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/MRTK-Doc-Versions.png
  Documentation/Images/MRTK_Icon_ReleaseNotes.png
  Documentation/Input/InputEvents.md
  Documentation/Input/Overview.md
  Documentation/Input/Pointers.md
  Documentation/Installation.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/README_Interactable.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/Tools/OptimizeWindow.md
  Documentation/WelcomeToMRTK.md
  Documentation/toc.yml
  ProjectSettings/ProjectSettings.asset
  README.md
  pipelines/config/settings.yml
  scripts/packaging/updateMRTKVersion.ps1
  toc.yml
Labels: Documentation

#8629 Fix getting started 404 redirect for 2.4.0
  .gitignore
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/MRTK_Icon_ReleaseNotes.png
  Documentation/Installation.md
  README.md
Labels: Documentation

#8625 Branch synchronization: prerelease/2.5.0_stabilization --> mrtk_development
  .gitignore
  Assets/MRTK/Core/Definitions/Utilities/AxisFlags.cs
  Assets/MRTK/Core/Definitions/Utilities/RotationConstraintType.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/OculusXRSDKHandtrackingConfigurationChecker.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.WMR.Editor.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.WMR.Editor.asmdef.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/WindowsMixedRealityXRSDKConfigurationChecker.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Editor/WindowsMixedRealityXRSDKConfigurationChecker.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.WMR.asmdef
  Assets/MRTK/Providers/XRSDK/Editor.meta
  Assets/MRTK/Providers/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.Editor.asmdef
  Assets/MRTK/Providers/XRSDK/Editor/Microsoft.MixedReality.Toolkit.XRSDK.Editor.asmdef.meta
  Assets/MRTK/Providers/XRSDK/Editor/XRSDKConfigurationChecker.cs
  Assets/MRTK/Providers/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.asmdef
  Assets/MRTK/Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/MoveAxisConstraint.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/RotationAxisConstraint.cs
  Assets/MRTK/Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
  Assets/MRTK/Tools/BuildWindow/Arm64Workaround.cs
  Assets/MRTK/Tools/BuildWindow/Arm64Workaround.cs.meta
  Documentation/CrossPlatform/OculusQuestMRTK.md
  Documentation/EyeTracking/EyeTracking_BasicSetup.md
  Documentation/GetingStartedWithTheMRTK.md
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/Images/CrossPlatform/OculusQuest/OculusExpectedBuildErrors.png
  Documentation/Images/CrossPlatform/OculusQuest/OculusIntegrationAsmdef.png
  Documentation/Images/CrossPlatform/OculusQuest/OculusIntegrationCsc.png
  Documentation/Images/MRTK-Doc-Versions.png
  Documentation/Images/MRTK_Icon_ReleaseNotes.png
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/Installation.md
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/WelcomeToMRTK.md
  Documentation/toc.yml
  README.md
  toc.yml
Labels: Automerge

#8609 Update CI and publishing
  pipelines/packageupmpublic-preview.yaml
  pipelines/packageupmpublic.yaml
  pipelines/templates/tasks/upmpackages.yml
  scripts/packaging/publishupmpackages.ps1
Labels: CI/Build, Package Management - UPM

#8586 Update the known issues to mention the UnityUI/TMP issue
  Documentation/ReleaseNotes.md
Labels: Documentation

#8622 Readme link update
  README.md
Labels: Documentation

#8606 Fixing scroll MaskEnabled property serialization issue
  Assets/MRTK/SDK/Editor/Inspectors/UX/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollection.cs
Labels: Bug

#8636 Fix/menu update icons
  Assets/MRTK/Tests/EditModeTests/Core/Extensions/BoundsExtensionsTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/Experimental/ElasticTests.cs.meta
  Assets/MRTK/Tests/PlayModeTests/InputSystem/TestCustomPointerMediator.cs.meta
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs.meta
  Assets/MRTK/Tests/TestUtilities/TestController.cs.meta
  Assets/MRTK/Tests/TestUtilities/TestMotionController.cs.meta
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
Labels: Bug, Tests

#8641 Cherry-pick pull request #8622 to 2.5
  README.md
Labels: Documentation

#8610 Remove breaking change from IMixedRealityNearPointer
  Assets/MRTK/Core/Interfaces/InputSystem/IMixedRealityNearPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
Labels: Input System - Near Interaction

#8645 Fix implied install of legacy Windows Mixed Reality package with config dlg
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Documentation/ReleaseNotes.md
Labels: Configuration, Unity 2019

#8652 Remove collider from MRTK logo on example hub button
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ExampleHubButton.prefab
Labels: Bug

#8653 Fix #8647, shared file needed to be moved to Common folder
  Assets/MRTK/Examples/Common/Scripts/LoadProfilesOnStartup.cs
  Assets/MRTK/Examples/Common/Scripts/LoadProfilesOnStartup.cs.meta
Labels: Example/Test Scene, Package Management - UPM

#8657 Fix the titlebar in the HandInteractionExamples scene
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
Labels: Bug

#8659 Update input module in the DictationExample scene
  Assets/MRTK/Examples/Demos/Input/Scenes/Dictation/DictationExample.unity
Labels: Bug

#8658 Update release notes and profile required warning
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Documentation/Images/ReleaseNotes/FixSceneTransitionProfile.png
  Documentation/ReleaseNotes.md
Labels: Documentation

#8661 Branch synchronization: prerelease/2.5.0_stabilization --> mrtk_development
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Examples/Common/Scripts/LoadProfilesOnStartup.cs
  Assets/MRTK/Examples/Common/Scripts/LoadProfilesOnStartup.cs.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Demos/Input/Scenes/Dictation/DictationExample.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ExampleHubButton.prefab
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.Handtracking.Editor.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Editor/OculusXRSDKHandtrackingConfigurationChecker.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.Oculus.asmdef
  Documentation/Images/ReleaseNotes/FixSceneTransitionProfile.png
  Documentation/ReleaseNotes.md
Labels: Automerge

#8667 Update UnityAR asmdef
  Assets/MRTK/Providers/UnityAR/Editor/UnityARConfigurationChecker.cs
  Assets/MRTK/Providers/UnityAR/Microsoft.MixedReality.Toolkit.Providers.UnityAR.asmdef
  Documentation/CrossPlatform/UsingARFoundation.md
Labels: AR Foundation, Package Management - UPM, Unity 2019

#8666 Add release note for 8459
  Documentation/ReleaseNotes.md
Labels: Documentation

#8670 Changed oculus xrsdk configuration checker to not modify asmdefs
  Assets/MRTK/Providers/Oculus/XRSDK/Editor/OculusXRSDKConfigurationChecker.cs
Labels: Oculus

#8672 Fix tooltip in the Examples Hub Tooltip scene
  Assets/MRTK/SDK/Features/UX/Scripts/Utilities/PrefabSpawner.cs
Labels: Bug

#8671 (Fix CI) Make a missing asmdef a warning instead of an exception in MSBuild scripts
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
Labels: CI/Build

#8678 Fix CI break caused by asmdef file renames
  Assets/MRTK/Examples/MRTK.Examples.asmdef
  Assets/MRTK/Examples/MRTK.Examples.asmdef.meta
  Assets/MRTK/Tests/TestUtilities/MRTK.Tests.Utilities.asmdef.meta
  scripts/ci/validatecode.ps1
Labels: CI/Build

#8698 Add release note re: no spatializer warning
  Documentation/ReleaseNotes.md
Labels: Documentation

#8689 2.5.0 stabilization release note - UX items & type ramp polish
  Documentation/ReleaseNotes.md
Labels: Documentation

#8699 Updating scroll documentation
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/README.md
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/README.md.meta
  Documentation/Images/ScrollingCollection/ScrollingCollection_Main.jpg
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection.png
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection_ExampleScene.png
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection_GridLayout.png
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection_Prefabs.png
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection_ViewableArea.png
  Documentation/README_ScrollingObjectCollection.md
  Documentation/ReleaseNotes.md
  Documentation/toc.yml
  README.md
Labels: Documentation

#8680 Fix some piano related bugs in the hand interaction examples scene
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
Labels: Bug

#8706 Delete file that was replaced in 8640
  Documentation/GetingStartedWithTheMRTK.md
Labels: Documentation

#8708 Branch synchronization: prerelease/2.5.0_stabilization --> mrtk_development
  Assets/MRTK/Core/Utilities/StandardShader/HoverLight.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionConfigurationChecker.cs
  Assets/MRTK/Providers/LeapMotion/MRTK.LeapMotion.asmdef
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/README.md
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/README.md.meta
  Assets/MRTK/Tools/BuildWindow/Arm64Workaround.cs
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
  Documentation/Contributing/DocumentationGuide.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Images/ScrollingCollection/ScrollingCollection_Main.jpg
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection.png
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection_ExampleScene.png
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection_GridLayout.png
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection_Prefabs.png
  Documentation/Images/ScrollingCollection/ScrollingObjectCollection_ViewableArea.png
  Documentation/README_AppBar.md
  Documentation/README_HandInteractionExamples.md
  Documentation/README_ManipulationHandler.md
  Documentation/README_NearMenu.md
  Documentation/README_ScrollingObjectCollection.md
  Documentation/README_Slate.md
  Documentation/README_Toolbox.md
  Documentation/ReleaseNotes.md
  Documentation/toc.yml
  README.md
Labels: Automerge

#8717 Add instructions for remoting when using XR SDK
  Documentation/ReleaseNotes.md
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation
