Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2020-05, with the labels that each got.

#7754 Prerelease/2.4.0 stabilization -> dev (to get the meta file in)
  Assets/MRTK/SDK/Experimental/Dialog/README_Dialog.md.meta
Labels: Release Management

#7763 Add missing namespace
  Assets/MRTK/Tests/EditModeTests/Core/Definitions/Devices/MixedRealityControllerMappingProfileTests.cs
Labels: Tests

#7756 [Docs] 2.4.0 stabilization docs polish pass 2
  Assets/MRTK/Extensions/HandPhysicsService/README.md
  Assets/MRTK/SDK/Experimental/Dialog/README_Dialog.md
  Assets/MRTK/SDK/Experimental/Dock/README_Dock.md
  Assets/MRTK/SDK/Experimental/HandCoach/README_HandCoach.md
  Assets/MRTK/SDK/Experimental/ScrollingObjectCollection/README.md
  Documentation/EyeTracking/EyeTracking_ExamplesOverview.md
  Documentation/Images/Button/MRTK_Button_SizeCustomization1.png
  Documentation/Images/Button/MRTK_Button_SizeCustomization2.png
  Documentation/Images/Button/MRTK_Button_SizeCustomization3.png
  Documentation/Images/Button/MRTK_Button_SizeCustomization4.png
  Documentation/Images/Button/MRTK_Button_UsePlated.png
  Documentation/README_Button.md
  Documentation/README_HandMenu.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/toc.yml
Labels: Documentation

#7777 Update authors with recent 2.4.0 changes
  Documentation/Authors.md
Labels: Documentation

#7774 Update XR SDK docs with new XR Management version and updated images
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/Images/XRSDK/BoundarySystemLegacy.png
  Documentation/Images/XRSDK/BoundarySystemXRSDK.png
  Documentation/Images/XRSDK/CameraSystemLegacy.png
  Documentation/Images/XRSDK/CameraSystemXRSDK.png
  Documentation/Images/XRSDK/InputSystemWMRLegacy.png
  Documentation/Images/XRSDK/InputSystemWMRXRSDK.png
  Documentation/Images/XRSDK/PluginManagement.png
  Documentation/Images/XRSDK/SpatialAwarenessLegacy.png
  Documentation/Images/XRSDK/SpatialAwarenessXRSDK.png
Labels: Documentation, XR SDK

#7775 Update HL2 holographic reprojection docs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityCameraSettingsProfile.cs
  Documentation/CameraSystem/WindowsMixedRealityCameraSettings.md
Labels: Documentation, HoloLens 2

#7793 Properly handle user selecting None for the spatializer
  Assets/MRTK/Core/Utilities/Editor/SpatializerUtilities.cs
Labels: Editor, Spatial Sound / Audio

#7759 UGUI dropdown zfight visual glitch
  Assets/MRTK/Core/StandardAssets/FontsSDFTextures/seguisb SDF zwriteOff.asset
  Assets/MRTK/Core/StandardAssets/FontsSDFTextures/seguisb SDF zwriteOff.asset.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateUGUI.prefab
Labels: Bug, UX Controls - Unity UI (UGUI)

#7787 CreateKinematicBodies called after the prefab setters set to new value
  Assets/MRTK/Extensions/HandPhysicsService/HandPhysicsService.cs
Labels: Extension

#7817 Prerelease/2.4.0 stabilization -> dev
  Assets/MRTK/Core/StandardAssets/FontsSDFTextures/seguisb SDF zwriteOff.asset
  Assets/MRTK/Core/StandardAssets/FontsSDFTextures/seguisb SDF zwriteOff.asset.meta
  Assets/MRTK/Core/Utilities/Editor/SpatializerUtilities.cs
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateUGUI.prefab
  Documentation/ReleaseNotes.md
Labels: Release Management

#7826 Add missing profiler marker image, configuration support for spatializers
  Documentation/Images/ReleaseNotes/ProfilerMarkers.png
  Documentation/Images/ReleaseNotes/SpatializerSelection.png
  Documentation/ReleaseNotes.md
Labels: Documentation

#7829 Update the updating link so that it provides actual "how to upgrade your project" guidance
  Documentation/ReleaseNotes.md
Labels: Documentation

#7827 Add release note docs for the button config helper.
  Documentation/ReleaseNotes.md
Labels: Documentation

#7831 Fix canvas inspector exception with screen space canvases
  Assets/MRTK/Services/InputSystem/Editor/MixedRealityCanvasInspector.cs
Labels: UX Controls - Unity UI (UGUI)

#7823 Fixing Build Window access of Response Data
  Assets/MRTK/Core/Utilities/WebRequestRest/Rest.cs
  Assets/MRTK/Core/Utilities/WindowsDevicePortal/DevicePortal.cs
  Assets/MRTK/Examples/Demos/Gltf/Scripts/TestGlbLoading.cs
Labels: Bug, Build Window

#7834 Prerelease/2.4.0 stabilization -> dev
  Assets/MRTK/Core/StandardAssets/FontsSDFTextures/seguisb SDF zwriteOff.asset
  Assets/MRTK/Core/Utilities/WebRequestRest/Rest.cs
  Assets/MRTK/Core/Utilities/WindowsDevicePortal/DevicePortal.cs
  Assets/MRTK/Examples/Demos/Gltf/Scripts/TestGlbLoading.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputSimulationProfile.asset
  Assets/MRTK/Services/InputSimulation/Editor/MixedRealityInputSimulationProfileInspector.cs
  Assets/MRTK/Services/InputSimulation/InputSimulationService.cs
  Assets/MRTK/Services/InputSimulation/MixedRealityInputSimulationProfile.cs
  Assets/MRTK/Services/InputSystem/Editor/MixedRealityCanvasInspector.cs
  Assets/MRTK/Tests/PlayModeTests/ProfileTests.cs
  Documentation/Images/ReleaseNotes/ProfilerMarkers.png
  Documentation/Images/ReleaseNotes/SpatializerSelection.png
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/ReleaseNotes.md
Labels: Release Management

#7832 Update Optimize Window UI to respect editor theme
  Assets/MRTK/Core/Inspectors/Utilities/MixedRealityStylesUtility.cs
  Assets/MRTK/Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
Labels: Build / Tools

#7833 Unity freezing when changing to UWP
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
Labels: Bug

#7844 Reconcile some unneeded #if UNITY_EDITOR defines
  Assets/MRTK/Core/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MRTK/Examples/Demos/Gltf/Scripts/Editor/TestGltfLoadingEditor.cs
  Assets/MRTK/Extensions/LostTrackingService/Editor/LostTrackingServiceInspector.cs
  Assets/MRTK/SDK/Inspectors/UX/ManipulationHandler/ManipulationHandlerInspector.cs
  Assets/MRTK/SDK/Inspectors/UX/VisualThemes/StatesInspector.cs
  Assets/MRTK/SDK/Inspectors/UX/VisualThemes/ThemeInspector.cs
  Assets/MRTK/Services/InputSystem/Editor/NearInteractionTouchableVolumeInspector.cs
  Assets/MRTK/Services/InputSystem/Editor/NearInteractionTouchableVolumeInspector.cs.meta
  Assets/MRTK/Services/InputSystem/NearInteractionTouchableVolume.cs
Labels: Editor

#7840 Adding eye gaze changes to release and updating notes
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
Labels: Documentation

#7847 Prerelease/2.4.0 stabilization -> dev
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Documentation/README_ObjectManipulator.md
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
Labels: Release Management

#7846 Feature/custom accessor
  Assets/MRTK/Core/Utilities/Gltf/Schema/GltfObject.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/ConstructGltf.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/GltfConversions.cs
  Assets/MRTK/Examples/Demos/Gltf/Models/Cube.meta
  Assets/MRTK/Examples/Demos/Gltf/Models/Cube/GLB.meta
  Assets/MRTK/Examples/Demos/Gltf/Models/Cube/GLB/cube-with-custom-attr.glb
  Assets/MRTK/Examples/Demos/Gltf/Models/Cube/GLB/cube-with-custom-attr.glb.meta
  Assets/MRTK/Tests/PlayModeTests/GltfTests.cs
Labels: GLTF

#7857 Fix for controller and pointer errors in VR (#7796)
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/TeleportCursor.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: Release Blocker, VR

#7868 Fixing MixedRealityToolkit null error on Register
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
Labels: Bug

#7859 Fix joint rotations not working with XR SDK
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
Labels: Hand Tracking, Release Blocker, XR SDK

#7865 Migration Window: Adding inactive objects to migration list
  Assets/MRTK/SDK/Experimental/Features/Utilities/Migration/BoundsControlMigrationHandler.cs
  Assets/MRTK/SDK/Features/Utilities/Migration/ObjectManipulatorMigrationHandler.cs
  Assets/MRTK/SDK/Features/Utilities/Migration/Tools/MigrationTool.cs
  Assets/MRTK/Tests/EditModeTests/Experimental/MigrationToolTests.cs
Labels: Bug, Migration

#7885 Add documentation for the MRTK configuration dialog
  Documentation/Images/ConfigurationDialog/ConfigurationDialogAndroidSettings.png
  Documentation/Images/ConfigurationDialog/ConfigurationDialogCommonSettings.png
  Documentation/Images/ConfigurationDialog/ConfigurationDialogHeader.png
  Documentation/Images/ConfigurationDialog/ConfigurationDialogUWPSettings.png
  Documentation/Images/ConfigurationDialog/ConfigurationDialogiOSSettings.png
  Documentation/MRTK_Configuration_Dialog.md
Labels: Configuration, Documentation

#7887 Update table of contents to add the new configuration dialog page
  Documentation/toc.yml
Labels: Documentation

#7877 Remove priority from Leap Motion menu
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/LeapMotionConfigurationChecker.cs
Labels: Editor

#7893 Update README_BoundingBox.md
  Documentation/README_BoundingBox.md
Labels: Documentation, UX Controls - Bounds Control

#7900 Prerelease/2.4.0 stabilization -> dev
  Assets/MRTK/Core/Providers/Hands/BaseHandVisualizer.cs
  Assets/MRTK/Providers/LeapMotion/Editor/ConfigurationChecker/LeapMotionConfigurationChecker.cs
  Documentation/BuildAndDeploy.md
  Documentation/toc.yml
Labels: Release Management

#7904 Fix XR SDK boundary on-device
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Core/Services/BaseEventSystem.cs
  Assets/MRTK/Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MRTK/Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs
Labels: Boundaries, XR SDK

#7908 Prerelease/2.4.0 stabilization -> dev
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Core/Services/BaseEventSystem.cs
  Assets/MRTK/Core/Utilities/Editor/SizeUtilities.cs
  Assets/MRTK/Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MRTK/Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs
Labels: Release Management

#7907 Update WMR XR SDK assemblies to include Windows standalone
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.Shared.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.WMR.asmdef
Labels: Windows Mixed Reality, XR SDK

#7892 Filter abstract classes (eg. TransformConstraint) to be added to the …
  Assets/MRTK/SDK/Inspectors/UX/ObjectManipulator/ObjectManipulatorInspector.cs
Labels: UX Controls - ObjectManipulator

#7906 Custom Button Icon Migration Tools
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonConfigHelper.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonIconSet.cs
  Assets/MRTK/SDK/Features/Utilities/Migration/ButtonConfigHelperMigrationHandler.cs
  Assets/MRTK/SDK/Features/Utilities/Migration/ButtonConfigHelperMigrationHandler.cs.meta
  Assets/MRTK/SDK/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
Labels: Editor, UX Controls - Buttons

#7925 Migration Window: Adding missing built in icons
  Assets/MRTK/Tools/MigrationWindow/Icons.meta
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationFail.png
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationFail.png.meta
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationPass.png
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationPass.png.meta
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationTabDark.png
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationTabDark.png.meta
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationTabLight.png
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationTabLight.png.meta
  Assets/MRTK/Tools/MigrationWindow/MigrationWindow.cs
Labels: Migration

#7919 Prerelease/2.4.0 stabilization -> dev
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/NearMenuExamples.unity
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/MaterialGallery.unity
  Assets/MRTK/Examples/Demos/UX/PressableButton/Scenes/PressableButtonExample.unity
  Assets/MRTK/Examples/Demos/UX/Tooltips/Scenes/TooltipExamples.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessMeshObserverProfile.asset.meta
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessSystemProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessSystemProfile.asset.meta
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHub.unity
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Microsoft.MixedReality.Toolkit.Providers.WindowsMixedReality.Shared.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Microsoft.MixedReality.Toolkit.Providers.XRSDK.WMR.asmdef
  Assets/MRTK/SDK/Features/UX/Interactable/Materials/HolographicBackPlateRecordingState.mat
  Assets/MRTK/SDK/Features/UX/Interactable/Materials/HolographicBackPlateRecordingState.mat.meta
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/PressableButtonsTestCanvas.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/PressableButtonsTestCanvas.prefab.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateUGUIHoloLens2Buttons.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonConfigHelper.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonIconSet.cs
  Assets/MRTK/SDK/Features/Utilities/Migration/ButtonConfigHelperMigrationHandler.cs
  Assets/MRTK/SDK/Features/Utilities/Migration/ButtonConfigHelperMigrationHandler.cs.meta
  Assets/MRTK/SDK/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
  Assets/MRTK/Tests/EditModeTests/Experimental/MigrationToolTests.cs
  Assets/MRTK/Tools/MigrationWindow/Icons.meta
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationFail.png
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationFail.png.meta
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationPass.png
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationPass.png.meta
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationTabDark.png
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationTabDark.png.meta
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationTabLight.png
  Assets/MRTK/Tools/MigrationWindow/Icons/IconMigrationTabLight.png.meta
  Assets/MRTK/Tools/MigrationWindow/MigrationWindow.cs
  Documentation/CrossPlatform/LeapMotionMRTK.md
  Documentation/README_Button.md
  Documentation/ReleaseNotes.md
  Documentation/Updating.md
  README.md
Labels: Release Management

#7895 Upgrade example scene & prefab button icons
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Large_AutoWorldLock_On_HandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Large_WorldLock_On_GrabAndPull.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Medium_HideOnHandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Small_HideOnHandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandMenuExamples.unity
  Assets/MRTK/Examples/Demos/Solvers/Scenes/SurfaceMagnetismSpatialAwarenessExample.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_AboveFingertips_3x2.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_AboveFingertips_3x4.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_InPalm_3x3.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x3.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x3_Circles.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x4.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PressableButtonHoloLens2_AppButton.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Scenes/HandMenuLayoutExamples.unity
  Assets/MRTK/Examples/StandardAssets/IconSets.meta
  Assets/MRTK/Examples/StandardAssets/IconSets/ExamplesIconSet.asset
  Assets/MRTK/Examples/StandardAssets/IconSets/ExamplesIconSet.asset.meta
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboardPreview/Prefabs/MixedRealityKeyboardPreview.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu2x4.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu3x1.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu3x2.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu3x3.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu4x1.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu4x2.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
Labels: Example/Test Scene

#7939 Prerelease/2.4.0 stabilization -> dev
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Large_AutoWorldLock_On_HandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Large_WorldLock_On_GrabAndPull.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Medium_HideOnHandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Prefabs/HandMenu_Small_HideOnHandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandMenuExamples.unity
  Assets/MRTK/Examples/Demos/Solvers/Scenes/SurfaceMagnetismSpatialAwarenessExample.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_AboveFingertips_3x2.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_AboveFingertips_3x4.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_InPalm_3x3.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x3.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x3_Circles.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_Side_1x4.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PressableButtonHoloLens2_AppButton.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Scenes/HandMenuLayoutExamples.unity
  Assets/MRTK/Examples/StandardAssets/IconSets.meta
  Assets/MRTK/Examples/StandardAssets/IconSets/ExamplesIconSet.asset
  Assets/MRTK/Examples/StandardAssets/IconSets/ExamplesIconSet.asset.meta
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboardPreview/Prefabs/MixedRealityKeyboardPreview.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu2x4.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu3x1.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu3x2.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu3x3.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu4x1.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu4x2.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Documentation/CrossPlatform/LeapMotionMRTK.md
Labels: Release Management

#7943 Add a link to the known issues section for 2.4
  Documentation/ReleaseNotes.md
Labels: Documentation

#7958 Update Build and Deploy documentation with steps for Unity 2019.3
  Documentation/BuildAndDeploy.md
Labels: Documentation, Unity 2019

#7952 Clean up some "unused" warnings
  Assets/MRTK/Core/Interfaces/InputSystem/IMixedRealityEyeSaccadeProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/BaseWindowsMixedRealityCameraSettings.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandRecorder.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
Labels: Code Style

#7955 Remove extra IMixedRealityInputSystem casts
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MRTK/Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MRTK/Providers/WindowsVoiceInput/WindowsDictationInputProvider.cs
  Assets/MRTK/Providers/WindowsVoiceInput/WindowsSpeechInputProvider.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
Labels: Input System

#7960 Prerelease/2.4.0 stabilization -> dev
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboardPreview/MixedRealityKeyboardPreview.cs
  Assets/MRTK/SDK/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
  Documentation/BuildAndDeploy.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/README_Button.md
  Documentation/ReleaseNotes.md
Labels: Release Management

#7962 Changes Controller Axis to valid axis
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
Labels: Input System - Near Interaction

#7973 Spell check and markdown formatting pass on .md files for 2.4
  Documentation/Architecture/SystemsExtensionsProviders.md
  Documentation/BuildAndDeploy.md
  Documentation/CrossPlatform/LeapMotionMRTK.md
  Documentation/EyeTracking/EyeTracking_IsUserCalibrated.md
  Documentation/EyeTracking/EyeTracking_Main.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Input/CreateDataProvider.md
  Documentation/InputSimulation/InputSimulationService.md
  Documentation/LargeProjects.md
  Documentation/MRTK_Configuration_Dialog.md
  Documentation/MixedRealityConfigurationGuide.md
  Documentation/Performance/PerfGettingStarted.md
  Documentation/README_Button.md
  Documentation/README_HandMenu.md
  Documentation/README_Interactable.md
  Documentation/README_MRTKStandardShader.md
  Documentation/README_ObjectManipulator.md
  Documentation/README_ProgressIndicator.md
  Documentation/README_Solver.md
  Documentation/README_SystemKeyboard.md
  Documentation/README_TapToPlace.md
  Documentation/ReleaseNotes.md
  Documentation/Rendering/ClippingPrimitive.md
  Documentation/Rendering/HoverLight.md
  Documentation/Rendering/ProximityLight.md
  Documentation/SpatialAwareness/ConfiguringSpatialAwarenessMeshObserver.md
  Documentation/SpatialAwareness/CreateDataProvider.md
  Documentation/Tools/HolographicRemoting.md
  Documentation/Tools/MigrationWindow.md
  Documentation/Updating.md
  Documentation/VisualThemes.md
Labels: Documentation

#7969 Add known issues to release notes
  Documentation/ReleaseNotes.md
Labels: Documentation

#7976 Spell check pass on code comments and docs for 2.4
  Assets/MRTK/Core/Extensions/UnityObjectExtensions.cs
  Assets/MRTK/Core/Providers/Hands/ArticulatedHandDefinition.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpBuildDeployPreferences.cs
  Assets/MRTK/Core/Utilities/Editor/SpatializerUtilities.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/GltfUtility.cs
  Assets/MRTK/Core/Utilities/Lines/DataProviders/BaseMixedRealityLineDataProvider.cs
  Assets/MRTK/Examples/Demos/UX/Collections/Scripts/GridObjectLayoutControl.cs
  Assets/MRTK/Extensions/HandPhysicsService/HandPhysicsService.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionArticulatedHand.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManagerProfile.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonIconSet.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Collections/BaseObjectCollection.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/ShellHandRayPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Sliders/PinchSlider.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Utilities/PointerBehaviorControls.cs
  Assets/MRTK/SDK/Features/UX/Scripts/VisualThemes/Core/ThemeProperty.cs
  Assets/MRTK/SDK/Features/Utilities/Migration/Tools/MigrationTool.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraintPalmUp.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MRTK/Services/InputSimulation/Editor/InputSimulationWindow.cs
  Assets/MRTK/Services/InputSystem/GazeProvider.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystem.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystemEditorOperations.cs
  Assets/MRTK/Tests/EditModeTests/BoundarySystem/InscribedRectangleTests.cs
  Assets/MRTK/Tests/PlayModeTests/BaseEventSystemTests.cs
  Assets/MRTK/Tests/PlayModeTests/BoundingBoxTests.cs
  Assets/MRTK/Tests/PlayModeTests/Experimental/BoundsControlTests.cs
  Assets/MRTK/Tests/PlayModeTests/PointerTests.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MRTK/Tools/ExtensionServiceCreator/ExtensionServiceCreator.cs
  Assets/MRTK/Tools/MSBuild/Scripts/CSProjectInfo.cs
Labels: Documentation

#7971 Update the version dropdowns in preparation for 2.4.0 release.
  web/version.js
Labels: DO NOT MERGE

#7981 Mrtk release -> development
  web/version.js
Labels: Release Management

#7983 Update release branch with final 2.4 documentation change
  Documentation/Authors.md
  README.md
Labels: Release Management

#7985 Merging final 2.4 doc change
  Documentation/Authors.md
  README.md
Labels: Release Management

#7987 Added light+dark hand tracking joint naming diagrams
  Documentation/Images/InputSimulation/MRTK_Core_Input_Hands_JointNames.png
  Documentation/Images/InputSimulation/MRTK_Core_Input_Hands_JointNames_Dark.png
  Documentation/Input/HandTracking.md
Labels: Documentation

#7995 Updated MRTK path as introduced in 2.4
  Documentation/LargeProjects.md
Labels: Documentation
