Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-12, with the labels that each got.

#10338 Enable Scene Understanding in remoting via OpenXR
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
Labels: Scene Understanding

#10358 fix 10216: prefab needs to be available to 2+ samples
  Assets/MRTK/Examples/Common/Prefabs/FingerChaser.prefab
  Assets/MRTK/Examples/Common/Prefabs/FingerChaser.prefab.meta
  Assets/MRTK/Examples/Demos/Utilities/Prefabs.meta
Labels: Example/Test Scene, Package Management - NPM

#10363 Rename OpenXR profiles
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRCameraProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRCameraProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRConfigurationProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRConfigurationProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRControllerMappingProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRControllerMappingProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRControllerVisualizationProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRControllerVisualizationProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRInputSystemProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRInputSystemProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRSpatialAwarenessSystemProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/OpenXRSpatialAwarenessSystemProfile.asset.meta
Labels: OpenXR

#10361 Fix for missing BC docs + dead property
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
Labels: Documentation, Bug, UX Controls - Bounds Control

#10375 Releases/2.7.3 -> main
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityRaycastHit.cs
  Assets/MRTK/Core/Providers/BaseSpatialMeshObserver.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Core/Services/BaseService.cs
  Assets/MRTK/Examples/Demos/PulseShader/Profile/PulseShaderSpatialAwarenessSystemProfile.asset
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySpatialAwarenessSystemProfile.asset
  Assets/MRTK/Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
Labels: Release Management

#10381 update version number to 2.7.3
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
Labels: Branch Management

#10382 Merge 2.7.3 -> main
  Assets/MRTK/Examples/Common/Prefabs/FingerChaser.prefab
  Assets/MRTK/Examples/Demos/Input/Scenes/HandJointChaserExample.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHubMainMenu.unity
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Profiles/DemoSceneUnderstandingMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/SDK/Features/Utilities/Solvers/SolverHandler.cs
Labels: Release Management
