Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-04, with the labels that each got.

#9616 Update landing page links to MS Docs pages
  Documentation/Images/MRTK_Icon_ReleaseNotes.png
  README.md
Labels: Documentation

#9633 Update to use non-obsolete method in WMR controller
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
Labels: XR SDK

#9650 Update the v3_main branch with latest changes from main
  Assets/MRTK/Core/Definitions/MixedRealityInputDataProviderConfiguration.cs
  Assets/MRTK/Core/Definitions/MixedRealityServiceConfiguration.cs
  Assets/MRTK/Core/Inspectors/Profiles/BaseMixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/DataProviderAccessServiceInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityEyeTrackingProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealitySpatialAwarenessMeshObserverProfileInspector.cs
  Assets/MRTK/Core/Interfaces/SpatialAwareness/Observers/Experimental/IMixedRealityOnDemandObserver.cs
  Assets/MRTK/Core/Interfaces/SpatialAwareness/Observers/Experimental/IMixedRealitySceneUnderstandingObserver.cs
  Assets/MRTK/Core/Providers/InputSimulation/Editor/MixedRealityInputSimulationProfileInspector.cs
  Assets/MRTK/Core/Providers/InputSimulation/InputSimulationHelpGuide.cs
  Assets/MRTK/Core/Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MRTK/Core/Providers/ObjectMeshObserver/SpatialObjectMeshObserverProfileInspector.cs
  Assets/MRTK/Examples/Common/Scripts/LoadProfile.cs
  Assets/MRTK/Examples/Common/Scripts/LoadProfile.cs.meta
  Assets/MRTK/Examples/Common/Scripts/Toggle/ToggleSpatialMeshObserver.cs
  Assets/MRTK/Examples/Common/Scripts/Toggle/ToggleSpatialMeshObserver.cs.meta
  Assets/MRTK/Examples/Demos/HandCoach/Scenes/HandCoachExample.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandMenuExamples.unity
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scenes/ScrollingObjectCollection.unity
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Scripts/ScrollablePagination.cs
  Assets/MRTK/Examples/Demos/Solvers/Scenes/SurfaceMagnetismSpatialAwarenessExample.unity
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scripts/ShowPlaneFindingInstructions.cs
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/MaterialGallery.unity
  Assets/MRTK/Examples/Demos/UX/Tooltips/Scenes/TooltipExamples.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHubStore.prefab
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHub.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scenes/MRTKExamplesHubMainMenu.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scripts.meta
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scripts/SceneSystemUnloadingCheck.cs
  Assets/MRTK/Examples/Experimental/ExamplesHub/Scripts/SceneSystemUnloadingCheck.cs.meta
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Materials/DemoSceneUnderstanding.mat
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Materials/DemoSceneUnderstandingWorldMesh.mat
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Profiles/DemoSceneUnderstandingMixedRealityToolkitConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Profiles/DemoSceneUnderstandingObserverProfile.asset
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Textures/SolarGridPatternGray.png
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Textures/SolarGridPatternGray.png.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Editor/SceneUnderstandingObserverProfileInspector.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/SceneUnderstandingObserverProfile.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionConfigurationChecker.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionDeviceManagerProfileInspector.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
  Assets/MRTK/SDK/Editor/Inspectors/Utilities/Solvers/TapToPlaceInspector.cs
  Assets/MRTK/SDK/Experimental/ColorPicker/ColorPicker.cs
  Assets/MRTK/SDK/Experimental/SpatialAwareness/SurfaceMeshesToPlanes.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Materials/HolographicButtonContentCageProximity.mat
  Assets/MRTK/SDK/Features/UX/Scripts/RiggedHandVisualizer/RiggedHandVisualizer.cs
  Assets/MRTK/SDK/StandardAssets/Prefabs/ArticulatedHandMesh.prefab
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Tests/EditModeTests/Core/Extensions/BoundsExtensionsTests.cs
  Assets/MRTK/Tests/PlayModeTests/ChangeActiveProfileTests.cs
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
  Documentation/Images/MRTK_Icon_ReleaseNotes.png
  README.md
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
Labels: Branch Management

#9659 Only publish docs binaries if checkout and generation succeed
  pipelines/docs-binaries.yml
Labels: CI/Build

#9667 improve camera cache warning message
  Assets/MRTK/Core/Utilities/CameraCache.cs
Labels: CameraSystem

#9670 Add SupportedUnityXRPipelines enum to attributes
  Assets/MRTK/Core/Attributes/MixedRealityControllerAttribute.cs
  Assets/MRTK/Core/Attributes/MixedRealityDataProviderAttribute.cs
  Assets/MRTK/Core/Definitions/Utilities/SupportedPlatforms.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Controllers/OculusXRSDKTouchController.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers/OculusHand.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/OpenVR/GenericOpenVRController.cs
  Assets/MRTK/Providers/OpenVR/HPMotionController.cs
  Assets/MRTK/Providers/OpenVR/OculusRemoteController.cs
  Assets/MRTK/Providers/OpenVR/OculusTouchController.cs
  Assets/MRTK/Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MRTK/Providers/OpenVR/ViveKnucklesController.cs
  Assets/MRTK/Providers/OpenVR/ViveWandController.cs
  Assets/MRTK/Providers/OpenVR/WindowsMixedRealityOpenVRMotionController.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXREyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/BaseWindowsMixedRealityCameraSettings.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/HPMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityGGVHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityCameraSettings.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/HPMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKGGVHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityCameraSettings.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/Controllers/GenericXRSDKController.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKCameraSettings.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
Labels: Legacy XR, XR SDK

#9674 Ensure XR SDK providers only run on their specified loaders
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXREyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/LoaderHelpers.cs
  Assets/MRTK/Providers/XRSDK/LoaderHelpers.cs.meta
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
Labels: XR SDK

#9664 Add fallback reg key in case the default one doesn't work in BuildDeployWindow
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
Labels: Build / Tools

#9679 Don't constantly recreate the base profile editor
  Assets/MRTK/Core/Inspectors/MixedRealityToolkitInspector.cs
Labels: Profile and Inspectors

#9675 Add configurable UI filter for null providers
  Assets/MRTK/Core/Inspectors/Profiles/DataProviderAccessServiceInspector.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs
Labels: Profile and Inspectors

#9671 Replace MRTKExamplesHubSpatialAwarenessMeshObserverProfile with Pulse Shader profiles
  Assets/MRTK/Examples/Demos/PulseShader/Profile/PulseShaderSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubConfigurationProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessMeshObserverProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessMeshObserverProfile.asset.meta
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessSystemProfile.asset
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSpatialAwarenessSystemProfile.asset.meta
Labels: Example/Test Scene

#9687 Hand mesh and scene updates
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Profiles/MRTKExamplesHubSceneSystemProfile.asset
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
  Assets/MRTK/SDK/Features/UX/Scripts/PulseShader/PulseShaderHandMeshHandler.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Utilities/FeaturesPanelVisuals.cs
  Assets/MRTK/SDK/StandardAssets/Prefabs/ArticulatedHandMesh.prefab
Labels: Example/Test Scene, Hand Tracking

#9695 Only use scenes specified in command line when flags are present
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs
Labels: Build / Tools

#9652 Add a multistep configurator to facilitate project setup after importing MRTK
  Assets/MRTK/Core/Inspectors/MRTK.Inspectors.asmdef
  Assets/MRTK/Core/Inspectors/MixedRealityToolkitHelpLinks.cs
  Assets/MRTK/Core/Inspectors/MixedRealityToolkitHelpLinks.cs.meta
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Utilities/Editor/ConfigurationStage.cs
  Assets/MRTK/Core/Utilities/Editor/ConfigurationStage.cs.meta
  Assets/MRTK/Core/Utilities/Editor/MRTK.Editor.Utilities.asmdef
  Assets/MRTK/Core/Utilities/Editor/MixedRealityOptimizeUtils.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs
  Assets/MRTK/Core/Utilities/Editor/XRSettingsUtilities.cs
  Assets/MRTK/Tools/OptimizeWindow/MixedRealityOptimizeWindow.cs
Labels: Build / Tools

#9635 Update feature usage runtime tool scene
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool/InputFeatureUsageTool.unity
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool/ListInputFeatureUsages.cs
  Assets/MRTK/Tools/RuntimeTools/Tools/MRTK.Tools.Runtime.asmdef
Labels: Build / Tools

#9644 Fix some diagnostics panel bugs
  Assets/MRTK/Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
Labels: Diagnostics / Tools

#9702 Support for UnityUI RectMask2D
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateUGUI.prefab
  Assets/MRTK/StandardAssets/Shaders/MRTK.Shaders.sentinel
  Assets/MRTK/StandardAssets/Shaders/MixedRealityStandard.shader
Labels: Shaders / Materials

#9714 Update scene content alignment and boundary system
  Assets/MRTK/Core/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/SceneContent/MixedRealitySceneContent.cs
  Assets/MRTK/Core/Utilities/XRSettingsUtilities.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2ConfigurationProfile.asset
  Assets/MRTK/Services/BoundarySystem/XR2018/MixedRealityBoundarySystem.cs
  Assets/MRTK/Tests/PlayModeTests/BaseCursorTests.cs
  Assets/MRTK/Tests/PlayModeTests/BaseEventSystemTests.cs
  Assets/MRTK/Tests/PlayModeTests/BoundingBoxTests.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
  Assets/MRTK/Tests/PlayModeTests/Core/Providers/Hands/BaseHandVisualizerTests.cs
  Assets/MRTK/Tests/PlayModeTests/Experimental/ElasticTests.cs
  Assets/MRTK/Tests/PlayModeTests/SpatialObserverTests.cs
  scripts/test/run_playmode_tests.ps1
Labels: Boundaries

#9710 Update controller viz profile to support "both"
  Assets/MRTK/Core/Definitions/Devices/MixedRealityControllerVisualizationProfile.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MRTK/Core/Utilities/Editor/XRSettingsUtilities.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerVisualizationProfile.asset
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeleton.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/HandSkeleton.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/ObsoleteHandSkeleton.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/DebugControllers/ObsoleteHandSkeleton.prefab.meta
Labels: Controller Visualization, Hand Tracking

#9720 Update more play mode test scripts to inherit BasePlayModeTests for consistent setup / teardown
  Assets/MRTK/Tests/PlayModeTests/ConstraintTests.cs
  Assets/MRTK/Tests/PlayModeTests/Core/Providers/Hands/RiggedHandVisualizerTests.cs
  Assets/MRTK/Tests/PlayModeTests/DialogTests.cs
  Assets/MRTK/Tests/PlayModeTests/FocusProviderRaycastTests.cs
  Assets/MRTK/Tests/PlayModeTests/FocusProviderTests.cs
  Assets/MRTK/Tests/PlayModeTests/GltfTests.cs
  Assets/MRTK/Tests/PlayModeTests/GridObjectCollectionTests.cs
  Assets/MRTK/Tests/PlayModeTests/HandCoachTests.cs
  Assets/MRTK/Tests/PlayModeTests/InputEventSystemTests.cs
  Assets/MRTK/Tests/PlayModeTests/InputRayUtilsTests.cs
  Assets/MRTK/Tests/PlayModeTests/InputSystem/DefaultRaycastProviderTest.cs
  Assets/MRTK/Tests/PlayModeTests/InputSystem/DisableEnableInputSystemTest.cs
  Assets/MRTK/Tests/PlayModeTests/InputSystem/EyeTrackingTargetTest.cs
  Assets/MRTK/Tests/PlayModeTests/InteractableEventTests.cs
  Assets/MRTK/Tests/PlayModeTests/JoystickTests.cs
  Assets/MRTK/Tests/PlayModeTests/ManipulationHandlerTests.cs
  Assets/MRTK/Tests/PlayModeTests/NearInteractionGrabbableTests.cs
  Assets/MRTK/Tests/PlayModeTests/NearInteractionTouchableTests.cs
  Assets/MRTK/Tests/PlayModeTests/ObjectManipulatorTests.cs
  Assets/MRTK/Tests/PlayModeTests/PinchSliderTests.cs
  Assets/MRTK/Tests/PlayModeTests/PointerEventsTests.cs
  Assets/MRTK/Tests/PlayModeTests/PointerProfileTests.cs
  Assets/MRTK/Tests/PlayModeTests/PointerTests.cs
  Assets/MRTK/Tests/PlayModeTests/SlateTests.cs
  Assets/MRTK/Tests/PlayModeTests/SpeechTests.cs
  Assets/MRTK/Tests/PlayModeTests/UserInputSimulationTest.cs
  Assets/MRTK/Tests/PlayModeTests/VisualThemeTests.cs
Labels: Tests

#9721 Add support for OpenXR controller model
  Assets/MRTK/Core/Definitions/Devices/MixedRealityControllerModelHelpers.cs
  Assets/MRTK/Core/Definitions/Devices/MixedRealityControllerModelHelpers.cs.meta
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Profiles/ObsoleteOpenXRControllerVisualizationProfile.asset
  Assets/MRTK/Providers/OpenXR/Scripts/HPReverbG2Controller.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftControllerModelProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftControllerModelProvider.cs.meta
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/AssemblyInfo.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/AssemblyInfo.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityControllerModelProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerVisualizationProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2ConfigurationProfile.asset
Labels: OpenXR

#9716 Eliminate some unneeded warning messages on project load.
  Assets/MRTK/Core/Utilities/Editor/SpatializerUtilities.cs
  Assets/MRTK/Core/Utilities/Gltf/Serialization/GltfUtility.cs
  Assets/MRTK/Examples/Demos/UX/BoundingBox/Scripts/BoundingBoxExampleTest.cs
  Assets/MRTK/Examples/Demos/UX/BoundsControl/Scripts/BoundsControlRuntimeExample.cs
  Assets/MRTK/Examples/Demos/UX/ManipulationHandler/Scripts/ChangeManipulation.cs
  Assets/MRTK/Extensions/HandPhysicsService/Examples/HandPhysicsServiceExample.unity
  Assets/MRTK/SDK/Editor/Migration/ObjectManipulatorMigrationHandler.cs
Labels: Cleanup

#9732 Add Android to support Quest on OpenXR
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
Labels: Cross Platform, OpenXR
