Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-07, with the labels that each got.

#10046 Add ClearProgressBar call to fix Build Window freeze on Unity 2020
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs
Labels: Build / Tools

#9740 Update pr.yaml and add Unity 2020 Pipeline
  Assets/MRTK/Tests/PlayModeTests/BaseCursorTests.cs
  pipelines/config/settings.yml
  pipelines/pr-2020.yaml
  pipelines/pr.yaml
Labels: CI/Build

#10074 Fixing SurfaceMagnetism quaternion math
  Assets/MRTK/SDK/Features/Utilities/Solvers/SurfaceMagnetism.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
Labels: Bug, Solvers

#10077 Improve PV camera version messages
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
Labels: HoloLens 2, Profile and Inspectors

#10093 Fixing BoundingBoxHelper.GetRawBoundsCorners protection level
  Assets/MRTK/SDK/Features/UX/Scripts/BoundingBox/BoundingBoxHelper.cs
Labels: Bug, MRTK usability, UX Controls - Bounds Control

#10090 Update glTF import logs to be one log instead of multiple
  Assets/MRTK/Core/Utilities/Gltf/Serialization/GltfUtility.cs
Labels: GLTF

#10091 Remove MRSceneContent script from scenes that don't have MRTK in them
  Assets/MRTK/Tools/RuntimeTools/Tools/ControllerMappingTool/ControllerMappingTool.unity
  Assets/MRTK/Tools/RuntimeTools/Tools/InputFeatureUsageTool/InputFeatureUsageTool.unity
Labels: Build / Tools

#10092 Remove package-based event systems from example scenes for Unity 2018 compat
  Assets/MRTK/Examples/Demos/Audio/Scenes/WindowsMicrophoneStreamDemo.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionTouchablesExample.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/LeapMotionHandTrackingExample.unity
  Assets/MRTK/Examples/Demos/Input/Scenes/Speech/SpeechInputExamples.unity
  Assets/MRTK/Examples/Demos/Solvers/Scenes/DirectionalIndicatorSolverExample.unity
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity
  Assets/MRTK/Examples/Demos/UX/Dwell/DwellExample.unity
  Assets/MRTK/Examples/Experimental/RiggedHandVisualizer/Scenes/RiggedHandVisualizer.unity
  Assets/MRTK/SDK/Experimental/InteractiveElement/Example/InteractiveElementExampleScene.unity
  Assets/MRTK/Tools/RuntimeTools/Tools/MixedRealityInteractionTool/MixedRealityInteractionTool.unity
  scripts/ci/validateassets.ps1
Labels: Example/Test Scene

#10119 Remove support for preview MROpenXR versions
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Scripts/HPReverbG2Controller.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftControllerModelProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftMotionController.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandMeshProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRReprojectionUpdater.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs
Labels: BREAKING CHANGE, OpenXR
