Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-05, with the labels that each got.

#9736 Fix hand meshes popping in and out quickly as hand tracking is regained
  Assets/MRTK/SDK/Features/UX/Scripts/RiggedHandVisualizer/RiggedHandVisualizer.cs
Labels: Controller Visualization, Hand Tracking

#9728 Key off previewNumber instead of additional bool for UPM pack
  pipelines/packageupmpublic.yaml
  pipelines/templates/tasks/pack-upm.yml
  scripts/packaging/createupmpackages.ps1
Labels: CI/Build

#9742 Re-enable mergetool for 2.7 stabilization
  pipelines/mergetool.yml
  scripts/ci/mergetool.py
Labels: Release Management

#9739 Eliminate missing constraint manager warnings in Unity 2020
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelHubHand.prefab
  Assets/MRTK/SDK/Experimental/Joystick/JoystickPrefab.prefab
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboardPreview/Prefabs/MixedRealityKeyboardPreview.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu4x1.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MRTK/SDK/StandardAssets/Prefabs/SceneDescriptionPanelRev.prefab
Labels: Cleanup

#9746 Assorted perf improvements
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MRTK/Core/Definitions/Utilities/ArticulatedHandPose.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MRTK/Core/Providers/InputAnimation/InputAnimation.cs
  Assets/MRTK/Core/Providers/InputAnimation/InputAnimationSerializationUtils.cs
  Assets/MRTK/Core/Providers/InputAnimation/InputRecordingService.cs
  Assets/MRTK/Core/Providers/InputSimulation/BaseInputSimulationService.cs
  Assets/MRTK/Core/Providers/InputSimulation/InputPlaybackService.cs
  Assets/MRTK/Core/Providers/InputSimulation/InputSimulationService.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedArticulatedHand.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedGestureHand.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedHand.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedHandUtils.cs
  Assets/MRTK/Core/Utilities/MaintainBorderLightWidth.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandRecorder.cs
  Assets/MRTK/SDK/Features/UX/Scripts/AppBar/AppBar.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2InputSystemProfile.asset
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
Labels: Performance

#9753 Branch synchronization: prerelease/2.7.0_stabilization --> main
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityInputSystemProfile.cs
  Assets/MRTK/Core/Definitions/Utilities/ArticulatedHandPose.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Providers/InputAnimation/InputAnimation.cs
  Assets/MRTK/Core/Providers/InputAnimation/InputAnimationSerializationUtils.cs
  Assets/MRTK/Core/Providers/InputAnimation/InputRecordingService.cs
  Assets/MRTK/Core/Providers/InputSimulation/BaseInputSimulationService.cs
  Assets/MRTK/Core/Providers/InputSimulation/InputPlaybackService.cs
  Assets/MRTK/Core/Providers/InputSimulation/InputSimulationService.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedArticulatedHand.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedGestureHand.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedHand.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedHandUtils.cs
  Assets/MRTK/Core/Utilities/MaintainBorderLightWidth.cs
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelHubHand.prefab
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/MRTK.WSU.asmdef
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandRecorder.cs
  Assets/MRTK/SDK/Experimental/Joystick/JoystickPrefab.prefab
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboardPreview/Prefabs/MixedRealityKeyboardPreview.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Menus/NearMenu4x1.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Panels/ToggleFeaturesPanel.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/AppBar/AppBar.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2InputSystemProfile.asset
  Assets/MRTK/SDK/StandardAssets/Prefabs/SceneDescriptionPanelRev.prefab
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
Labels: Automerge

#9762 Branch synchronization: prerelease/2.7.0_stabilization --> main
  Assets/MRTK/SDK/Features/Input/Handlers/Manipulation/ManipulationMoveLogic.cs
  Assets/MRTK/Services/InputSystem/Editor/NearInteractionTouchableInspector.cs
Labels: Automerge

#9760 Fix some null refs when the input system is turned off
  Assets/MRTK/Core/Providers/BaseGenericInputSource.cs
  Assets/MRTK/Core/Providers/Hands/BaseHandVisualizer.cs
  Assets/MRTK/Core/Providers/Hands/HandJointUtils.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ProximityEffect/ProximityEffect.cs
  Assets/MRTK/SDK/Features/Utilities/InputRayUtils.cs
  Assets/MRTK/SDK/Features/Utilities/PointerUtils.cs
  Assets/MRTK/Tests/PlayModeTests/ProfileTests.cs
Labels: Extensibility, Performance

#9766 Fix references to mrtk_development branch (it's now called main)
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Contributing/PullRequests.md
  Documentation/Contributing/UnitTests.md
  Documentation/README_Dialog.md
  Documentation/README_HandCoach.md
  Documentation/README_TextPrefab.md
  README.md
  pipelines/ci-weekly-internal.yml
  scripts/ci/githubchanges.ps1
  scripts/docs/docfx.json
Labels: Documentation

#9772 Branch synchronization: prerelease/2.7.0_stabilization --> main
  Assets/MRTK/Core/Providers/BaseGenericInputSource.cs
  Assets/MRTK/Core/Providers/Hands/BaseHandVisualizer.cs
  Assets/MRTK/Core/Providers/Hands/HandJointUtils.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ProximityEffect/ProximityEffect.cs
  Assets/MRTK/SDK/Features/Utilities/InputRayUtils.cs
  Assets/MRTK/SDK/Features/Utilities/PointerUtils.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/SolverHandler.cs
  Assets/MRTK/Tests/PlayModeTests/ProfileTests.cs
  Documentation/Contributing/CONTRIBUTING.md
  Documentation/Contributing/PullRequests.md
  Documentation/Contributing/UnitTests.md
  Documentation/README_Dialog.md
  Documentation/README_HandCoach.md
  Documentation/README_TextPrefab.md
  ProjectSettings/ProjectVersion.txt
  README.md
  pipelines/ci-weekly-internal.yml
  scripts/ci/githubchanges.ps1
  scripts/docs/docfx.json
Labels: Automerge

#9775 Updated github README and pages with correct links.
  README.md
Labels: Documentation

#9780 Branch synchronization: prerelease/2.7.0_stabilization --> main
  Assets/MRTK/SDK/Editor/Inspectors/UX/ObjectManipulator/ObjectManipulatorInspector.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ObjectManipulator.cs
  Assets/MRTK/SDK/Features/Utilities/DefaultTransformSmoothingLogic.cs
  Assets/MRTK/SDK/Features/Utilities/DefaultTransformSmoothingLogic.cs.meta
  Assets/MRTK/SDK/Features/Utilities/ITransformSmoothingLogic.cs
  Assets/MRTK/SDK/Features/Utilities/ITransformSmoothingLogic.cs.meta
Labels: Automerge

#9767 Another perf pass on HandInteractionExamples
  Assets/MRTK/Core/Providers/InputSimulation/InputSimulationHelpGuide.cs
  Assets/MRTK/Examples/Common/Prefabs/Help_Panel_Viewer.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateUGUI.prefab
  Assets/MRTK/SDK/StandardAssets/Prefabs/SceneDescriptionPanelRev.prefab
Labels: Example/Test Scene, Performance

#9770 Introduced the concept of a global input source and enabled it with speech
  Assets/MRTK/Core/Interfaces/InputSystem/IMixedRealityInputSystem.cs
  Assets/MRTK/Core/Interfaces/InputSystem/IMixedRealityPointer.cs
  Assets/MRTK/Core/Providers/BaseGlobalInputSource.cs
  Assets/MRTK/Core/Providers/BaseGlobalInputSource.cs.meta
  Assets/MRTK/Providers/Windows/WindowsSpeechInputProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Tests/PlayModeTests/Components/TestInputFocusListener.cs
  Assets/MRTK/Tests/PlayModeTests/Components/TestInputFocusListener.cs.meta
  Assets/MRTK/Tests/PlayModeTests/InputEventSystemTests.cs
Labels: Core, Input System, Shell Parity

#9786 Add support for new OpenXR mesh settings
  Assets/MRTK/Core/Definitions/Utilities/VolumeType.cs
  Assets/MRTK/Core/Providers/BaseSpatialMeshObserver.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySpatialAwarenessSystemProfile.asset
Labels: OpenXR, Spatial Mapping / Awareness

#9801 Add "Import Examples from Package" menu item
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
Labels: Example/Test Scene, Package Management - NPM

#9805 Fix some missed "missing ConstraintManager" warnings in the Examples package
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Large_AutoWorldLock_On_HandDrop.prefab
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Large_WorldLock_On_GrabAndPull.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExample.unity
  Assets/MRTK/Examples/Demos/Input/Scenes/InputData/InputDataExample.unity
  Assets/MRTK/Examples/Demos/ScrollingObjectCollection/Prefabs/DynamicScrollPopulator.prefab
  Assets/MRTK/Examples/Demos/Solvers/Scenes/FollowSolverExample.unity
  Assets/MRTK/Examples/Demos/Solvers/Scenes/SolverExamples.unity
  Assets/MRTK/Examples/Demos/StandardShader/Scenes/ClippingExamples.unity
  Assets/MRTK/Examples/Demos/UX/BoundingBox/Scenes/BoundingBoxExamples.unity
  Assets/MRTK/Examples/Demos/UX/ObjectManipulator/Scenes/ObjectManipulatorExample.unity
  Assets/MRTK/Examples/Demos/UX/ObjectManipulator/Scenes/ObjectManipulatorExamplePhysics.unity
  Assets/MRTK/Examples/Experimental/ColorPicker/ColorPickerExample.unity
  Assets/MRTK/Examples/Experimental/ColorPicker/Prefabs/ColorPickerPrefab.prefab
  Assets/MRTK/Examples/Experimental/Dock/DockExample.unity
  Assets/MRTK/Examples/Experimental/Elastic/Scenes/ElasticSystemExamples.unity
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHub.prefab
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelExamplesHubStore.prefab
  Assets/MRTK/Examples/Experimental/ExamplesHub/Prefabs/ToggleFeaturesPanelHubHand.prefab
  Assets/MRTK/Examples/Experimental/HandMenuLayout/Prefabs/PalmUpHandMenu_AboveFingertips_3x4.prefab
  Assets/MRTK/Examples/Experimental/TouchSlider/Scenes/TouchSliderExample.unity
Labels: Example/Test Scene

#9738 Fix SpeechInputExample scene (missing geometry)
  Assets/MRTK/Examples/Demos/Input/Scenes/Speech/SpeechInputExamples.unity
Labels: Speech

#9787 Add support for reprojection mode on OpenXR
  Assets/MRTK/Providers/OpenXR/Editor.meta
  Assets/MRTK/Providers/OpenXR/Editor/MRTK.OpenXR.Editor.asmdef
  Assets/MRTK/Providers/OpenXR/Editor/MRTK.OpenXR.Editor.asmdef.meta
  Assets/MRTK/Providers/OpenXR/Editor/OpenXRCameraSettingsProfileInspector.cs
  Assets/MRTK/Providers/OpenXR/Editor/OpenXRCameraSettingsProfileInspector.cs.meta
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRCameraSettingsProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRCameraSettingsProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Scripts/HolographicReprojectionMethod.cs
  Assets/MRTK/Providers/OpenXR/Scripts/HolographicReprojectionMethod.cs.meta
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRCameraSettings.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRCameraSettings.cs.meta
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRCameraSettingsProfile.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRCameraSettingsProfile.cs.meta
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRReprojectionUpdater.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRReprojectionUpdater.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityReprojectionUpdater.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityCameraSettings.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityCameraProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1CameraProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2CameraProfile.asset
  scripts/ci/validatecode.ps1
Labels: CameraSystem, OpenXR

#9827 OpenXR mesh settings update
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs
Labels: OpenXR, Spatial Mapping / Awareness

#9832 Branch synchronization: prerelease/2.7.0_stabilization --> main
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityHandTrackingProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityInputSystemProfileInspector.cs
  Assets/MRTK/Examples/Experimental/MixedRealityKeyboard/Scenes/MixedRealityKeyboardExample.unity
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Unplated.prefab
Labels: Automerge

#9835 Update reprojection mode API for OpenXR
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRCameraSettingsProfile.asset
  Assets/MRTK/Providers/OpenXR/Scripts/HolographicReprojectionMethod.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRCameraSettingsProfile.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRReprojectionUpdater.cs
Labels: OpenXR

#9830 Adding Bounds Control's Configuration files to SharedAssets
  Assets/MRTK/SDK/StandardAssets/Profiles.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/BoxDisplayConfiguration_HoloLens2_Slate.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/BoxDisplayConfiguration_HoloLens2_Slate.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/LinksConfiguration_HoloLens2_Slate.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/LinksConfiguration_HoloLens2_Slate.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/ProximityEffectConfiguration_HoloLens2_Slate.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/ProximityEffectConfiguration_HoloLens2_Slate.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/RotationHandlesConfiguration_HoloLens2_Slate.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/RotationHandlesConfiguration_HoloLens2_Slate.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/ScaleHandlesConfiguration_HoloLens2_Slate.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Slate/ScaleHandlesConfiguration_HoloLens2_Slate.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/BoxDisplayConfiguration_HoloLens2_Volumetric.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/BoxDisplayConfiguration_HoloLens2_Volumetric.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/LinksConfiguration_HoloLens2_Volumetric.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/LinksConfiguration_HoloLens2_Volumetric.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/ProximityEffectConfiguration_HoloLens2_Volumetric.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/ProximityEffectConfiguration_HoloLens2_Volumetric.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/RotationHandlesConfiguration_HoloLens2_Volumetric.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/RotationHandlesConfiguration_HoloLens2_Volumetric.asset.meta
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/ScaleHandlesConfiguration_HoloLens2_Volumetric.asset
  Assets/MRTK/SDK/StandardAssets/Profiles/BoundsControl/HoloLens2Style_Volumetric/ScaleHandlesConfiguration_HoloLens2_Volumetric.asset.meta
Labels: UX Controls - Bounds Control

#9840 Fix tests on Unity 2020
  Assets/MRTK/Providers/XRSDK/GenericXRSDKCameraSettings.cs
Labels: Tests, Unity 2020

#9842 Fixes for #9812 and #9821 (import and load time warnings)
  Assets/MRTK/Examples/Demos/HandCoach/Scenes/HandCoachExample.unity
  Assets/MRTK/Examples/Experimental/ColorPicker/Prefabs/ColorPickerPrefab.prefab
Labels: Example/Test Scene

#9843 Add support for WMR gestures on OpenXR
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/GestureEventsConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionGestureEventsExample.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/GestureTester.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
Labels: Input System - Gestures, OpenXR

#9845 Fix additional load time warnings
  Assets/MRTK/Examples/Demos/HandCoach/Scenes/HandCoachExample.unity
  Assets/MRTK/Examples/Demos/PulseShader/Scenes/PulseShaderHandMeshExample.unity
  Assets/MRTK/Examples/Demos/PulseShader/Scenes/PulseShaderSpatialMeshExample.unity
  Assets/MRTK/Examples/Demos/Solvers/Scenes/FollowSolverExample.unity
  Assets/MRTK/Examples/Demos/UX/Tooltips/Scenes/TooltipExamples.unity
  Assets/MRTK/Examples/Experimental/ColorPicker/ColorPickerExample.unity
  Assets/MRTK/Examples/Experimental/Dock/DockExample.unity
  Assets/MRTK/Examples/Experimental/Elastic/Scenes/ElasticSystemExamples.unity
  Assets/MRTK/Examples/Experimental/Joystick/JoystickExample.unity
  Assets/MRTK/Examples/Experimental/Navigation/Teleport/TeleportHotspot.unity
  Assets/MRTK/Examples/Experimental/TouchSlider/Scenes/TouchSliderExample.unity
  Assets/MRTK/Extensions/HandPhysicsService/Examples/HandPhysicsServiceExample.unity
Labels: Example/Test Scene

#9844 UI tool box update for 2.7.0
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar3V.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar4H.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar4V.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar5H.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Bar5V.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleSwitch_32x32.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleSwitch_32x96.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_32x96.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateBlank.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateBlank.prefab.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/Sliders/PinchSlider.prefab
  Assets/MRTK/SDK/StandardAssets/Prefabs/UI Backplate.prefab
  Assets/MRTK/Tools/Toolbox/Data/DefaultToolboxItems.json
  Assets/MRTK/Tools/Toolbox/Icons/MRTK_Toolbox_SlateBlank.png
  Assets/MRTK/Tools/Toolbox/Icons/MRTK_Toolbox_SlateBlank.png.meta
  Assets/MRTK/Tools/Toolbox/Icons/MRTK_Toolbox_UIBackplate_100x100mm.png
  Assets/MRTK/Tools/Toolbox/Icons/MRTK_Toolbox_UIBackplate_100x100mm.png.meta
Labels: UX Controls

#9860 Update UPM Readme.md
  UPM/Documentation~/README.md
Labels: UPM

#9865 Branch synchronization: prerelease/2.7.0_stabilization --> main
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Examples/Demos/UX/Dwell/DwellExample.unity
  Assets/MRTK/Providers/Oculus/XRSDK/Controllers/OculusXRSDKTouchController.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2ToggleDwell.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2Toggle_32x96_Dwell.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_32x96_Dwell.prefab
  Assets/MRTK/SDK/Features/UX/Interactable/Prefabs/PressableButtonHoloLens2_Dwell.prefab
  UPM/Documentation~/README.md
Labels: Automerge

#9876 increment the version to 2.6.2
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
Labels: Release Management

#9877 Add support for the Leap Motion 4.8.0 Unity Modules
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionConfigurationChecker.cs
Labels: Leap Motion

#9868 Fix automatic remoting for Windows XR Plugin
  Assets/MRTK/Core/Definitions/Devices/ArticulatedHandDefinition.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK.Oculus.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRCameraSettings.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXREyeGazeDataProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/MRTK.WMR.XRSDK.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityCameraSettings.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/LoaderHelpers.cs
  Assets/MRTK/Providers/XRSDK/MRTK.XRSDK.asmdef
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
Labels: Holographic Remoting, XR SDK

#9880 Include OpenXR on all platforms
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
Labels: OpenXR

#9881 Fix Knuckles name lookup
  Assets/MRTK/Providers/OpenVR/OpenVRDeviceManager.cs
Labels: OpenVR

#9887 Branch synchronization: prerelease/2.7.0_stabilization --> main
  Assets/MRTK/Core/Definitions/Devices/ArticulatedHandDefinition.cs
  Assets/MRTK/Core/Definitions/MixedRealityToolkitConfigurationProfile.cs
  Assets/MRTK/Core/MRTK.Core.asmdef
  Assets/MRTK/Core/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MRTK/Core/Utilities/SceneContent/MixedRealitySceneContent.cs
  Assets/MRTK/Core/Utilities/XRSettingsUtilities.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionConfigurationChecker.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK.Oculus.asmdef
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/OpenVR/OpenVRDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRCameraSettings.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXREyeGazeDataProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandMeshProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/MRTK.WMR.XRSDK.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityCameraSettings.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/LoaderHelpers.cs
  Assets/MRTK/Providers/XRSDK/MRTK.XRSDK.asmdef
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/Tests/PlayModeTests/PointerBehaviorTests.cs
Labels: Automerge

#9893 Update XR pipeline doc URL
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
Labels: Documentation

#9890 Fixes floating stale hands and doubled mesh with Windows XR Plugin
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
Labels: Hand Tracking

#9897 Fix building OpenXR for Android
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftControllerModelProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandMeshProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRReprojectionUpdater.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRSpatialAwarenessMeshObserver.cs
Labels: Android

#9900 Update Authors
  Authors.md
Labels: Documentation

#9904 Update SU observer to align with LoadHelprs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
Labels: Release Blocker

#9906 SU Demo script fix
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs
Labels: Scene Understanding

#9912 Branch synchronization: prerelease/2.7.0_stabilization --> main
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
  Authors.md
Labels: Automerge

#9914 Releases/2.7.0 -> main
  pipelines/packageupmpublic.yaml
Labels: Release Management

#9916 Don't create CustomProfiles folder unless a profile is actually being cloned there
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityProfileCloneWindow.cs
Labels: Profile and Inspectors

#9915 Restore hand physics profile to example scene
  Assets/MRTK/Extensions/HandPhysicsService/Examples/HandPhysicsServiceExample.unity
Labels: Example/Test Scene
