Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-01, with the labels that each got.

#9082 Merge mrtk_release (2.5.2 and 2.5.3) into mrtk_dev
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Services/BaseBoundarySystem.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers/OculusHand.cs
  Assets/MRTK/Providers/OpenXR.meta
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef.meta
  Assets/MRTK/Providers/OpenXR/Profiles.meta
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRCameraProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRCameraProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRConfigurationProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRConfigurationProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRControllerMappingProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRControllerMappingProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRControllerVisualizationProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRControllerVisualizationProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRInputSystemProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRInputSystemProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRSpatialAwarenessSystemProfile.asset
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRSpatialAwarenessSystemProfile.asset.meta
  Assets/MRTK/Providers/OpenXR/Scripts.meta
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs.meta
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftMotionController.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftMotionController.cs.meta
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs.meta
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXREyeGazeDataProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXREyeGazeDataProvider.cs.meta
  Assets/MRTK/Providers/XRSDK/XRSDKBoundarySystem.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  Documentation/Contributing/Roadmap.md
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/Images/XRSDK/CameraSystemXRSDK.png
  Documentation/Images/XRSDK/InputSystemOpenXR.png
  Documentation/Images/XRSDK/PluginManagementOpenXR.png
  Documentation/Installation.md
  Documentation/ReleaseNotes.md
  Documentation/usingupm.md
  ProjectSettings/ProjectSettings.asset
  README.md
  scripts/ci/validatecode.ps1
  scripts/docs/web/version.js
Labels: Release Management

#9093 Clean up more test logs
  Assets/MRTK/Tests/EditModeTests/Core/MixedRealityToolkitTests.cs
  Assets/MRTK/Tests/PlayModeTests/BoundingBoxTests.cs
  Assets/MRTK/Tests/PlayModeTests/ConstraintTests.cs
  Assets/MRTK/Tests/PlayModeTests/InteractableTests.cs
  Assets/MRTK/Tests/PlayModeTests/NearInteractionGrabbableTests.cs
  Assets/MRTK/Tests/PlayModeTests/PressableButtonTests.cs
  Assets/MRTK/Tests/PlayModeTests/VisualThemeTests.cs
Labels: Tests

#9094 Reserialize mapping profiles
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityControllerMappingProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityControllerMappingProfile.asset
Labels: Controller Mapping

#9064 Update ReleaseNotes to include Input Recording Service improvements
  Documentation/ReleaseNotes.md
Labels: Documentation

#9103 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Documentation/ReleaseNotes.md
Labels: Automerge

#9110 Add missing underscore from docs validation param regex
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPrimitive.cs
  scripts/ci/validatecode.ps1
Labels: CI/Build, Documentation

#9111 Fix potential null ref in boundary system
  Assets/MRTK/Providers/XRSDK/XRSDKBoundarySystem.cs
Labels: Boundaries

#9112 Add OpenXR to link.xml
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitPreserveSettings.cs
Labels: OpenXR

#9132 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Large_AutoWorldLock_On_HandDrop.prefab
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Large_WorldLock_On_GrabAndPull.prefab
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Medium_HideOnHandDrop.prefab
  Assets/MRTK/Examples/Common/Prefabs/HandMenu_Small_HideOnHandDrop.prefab
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuConfigurationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuConfigurationProfile.asset.meta
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuInputSimulationProfile.asset.meta
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuInputSystemProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuInputSystemProfile.asset.meta
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuSpeechCommandsProfile.asset
  Assets/MRTK/Examples/Demos/HandTracking/Profiles/HandMenuSpeechCommandsProfile.asset.meta
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandMenuExamples.unity
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/SolverTrackedTargetType.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/SolverTrackedTargetType.cs.meta
  Documentation/Images/HandMenu/MRTK_HandMenu_ExampleScene.png
  Documentation/Images/HandMenu/MRTK_HandMenu_VoiceCommand.png
  Documentation/Images/HandMenu/MRTK_HandMenu_VoiceCommand2.png
  Documentation/README_HandMenu.md
Labels: Automerge

#9128 Code style pass for null conditions
  Assets/MRTK/Core/Attributes/MixedRealityServiceProfileAttribute.cs
  Assets/MRTK/Core/Definitions/Devices/MixedRealityControllerMappingProfile.cs
  Assets/MRTK/Core/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MRTK/Core/Inspectors/Utilities/Search/MixedRealitySearchUtility.cs
  Assets/MRTK/Core/Providers/Hands/HandJointService.cs
  Assets/MRTK/Core/Providers/InputSimulation/InputSimulationService.cs
  Assets/MRTK/Core/Services/BaseService.cs
  Assets/MRTK/Core/Utilities/Editor/AssemblyDefinition.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Examples/Demos/EyeTracking/DemoTargetSelections/Scripts/TargetGroupIterator.cs
  Assets/MRTK/Examples/Demos/EyeTracking/General/Scripts/TargetBehaviors/OnLookAtShowHoverFeedback.cs
  Assets/MRTK/Examples/Demos/EyeTracking/General/Scripts/Targeting/DwellSelection.cs
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Scripts/NonNativeKeyboard.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/TapToPlace.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystem.cs
Labels: Code Style

#9129 Code style pass for pattern matching
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityInputAction.cs
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityPose.cs
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityTransform.cs
  Assets/MRTK/Core/Extensions/GameObjectExtensions.cs
  Assets/MRTK/Core/Inspectors/Profiles/DataProviderAccessServiceInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityRegisteredServiceProviderProfileInspector.cs
  Assets/MRTK/Core/Inspectors/PropertyDrawers/ExperimentalDrawer.cs
  Assets/MRTK/Core/Inspectors/ServiceInspectors/SceneSystemInspector.cs
  Assets/MRTK/Core/Providers/Hands/ArticulatedHandDefinition.cs
  Assets/MRTK/Core/Providers/Hands/HandJointService.cs
  Assets/MRTK/Core/Providers/Hands/HandJointUtils.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedMotionControllerDataProvider.cs
  Assets/MRTK/Core/Services/BaseDataProviderAccessCoreSystem.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/Async/AwaiterExtensions.cs
  Assets/MRTK/Core/Utilities/CoreServices.cs
  Assets/MRTK/Examples/Demos/Input/Scenes/DisablePointers/DisablePointersExample.cs
  Assets/MRTK/Examples/Demos/Utilities/Scripts/MixedRealityCapabilityDemo.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Scripts/NonNativeKeyboardTouchAssistant.cs
  Assets/MRTK/SDK/Experimental/PulseShader/Scripts/HandPulseLogic.cs
  Assets/MRTK/SDK/Features/Input/Handlers/TeleportHotSpot.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MRTK/SDK/Features/UX/Scripts/AppBar/AppBar.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/HandInteractionPanZoom.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/ControllerFinder.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraintPalmUp.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MRTK/Services/TeleportSystem/MixedRealityTeleportSystem.cs
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/ProjectPreferencesTest.cs
  Assets/MRTK/Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
Labels: Code Style

#9133 Use unused param in SpatialAwarenessPlanarObject
  Assets/MRTK/Core/Definitions/SpatialAwareness/SpatialAwarenessPlanarObject.cs
Labels: Spatial Mapping / Awareness

#9038 Various keyboard improvements & Chinese, Japanese, Korean input fix
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/SystemKeyboardExample.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/KeyboardInputFieldBase.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/MRTKTMPInputField.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/MRTKTMPInputField.cs.meta
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/MRTKUGUIInputField.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/MRTKUGUIInputField.cs.meta
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/MixedRealityKeyboardBase.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/Prefabs/MRKeyboardInputField_TMP.prefab
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/Prefabs/MRKeyboardInputField_UGUI.prefab
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/TMP_KeyboardInputField.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/UI_KeyboardInputField.cs
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateUGUI.prefab
  Assets/MRTK/Services/InputSystem/MixedRealityInputModule.cs
Labels: Bug, Keyboard

#9130 Code style pass for compound assignment
  Assets/MRTK/Core/Extensions/LayerExtensions.cs
  Assets/MRTK/Core/Inspectors/Utilities/Lines/DataProviders/SplineDataProviderInspector.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedControllerDataProvider.cs
  Assets/MRTK/Core/Utilities/Lines/DataProviders/BezierDataProvider.cs
  Assets/MRTK/Core/Utilities/Lines/DataProviders/BezierInertia.cs
  Assets/MRTK/Core/Utilities/Lines/DataProviders/SplineDataProvider.cs
  Assets/MRTK/Core/Utilities/Physics/Distorters/DistorterBulge.cs
  Assets/MRTK/Examples/Demos/EyeTracking/DemoTargetPositioning/Scripts/MoveObjByEyeGaze.cs
  Assets/MRTK/Examples/Demos/EyeTracking/General/Scripts/TargetBehaviors/OnLookAtRotateByEyeGaze.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/QuaternionElasticSystem.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Tooltips/ToolTipBackgroundBlob.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/Orbital.cs
  Assets/MRTK/Services/DiagnosticsSystem/MixedRealityToolkitVisualProfiler.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
  Assets/MRTK/Tools/MSBuild/Scripts/Utilities.cs
Labels: Code Style

#9113 Fix MSBuild in Unity 2019 for docs
  Assets/MRTK/Tools/MSBuild/MSBuildMRTKTemplates/SDKProjectTemplate.csproj.template
  Assets/MRTK/Tools/MSBuild/Scripts/CSProjectInfo.cs
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
  Assets/MRTK/Tools/MSBuild/Scripts/Utilities.cs
  NuGet/BuildSource.proj
Labels: Build / Tools, MSBuild

#9149 Manually update cached main camera
  Assets/MRTK/Core/Utilities/CameraCache.cs
Labels: CameraSystem

#9152 Ignore xcopy error for xml files to resolve CI issue
  Assets/MRTK/Tools/MSBuild/MSBuildMRTKTemplates/SDKProjectTemplate.csproj.template
Labels: CI/Build, DO NOT MERGE

#9164 Extracts the mergetool pipeline out into actual scripts and yml
  pipelines/mergetool.yml
  scripts/ci/mergetool.py
  scripts/ci/requirements.txt
Labels: CI/Build

#9155 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Utilities/CameraCache.cs
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MRTK/Tools/MSBuild/MSBuildMRTKTemplates/SDKProjectTemplate.csproj.template
  Assets/MRTK/Tools/MSBuild/Scripts/CSProjectInfo.cs
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
  Assets/MRTK/Tools/MSBuild/Scripts/Utilities.cs
  NuGet/BuildSource.proj
  pipelines/mergetool.yml
  scripts/ci/mergetool.py
  scripts/ci/requirements.txt
Labels: Automerge

#9174 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/SDK/Editor/Inspectors/UX/Pointers/TeleportPointerInspector.cs
  Assets/MRTK/SDK/Features/UX/Prefabs/Sliders/PinchSlider.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
Labels: Automerge

#9178 Update Authors.md and add Python script for auto-generating using pygithub
  Documentation/Authors.md
  scripts/ci/contributors.py
  scripts/ci/mergetool.py
Labels: Release Management

#9184 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Core/Utilities/BuildAndDeploy/BuildDeployPreferences.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpPlayerBuildTools.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/ProjectPreferences.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
  Documentation/Authors.md
  Documentation/CrossPlatform/OculusQuestMRTK.md
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  scripts/ci/contributors.py
  scripts/ci/mergetool.py
Labels: Automerge

#9190 Dirty scene after adding MRTK to scene
  Assets/MRTK/Core/Inspectors/Utilities/MixedRealityInspectorUtility.cs
Labels: Bug
