Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-08, with the labels that each got.

#10125 Refactor out OpenXRHandJointProvider
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandJointProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandJointProvider.cs.meta
Labels: OpenXR

#10059 Made Near Pointers usable on controllers.
  Assets/MRTK/SDK/Editor/Inspectors/Input/Handlers/ControllerPoseSynchronizerInspector.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ConicalGrabPointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/GrabPointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/PokePointer.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MRTK/Tests/PlayModeTests/PointerBehaviorTests.cs
Labels: Input System - Input Actions, Input System - Near Interaction, Input System - Pointer, Oculus, VR

#10102 Re-add XR folder
  .gitignore
  Assets/XR.meta
  Assets/XR/Loaders.meta
  Assets/XR/Loaders/AR Core Loader.asset
  Assets/XR/Loaders/AR Core Loader.asset.meta
  Assets/XR/Loaders/Oculus Loader.asset
  Assets/XR/Loaders/Oculus Loader.asset.meta
  Assets/XR/Loaders/Open XR Loader No Pre Init.asset
  Assets/XR/Loaders/Open XR Loader No Pre Init.asset.meta
  Assets/XR/Loaders/Open XR Loader.asset
  Assets/XR/Loaders/Open XR Loader.asset.meta
  Assets/XR/Loaders/Windows MR Loader.asset
  Assets/XR/Loaders/Windows MR Loader.asset.meta
  Assets/XR/Settings.meta
  Assets/XR/Settings/AR Core Settings.asset
  Assets/XR/Settings/AR Core Settings.asset.meta
  Assets/XR/Settings/Oculus Settings.asset
  Assets/XR/Settings/Oculus Settings.asset.meta
  Assets/XR/Settings/Open XR Package Settings.asset
  Assets/XR/Settings/Open XR Package Settings.asset.meta
  Assets/XR/Settings/OpenXR Editor Settings.asset
  Assets/XR/Settings/OpenXR Editor Settings.asset.meta
  Assets/XR/Settings/Windows MR Package Settings.asset
  Assets/XR/Settings/Windows MR Package Settings.asset.meta
  Assets/XR/XRGeneralSettings.asset
  Assets/XR/XRGeneralSettings.asset.meta
  ProjectSettings/EditorBuildSettings.asset
Labels: XR SDK

#10156 Update v3_main with latest main
  .gitignore
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandJointProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandJointProvider.cs.meta
  Assets/MRTK/SDK/Editor/Inspectors/Input/Handlers/ControllerPoseSynchronizerInspector.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ConicalGrabPointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/GrabPointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/MousePointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/PokePointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ScreenSpaceMousePointer.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityInputPointerProfile.asset
  Assets/MRTK/Tests/PlayModeTests/PointerBehaviorTests.cs
  Assets/XR.meta
  Assets/XR/Loaders.meta
  Assets/XR/Loaders/AR Core Loader.asset
  Assets/XR/Loaders/AR Core Loader.asset.meta
  Assets/XR/Loaders/Oculus Loader.asset
  Assets/XR/Loaders/Oculus Loader.asset.meta
  Assets/XR/Loaders/Open XR Loader No Pre Init.asset
  Assets/XR/Loaders/Open XR Loader No Pre Init.asset.meta
  Assets/XR/Loaders/Open XR Loader.asset
  Assets/XR/Loaders/Open XR Loader.asset.meta
  Assets/XR/Loaders/Windows MR Loader.asset
  Assets/XR/Loaders/Windows MR Loader.asset.meta
  Assets/XR/Settings.meta
  Assets/XR/Settings/AR Core Settings.asset
  Assets/XR/Settings/AR Core Settings.asset.meta
  Assets/XR/Settings/Oculus Settings.asset
  Assets/XR/Settings/Oculus Settings.asset.meta
  Assets/XR/Settings/Open XR Package Settings.asset
  Assets/XR/Settings/Open XR Package Settings.asset.meta
  Assets/XR/Settings/OpenXR Editor Settings.asset
  Assets/XR/Settings/OpenXR Editor Settings.asset.meta
  Assets/XR/Settings/Windows MR Package Settings.asset
  Assets/XR/Settings/Windows MR Package Settings.asset.meta
  Assets/XR/XRGeneralSettings.asset
  Assets/XR/XRGeneralSettings.asset.meta
  ProjectSettings/EditorBuildSettings.asset
  pipelines/mergetool.yml
Labels: Branch Management
