Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-03, with the labels that each got.

#9397 Branch synchronization: prerelease/2.6.0_stabilization --> mrtk_development
  Assets/MRTK/Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
  Assets/MRTK/Tools/MSBuild/Scripts/Utilities.cs
  Assets/MRTK/Tools/MSBuild/mrtk_guid_remapping_dictionary.txt
  Assets/MRTK/Tools/MSBuild/mrtk_guid_remapping_dictionary.txt.meta
  Assets/MRTK/Tools/MixedReality.Toolkit.Tools.nuspec
  pipelines/templates/tasks/assetretargeting.yml
  pipelines/templates/tasks/publish-nuget.yml
  pipelines/templates/tasks/publish-upm.yml
Labels: Automerge

#9399 update remoting documentation
  Documentation/Images/Tools/Remoting/SelectDotNetWinRT.png
  Documentation/Tools/HolographicRemoting.md
Labels: Documentation

#9406 Branch synchronization: prerelease/2.6.0_stabilization --> mrtk_development
  Assets/MRTK/Examples/Demos/ReadingMode/Scripts/ReadingModeSceneBehavior.cs
  Documentation/Images/Tools/Remoting/SelectDotNetWinRT.png
  Documentation/Tools/HolographicRemoting.md
Labels: Automerge

#9390 Fix issues associated with the new SU package
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scenes/SceneUnderstandingExample.unity
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Editor/MRTK.WSU.Editor.asmdef
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Editor/WindowsSceneUnderstandingConfigChecker.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Editor/WindowsSceneUnderstandingConfigChecker.cs.meta
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/MRTK.WSU.asmdef
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
  Documentation/ReleaseNotes.md
  Documentation/SpatialAwareness/SceneUnderstanding.md
Labels: DO NOT MERGE, Scene Understanding

#9411 Add null check for XR not initialized
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
Labels: XR SDK

#9413 Add Scene Understanding to the Asset Retargeter ignore list
  Assets/MRTK/Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
Labels: CI/Build

#9404 add versioning to the shader import logic
  Assets/MRTK/StandardAssets/EditorUtilities/OnLoadUtilities.cs
  Assets/MRTK/StandardAssets/Shaders/ChannelPacker.shader
  Assets/MRTK/StandardAssets/Shaders/DepthBufferPostProcess.shader
  Assets/MRTK/StandardAssets/Shaders/InstancedColored.shader
  Assets/MRTK/StandardAssets/Shaders/InvisibleShader.shader
  Assets/MRTK/StandardAssets/Shaders/MRTK.Shaders.sentinel
  Assets/MRTK/StandardAssets/Shaders/MRTK_Wireframe.shader
  Assets/MRTK/StandardAssets/Shaders/MixedRealityStandard.shader
  Assets/MRTK/StandardAssets/Shaders/MixedRealityTextMeshPro.shader
  Assets/MRTK/StandardAssets/Shaders/Text3DShader.shader
  Assets/MRTK/StandardAssets/packagetemplate.json
  Documentation/Images/Tools/ShaderUpdateMenu.png
  Documentation/Images/Tools/UpdateShaderPrompt.png
  Documentation/Tools/UpdatingMRTKShaders.md
Labels: Editor, Shaders / Materials

#9418 Add Pulse Shader Graduation to Release Notes
  Documentation/ReleaseNotes.md
Labels: Documentation

#9420 Remove dotnetwinrt dependency in Scene Understanding
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scenes/SceneUnderstandingExample.unity
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
  pipelines/config/settings.yml
  pipelines/docs-binaries.yml
Labels: Scene Understanding

#9421 Improve clarity on when / how to use XRSDK profiles
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/Profiles/Profiles.md
Labels: Profile and Inspectors, XR SDK

#9427 Turn off auto mergetool (for now)
  pipelines/mergetool.yml
Labels: Release Management

#9341 Docs Migration redirect URLs
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/GettingStartedWithTheMRTK.md
  Documentation/Input/HandTracking.md
  Documentation/Input/Pointers.md
  Documentation/Installation.md
  Documentation/README_Button.md
  Documentation/README_MRTKStandardShader.md
  Documentation/README_Solver.md
  Documentation/WelcomeToMRTK.md
  Documentation/usingupm.md
  README.md
Labels: Documentation

#9430 Fix OpenXR on UWP
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
Labels: OpenXR

#9436 Add a we've moved banner to doc site
  scripts/docs/templates/mrtk/partials/navbar.tmpl.partial
  scripts/docs/templates/mrtk/styles/docfx.css
Labels: Documentation

#9445 increment MRTK version number
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
Labels: Branch Management

#9478 2.6.1 cherrypicks
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPrimitive.cs
  Assets/MRTK/Examples/Demos/UX/Dialog/Scripts/DialogExampleController.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
Labels: Release Management

#9479 Decouple the scene understanding sample from the spatial awareness one
  Assets/MRTK/Examples/Common/Scripts/DemoSpatialMeshHandler.cs
  Assets/MRTK/Examples/Common/Scripts/DemoSpatialMeshHandler.cs.meta
Labels: Scene Understanding

#9480 Merge 2.6.1 into dev branch
  Assets/MRTK/Examples/Common/Scripts/DemoSpatialMeshHandler.cs
  Assets/MRTK/Examples/Common/Scripts/DemoSpatialMeshHandler.cs.meta
  Assets/MRTK/Providers/LeapMotion/LeapMotionArticulatedHand.cs
Labels: Branch Management

#9485 Update the Scene Understanding sample scene to show the SU package is now available
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scenes/SceneUnderstandingExample.unity
Labels: Scene Understanding

#9488 increment MRTK version to 2.6.1
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
Labels: Release Management

#9501 Add description to the HandInteractionRecordArticulatedHandPose scene
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionRecordArticulatedHandPose.unity
Labels: Example/Test Scene

#9529 Change the handling of missing assemblies in build script
  Assets/MRTK/Tools/MSBuild/Scripts/CSProjectInfo.cs
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
Labels: Build / Tools

#9498 Microphone stream selection demo
  Assets/MRTK/Examples/Demos/Audio/Scenes/WindowsMicrophoneStreamDemo.unity
  Assets/MRTK/Examples/Demos/Audio/Scenes/WindowsMicrophoneStreamDemo.unity.meta
  Assets/MRTK/Examples/Demos/Audio/Scripts/MicrophoneAmplitudeDemo.cs
  Assets/MRTK/Examples/Demos/Audio/Scripts/MicrophoneAmplitudeDemo.cs.meta
  Assets/MRTK/Examples/MRTK.Examples.asmdef
Labels: HTK Parity, Spatial Sound / Audio

#9538 Graduate dwell
  Assets/MRTK/Examples/Common/Scripts/DwellProfileWithDecay.cs
  Assets/MRTK/Examples/Demos/UX/Dwell.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/BaseDwellSample.cs
  Assets/MRTK/Examples/Demos/UX/Dwell/BaseDwellSample.cs.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/ButtonDwellProfile.asset
  Assets/MRTK/Examples/Demos/UX/Dwell/ButtonDwellProfile.asset.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/CustomDwellHandler.cs
  Assets/MRTK/Examples/Demos/UX/Dwell/CustomDwellHandler.cs.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/DwellExample.unity
  Assets/MRTK/Examples/Demos/UX/Dwell/DwellExample.unity.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/DwellProfileWithDecay.asset
  Assets/MRTK/Examples/Demos/UX/Dwell/DwellProfileWithDecay.asset.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/Editor.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/Editor/DwellProfileWithDecayInspector.cs
  Assets/MRTK/Examples/Demos/UX/Dwell/Editor/DwellProfileWithDecayInspector.cs.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/Editor/MRTK.Examples.Editor.Dwell.asmdef
  Assets/MRTK/Examples/Demos/UX/Dwell/Editor/MRTK.Examples.Editor.Dwell.asmdef.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/InstantDwellProfile.asset
  Assets/MRTK/Examples/Demos/UX/Dwell/InstantDwellProfile.asset.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/InstantDwellSample.cs
  Assets/MRTK/Examples/Demos/UX/Dwell/InstantDwellSample.cs.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/ListItemDwell.cs
  Assets/MRTK/Examples/Demos/UX/Dwell/ListItemDwell.cs.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/ToggleDwellProfile.asset
  Assets/MRTK/Examples/Demos/UX/Dwell/ToggleDwellProfile.asset.meta
  Assets/MRTK/Examples/Demos/UX/Dwell/ToggleDwellSample.cs
  Assets/MRTK/Examples/Demos/UX/Dwell/ToggleDwellSample.cs.meta
  Assets/MRTK/Examples/Experimental/Dwell/BaseDwellSample.cs
  Assets/MRTK/Examples/Experimental/Dwell/CustomDwellHandler.cs
  Assets/MRTK/SDK/Editor/Inspectors/Dwell/DwellHandlerInspector.cs
  Assets/MRTK/SDK/Experimental/Features/Dwell/DwellProfile.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell.meta
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellHandler.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellHandler.cs.meta
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellProfile.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellProfile.cs.meta
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellStateType.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellStateType.cs.meta
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellUnityEvent.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellUnityEvent.cs.meta
  Assets/MRTK/Tests/PlayModeTests/DwellTests.cs
  Assets/MRTK/Tests/PlayModeTests/DwellTests.cs.meta
Labels: UX Controls

#9550 Add support for motion controller models at runtime in WMR/XRSDK
  Assets/MRTK/Core/Definitions/Devices/MixedRealityControllerVisualizationSetting.cs
  Assets/MRTK/Core/Providers/BaseController.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Extensions/WindowsExtensions.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/MRTK.WMR.Shared.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityControllerModelProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityControllerModelProvider.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/MRTK.WMR.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKMotionController.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityXRSDKControllerVisualizationProfile.asset
Labels: Controller Visualization, XR SDK

#9549 Update to Mixed Reality OpenXR package 0.2.0
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
Labels: OpenXR

#9506 Port TextToSpeech to MRTK
  Assets/MRTK/Examples/Demos/Audio/Scenes/TextToSpeechExamples.unity
  Assets/MRTK/Examples/Demos/Audio/Scenes/TextToSpeechExamples.unity.meta
  Assets/MRTK/Examples/Demos/Audio/Scripts/TextToSpeechSample.cs
  Assets/MRTK/Examples/Demos/Audio/Scripts/TextToSpeechSample.cs.meta
  Assets/MRTK/SDK/Features/Audio/TextToSpeech.cs
  Assets/MRTK/SDK/Features/Audio/TextToSpeech.cs.meta
Labels: HTK Parity

#9524 Improving the Scene Understanding demo
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
Labels: Scene Understanding

#9576 Fixed bug where the pinch strength defaults were inverted
  Assets/MRTK/Providers/Oculus/XRSDK/MRTK-Quest/Scripts/Input/Controllers/OculusHand.cs
Labels: Oculus

#9567 Update XR SDK spatial mapping to support additional platforms (OpenXR)
  Assets/MRTK/Core/Interfaces/SpatialAwareness/Observers/IMixedRealitySpatialAwarenessObserver.cs
  Assets/MRTK/Core/Providers/BaseSpatialMeshObserver.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Core/Providers/ObjectMeshObserver/SpatialObjectMeshObserver.cs
  Assets/MRTK/Providers/OpenXR/Profiles/DefaultOpenXRSpatialAwarenessSystemProfile.asset
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
Labels: OpenXR, Spatial Mapping / Awareness

#9572 Add support for hand mesh on OpenXR
  Assets/MRTK/Core/Providers/Hands/BaseHandVisualizer.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandMeshProvider.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandMeshProvider.cs.meta
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
Labels: Hand Tracking, OpenXR

#9490 reduce allocations / GC related to articulated hands
  Assets/MRTK/Core/Providers/Hands/BaseHandVisualizer.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/WindowsMixedRealityArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
Labels: Hand Tracking, Performance

#9556 Adding the option to use nuget.exe for restore in build tools
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpBuildDeployPreferences.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpBuildInfo.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpPlayerBuildTools.cs
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
Labels: Build / Tools

#9583 Packaging pipeline changes
  pipelines/packageupmpublic.yaml
  pipelines/templates/tasks/pack-upm.yml
Labels: Package Management - NPM

#9585 Add WindowsSpeechInputProvider to XRSDK input profile
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandMeshProvider.cs
  Assets/MRTK/Providers/XRSDK/Profiles/DefaultXRSDKInputSystemProfile.asset
Labels: XR SDK

#8119 Feature/touchslider
  Assets/MRTK/Examples/Experimental/TouchSlider.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Materials.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Materials/MRTK_TouchSlider_Thumb.mat
  Assets/MRTK/Examples/Experimental/TouchSlider/Materials/MRTK_TouchSlider_Thumb.mat.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Prefabs.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Prefabs/TouchSliderPrefab.prefab
  Assets/MRTK/Examples/Experimental/TouchSlider/Prefabs/TouchSliderPrefab.prefab.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Profiles.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Profiles/TouchSliderThumbTheme.asset
  Assets/MRTK/Examples/Experimental/TouchSlider/Profiles/TouchSliderThumbTheme.asset.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Scenes.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Scenes/TouchSliderExample.unity
  Assets/MRTK/Examples/Experimental/TouchSlider/Scenes/TouchSliderExample.unity.meta
  Assets/MRTK/SDK/Experimental/TouchSlider.meta
  Assets/MRTK/SDK/Experimental/TouchSlider/TouchSlider.cs
  Assets/MRTK/SDK/Experimental/TouchSlider/TouchSlider.cs.meta
Labels: Help Wanted
