Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-06, with the labels that each got.

#9922 Copy the Authors.md file to our UPM packages
  scripts/packaging/createupmpackages.ps1
Labels: CI/Build, UPM

#9923 Squash some syntax in the packing pipeline
  pipelines/packageupmpublic.yaml
Labels: CI/Build

#9928 Add ability to repack in the packaging pipeline
  pipelines/packageupmpublic.yaml
  pipelines/templates/tasks/pack-upm.yml
  scripts/packaging/createupmpackages.ps1
Labels: CI/Build, UPM

#9933 Update docs pipeline
  pipelines/docs-binaries.yml
Labels: CI/Build, Documentation

#9939 Remove calls to .gameObject on GameObjects
  Assets/MRTK/Core/Utilities/Gltf/Serialization/ConstructGltf.cs
  Assets/MRTK/Examples/Demos/EyeTracking/DemoTargetSelections/Scripts/TargetGroupCreatorRadial.cs
  Assets/MRTK/Examples/Demos/EyeTracking/DemoTargetSelections/Scripts/TargetGroupIterator.cs
  Assets/MRTK/Examples/Demos/EyeTracking/DemoVisualizer/Scripts/InputPointerVisualizer.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
  Assets/MRTK/SDK/Experimental/Features/Utilities/StabilizationPlaneModifier.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorOrbsRotator.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Utilities/PrefabSpawner.cs
  Assets/MRTK/Tests/PlayModeTests/BaseCursorTests.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
Labels: Performance

#9944 Update internal CI to run on regular pool
  pipelines/ci-packaging-internal.yml
  pipelines/ci-release.yml
  pipelines/ci-weekly-internal.yml
  pipelines/config/settings.yml
  pipelines/docs-binaries.yml
Labels: CI/Build

#9938 Updates with Unity 2021 changes
  Assets/MRTK/Core/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MRTK/Core/Utilities/Scenes/EditorSceneUtils.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/Tests/TestUtilities/PlayModeTestUtilities.cs
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MRTK/Tools/MSBuild/Scripts/Utilities.cs
Labels: Unity 2021

#9942 Fix link.xml for Unity 2021
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitPreserveSettings.cs
Labels: Unity 2021

#9976 Update controller mapping list header and alignment
  Assets/MRTK/Core/Inspectors/ControllerPopupWindow.cs
Labels: Controller Mapping

#9940 Assorted Unity improvements
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Collections/GridObjectCollection.cs
  Assets/MRTK/Tests/EditModeTests/Tools/MigrationToolTests.cs
Labels: Code Style

#9974 Add editor window and menu item for displaying the current MRTK version
  Assets/MRTK/Core/Inspectors/Setup/MRTKVersionPopup.cs
  Assets/MRTK/Core/Inspectors/Setup/MRTKVersionPopup.cs.meta
Labels: MRTK usability

#9935 Some cleanup to the HandConstraint* scripts
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraintPalmUp.cs
Labels: Solvers - HandConstraint

#9984 2.7.1 cherry-picks
  Assets/MRTK/Core/Inspectors/MixedRealityToolkitInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  ProjectSettings/ProjectSettings.asset
  pipelines/ci-packaging-internal.yml
  pipelines/ci-release.yml
  pipelines/ci-weekly-internal.yml
  pipelines/config/settings.yml
  pipelines/docs-binaries.yml
  pipelines/packageupmpublic.yaml
  pipelines/templates/tasks/pack-upm.yml
  scripts/packaging/createupmpackages.ps1
Labels: Release Management

#9985 2.7.1 cherrypicks round 2
  Assets/MRTK/Core/Inspectors/Setup/MRTKVersionPopup.cs
  Assets/MRTK/Core/Inspectors/Setup/MRTKVersionPopup.cs.meta
  Assets/MRTK/Examples/Demos/PulseShader/Profile/PulseShaderSpatialAwarenessSystemProfile.asset
  Assets/MRTK/Extensions/HandPhysicsService/Examples/HandPhysicsServiceExample.unity
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/InteractableInspector.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraintPalmUp.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySpatialAwarenessSystemProfile.asset
Labels: Release Management

#9973 Partial fix for BoundsControl collider issues and inconsistency
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/PerAxisHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ProximityEffect/ProximityEffect.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
Labels: Bug, UX Controls - Bounds Control

#9994 Update filtering for UnityJoystickManager
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
Labels: Input System

#9995 Make the ObservedObjectParent public via the BaseSpatialObserver class
  Assets/MRTK/Core/Providers/BaseSpatialMeshObserver.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
Labels: Spatial Mapping / Awareness

#9983 Graduate Step Slider
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider.meta
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Materials.meta
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Materials/MRTK_TouchSlider_Thumb.mat
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Materials/MRTK_TouchSlider_Thumb.mat.meta
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Prefabs.meta
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Prefabs/TouchSlider.prefab
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Prefabs/TouchSlider.prefab.meta
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Profiles.meta
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Profiles/TouchSliderThumbTheme.asset
  Assets/MRTK/Examples/Common/Prefabs/TouchSlider/Profiles/TouchSliderThumbTheme.asset.meta
  Assets/MRTK/Examples/Demos/UX/Slider/Scenes/SliderExample.unity
  Assets/MRTK/Examples/Experimental/StepSlider.meta
  Assets/MRTK/Examples/Experimental/StepSlider/StepSliderExample.unity
  Assets/MRTK/Examples/Experimental/TouchSlider/Prefabs/TouchSliderPrefab.prefab
  Assets/MRTK/Examples/Experimental/TouchSlider/Prefabs/TouchSliderPrefab.prefab.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Scenes.meta
  Assets/MRTK/Examples/Experimental/TouchSlider/Scenes/TouchSliderExample.unity
  Assets/MRTK/Examples/Experimental/TouchSlider/Scenes/TouchSliderExample.unity.meta
  Assets/MRTK/SDK/Editor/Inspectors/UX/Sliders/PinchSliderInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Sliders/PinchSliderInspector.cs.meta
  Assets/MRTK/SDK/Experimental/StepSlider.meta
  Assets/MRTK/SDK/Experimental/StepSlider/README.md
  Assets/MRTK/SDK/Experimental/StepSlider/README.md.meta
  Assets/MRTK/SDK/Experimental/StepSlider/StepSlider.cs
  Assets/MRTK/SDK/Experimental/StepSlider/StepSlider.cs.meta
  Assets/MRTK/SDK/Experimental/StepSlider/StepSlider.prefab
  Assets/MRTK/SDK/Experimental/StepSlider/StepSlider.prefab.meta
  Assets/MRTK/SDK/Experimental/TouchSlider.meta
  Assets/MRTK/SDK/Experimental/TouchSlider/TouchSlider.cs
  Assets/MRTK/SDK/Experimental/TouchSlider/TouchSlider.cs.meta
  Assets/MRTK/SDK/Features/UX/Animations/Sliders/Slider_Button_Default.anim
  Assets/MRTK/SDK/Features/UX/Animations/Sliders/Slider_Button_Grab.anim
  Assets/MRTK/SDK/Features/UX/Animations/Sliders/Slider_Button_Hover.anim
  Assets/MRTK/SDK/Features/UX/Prefabs/Sliders/PinchSlider.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/Sliders/PinchSlider.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Sliders/SliderSounds.cs
  Assets/MRTK/Tests/PlayModeTests/PinchSliderTests.cs
Labels: Feature Graduation, UX Controls - Slider

#10001 Improve configurator instructions for OpenXR
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
Labels: OpenXR

#10007 Fixing BC Scale Handles
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ScaleHandles.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
Labels: Bug, DO NOT MERGE, UX Controls - Bounds Control

#10008 Add early return if array length is 0
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandMeshProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
Labels: Holographic Remoting

#10014 Fix build
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
Labels: Release Management

#10013 Fixing BoundsControl auto-flatten and scale handle orientation
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ScaleHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/VisualUtils.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
Labels: Bug, UX Controls - Bounds Control, UX Controls - Slate

#10016 PR re-nits for BC flattening fix
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
Labels: Bug, UX Controls - Bounds Control, UX Controls - Slate

#10012 Merge 2.7.1 -> main
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRHandMeshProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityHandMeshProvider.cs
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
Labels: Release Management

#10018 Update regex to catch dependencies
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
  scripts/packaging/createupmpackages.ps1
Labels: CI/Build, Package Management - NPM

#10022 Turn off mergetool
  pipelines/mergetool.yml
Labels: Release Management

#10023 Merge 2.7.2 -> main
  scripts/packaging/createupmpackages.ps1
Labels: Release Management

#10026 Logging and SpatialAwarenessSurfaceTypes fix for Scene Understanding
  Assets/MRTK/Core/Definitions/SpatialAwareness/SpatialAwarenessSurfaceTypes.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
Labels: Scene Understanding

#10028 Execution order/priority system for TransformConstraint
  Assets/MRTK/SDK/Editor/Inspectors/UX/Constraints/ConstraintManagerInspector.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/ConstraintManager.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/TransformConstraint.cs
  Assets/MRTK/SDK/Features/Utilities/ConstraintExecOrderComparer.cs
  Assets/MRTK/SDK/Features/Utilities/ConstraintExecOrderComparer.cs.meta
  Assets/MRTK/SDK/Features/Utilities/ConstraintUtils.cs
  Assets/MRTK/SDK/Features/Utilities/ConstraintUtils.cs.meta
  Assets/MRTK/SDK/StandardAssets/Prefabs/SceneDescriptionPanelRev.prefab
  Assets/MRTK/Tests/PlayModeTests/ConstraintTests.cs
Labels: Bug, UX Controls - Bounds Control, UX Controls - ObjectManipulator

#10039 Fixing BC OnEnable issue when non-default activation type specified in-editor
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
Labels: Bug, UX Controls - Bounds Control

#10041 Fixing invalid shader bytecode errors for OpenGL ES and Metal.
  Assets/MRTK/StandardAssets/Shaders/MRTK.Shaders.sentinel
  Assets/MRTK/StandardAssets/Shaders/MixedRealityStandard.shader
Labels: Shaders / Materials
