Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2021-02, with the labels that each got.

#9199 Add additional caching of the collider at runtime in NearInteractionTouchableVolume
  Assets/MRTK/Services/InputSystem/NearInteractionTouchableVolume.cs
  Assets/MRTK/Tests/PlayModeTests/NearInteractionTouchableTests.cs
Labels: Input System - Near Interaction

#9203 update upm docs for mixed reality feature tool
  Documentation/Images/Packaging/DiscoverFeatures.png
  Documentation/Images/Packaging/RemoveScopedRegistry.png
  Documentation/Images/Packaging/RequiredDependencies.png
  Documentation/usingupm.md
Labels: Documentation, Package Management - NPM

#9148 Add Near Interaction Support foldout to ObjectManipulator inspector
  Assets/MRTK/SDK/Editor/Inspectors/UX/ObjectManipulator/ObjectManipulatorInspector.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ObjectManipulator.cs
Labels: UX Controls - ObjectManipulator

#9204 cherry-pick upm documentation changes from 2.5.4
  Documentation/Images/Packaging/DiscoverFeatures.png
  Documentation/Images/Packaging/RemoveScopedRegistry.png
  Documentation/Images/Packaging/RequiredDependencies.png
  Documentation/usingupm.md
Labels: Documentation, Package Management - NPM

#9206 cherry-pick #9203
  Documentation/Images/Packaging/DiscoverFeatures.png
  Documentation/Images/Packaging/RemoveScopedRegistry.png
  Documentation/Images/Packaging/RequiredDependencies.png
  Documentation/usingupm.md
Labels: Documentation, Package Management - NPM

#9212 Update upm documentation to current guidance
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityPose.cs
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityTransform.cs
  Assets/MRTK/Core/Providers/BaseGenericInputSource.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Core/Providers/GenericPointer.cs
  Assets/MRTK/Core/Providers/InputSimulation/KeyBinding.cs
  Assets/MRTK/Core/Utilities/WindowsDevicePortal/DataStructures/DeviceInfo.cs
  Assets/MRTK/SDK/Features/UX/Scripts/VisualThemes/States/State.cs
  Assets/MRTK/Tests/PlayModeTests/EventCatcherTestUtilities.cs
  Documentation/Images/Packaging/DiscoverFeatures.png
  Documentation/Images/Packaging/RemoveScopedRegistry.png
  Documentation/Images/Packaging/RequiredDependencies.png
  Documentation/usingupm.md
  pipelines/pr.yaml
Labels: Documentation, Package Management - NPM

#9213 Update 2.5.0 UPM documentation
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityPose.cs
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityTransform.cs
  Assets/MRTK/Core/Providers/BaseGenericInputSource.cs
  Assets/MRTK/Core/Providers/BaseSpatialObserver.cs
  Assets/MRTK/Core/Providers/GenericPointer.cs
  Assets/MRTK/Core/Providers/InputSimulation/KeyBinding.cs
  Assets/MRTK/Core/Utilities/WindowsDevicePortal/DataStructures/DeviceInfo.cs
  Assets/MRTK/SDK/Features/UX/Scripts/VisualThemes/States/State.cs
  Assets/MRTK/Tests/PlayModeTests/EventCatcherTestUtilities.cs
  Documentation/Images/Packaging/DiscoverFeatures.png
  Documentation/Images/Packaging/RemoveScopedRegistry.png
  Documentation/Images/Packaging/RequiredDependencies.png
  Documentation/usingupm.md
  pipelines/pr.yaml
Labels: Documentation, Package Management - NPM

#9214 Create internal access to non-DotNetWinRT HolographicFrame
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Definitions/ProjectionOverride.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/WindowsMixedRealityUtilities.cs
Labels: CameraSystem

#9191 Add Runtime Spatial Mesh Prefab field to the Windows Mixed Reality Spatial Mesh Observer Profile
  Assets/MRTK/Core/Definitions/SpatialAwareness/MixedRealitySpatialAwarenessMeshObserverProfile.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealitySpatialAwarenessMeshObserverProfileInspector.cs
  Assets/MRTK/Core/Providers/BaseSpatialMeshObserver.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
Labels: Spatial Mapping / Awareness

#9182 Add 3D app launcher visualization and move to global build handler
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/MRTK.BuildAndDeploy.asmdef
  Assets/MRTK/Core/Utilities/BuildAndDeploy/MixedRealityBuildPreferences.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/MixedRealityBuildPreferences.cs.meta
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpPlayerBuildTools.cs
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
  Documentation/Images/BuildDeploy/WMR/BuildWindowManifestOptions.png
  Documentation/Images/BuildDeploy/WMR/ProjectBuildSettings.png
  Documentation/Images/getting_started/BuildWindow.png
  Documentation/ReleaseNotes.md
  ProjectSettings/ProjectSettings.asset
Labels: Build / Tools, GLTF

#9221 add note of tools package requirement for optimize window
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityEditorSettings.cs
  Assets/MRTK/Core/Utilities/Editor/ScriptedImporterAssetReimporter.cs
  Documentation/Tools/OptimizeWindow.md
Labels: Configuration

#9237 Branch synchronization: mrtk_development --> feature/interactive_element
  Assets/MRTK/Examples/Common/Scripts/ColorChanger.cs
Labels: Automerge

#9242 Refactor non-Unity validation out into new template
  pipelines/pr-2019.yaml
  pipelines/pr.yaml
  pipelines/templates/ci-common.yml
  pipelines/templates/common.yml
  pipelines/templates/tasks/githubchanges.yml
  pipelines/templates/validation.yml
  scripts/ci/githubchanges.ps1
Labels: CI/Build

#9253 Releases/2.5.4 -> mrtk_release
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitPreserveSettings.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Profiles/OculusXRSDKDeviceManagerProfile.asset
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  Documentation/Contributing/Roadmap.md
  Documentation/CrossPlatform/OculusQuestMRTK.md
  Documentation/GettingStartedWithMRTKAndXRSDK.md
  Documentation/Images/Packaging/DiscoverFeatures.png
  Documentation/Images/Packaging/RemoveScopedRegistry.png
  Documentation/Images/Packaging/RequiredDependencies.png
  Documentation/ReleaseNotes.md
  Documentation/usingupm.md
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
  scripts/docs/web/version.js
Labels: Release Management

#9226 Fix MSBuild for Unity 2020
  Assets/MRTK/Tools/MSBuild/Scripts/CompilationPlatformInfo.cs
  Assets/MRTK/Tools/MSBuild/Scripts/TargetFramework.cs
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
Labels: Build / Tools

#9251 remove null propagation with unity object
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityCameraProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealitySpatialAwarenessSystemProfileInspector.cs
  Assets/MRTK/Examples/Demos/UX/BoundingBox/Scripts/BoundingBoxExampleTest.cs
  Assets/MRTK/Examples/Demos/UX/BoundsControl/Scripts/BoundsControlRuntimeExample.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Utilities/FeaturesPanelVisuals.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Utilities/ToggleHandVisualisation.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
Labels: Cleanup

#9254 Merge release -> mrtk_dev
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Documentation/Contributing/Roadmap.md
  Documentation/Images/Packaging/DiscoverFeatures.png
  Documentation/Images/Packaging/RemoveScopedRegistry.png
  Documentation/Images/Packaging/RequiredDependencies.png
  Documentation/ReleaseNotes.md
  Documentation/usingupm.md
  scripts/docs/web/version.js
Labels: Release Management

#9243 Update pipelines to use unitysetup.powershell
  pipelines/templates/assetretargeting.yml
  pipelines/templates/generateprojects.yml
  pipelines/templates/tasks/unitybuild.yml
  pipelines/templates/tests.yml
Labels: CI/Build

#9263 Always print Unity logs in pipeline
  pipelines/templates/assetretargeting.yml
  pipelines/templates/generateprojects.yml
  pipelines/templates/tasks/unitybuild.yml
Labels: CI/Build

#9265 Rework AppX build steps to not timeout
  pipelines/templates/tasks/unitybuild.yml
  pipelines/templates/tests.yml
Labels: CI/Build

#9258 Update CI to run non-Unity validation on "regular" windows-2019 VMs
  pipelines/ci-daily.yml
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci.yaml
  pipelines/pr.yaml
  pipelines/templates/ci-common.yml
  pipelines/templates/validation.yml
Labels: CI/Build

#9268 Update mergetool to monitor merges from stabilization to dev
  pipelines/mergetool.yml
Labels: CI/Build, Release Management

#9262 Update versioning step pre-packaging in pipeline
  Assets/MRTK/StandardAssets/License.txt
  Assets/MRTK/StandardAssets/License.txt.meta
  pipelines/ci-daily.yml
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/ci.yaml
  pipelines/templates/ci-common.yml
  pipelines/templates/common-Unity2019.yml
  pipelines/templates/common.yml
  pipelines/templates/end.yml
  pipelines/templates/tasks/signing.yml
  pipelines/templates/tasks/versionmetadata.yml
  scripts/packaging/versionmetadata.ps1
Labels: CI/Build

#9271 Update version in dev branch after branching for stabilization
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
Labels: Release Management

#9276 Move UPM packing to the non-Unity portion of the pipeline
  pipelines/ci-daily.yml
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci.yaml
  pipelines/pr.yaml
  pipelines/templates/ci-common.yml
  pipelines/templates/common-nonUnity.yml
  pipelines/templates/tasks/pack-upm.yml
  pipelines/templates/tasks/publish-nuget.yml
  pipelines/templates/tasks/validateassets.yml
  pipelines/templates/tasks/validatecode.yml
  pipelines/templates/validation.yml
Labels: CI/Build

#9278 Move NuGet steps out of general CI
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/templates/ci-common.yml
Labels: CI/Build

#9279 Fix internal CI push
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/templates/common-nonUnity.yml
Labels: CI/Build

#9225 [2.6.0 stabilization] add SurfaceMeshesToPlanes, based on #7555
  Assets/MRTK/Core/Definitions/SpatialAwareness/SpatialAwarenessPlanarObject.cs
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scripts/ShowPlaneFindingInstructions.cs
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scripts/ShowPlaneFindingInstructions.cs.meta
  Assets/MRTK/SDK/Experimental/SpatialAwareness.meta
  Assets/MRTK/SDK/Experimental/SpatialAwareness/SurfaceMeshesToPlanes.cs
  Assets/MRTK/SDK/Experimental/SpatialAwareness/SurfaceMeshesToPlanes.cs.meta
  Assets/MRTK/SDK/MRTK.SDK.asmdef
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Documentation/Images/SpatialAwareness/ImportPlaneFinding.png
  Documentation/Images/SpatialAwareness/SurfaceMeshesToPlanes.png
  Documentation/SpatialAwareness/SurfaceMeshesToPlanes.md
Labels: Experimental, HTK Parity, Spatial Mapping / Awareness

#9281 Revert UPM pack on non-Unity machines
  pipelines/ci-daily.yml
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/ci.yaml
  pipelines/pr.yaml
  pipelines/templates/ci-common.yml
  pipelines/templates/common-nonUnity.yml
Labels: CI/Build

#9285 Add Microsoft.MixedReality.Toolkit.PlaneFinding to exclusion list
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
Labels: CI/Build, MSBuild

#9284 Branch synchronization: prerelease/2.6.0_stabilization --> mrtk_development
  Assets/MRTK/Core/Definitions/SpatialAwareness/SpatialAwarenessPlanarObject.cs
  Assets/MRTK/Core/Interfaces/SpatialAwareness/Observers/Experimental/IMixedRealityOnDemandObserver.cs
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scenes/SpatialAwarenessMeshDemo.unity
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scripts/ShowPlaneFindingInstructions.cs
  Assets/MRTK/Examples/Demos/SpatialAwareness/Scripts/ShowPlaneFindingInstructions.cs.meta
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Prefabs/DemoSceneUnderstandingSceneObjectPrefab.prefab
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Profiles/DemoSceneUnderstandingObserverProfile.asset
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scenes/SceneUnderstandingExample.unity
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Editor/SceneUnderstandingObserverProfileInspector.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/Profiles/DefaultSceneUnderstandingObserverProfile.asset
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/SceneUnderstandingObserverProfile.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
  Assets/MRTK/SDK/Experimental/SpatialAwareness.meta
  Assets/MRTK/SDK/Experimental/SpatialAwareness/SurfaceMeshesToPlanes.cs
  Assets/MRTK/SDK/Experimental/SpatialAwareness/SurfaceMeshesToPlanes.cs.meta
  Assets/MRTK/SDK/MRTK.SDK.asmdef
  Assets/MRTK/SDK/Profiles/DefaultMixedRealitySpeechCommandsProfile.asset
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
  Documentation/Images/SpatialAwareness/ImportPlaneFinding.png
  Documentation/Images/SpatialAwareness/SurfaceMeshesToPlanes.png
  Documentation/SpatialAwareness/SceneUnderstanding.md
  Documentation/SpatialAwareness/SpatialAwarenessGettingStarted.md
  Documentation/SpatialAwareness/SurfaceMeshesToPlanes.md
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/ci-packaging.yml
  pipelines/templates/ci-common.yml
  pipelines/templates/tasks/pack-upm.yml
  pipelines/templates/tasks/publish-nuget.yml
  pipelines/templates/tasks/validateassets.yml
  pipelines/templates/tasks/validatecode.yml
  pipelines/templates/validation.yml
Labels: Automerge

#9282 [2.6.0 Stabilization] HandInteractionExample scene updates
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
Labels: Example/Test Scene

#9294 Update Authors list for 2.6
  Documentation/Authors.md
  scripts/ci/contributors.py
Labels: Release Management

#9298 Branch synchronization: prerelease/2.6.0_stabilization --> mrtk_development
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Documentation/Authors.md
  scripts/ci/contributors.py
Labels: Automerge

#9300 Update to be compatible with multiple OpenXR package versions
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
Labels: Hand Tracking, OpenXR

#9295 Create a pipeline for docs binaries generation
  Assets/MRTK/SDK/Editor/Inspectors/Experimental/InteractiveElement/MRTK.SDK.Editor.Experimental.Interactive.asmdef
  Assets/MRTK/SDK/Experimental/InteractiveElement/MRTK.SDK.Experimental.Interactive.asmdef
  pipelines/config/settings.yml
  pipelines/docs-binaries.yml
  scripts/packaging/createbinariesfordocs.ps1
Labels: CI/Build

#9310 Fix XR SDK with HP motion controller
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/HPMotionController.cs
Labels: Release Blocker, XR SDK

#9303 Actually cache handJointService in SolverHandler
  Assets/MRTK/SDK/Features/Utilities/Solvers/SolverHandler.cs
Labels: Solvers

#9311 Cherry-pick: Finger cursor and pointer naming rework (#9280)
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedArticulatedHandPoses.cs
  Assets/MRTK/SDK/Features/UX/Prefabs/Cursors/DefaultGazeCursor.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Cursors/DefaultGazeCursor.prefab.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/Cursors/FingerCursor.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ConicalGrabPointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ParabolicTeleportPointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ParabolicTeleportPointer.prefab.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/PokePointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ShellHandRayPointer.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ShellHandRayPointer.prefab.meta
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MRTK/Tests/PlayModeTests/ChangeActiveProfileTests.cs
  Assets/MRTK/Tests/PlayModeTests/DialogTests.cs
Labels: Input System - Pointer

#9317 replace wmr config checker with asmdef version defines
  Assets/MRTK/Core/MRTK.Core.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/Shared/MRTK.WMR.Shared.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/MRTK.WMR.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/MRTK.WMR.XRSDK.asmdef
Labels: Windows Mixed Reality

#9338 Update XR SDK loader checking in data providers
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/MRTK.OpenXR.asmdef
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/MRTK.WMR.XRSDK.asmdef
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityDeviceManager.cs
  Assets/MRTK/Providers/XRSDK/MRTK.XRSDK.asmdef
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
Labels: Services, XR SDK

#9344 Fix reading mode demo in Unity 2018
  Assets/MRTK/Examples/Demos/ReadingMode/Scenes/ReadingModeDemo.unity
  Assets/MRTK/Examples/StandardAssets/Prefabs/SceneDescriptionPanel.prefab
  ProjectSettings/ProjectVersion.txt
Labels: Example/Test Scene

#9349 Re-enabling shader inspector for later properties.
  Assets/MRTK/Core/Inspectors/MixedRealityStandardShaderGUI.cs
Labels: Shaders / Materials

#9350 Spell check pass for 2.6
  Assets/MRTK/Core/Definitions/Devices/DeviceInputType.cs
  Assets/MRTK/Core/Definitions/Devices/MixedRealityInteractionMapping.cs
  Assets/MRTK/Core/Definitions/SpatialAwareness/Experimental/SpatialAwarenessSceneObject.cs
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityPose.cs
  Assets/MRTK/Core/Definitions/Utilities/MixedRealityTransform.cs
  Assets/MRTK/Core/Inspectors/MixedRealityToolkitFacadeHandler.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityControllerMappingProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Utilities/InspectorUIUtility.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/DebugUtilities.cs
  Assets/MRTK/Core/Utilities/Editor/Setup/MixedRealityToolkitPreserveSettings.cs
  Assets/MRTK/Core/Utilities/Rendering/MaterialInstance.cs
  Assets/MRTK/Examples/Experimental/Elastic/Scripts/WidgetElasticDemo.cs
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/SceneUnderstandingObserverProfile.cs
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionArticulatedHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/InputHandlers/HPMotionControllerInputHandler.cs
  Assets/MRTK/Providers/WindowsMixedReality/XR2018/Controllers/HPMotionController.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Constraints/ConstraintManagerInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/ScrollingObjectCollection/ScrollingObjectCollectionInspector.cs
  Assets/MRTK/SDK/Experimental/ColorPicker/ColorPicker.cs
  Assets/MRTK/SDK/Experimental/Elastic/Scripts/ElasticsManager.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/ConstraintManager.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/MoveAxisConstraint.cs
  Assets/MRTK/SDK/Features/Input/Handlers/EyeTrackingTarget.cs
  Assets/MRTK/SDK/Features/UX/Scripts/AppBar/AppBar.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonIconSet.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/FingerCursor.cs
  Assets/MRTK/SDK/Features/UX/Scripts/HandCoach/HandInteractionHint.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/RiggedHandVisualizer/RiggedHandVisualizer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollection.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
  Assets/MRTK/Tests/PlayModeTests/Experimental/ElasticTests.cs
  Assets/MRTK/Tests/PlayModeTests/PressableButtonTests.cs
  Assets/MRTK/Tests/PlayModeTests/ScrollViewTests.cs
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MRTK/Tools/ExtensionServiceCreator/ExtensionServiceCreator.cs
  Assets/MRTK/Tools/MSBuild/Scripts/CompilationPlatformInfo.cs
  Assets/MRTK/Tools/TextureCombinerWindow/TextureCombinerWindow.cs
Labels: Release Management

#9351 Clean up extra uses of #pragma warning disable
  Assets/MRTK/Core/Utilities/WindowsApiChecker.cs
  Assets/MRTK/Services/InputSystem/InputSystemGlobalListener.cs
Labels: Code Style

#9353 Fix two bounds control related issues
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/TranslationHandles.cs
Labels: Bug, UX Controls - Slate

#9357 [Stabilization 2.6.0] Fix Bounding Box material for Slate prefab
  Assets/MRTK/SDK/Features/UX/Materials/BoundingBoxSlate.mat
  Assets/MRTK/SDK/Features/UX/Materials/BoundingBoxSlate.mat.meta
  Assets/MRTK/SDK/Features/UX/Materials/BoundingBoxSlateGrabbed.mat
  Assets/MRTK/SDK/Features/UX/Materials/BoundingBoxSlateGrabbed.mat.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
Labels: UX Controls - Slate

#9362 Branch synchronization: prerelease/2.6.0_stabilization --> mrtk_development
  Assets/MRTK/Examples/Demos/EyeTracking/DemoTargetPositioning/Scripts/MoveObjByEyeGaze.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scenes/HandInteractionExamples.unity
  Assets/MRTK/SDK/Features/UX/Materials/BoundingBoxSlate.mat
  Assets/MRTK/SDK/Features/UX/Materials/BoundingBoxSlate.mat.meta
  Assets/MRTK/SDK/Features/UX/Materials/BoundingBoxSlateGrabbed.mat
  Assets/MRTK/SDK/Features/UX/Materials/BoundingBoxSlateGrabbed.mat.meta
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/Slate.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateUGUI.prefab
  Assets/MRTK/SDK/Features/UX/Prefabs/Slate/SlateUGUIHoloLens2Buttons.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/TranslationHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/BaseControllerPointer.cs
Labels: Automerge

#9373 Debug -> UnityEngine.Debug in OculusXRSDKDeviceManager
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
Labels: Oculus

#9370 Fix BoundsControl incorrectly calculates world space center of bounds
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
Labels: Bug

#9374 Fix wrong field reference in BaseWindowsMixedRealityCameraSettings
  Assets/MRTK/Providers/WindowsMixedReality/Shared/BaseWindowsMixedRealityCameraSettings.cs
Labels: Windows Mixed Reality

#9381 Update build scripts to allow for arbitrary VS versions
  Assets/MRTK/Tools/MSBuild/MSBuildMRTKTemplates/WSA.Player.Template.props.template
  NuGet/BuildSource.proj
  scripts/packaging/createnugetpackages.ps1
Labels: Build / Tools

#9384 Branch synchronization: prerelease/2.6.0_stabilization --> mrtk_development
  Assets/MRTK/Examples/Demos/Input/Scenes/InputActions/InputActions.MixedRealityInputSimulationProfile.asset
  Assets/MRTK/Examples/Demos/Input/Scenes/PrimaryPointer/PrimaryPointerHandlerExample.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/BaseWindowsMixedRealityCameraSettings.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
Labels: Automerge

#9382 Adds groundwork for migrating projects off NuGet to UPM/.unitypackages
  Assets/MRTK/Tools/MSBuild/Scripts/AssetScriptReferenceRetargeter.cs
  Assets/MRTK/Tools/MSBuild/Scripts/Utilities.cs
  Assets/MRTK/Tools/MSBuild/mrtk_guid_remapping_dictionary.txt
  Assets/MRTK/Tools/MSBuild/mrtk_guid_remapping_dictionary.txt.meta
  Assets/MRTK/Tools/MixedReality.Toolkit.Tools.nuspec
  pipelines/templates/tasks/assetretargeting.yml
  pipelines/templates/tasks/publish-nuget.yml
  pipelines/templates/tasks/publish-upm.yml
Labels: Build / Tools, Package Management - NuGet
