Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-07, with the labels that each got.

#10695 Merge 2.8.1 -> main
  Assets/MRTK/Core/Inspectors/MixedRealityToolkitHelpLinks.cs
  Assets/MRTK/Core/Providers/BaseInputDeviceManager.cs
  Assets/MRTK/Core/Providers/Hands/HandPoseUtils.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Core/Utilities/CameraFOVChecker.cs
  Assets/MRTK/Core/Utilities/CoreServices.cs
  Assets/MRTK/Core/Utilities/MixedRealityServiceRegistry.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPrimitive.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Controllers/OculusXRSDKTouchController.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftArticulatedHand.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftOpenXRGGVHand.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftOpenXRGGVHand.cs.meta
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXRDeviceManager.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/Controllers/WindowsMixedRealityXRSDKArticulatedHand.cs
  Assets/MRTK/Providers/XRSDK/Controllers/GenericXRSDKController.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ControllerPoseSynchronizer.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ObjectManipulator.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundingBox/BoundingBox.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/VisualUtils.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/LinePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MRTK/SDK/Features/Utilities/LRUCache.cs
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
  Assets/MRTK/Tests/PlayModeTests/Core/Utilities/LRUCacheUnitTests.cs
  Packages/manifest.json
Labels: Release Management

#10694 Subsystems improvements (un-boilerplating)
  com.microsoft.mrtk.core/Subsystems/Hands/HandsAggregatorSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Hands/HandsAggregatorSubsystemDescriptor.cs
  com.microsoft.mrtk.core/Subsystems/Hands/HandsSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Hands/HandsSubsystemDescriptor.cs
  com.microsoft.mrtk.core/Subsystems/MRTKSubsystemDescriptor.cs
  com.microsoft.mrtk.core/Subsystems/MRTKSubsystemDescriptor.cs.meta
  com.microsoft.mrtk.core/Subsystems/Speech/PhraseRecognitionSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Speech/PhraseRecognitionSubsystemDescriptor.cs
  com.microsoft.mrtk.input/Subsystems/HandsAggregator/MRTKHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.input/Tests/Runtime/InputSubsystemsTests.cs
Labels: Architecture, MRTK3

#10678 Enable Unity build in pipelines
  Pipelines/Templates/Tasks/build-appx.yaml
  Pipelines/Templates/unity.yaml
  Pipelines/Templates/upm.yaml
  Pipelines/ci.yaml
  Pipelines/pr.yaml
Labels: CI/Build, MRTK3

#10700 Tuning all colliders on pressables to be "skin-tight"
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  com.microsoft.mrtk.extendedassets/Models/Piano.prefab
  com.microsoft.mrtk.extendedassets/Models/PianoBlackKey.prefab
  com.microsoft.mrtk.extendedassets/Models/PianoKey.prefab
  com.microsoft.mrtk.uxcomponents/Buttons/128x32/PressableButton_128x32mm_TextOnly.prefab
  com.microsoft.mrtk.uxcomponents/Buttons/Canvas/Empty Button.prefab
  com.microsoft.mrtk.uxcomponents/Buttons/PressableButton_Custom_Cube.prefab
  com.microsoft.mrtk.uxcomponents/Buttons/PressableButton_Custom_Cylinder.prefab
Labels: UX Controls - Buttons, MRTK3

#10703 Stateviz animator fix
  com.microsoft.mrtk.uxcore/StateVisualizer/StateVisualizer.cs
  com.microsoft.mrtk.uxcore/Tests/Runtime/StateVisualizerTests.cs
Labels: MRTK3, StateVisualizer

#10705 LastHoverExit fix
  com.microsoft.mrtk.core/Editor/Inspectors/StatefulInteractableInspector.cs
  com.microsoft.mrtk.uxcore/Button/PressableButton.cs
Labels: UX Controls - Buttons, MRTK3

#10710 Prefab/undo fixes for FontIconSelectorInspector
  com.microsoft.mrtk.uxcore/Editor/Inspectors/FontIconSet/FontIconSelectorInspector.cs
  com.microsoft.mrtk.uxcore/FontIcons/FontIconSelector.cs
Labels: UX Controls, Code Style, MRTK3

#10715 Fix NullReferenceException when opening PointerProfile without main camera in scene
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MRTK/Core/Services/MixedRealityToolkit.cs
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: MRTK2

#10714 Update CameraCache failure case + perf
  Assets/MRTK/Core/Utilities/CameraCache.cs
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
Labels: MRTK2

#10718 Update some in-package descriptions and docs
  com.microsoft.mrtk.accessibility/Documentation~/Accessibility.md
  com.microsoft.mrtk.audio/Documentation~/Audio.md
  com.microsoft.mrtk.data/Documentation~/DataBinding.md
  com.microsoft.mrtk.environment/Documentation~/Environment.md
  com.microsoft.mrtk.environment/package.json
Labels: MRTK3

#10717 Update CI displayed build number
  pipelines/ci-packaging-internal.yml
  pipelines/templates/tasks/pack-upm.yml
  scripts/packaging/createupmpackages.ps1
Labels: CI/Build, MRTK2

#10722 Removing old workaround code
  com.microsoft.mrtk.core/Interactable/MRTKBaseInteractable.cs
  com.microsoft.mrtk.core/Interactors/IColliderDisabledReceiver.cs
  com.microsoft.mrtk.core/Interactors/IColliderDisabledReceiver.cs.meta
  com.microsoft.mrtk.input/Interactors/HandJointInteractor.cs
Labels: UX Controls - Interactable, MRTK3

#10725 Making HeroShadow.mat use new alpha gradient feature
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExample/HeroShadow.mat
Labels: Shaders / Materials, MRTK3

#10728 Pipeline updates
  Pipelines/Templates/unity.yaml
  UnityProjects/MRTKDevTemplate/Assets/BuildAssets/BuildApp.cs
Labels: CI/Build, MRTK3

#10730 Updating for component governance part 2
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  cgmanifest.json
Labels: MRTK3

#10739 Staging work to refactor some of the joint enums
  com.microsoft.mrtk.core/Subsystems/Hands/IHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.core/Utilities/HandsUtils.cs
  com.microsoft.mrtk.core/Utilities/TrackedHandJoint.cs
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Subsystems/Hands/OpenXRHandsSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/Hands/XRSDKHandsSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/HandsAggregator/MRTKHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/HandPoses/SimulatedArticulatedHandPoses.cs
Labels: BREAKING CHANGE, MRTK3

#10711 Baking mouse support into the rig, by default
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/BoundsControl/CheeseBoundsControl.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/BoundsControl/CoffeeBoundsControl.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/ObjectManipulator/CheeseObjectManipulator.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Whiteboard/WhiteboardExample.prefab
  UnityProjects/MRTKDevTemplate/Assets/Scenes/BoundsControlExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/InteractableButtonExamples.unity
  com.microsoft.mrtk.extendedassets/Models/PianoKey.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK XR Rig.prefab
  com.microsoft.mrtk.input/Utilities/PlatformAwarePhysicsRaycaster.cs
  com.microsoft.mrtk.input/Utilities/PlatformAwarePhysicsRaycaster.cs.meta
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Prefabs/RotateHandle.prefab
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Prefabs/ScaleHandleOcclusion.prefab
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Prefabs/ScaleHandleTraditional.prefab
  com.microsoft.mrtk.uxcomponents/Buttons/128x32/PressableButton_128x32mm_TextOnly.prefab
  com.microsoft.mrtk.uxcomponents/Buttons/PressableButton_Custom_Cube.prefab
  com.microsoft.mrtk.uxcomponents/Buttons/PressableButton_Custom_Cylinder.prefab
  com.microsoft.mrtk.uxcomponents/Slates/Slate.prefab
  com.microsoft.mrtk.uxcomponents/Sliders/NonCanvasSliderBase.prefab
  com.microsoft.mrtk.uxcore/Interop/UGUIInputAdapter.cs
Labels: UX Controls, Mouse Input, MRTK3

#10768 Fix null ref in solver registration
  com.microsoft.mrtk.spatialmanipulation/Utilities/SolverHandler.cs
Labels: Solvers, MRTK3

#10749 Tracking state improvements + polyfilling pointing pose
  com.microsoft.mrtk.core/Subsystems/Hands/HandsAggregatorSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Hands/IHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.input/Assets/Input Actions/MRTK Default Input Actions.inputactions
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK RightHand Controller.prefab
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Interactors/GazePinch/GazePinchInteractor.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractor.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Subsystems/HandsAggregator/MRTKHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.input/Utilities/PointingPosePolyfill.cs
  com.microsoft.mrtk.input/Utilities/PointingPosePolyfill.cs.meta
Labels: Input System - Gaze, Input System - Input Actions, MRTK3

#10781 Ensure serialized allowSwitchOff is propagated to all managed interactables
  com.microsoft.mrtk.uxcore/Toggle/ToggleCollection.cs
Labels: UX Controls, MRTK3

#10780 Ensuring all sample scenes have SampleSceneHandMenu + fixing icons
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/SampleSceneHelper/SampleSceneHandMenu.prefab
  UnityProjects/MRTKDevTemplate/Assets/Scenes/FontIconExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/InputFieldExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VirtualizedScrollRectList.unity
Labels: Example/Test Scene, MRTK3

#10783 ScrollRectCurve example script
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/VirtualizedScrollRectList/VirtualizedListButton.prefab
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VirtualizedScrollRectList.unity
  UnityProjects/MRTKDevTemplate/Assets/Scripts/ScrollRectCurve.cs
  UnityProjects/MRTKDevTemplate/Assets/Scripts/ScrollRectCurve.cs.meta
  UnityProjects/MRTKDevTemplate/Assets/Scripts/VirtualizedScrollRectListTester.cs
Labels: Example/Test Scene, MRTK3

#10802 [MRTK3] Fix audio sample scenes, some script simplification
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Audio/AudioLoFiExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Audio/AudioOcclusionExample.unity
  com.microsoft.mrtk.audio/Effects/AudioInfluencerController.cs
Labels: Spatial Sound / Audio, MRTK3
