Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-05, with the labels that each got.

#10323 Add synchronous CloseImmediate() functions to IProgressIndicator
  Assets/MRTK/SDK/Features/UX/Scripts/ProgressIndicators/IProgressIndicator.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorLoadingBar.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorObjectDisplay.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ProgressIndicators/ProgressIndicatorOrbsRotator.cs
Labels: BREAKING CHANGE

#10571 Fix build window
  Assets/MRTK/Core/Utilities/WebRequestRest/Response.cs
  Assets/MRTK/Core/Utilities/WebRequestRest/Rest.cs
  Assets/MRTK/Core/Utilities/WindowsDevicePortal/DevicePortal.cs
Labels: Build / Tools

#10607 Create pr-internal.yaml
  pipelines/pr-internal.yaml
Labels: CI/Build

#10617 Update Main with 2.8.0
  Assets/MRTK/Core/Definitions/Devices/MixedRealityHandTrackingProfile.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityHandTrackingProfileInspector.cs
  Assets/MRTK/Core/Providers/Hands/BaseHandVisualizer.cs
  Assets/MRTK/Examples/Demos/PulseShader/Profile/PulseShaderHandTrackingProfile.asset
  Assets/MRTK/SDK/Features/UX/Scripts/RiggedHandVisualizer/RiggedHandVisualizer.cs
  Assets/MRTK/SDK/Profiles/DefaultMixedRealityHandTrackingProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1HandTrackingProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2HandTrackingProfile.asset
  Assets/MRTK/SDK/StandardAssets/Controllers/ControllerLeft.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/ControllerLeft.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/ControllerRight.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/ControllerRight.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/GizmoLeft.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/GizmoLeft.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/GizmoRight.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/GizmoRight.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/HandSkeleton.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/HandSkeleton.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/ObsoleteHandSkeleton.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/ObsoleteHandSkeleton.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/OculusControllerLeft.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/OculusControllerLeft.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/OculusControllerRight.prefab
  Assets/MRTK/SDK/StandardAssets/Controllers/OculusControllerRight.prefab.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Gizmos.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Gizmos/GizmoLeft.fbx
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Gizmos/GizmoLeft.fbx.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Gizmos/GizmoRight.fbx
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Gizmos/GizmoRight.fbx.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/LICENSE.md
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/LICENSE.md.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/generic-controller.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/generic-controller/left.glb
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/generic-controller/left.glb.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/generic-controller/right.glb
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/generic-controller/right.glb.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/oculus-touch-v2.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/oculus-touch-v2/left.glb
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/oculus-touch-v2/left.glb.meta
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/oculus-touch-v2/right.glb
  Assets/MRTK/SDK/StandardAssets/Controllers/Visuals/Models/oculus-touch-v2/right.glb.meta
Labels: Release Management

#10618 Update version to 2.9.0
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
  scripts/packaging/updateMRTKVersion.ps1
Labels: Release Management
