Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-06, with the labels that each got.

#10650 Add AsyncCoroutineRunner manually to clean up test logs
  Assets/MRTK/Core/Utilities/Async/AssemblyInfo.cs
  Assets/MRTK/Core/Utilities/Async/AssemblyInfo.cs.meta
  Assets/MRTK/Tests/PlayModeTests/Core/Utilities/Async/AsyncCoroutineRunnerTests.cs
  Assets/MRTK/Tests/PlayModeTests/ObjectManipulatorTests.cs
  Assets/MRTK/Tests/PlayModeTests/SpherePointerTests.cs
  Assets/MRTK/Tests/TestUtilities/PlayModeTestUtilities.cs
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
Labels: Tests

#10660 [MRTK2] Convert code validation pipeline to GitHub actions
  .github/workflows/validation_mrtk2.yaml
  pipelines/ci-daily.yml
  pipelines/ci-packaging-dontpublish.yml
  pipelines/ci-packaging-internal.yml
  pipelines/pr-2020.yaml
  pipelines/pr-internal.yaml
  pipelines/pr.yaml
  pipelines/templates/tasks/githubchanges.yml
  scripts/ci/gitchanges.ps1
  scripts/ci/validatecode.ps1
Labels: CI/Build

#10689 Adding nullchecks to tintables
  com.microsoft.mrtk.uxcore/StateVisualizer/Effects/GraphicTintEffect.cs
  com.microsoft.mrtk.uxcore/StateVisualizer/Effects/SpriteTintEffect.cs
Labels: MRTK3
