Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-02, with the labels that each got.

#10446 Fix Leap hand not reporting position and rotation availability correctly
  Assets/MRTK/Providers/LeapMotion/LeapMotionArticulatedHand.cs
Labels: Leap Motion

#10471 Apply playspace alignment from the WinMR XR2018 observer to the WinMR XRSDK and OpenXR observers
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealitySpatialMeshObserver.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKSpatialMeshObserver.cs
Labels: Spatial Mapping / Awareness

#6445 [On Hold Until July 2021] [Experimental] PinchSliderBox + PinchSpring
  Assets/MRTK/Core/Extensions/EventSystemExtensions.cs
  Assets/MRTK/Examples/Experimental/PinchSliderBox.meta
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Materials.meta
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Materials/PinchSliderBoxHighlight.mat
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Materials/PinchSliderBoxHighlight.mat.meta
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Materials/PinchSpringHandle.mat
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Materials/PinchSpringHandle.mat.meta
  Assets/MRTK/Examples/Experimental/PinchSliderBox/PinchSliderBoxExamples.unity
  Assets/MRTK/Examples/Experimental/PinchSliderBox/PinchSliderBoxExamples.unity.meta
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Prefabs.meta
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Prefabs/PinchSliderBoxHighlight.prefab
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Prefabs/PinchSliderBoxHighlight.prefab.meta
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Prefabs/PinchSliderBoxThumb.prefab
  Assets/MRTK/Examples/Experimental/PinchSliderBox/Prefabs/PinchSliderBoxThumb.prefab.meta
  Assets/MRTK/SDK/Experimental/PinchSliderBox.meta
  Assets/MRTK/SDK/Experimental/PinchSliderBox/PinchSliderBox.cs
  Assets/MRTK/SDK/Experimental/PinchSliderBox/PinchSliderBox.cs.meta
  Assets/MRTK/SDK/Experimental/PinchSliderBox/PinchSpring.cs
  Assets/MRTK/SDK/Experimental/PinchSliderBox/PinchSpring.cs.meta
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/MinMaxScaleConstraint.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Sliders/PinchSlider.cs
  Assets/MRTK/Services/InputSystem/AssemblyInfo.cs
  Assets/MRTK/Services/InputSystem/AssemblyInfo.cs.meta
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: Experimental, UX Controls
