Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-10, with the labels that each got.

#11060 Adding InitialStateCheck to select/press actions
  com.microsoft.mrtk.input/Assets/Input Actions/MRTK Default Input Actions.inputactions
Labels: Input System, MRTK usability, MRTK3

#11070 Adding missing ARF dep to mrtk.input
  com.microsoft.mrtk.input/package.json
Labels: Package Management, MRTK3

#11066 Reorganizing interactor visual components to allow for custom reticles
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/BaseReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKLineVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKPokeReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
Labels: MRTK3

#11072 Spell check and formatting updates
  com.microsoft.mrtk.accessibility/Utilities/DescribableObject.cs
  com.microsoft.mrtk.accessibility/Utilities/TextAccessibility.cs
  com.microsoft.mrtk.core/Editor/Inspectors/Utilities/InspectorUIUtility.cs
  com.microsoft.mrtk.core/Interactables/MRTKBaseInteractable.cs
  com.microsoft.mrtk.core/Interactors/IProxyInteractor.cs
  com.microsoft.mrtk.core/Utilities/Attributes/DrawIfAttribute.cs
  com.microsoft.mrtk.data/Runtime/Scripts/DataConsumers/DataConsumerThemableBase.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Helper/DataParser.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Helper/LeastRecentlyUsedCache.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Helper/TruncateString.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Interfaces/IDataCollectionEvents.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Interfaces/IDataCollectionItemPlacer.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Interfaces/IDataConsumerCollection.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Interfaces/IDataConsumerThemable.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Interfaces/IDataKeyPathMapper.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Interfaces/IDataNode.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Interfaces/IDataObjectPool.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Interfaces/IDataSource.cs
  com.microsoft.mrtk.data/Runtime/Scripts/ItemPlacers/DataCollectionItemPlacerGOBase.cs
  com.microsoft.mrtk.diagnostics/Subsystems/PerformanceStatsSubsystem.cs
  com.microsoft.mrtk.input/Editor/InputValidation.cs
  com.microsoft.mrtk.input/InteractionModes/InteractionModeDefinition.cs
  com.microsoft.mrtk.input/InteractionModes/InteractionModeManager.cs
  com.microsoft.mrtk.input/Interactors/HandJointInteractor.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/Poke/PokeInteractor.cs
  com.microsoft.mrtk.input/Simulation/Devices/CameraSimulationSettings.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedEyeGaze.cs
  com.microsoft.mrtk.input/Tests/Runtime/BasicInputTests.cs
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerModelLoader.cs
  com.microsoft.mrtk.input/Visualizers/README.txt
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/ConstraintManager.cs
  com.microsoft.mrtk.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/ObjectManipulatorTests.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/TransformViaInteractorTests.cs
  com.microsoft.mrtk.spatialmanipulation/Utilities/Vector3Smoothed.cs
  com.microsoft.mrtk.tools/SubsystemWizard/SubsystemGenerator.cs
  com.microsoft.mrtk.tools/SubsystemWizard/SubsystemWizardWindow.cs
  com.microsoft.mrtk.uxcomponents.noncanvas/Theming/ProfileTemplates/ControlThemes/ButtonTheme.cs
  com.microsoft.mrtk.uxcore/FontIcons/FontIconSet.cs
  com.microsoft.mrtk.uxcore/Interop/UGUIInputAdapter.cs
  com.microsoft.mrtk.uxcore/Slider/Visuals/CanvasSliderVisuals.cs
  com.microsoft.mrtk.uxcore/Tests/Runtime/StateVisualizerTests.cs
Labels: MRTK3

#10797 Fixed GetAsync method in Rest class
  Assets/MRTK/Core/Utilities/WebRequestRest/ResponseUtils.cs
  Assets/MRTK/Core/Utilities/WebRequestRest/Rest.cs
Labels: MRTK2

#11075 Fixing ObjManip HostTransform bugs
  com.microsoft.mrtk.core/Utilities/Extensions/VectorExtensions.cs
  com.microsoft.mrtk.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/ObjectManipulatorTests.cs
Labels: UX Controls - ObjectManipulator, MRTK3

#11076 Add text-to-speech (tts) subsystem definition
  com.microsoft.mrtk.accessibility/Subsystems/AccessibilitySubsystemConfig.cs
  com.microsoft.mrtk.core/Subsystems/Speech/ITextToSpeechSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Speech/ITextToSpeechSubsystem.cs.meta
  com.microsoft.mrtk.core/Subsystems/Speech/TextToSpeechSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Speech/TextToSpeechSubsystem.cs.meta
  com.microsoft.mrtk.core/Subsystems/Speech/TextToSpeechSubsystemConfig.cs
  com.microsoft.mrtk.core/Subsystems/Speech/TextToSpeechSubsystemConfig.cs.meta
  com.microsoft.mrtk.core/Subsystems/Speech/TextToSpeechSubsystemDescriptor.cs
  com.microsoft.mrtk.core/Subsystems/Speech/TextToSpeechSubsystemDescriptor.cs.meta
Labels: Accessibility, MRTK3

#10726 Adding lint-action Github Action
  .github/workflows/lint_mrtk3.yaml
Labels: MRTK3

#11081 Reverting to super-linter
  .github/workflows/lint_mrtk3.yaml
Labels: MRTK3

#11082 Removing overzealous push trigger
  .github/workflows/lint_mrtk3.yaml
Labels: MRTK3

#11084 Removing super-linter :(
  .github/workflows/lint_mrtk3.yaml
Labels: MRTK3

#11035 Making differences between floor-offset-relative space and rig-relative space explicit
  UnityProjects/MRTKDevTemplate/Assets/Data Binding Example/Scenes/DataBindingExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Audio/AudioLoFiExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Audio/AudioOcclusionExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/BoundsControlExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasUITearsheet.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/DialogExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/EyeGazeExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/FontIconExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandMenuExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/InputFieldExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/InteractableButtonExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/MagicWindowExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NearMenuExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/ObjectBarExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/SlateDrawingExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/SpatialMappingExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/ToggleCollectionExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/TopNavigationExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/UIBackplateExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/UITearSheet.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VirtualizedScrollRectList.unity
  UnityProjects/MRTKDevTemplate/Assets/Scripts/SampleSceneHandMenu.cs
  UnityProjects/MRTKDevTemplate/Assets/UX Theming Example/Scenes/AudioTheming.unity
  UnityProjects/MRTKDevTemplate/Assets/UX Theming Example/Scenes/BatteryLevelExample.unity
  UnityProjects/MRTKDevTemplate/Assets/UX Theming Example/Scenes/CoreUXThemingExample.unity
  com.microsoft.mrtk.core/Utilities/HandJointPose.cs
  com.microsoft.mrtk.core/Utilities/PlayspaceUtilities.cs
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK XR Rig.prefab
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedHMD.cs
  com.microsoft.mrtk.input/Simulation/InputSimulator.cs
  com.microsoft.mrtk.input/Simulation/Prefabs/MRTKInputSimulator.prefab
  com.microsoft.mrtk.input/Subsystems/Hands/OpenXRHandsSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/Hands/XRSDKHandsSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/SyntheticHandsSubsystem.cs
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/InputTestUtilities.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/InputActionPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/PolyfillHandRayPoseSource.cs
Labels: AR Foundation, MRTK3

#11087 Changing SqueezableBoxVisuals to allow no box renderer
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Labels: UX Controls - Bounds Control, MRTK3

#11090 Move most scripts in UXComp to UXCore
  com.microsoft.mrtk.uxcore/InputField.meta
  com.microsoft.mrtk.uxcore/InputField/MRTKInputFieldManager.cs
  com.microsoft.mrtk.uxcore/InputField/MRTKInputFieldManager.cs.meta
  com.microsoft.mrtk.uxcore/InputField/MRTKTMPInputField.cs
  com.microsoft.mrtk.uxcore/InputField/MRTKTMPInputField.cs.meta
  com.microsoft.mrtk.uxcore/InputField/MRTKUGUIInputField.cs
  com.microsoft.mrtk.uxcore/InputField/MRTKUGUIInputField.cs.meta
  com.microsoft.mrtk.uxcore/Keyboard.meta
  com.microsoft.mrtk.uxcore/Keyboard/Native.meta
  com.microsoft.mrtk.uxcore/Keyboard/Native/KeyboardPreview.cs
  com.microsoft.mrtk.uxcore/Keyboard/Native/KeyboardPreview.cs.meta
  com.microsoft.mrtk.uxcore/MRTK.UXCore.asmdef
Labels: MRTK3

#11085 Porting remaining MRTK2 constraints for completeness
  com.microsoft.mrtk.core/Utilities/AxisFlags.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/ConstraintManager.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/FaceUserConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedDistanceConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedDistanceConstraint.cs.meta
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedRotationToUserConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedRotationToUserConstraint.cs.meta
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedRotationToWorldConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedRotationToWorldConstraint.cs.meta
  com.microsoft.mrtk.spatialmanipulation/Constraints/MaintainApparentSizeConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/MaintainApparentSizeConstraint.cs.meta
  com.microsoft.mrtk.spatialmanipulation/Constraints/MinMaxScaleConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/MoveAxisConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/MoveAxisConstraint.cs.meta
  com.microsoft.mrtk.spatialmanipulation/Constraints/RotationAxisConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/RotationAxisConstraint.cs.meta
  com.microsoft.mrtk.spatialmanipulation/Constraints/TransformConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/Solver.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/Solver.cs.meta
  com.microsoft.mrtk.spatialmanipulation/Solvers/SolverHandler.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/SolverHandler.cs.meta
  com.microsoft.mrtk.uxcore/Button/InteractableAnimatorVisuals.cs
Labels: MRTK3

#11089 Add glTF related validation rules
  com.microsoft.mrtk.input/Editor/InputValidation.cs
  com.microsoft.mrtk.input/Editor/MRTK.Input.Editor.asmdef
Labels: MRTK3

#11096 [MRTK3] Avoid closest-point checks on non-convex meshes in ReticleMagnetism (fix for ObjectManipulator)
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/ReticleMagnetism.cs
Labels: MRTK3

#11105 Add missing mappings for Quest Touch controller "touch" bindings
  Assets/MRTK/Providers/XRSDK/Controllers/GenericXRSDKController.cs
Labels: MRTK2

#11106 Update Open XR Package Settings.asset
  Assets/XR/Settings/Open XR Package Settings.asset
Labels: MRTK2

#11104 [pre.12 blocking] Fixing constraint warnings, add sample scene
  UnityProjects/MRTKDevTemplate/Assets/Scenes/LegacyConstraintsExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/LegacyConstraintsExample.unity.meta
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedDistanceConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedRotationToUserConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/FixedRotationToWorldConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/MaintainApparentSizeConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/MoveAxisConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/RotationAxisConstraint.cs
Labels: MRTK3

#11068 Suppress repeated warnings when trying to retrieve controllers
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerModelLoader.cs
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerVisualizer.cs
Labels: MRTK3

#11086 Fixing issues with constraints and off-center ObjManip host transforms
  com.microsoft.mrtk.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
Labels: UX Controls - ObjectManipulator, MRTK3

#11118 Fixing tests, again
  com.microsoft.mrtk.accessibility/Tests/Runtime/DescribableObjectTests.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Tests/Runtime/BasicInputTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/FuzzyGazeInteractorTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/InteractionModeManagerTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/InteractorDwellManagerTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/MRTK.Input.RuntimeTests.asmdef
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/BaseRuntimeInputTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/InputTestUtilities.cs
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/TestController.cs
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/TestHand.cs
  com.microsoft.mrtk.input/Utilities/HandRay.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/BoundsControlTests.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/ObjectManipulatorTests.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/TransformViaInteractorTests.cs
  com.microsoft.mrtk.uxcore/Tests/Runtime/StateVisualizerTests.cs
Labels: Input System, Tests, Input Simulation, MRTK3

#11115 CI pipeline changes (tests.yaml)
  Pipelines/Templates/tests.yaml
  Pipelines/pr.yaml
Labels: MRTK3

#11128 Clarify OpenXR support statement
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
Labels: MRTK2

#11134 Vanilla UGUI demo scene
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/SampleSceneHelper/DescriptionPanel.prefab
  UnityProjects/MRTKDevTemplate/Assets/Scenes/SampleEmptyMRTKScene.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VanillaUGUIExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VanillaUGUIExample.unity.meta
Labels: UnityUI, MRTK3

#11137 Update to pre.12
  Pipelines/Config/settings.yaml
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectSettings.asset
Labels: MRTK3

#11133 Update to ControllerVisualizer.cs to only control the lifecycle of direct actions
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/SyntheticHandsSubsystem.cs
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerVisualizer.cs
Labels: MRTK3

#11136 Add .npmrc files for feed hardening
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  com.microsoft.mrtk.accessibility/.npmrc
  com.microsoft.mrtk.audio/.npmrc
  com.microsoft.mrtk.core/.npmrc
  com.microsoft.mrtk.data/.npmrc
  com.microsoft.mrtk.diagnostics/.npmrc
  com.microsoft.mrtk.extendedassets/.npmrc
  com.microsoft.mrtk.input/.npmrc
  com.microsoft.mrtk.spatialmanipulation/.npmrc
  com.microsoft.mrtk.standardassets/.npmrc
  com.microsoft.mrtk.tools/.npmrc
  com.microsoft.mrtk.uxcomponents.noncanvas/.npmrc
  com.microsoft.mrtk.uxcomponents/.npmrc
  com.microsoft.mrtk.uxcore/.npmrc
  com.microsoft.mrtk.windowsspeech/.npmrc
Labels: MRTK3

#11143 Remove DescribableFlag, merge non-duplicated data into DescribableObject
  com.microsoft.mrtk.accessibility/Utilities/DescribableFlag.cs
  com.microsoft.mrtk.accessibility/Utilities/DescribableFlag.cs.meta
  com.microsoft.mrtk.accessibility/Utilities/DescribableObject.cs
Labels: Accessibility, MRTK3

#11144 Migrating to implicit backing fields on StatefulInteractable
  com.microsoft.mrtk.core/Editor/BaseInteractableEditor.cs
  com.microsoft.mrtk.core/Editor/Inspectors/StatefulInteractableInspector.cs
  com.microsoft.mrtk.core/Editor/Inspectors/Utilities/InspectorUIUtility.cs
  com.microsoft.mrtk.core/Interactables/StatefulInteractable.cs
Labels: Code Style, MRTK3

#11147 Change GGVPointer to use registered raycast provider
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
Labels: MRTK2

#11148 Fix for GazeTarget getting overwritten by non-gaze pointers
  Assets/MRTK/Services/InputSystem/FocusProvider.cs
Labels: MRTK2
