Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-09, with the labels that each got.

#10962 Delete old No Pre Init loader
  UnityProjects/MRTKDevTemplate/Assets/XR/Loaders/Open XR Loader No Pre Init.asset
  UnityProjects/MRTKDevTemplate/Assets/XR/Loaders/Open XR Loader No Pre Init.asset.meta
Labels: MRTK3

#10964 Check in BurstAotSettings
  UnityProjects/MRTKDevTemplate/ProjectSettings/BurstAotSettings_Android.json
  UnityProjects/MRTKDevTemplate/ProjectSettings/BurstAotSettings_StandaloneWindows.json
  UnityProjects/MRTKDevTemplate/ProjectSettings/BurstAotSettings_WSAPlayer.json
  UnityProjects/MRTKDevTemplate/ProjectSettings/CommonBurstAotSettings.json
Labels: MRTK3

#10961 Add `$schema` to `cgmanifest.json`
  cgmanifest.json
Labels: MRTK3

#10787 Platform Controller Visualization
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  cgmanifest.json
  com.microsoft.mrtk.input/Assets/Input Actions/MRTK Default Input Actions.inputactions
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK RightHand Controller.prefab
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Interactors/GazePinch/GazePinchInteractor.cs
  com.microsoft.mrtk.input/Interactors/Grab/GrabInteractor.cs
  com.microsoft.mrtk.input/Interactors/HandJointInteractor.cs
  com.microsoft.mrtk.input/Interactors/Poke/PokeInteractor.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractor.cs
  com.microsoft.mrtk.input/MRTK.Input.asmdef
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/HandJointPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/IPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/InputActionPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/PolyfillHandRayPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/PolyfillHandRayPoseSource.cs.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerModel.shadervariants
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerModel.shadervariants.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerModelLoader.cs
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerModelLoader.cs.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerVisualizer.cs
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerVisualizer.cs.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/LICENSE.md
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/LICENSE.md.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/LeftControllerModel.prefab
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/LeftControllerModel.prefab.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/RightControllerModel.prefab
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/RightControllerModel.prefab.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/left.glb
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/left.glb.meta
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/right.glb
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/Models/generic-trigger-squeeze-touchpad-thumbstick/right.glb.meta
  com.microsoft.mrtk.input/Visualizers/README.txt
  com.microsoft.mrtk.input/Visualizers/README.txt.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_left_hand.prefab
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_right_hand.prefab
Labels: BREAKING CHANGE, MRTK3

#10972 Fix typos in validatecode.ps1
  Pipelines/Scripts/validatecode.ps1
Labels: MRTK3

#10871 [MRTK3] Changing default color space to Linear + material adjustments
  Pipelines/Scripts/validatecode.ps1
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectSettings.asset
  com.microsoft.mrtk.extendedassets/Materials/Coffee.mat
  com.microsoft.mrtk.extendedassets/Materials/MRTK_GemCoffee_mat.mat
  com.microsoft.mrtk.standardassets/Materials/Backplate/CanvasBackplate.mat
  com.microsoft.mrtk.standardassets/Materials/Backplate/CanvasBackplateQuad.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_02mm_Gradient.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_04mm_Gradient.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_06mm_Gradient.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_08mm_Gradient.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_10mm_Gradient.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_10mm_Gradient_Circular.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_10mm_Gradient_NoOutline.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_12mm_Gradient.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_12mm_Gradient_NoOutline.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_12mm_Gradient_Stencil.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_13mm_Gradient.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_InnerQuad.mat
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/MRTK_Backplate_InnerQuad_Circular.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Charcoal.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Cyan.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_DarkBrown.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_DarkGray.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Emerald.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Gray.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Green.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Lime.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Magenta.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Orange.mat
  com.microsoft.mrtk.standardassets/Materials/MRTK_Standard_Pink.mat
Labels: MRTK3

#10977 CameraFOVChecker from MRTK2
  com.microsoft.mrtk.core/Utilities/CameraFOVChecker.cs
  com.microsoft.mrtk.core/Utilities/CameraFOVChecker.cs.meta
Labels: Accessibility, MRTK3

#10976 Update FollowJoint to use serialization callbacks for migration
  com.microsoft.mrtk.input/Utilities/FollowJoint.cs
Labels: MRTK3

#10980 Update Non-canvas package display name for UPM alphabetical ordering
  com.microsoft.mrtk.uxcomponents.noncanvas/package.json
Labels: MRTK3

#10983 Update CameraFOVChecker.cs to use new tuple syntax
  com.microsoft.mrtk.core/Utilities/CameraFOVChecker.cs
Labels: MRTK3

#10981 [MRTK3] Separate the magic window example out of the HandInteractionExamples scene
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/MagicWindowExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/MagicWindowExample.unity.meta
Labels: MRTK3

#10973 [MRTK3] Updating Hand Menu & Near Menu prefabs and examples to Canvas
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/SampleSceneHelper/SampleSceneHandMenu.prefab
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandMenuExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NearMenuExamples.unity
  com.microsoft.mrtk.uxcomponents.noncanvas/HandMenu/HandMenu1x4.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/HandMenu/HandMenu2x4.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/HandMenu/HandMenuLarge.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/NearMenu/NearMenu3x1.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/NearMenu/NearMenu3x2.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/NearMenu/NearMenu3x3.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/NearMenu/NearMenu4x1.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/NearMenu/NearMenu4x2.prefab
Labels: UX Controls - Hand Menu, MRTK3

#10984 Remove unused variable from ControllerVisualizer.cs
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerVisualizer.cs
Labels: MRTK3

#10987 Remove unused collider and add explicit references to Magic Window prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/MagicWindow/MagicWindowExample.prefab
Labels: MRTK3

#10988 Remove empty GazeController and replace with ActionBasedController
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Gaze Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK XR Rig.prefab
  com.microsoft.mrtk.input/Controllers/GazeController.cs
  com.microsoft.mrtk.input/Controllers/GazeController.cs.meta
  com.microsoft.mrtk.input/Controllers/GazeControllerState.cs
  com.microsoft.mrtk.input/Controllers/GazeControllerState.cs.meta
Labels: BREAKING CHANGE, MRTK3

#10990 Bumping CI to pre.11
  Pipelines/Config/settings.yaml
Labels: MRTK3

#10992 Update tracking state mapping for base hand controller prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
Labels: MRTK3

#10993 Remove duplicate PlayspaceUtilities.ReferenceTransform.rotation application
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractor.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractorVisual.cs
Labels: MRTK3

#10989 Further obsolete ArticulatedHandController's PinchPose
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Controllers/ArticulatedHandControllerState.cs
Labels: MRTK3

#10994 Improve reset logic for hand data
  com.microsoft.mrtk.input/Subsystems/Hands/OpenXRHandsSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/Hands/XRSDKHandsSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/HandsAggregator/MRTKHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/SyntheticHandsSubsystem.cs
Labels: MRTK3

#10996 Assorted style, formatting, and general updates
  com.microsoft.mrtk.core/Subsystems/Hands/HandsAggregatorSubsystem.cs
  com.microsoft.mrtk.core/Utilities/HandBounds.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/RingReticle.cs
  com.microsoft.mrtk.input/Interactors/Poke/PokeInteractor.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractorVisual.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Subsystems/HandsAggregator/MRTKHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/SyntheticHandsSubsystem.cs
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHandMeshVisualizer.cs
  com.microsoft.mrtk.uxcore/Interop/UGUIInputAdapterDraggable.cs
Labels: MRTK3

#10999 Fixing hand rays jittering due to pose update order
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractor.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractorVisual.cs
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerVisualizer.cs
Labels: Input System, MRTK3

#11003 Explicitly specify registry in npm install
  Pipelines/Scripts/publish-upm.ps1
Labels: MRTK3

#11009 [MRTK3] Updated HandMenu & NearMenu prefabs to use CanvasBackplate.mat in the StandardAssets package
  com.microsoft.mrtk.uxcomponents.noncanvas/HandMenu/HandMenu2x4.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/NearMenu/NearMenu4x2.prefab
Labels: MRTK3

#11012 [MRTK3] Near menu & Hand menu - backplate radius update
  com.microsoft.mrtk.uxcomponents.noncanvas/HandMenu/HandMenu2x4.prefab
  com.microsoft.mrtk.uxcomponents.noncanvas/NearMenu/NearMenu4x2.prefab
Labels: MRTK3

#11028 Adding single-arg overload to ForceSetToggled for UnityEvents
  com.microsoft.mrtk.core/Interactable/StatefulInteractable.cs
Labels: UX Controls, MRTK usability, MRTK3

#11022 Creating dedicated controls for adjusting reticle visuals. Renaming visual component scripts
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK RightHand Controller.prefab
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/BaseReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/BaseReticleVisual.cs.meta
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKLineVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKLineVisual.cs.meta
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs.meta
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/Reticle.prefab
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/Reticle.prefab.meta
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/RingReticle.cs
Labels: BREAKING CHANGE, MRTK3

#11036 Fix TouchPointer NullReferenceException
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Cursors/BaseCursor.cs
Labels: MRTK2

#11042 Reticle Visual Feedback changes
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/BaseReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/RingReticle.cs
Labels: MRTK3

#11043 Removing IMrtkInteractorVisual interface
  com.microsoft.mrtk.input/Interactors/Gaze/GazeInteractor.cs
  com.microsoft.mrtk.input/Interactors/HandJointInteractor.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/IMRTKInteractorVisuals.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/IMRTKInteractorVisuals.cs.meta
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKLineVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/Poke/PokeInteractor.cs
Labels: BREAKING CHANGE, MRTK3

#11038 Split poke interactor visuals from the main script
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKPokeReticleVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKPokeReticleVisual.cs.meta
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
Labels: MRTK3

#11040 Making SimulatedEyeGazeDevice public so folks can check for its existence
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedEyeGaze.cs
Labels: MRTK3

#11048 Update to 2.2.0 version of Visual Profiler
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
Labels: MRTK3

#11047 Create PoseSourceDriver
  com.microsoft.mrtk.input/Utilities/PoseSource/PoseSourceDriver.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/PoseSourceDriver.cs.meta
Labels: MRTK3

#11056 Fixing GazePinch calculations
  com.microsoft.mrtk.input/Interactors/GazePinch/GazePinchInteractor.cs
Labels: UX Controls, Blocking, Urgency-Now, Input System - Gaze, MRTK3

#11059 Fixing FuzzyGaze being too "shy"
  com.microsoft.mrtk.input/Interactors/Gaze/FuzzyGazeInteractor.cs
  com.microsoft.mrtk.input/Interactors/Gaze/GazeInteractor.cs
Labels: Input System - Gaze, MRTK3

#11062 Rename folder to Interactables
  com.microsoft.mrtk.core/Interactables.meta
  com.microsoft.mrtk.core/Interactables/ISnapInteractable.cs
  com.microsoft.mrtk.core/Interactables/ISnapInteractable.cs.meta
  com.microsoft.mrtk.core/Interactables/MRTKBaseInteractable.cs
  com.microsoft.mrtk.core/Interactables/MRTKBaseInteractable.cs.meta
  com.microsoft.mrtk.core/Interactables/StatefulInteractable.cs
  com.microsoft.mrtk.core/Interactables/StatefulInteractable.cs.meta
Labels: MRTK3

#11051 Overhaul 2D->3D mouse projection logic for 2D input
  com.microsoft.mrtk.input/Utilities/PlatformAwarePhysicsRaycaster.cs
  com.microsoft.mrtk.uxcore/Interop/CanvasProxyInteractor.cs
  com.microsoft.mrtk.uxcore/Interop/UGUIInputAdapterDraggable.cs
Labels: UX Controls, Mouse Input, MRTK3

#11054 Update required XR Core Utils version to 2.1.0
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  com.microsoft.mrtk.core/package.json
  com.microsoft.mrtk.input/package.json
Labels: MRTK3

#11053 Reallow "live debugging" of unit tests
  com.microsoft.mrtk.core/Tests/TestUtilities/RuntimeTestUtilities.cs
  com.microsoft.mrtk.input/Tests/Runtime/BasicInputTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/BaseRuntimeInputTests.cs
Labels: MRTK3

#11061 Remove unused DisabledInteractorTypes
  com.microsoft.mrtk.core/Interactables/MRTKBaseInteractable.cs
Labels: MRTK3
