Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-11, with the labels that each got.

#11164 Upgrading XRI to 2.2
  UnityProjects/MRTKDevTemplate/Assets/XRI/Settings/Resources/InteractionLayerSettings.asset
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  com.microsoft.mrtk.core/package.json
  com.microsoft.mrtk.input/package.json
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/ObjectManipulatorTests.cs
  com.microsoft.mrtk.spatialmanipulation/package.json
  com.microsoft.mrtk.uxcore/package.json
Labels: MRTK3

#11166 Removing unnecessary controller visuals from the default HoloLens profile to reduce memory footprint
  Assets/MRTK/SDK/Profiles/DefaultHoloLensControllerVisualizationProfile.asset
  Assets/MRTK/SDK/Profiles/DefaultHoloLensControllerVisualizationProfile.asset.meta
  Assets/MRTK/SDK/Profiles/HoloLens1/DefaultHoloLens1InputSystemProfile.asset
  Assets/MRTK/SDK/Profiles/HoloLens2/DefaultHoloLens2InputSystemProfile.asset
Labels: MRTK2

#11167 Initial phase of settings for supporting additional Android platforms, like ARCore
  UnityProjects/.gitignore
  UnityProjects/MRTKDevTemplate/Assets/BuildAssets/IconBlackBackground.png
  UnityProjects/MRTKDevTemplate/Assets/BuildAssets/IconBlackBackground.png.meta
  UnityProjects/MRTKDevTemplate/Assets/XR/Loaders/AR Core Loader.asset
  UnityProjects/MRTKDevTemplate/Assets/XR/Loaders/AR Core Loader.asset.meta
  UnityProjects/MRTKDevTemplate/Assets/XR/Settings/AR Core Settings.asset
  UnityProjects/MRTKDevTemplate/Assets/XR/Settings/AR Core Settings.asset.meta
  UnityProjects/MRTKDevTemplate/Assets/XR/Settings/OpenXR Editor Settings.asset
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  UnityProjects/MRTKDevTemplate/ProjectSettings/EditorBuildSettings.asset
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectSettings.asset
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK XR Rig.prefab
Labels: MRTK3

#11168 Reserialize sample scenes
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Audio/AudioOcclusionExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/BoundsControlExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasUITearsheet.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/EyeGazeExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/FontIconExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandMenuExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/InteractableButtonExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/LegacyConstraintsExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/MagicWindowExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NearMenuExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/TopNavigationExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/UITearSheet.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VanillaUGUIExample.unity
Labels: MRTK3

#11170 Refactor out EventSystem.prefab for sample scenes
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/EventSystem.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/EventSystem.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Scenes/BoundsControlExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasUITearsheet.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/DialogExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/EyeGazeExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/FontIconExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandMenuExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/InputFieldExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/InteractableButtonExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/LegacyConstraintsExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/MagicWindowExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NearMenuExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/ObjectBarExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/SampleEmptyMRTKScene.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/SlateDrawingExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/SpatialMappingExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/ToggleCollectionExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/TopNavigationExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/UIBackplateExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/UITearSheet.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VanillaUGUIExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VirtualizedScrollRectList.unity
Labels: MRTK3

#11129 Update build logic for finding sdk
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
Labels: MRTK2

#11127 Add OpenXR "render from PV cam" note
  Assets/MRTK/Providers/OpenXR/Editor/MRTK.OpenXR.Editor.asmdef
  Assets/MRTK/Providers/OpenXR/Editor/OpenXRCameraSettingsProfileInspector.cs
  Assets/MRTK/Providers/WindowsMixedReality/Shared/Editor/WindowsMixedRealityCameraSettingsProfileInspector.cs
Labels: MRTK2

#11183 Update InterfaceSelector to work with arrays/lists
  com.microsoft.mrtk.core/Editor/Inspectors/PropertyDrawers/InterfaceSelectorDrawer.cs
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Gaze Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK RightHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK XR Rig.prefab
  com.microsoft.mrtk.input/Utilities/PoseSource/FallbackCompositePoseSource.cs
Labels: MRTK3

#11182 Reserialize our Hand Controller prefabs
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Interaction Manager.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK RightHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK XR Rig.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/Obsolete MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/Obsolete MRTK Hand Controller.prefab.meta
Labels: MRTK3

#11181 Refactor out HasAnyControls()
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/SyntheticHandsSubsystem.cs
  com.microsoft.mrtk.input/Utilities/InputActionExtensions.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/InputActionPoseSource.cs
Labels: MRTK3

#11189 Fix the docs build
  .gitignore
  Assets/MRTK/Providers/OpenXR/Editor/OpenXRCameraSettingsProfileInspector.cs
Labels: MRTK2

#11191 Scope mrcSettingsButtonContent behind the same define that it's used in
  Assets/MRTK/Providers/OpenXR/Editor/OpenXRCameraSettingsProfileInspector.cs
Labels: MRTK2

#11178 Don't introduce GetAwaiter extension methods conflicting with Unity's Awaitable in 2023.1+
  Assets/MRTK/Core/Utilities/Async/AwaiterExtensions.cs
Labels: MRTK2

#11185 Update README.md images links
  README.md
Labels: MRTK2

#11192 Allow for custom min and max ranges for sliders
  com.microsoft.mrtk.core/Editor/Inspectors/PropertyDrawers/DrawIfPropertyDrawer.cs
  com.microsoft.mrtk.core/Editor/Inspectors/PropertyDrawers/VariableRangeAttributeDrawer.cs
  com.microsoft.mrtk.core/Editor/Inspectors/PropertyDrawers/VariableRangeAttributeDrawer.cs.meta
  com.microsoft.mrtk.core/Utilities/Attributes/VariableRangeAttribute.cs
  com.microsoft.mrtk.core/Utilities/Attributes/VariableRangeAttribute.cs.meta
  com.microsoft.mrtk.uxcore/Slider/Slider.cs
  com.microsoft.mrtk.uxcore/Slider/Visuals/CanvasSliderVisuals.cs
  com.microsoft.mrtk.uxcore/Slider/Visuals/SliderVisuals.cs
Labels: BREAKING CHANGE, MRTK3

#11190 Resolve Unity 2023 build warnings
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfigurator.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs
  Assets/MRTK/Core/Utilities/Editor/ScriptUtilities.cs
  Assets/MRTK/Tools/BuildWindow/BuildDeployWindow.cs
  Assets/MRTK/Tools/MSBuild/MRTK.Tools.MSBuild.asmdef
Labels: MRTK2

#11180 Moving GrabBar to UXComponents
  com.microsoft.mrtk.uxcomponents/NearMenu/GrabBar.mat
  com.microsoft.mrtk.uxcomponents/NearMenu/GrabBar.mat.meta
Labels: UX Controls, MRTK3

#11204 Fixed Reticle Visibility Bugs and added tests. Cleaning up reticle normal warnings
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKLineVisual.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
  com.microsoft.mrtk.input/Tests/Runtime/MRTKRayInteractorVisualsTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/MRTKRayInteractorVisualsTests.cs.meta
Labels: MRTK3

#11157 Add SpeechRecognitionSubsystem to MRTK3
  com.microsoft.mrtk.core/Subsystems/Hands/HandsAggregatorConfig.cs
  com.microsoft.mrtk.core/Subsystems/Speech/ISpeechRecognitionSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Speech/ISpeechRecognitionSubsystem.cs.meta
  com.microsoft.mrtk.core/Subsystems/Speech/PhraseRecognitionSubsystemConfig.cs
  com.microsoft.mrtk.core/Subsystems/Speech/SpeechRecognitionEventArgs.cs
  com.microsoft.mrtk.core/Subsystems/Speech/SpeechRecognitionEventArgs.cs.meta
  com.microsoft.mrtk.core/Subsystems/Speech/SpeechRecognitionEventReason.cs
  com.microsoft.mrtk.core/Subsystems/Speech/SpeechRecognitionEventReason.cs.meta
  com.microsoft.mrtk.core/Subsystems/Speech/SpeechRecognitionSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Speech/SpeechRecognitionSubsystem.cs.meta
  com.microsoft.mrtk.core/Subsystems/Speech/SpeechRecognitionSubsystemDescriptor.cs
  com.microsoft.mrtk.core/Subsystems/Speech/SpeechRecognitionSubsystemDescriptor.cs.meta
  com.microsoft.mrtk.input/Subsystems/HandsAggregator/MRTKHandsAggregatorConfig.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsPhraseRecognitionSubsystem.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsPhraseRecognitionSubsystemConfig.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsPhraseRecognitionSubsystemConfig.cs.meta
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsSpeechConfidenceLevel.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsSpeechConfidenceLevel.cs.meta
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsSpeechRecognitionSubsystem.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsSpeechRecognitionSubsystem.cs.meta
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsSpeechRecognitionSubsystemConfig.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/WindowsSpeechRecognitionSubsystemConfig.cs.meta
Labels: MRTK3

#11032 Revised Rigidbody interaction
  com.microsoft.mrtk.core/Tests/TestUtilities/RuntimeTestUtilities.cs
  com.microsoft.mrtk.spatialmanipulation/Editor/ObjectManipulator/ObjectManipulatorInspector.cs
  com.microsoft.mrtk.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/ObjectManipulatorTests.cs
Labels: MRTK3

#11243 Update MRTK2 README
  README.md
Labels: MRTK2

#11213 update minimum version to 2020.3.42
  README.md
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectVersion.txt
Labels: Build / Tools, MRTK3

#11255 Various legacy/non-canvas UI fixes
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NonCanvasObjectBarExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NonCanvasObjectBarExample.unity.meta
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NonCanvasUIBackplateExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NonCanvasUIBackplateExample.unity.meta
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NonCanvasUITearSheet.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/NonCanvasUITearSheet.unity.meta
  com.microsoft.mrtk.standardassets/Materials/ToggleVisuals_Backing_Blue.mat
  com.microsoft.mrtk.uxcomponents.noncanvas/Button/Animations/NonCanvasToggleSwitchBackplate.anim
  com.microsoft.mrtk.uxcomponents.noncanvas/Slates/Slate.prefab
Labels: Example/Test Scene, UX Controls - Slate, MRTK3
