Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-08, with the labels that each got.

#10801 Make BoundsHandleInteractable public
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/BoundsHandleInteractable.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
Labels: UX Controls - Bounds Control, MRTK3

#10808 [pre.8] add sample scene hand menu to audio samples - issue 10805
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Audio/AudioLoFiExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Audio/AudioOcclusionExample.unity
Labels: Example/Test Scene, MRTK3

#10823 Polyfilling tracking state
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractor.cs
Labels: Oculus, Hand Tracking, MRTK3

#10743 Create find-guids.ps1
  Tooling/find-guids.ps1
Labels: MRTK3

#10832 Cleaning up minor warnings
  UnityProjects/MRTKDevTemplate/Assets/Scripts/ScrollRectCurve.cs
  UnityProjects/MRTKDevTemplate/Assets/Scripts/SystemKeyboardExample.cs
Labels: MRTK3

#10842 Remove unused toc.yml files
  Assets/MRTK/Core/toc.yml
  Assets/MRTK/Core/toc.yml.meta
  Assets/MRTK/Examples/toc.yml
  Assets/MRTK/Examples/toc.yml.meta
  Assets/MRTK/SDK/Features/toc.yml
  Assets/MRTK/SDK/Features/toc.yml.meta
  Assets/MRTK/SDK/Profiles/toc.yml
  Assets/MRTK/SDK/Profiles/toc.yml.meta
  Assets/MRTK/SDK/toc.yml
  Assets/MRTK/SDK/toc.yml.meta
  toc.yml
Labels: Documentation, MRTK2

#10850 Slim down standard assets
  com.microsoft.mrtk.extendedassets/Models/Cheese.fbx
  com.microsoft.mrtk.extendedassets/Models/Cheese.fbx.meta
  com.microsoft.mrtk.extendedassets/Models/Model_Bucky.fbx
  com.microsoft.mrtk.extendedassets/Models/Model_Bucky.fbx.meta
  com.microsoft.mrtk.extendedassets/Models/Model_Icosa.fbx
  com.microsoft.mrtk.extendedassets/Models/Model_Icosa.fbx.meta
  com.microsoft.mrtk.extendedassets/Models/Model_PushButton.fbx.meta
  com.microsoft.mrtk.extendedassets/Prefabs.meta
  com.microsoft.mrtk.extendedassets/Prefabs/Model_Bucky.prefab
  com.microsoft.mrtk.extendedassets/Prefabs/Model_Bucky.prefab.meta
  com.microsoft.mrtk.extendedassets/Prefabs/Model_Icosa.prefab
  com.microsoft.mrtk.extendedassets/Prefabs/Model_Icosa.prefab.meta
  com.microsoft.mrtk.standardassets/Models/Model_PushButton.fbx
  com.microsoft.mrtk.standardassets/Models/Model_PushButton.fbx.meta
Labels: Package Management, MRTK3

#10704 Rigged hand visualization
  UnityProjects/MRTKDevTemplate/Assets/Scripts/VirtualizedScrollRectListTester.cs
  UnityProjects/MRTKDevTemplate/ProjectSettings/QualitySettings.asset
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK RightHand Controller.prefab
  com.microsoft.mrtk.input/Subsystems/Hands/OpenXRHandsSubsystem.cs
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/SyntheticHandsSubsystem.cs
  com.microsoft.mrtk.input/Visualizers/HandJointVisualizer.meta
  com.microsoft.mrtk.input/Visualizers/HandJointVisualizer/HandJointMaterial.mat
  com.microsoft.mrtk.input/Visualizers/HandJointVisualizer/HandJointMaterial.mat.meta
  com.microsoft.mrtk.input/Visualizers/HandJointVisualizer/HandJointVisualizer.cs
  com.microsoft.mrtk.input/Visualizers/HandJointVisualizer/HandJointVisualizer.cs.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand.mat
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand.mat.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHandMeshVisualizer.cs
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHandMeshVisualizer.cs.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand.shader
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand.shader.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_hand.fbx
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_hand.fbx.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_left_hand.prefab
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_left_hand.prefab.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_right_hand.prefab
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_right_hand.prefab.meta
Labels: Hand Tracking, MRTK3

#10858 Adds scene name to hand menu, fix BoundsControl not finding ConstraintManagers
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/SampleSceneHelper/SampleSceneHandMenu.prefab
  UnityProjects/MRTKDevTemplate/Assets/Scripts/SampleSceneHandMenu.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/BoundsControl.cs
Labels: Example/Test Scene, UX Controls - Bounds Control, MRTK3

#10860 Fixes UI in the LoFiExample scene, as well as fixing a sneaky ToggleCollection bug
  UnityProjects/MRTKDevTemplate/Assets/Scenes/Audio/AudioLoFiExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scripts/BandPassFilterSelection.cs
  com.microsoft.mrtk.uxcore/Toggle/ToggleCollection.cs
Labels: Example/Test Scene, Spatial Sound / Audio, MRTK3

#10861 Removing stray IsTracked check from OpenXRHandsSubsystem
  com.microsoft.mrtk.input/Subsystems/Hands/OpenXRHandsSubsystem.cs
Labels: Hand Tracking, MRTK3

#10867 Fixing poke regression
  com.microsoft.mrtk.input/Subsystems/Hands/OpenXRHandsSubsystem.cs
Labels: Hand Tracking, MRTK3

#10862 Updating README with more information + readability
  README.md
Labels: Documentation, MRTK3

#10834 Add option for boundscontrol to scale about object center
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/BoundsControl.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/BoundsControlTypes.cs
Labels: MRTK3

#10868 Last few missing MinMaxScaleConstraints
  UnityProjects/MRTKDevTemplate/Assets/Scenes/BoundsControlExamples.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasExample.unity
Labels: Example/Test Scene, MRTK3

#10838 Canvas Interactor now managed by interaction modes
  com.microsoft.mrtk.core/Interactors/IModeManagedInteractor.cs
  com.microsoft.mrtk.core/Interactors/IModeManagedInteractor.cs.meta
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Interaction Manager.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK XR Rig.prefab
  com.microsoft.mrtk.input/InteractionModes/FlatScreenModeDetector.cs
  com.microsoft.mrtk.input/InteractionModes/FlatScreenModeDetector.cs.meta
  com.microsoft.mrtk.input/InteractionModes/IInteractionModeDetector.cs
  com.microsoft.mrtk.input/InteractionModes/InteractionDetector.cs
  com.microsoft.mrtk.input/InteractionModes/InteractionModeManager.cs
  com.microsoft.mrtk.input/InteractionModes/ProximityDetector.cs
  com.microsoft.mrtk.uxcore/Interop/CanvasProxyInteractor.cs
Labels: BREAKING CHANGE, MRTK3

#10843 [Tests fixed!] Process DeviceCommands in simulated devices to ensure sync requests are correctly processed
  Pipelines/Templates/Tasks/build-unity.yaml
  Pipelines/Templates/tests.yaml
  Pipelines/Templates/unity.yaml
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  com.microsoft.mrtk.core/Tests/TestUtilities/RuntimeTestUtilities.cs
  com.microsoft.mrtk.core/Tests/TestUtilities/TestUtilities.cs
  com.microsoft.mrtk.input/Interactors/HandJointInteractor.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/ReticleMagnetism.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractorVisual.cs
  com.microsoft.mrtk.input/MRTK.Input.asmdef
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedHMD.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedHMD.cs.meta
  com.microsoft.mrtk.input/Simulation/InputSimulator.cs
  com.microsoft.mrtk.input/Tests/Runtime/BasicInputTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/MRTK.Input.RuntimeTests.asmdef
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/BaseRuntimeInputTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/InputTestUtilities.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/BoundsControlTests.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/ObjectManipulatorTests.cs
  com.microsoft.mrtk.uxcomponents/Tests/Runtime/SliderTests.cs
Labels: BREAKING CHANGE, Tests, MRTK3

#10873 Fixes for NREs in CanvasProxyInteractor
  com.microsoft.mrtk.uxcore/Interop/UGUIInputAdapter.cs
Labels: UX Controls - Interactable, Mouse Input, MRTK3

#10876 ui polish: company name -> organization name
  com.microsoft.mrtk.tools/SubsystemWizard/SubsystemWizardWindow.cs
Labels: Build / Tools

#10836 Refactoring Gestures into Handshapes. Added options in input simulator for trigger and secondary poses
  com.microsoft.mrtk.input/Editor/Inspectors/ControllerSimulationSettingsDrawer.cs
  com.microsoft.mrtk.input/Simulation/Devices/ControllerSimulationSettings.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Simulation/InputSimulator.cs
  com.microsoft.mrtk.input/Simulation/MRTKInputSimulatorControls.inputactions
  com.microsoft.mrtk.input/Simulation/Prefabs/MRTKInputSimulator.prefab
  com.microsoft.mrtk.input/Simulation/Utilities/SimulatedHandPose.cs
  com.microsoft.mrtk.input/Simulation/Utilities/SimulatedHandPose.cs.meta
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/HandPoses/SimulatedArticulatedHandshapes.cs
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/HandPoses/SimulatedArticulatedHandshapes.cs.meta
  com.microsoft.mrtk.input/Subsystems/SyntheticHands/SyntheticHandsSubsystem.cs
  com.microsoft.mrtk.input/Tests/Runtime/BasicInputTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/InteractionModeManagerTests.cs
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/InputTestUtilities.cs
  com.microsoft.mrtk.input/Tests/Runtime/Utilities/TestHand.cs
  com.microsoft.mrtk.input/Utilities/HandshapeTypes.cs
  com.microsoft.mrtk.input/Utilities/HandshapeTypes.cs.meta
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/BoundsControlTests.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/ObjectManipulatorTests.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/TransformViaInteractorTests.cs
  com.microsoft.mrtk.uxcomponents/Tests/Runtime/PressableButtonTests.cs
  com.microsoft.mrtk.uxcomponents/Tests/Runtime/SliderTests.cs
  com.microsoft.mrtk.uxcore/Tests/Runtime/StateVisualizerTests.cs
Labels: BREAKING CHANGE, Input Simulation, MRTK3

#10875 URP support for new Hands shader
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/README.md
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/README.md.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand-InvertedShell.mat
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand-InvertedShell.mat.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand-Main.mat
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand-Main.mat.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand-PrepassZ.mat
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand-PrepassZ.mat.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand-InvertedShell.shader
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand-InvertedShell.shader.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand-Main.shader
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand-Main.shader.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand-PrepassZ.shader
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand-PrepassZ.shader.meta
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/TransparentOutlinedHand.shader
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/openxr_right_hand.prefab
Labels: Hand Tracking, URP, MRTK3

#10891 Improving font icon selector UI
  com.microsoft.mrtk.uxcore/Editor/Inspectors/FontIconSet/FontIconSelectorInspector.cs
  com.microsoft.mrtk.uxcore/Editor/Inspectors/FontIconSet/FontIconSetInspector.cs
Labels: UX Controls, Editor, MRTK3

#10903 Fix MRTK2 in Unity 2022
  Assets/MRTK/Core/Definitions/SceneSystem/RuntimeRenderSettings.cs
  Assets/MRTK/Core/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MRTK/Core/Utilities/PlatformUtility.cs
  Assets/MRTK/Core/Utilities/Scenes/EditorSceneUtils.cs
  Assets/MRTK/Core/Utilities/WebRequestRest/Rest.cs
  Assets/MRTK/SDK/Editor/Inspectors/Exp/InteractiveEl/CompressableButtonInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/PressableButtonInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Sliders/PinchSliderInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Tooltips/ToolTipInspector.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystem.cs
Labels: MRTK2

#10904 Fix docs pipeline
  pipelines/docs-binaries.yml
Labels: Documentation, MRTK2

#10912 Bumping OpenXR plugin to 1.5.1
  UnityProjects/MRTKDevTemplate/Assets/XR/Settings/OpenXR Package Settings.asset
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
Labels: MRTK3

#10913 Log build log if docs build failed
  scripts/packaging/createbinariesfordocs.ps1
Labels: MRTK2

#10915 Fix 2020/2021 build...
  Assets/MRTK/Core/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MRTK/Core/Utilities/Scenes/EditorSceneUtils.cs
  Assets/MRTK/Core/Utilities/WebRequestRest/Rest.cs
  Assets/MRTK/SDK/Editor/Inspectors/Exp/InteractiveEl/CompressableButtonInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/PressableButtonInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Sliders/PinchSliderInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Tooltips/ToolTipInspector.cs
  Assets/MRTK/Services/SceneSystem/MixedRealitySceneSystem.cs
Labels: MRTK2

#10920 Adjusting pull_request_target hooks
  .github/workflows/pr_labeler.yaml
Labels: MRTK3

#10897 Unifying pose logic across several components
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK Hand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK RightHand Controller.prefab
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Interactors/GazePinch/GazePinchInteractor.cs
  com.microsoft.mrtk.input/Interactors/Grab/GrabInteractor.cs
  com.microsoft.mrtk.input/Interactors/HandJointInteractor.cs
  com.microsoft.mrtk.input/Interactors/Poke/PokeInteractor.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractor.cs
  com.microsoft.mrtk.input/Utilities/FollowJoint.cs
  com.microsoft.mrtk.input/Utilities/PoseSource.meta
  com.microsoft.mrtk.input/Utilities/PoseSource/FallbackCompositePoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/FallbackCompositePoseSource.cs.meta
  com.microsoft.mrtk.input/Utilities/PoseSource/HandJointPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/HandJointPoseSource.cs.meta
  com.microsoft.mrtk.input/Utilities/PoseSource/IPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/IPoseSource.cs.meta
  com.microsoft.mrtk.input/Utilities/PoseSource/InputActionPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/InputActionPoseSource.cs.meta
  com.microsoft.mrtk.input/Utilities/PoseSource/PinchPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/PinchPoseSource.cs.meta
Labels: Controller Visualization, MRTK usability, Input System - Input Actions, MRTK3

#10907 Improvements to StateViz/TintEffects, plus improved tabviews
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExample/MenuExample.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExample/TopNavigationExample.prefab
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExample/TopNavigationExample.prefab.meta
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/CanvasExample/UIPanelExample.prefab
  UnityProjects/MRTKDevTemplate/Assets/Scenes/CanvasUITearsheet.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/TabViewExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/TopNavigationExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/TopNavigationExample.unity.meta
  com.microsoft.mrtk.standardassets/Materials/CompressedButtonMaterial/ToggleIndicator.mat
  com.microsoft.mrtk.standardassets/Textures/Logos/MRTK_Logo_White.png.meta
  com.microsoft.mrtk.uxcomponents/Buttons/Canvas/Action Button.prefab
  com.microsoft.mrtk.uxcore/StateVisualizer/Effects/GraphicFadeEffect.cs
  com.microsoft.mrtk.uxcore/StateVisualizer/Effects/GraphicTintEffect.cs
  com.microsoft.mrtk.uxcore/StateVisualizer/Effects/SpriteTintEffect.cs
  com.microsoft.mrtk.uxcore/StateVisualizer/Effects/TintEffect.cs
  com.microsoft.mrtk.uxcore/TabView/TabView.cs
Labels: UX Controls, Example/Test Scene, MRTK3

#10899 Add project config validation for MRTK3
  Pipelines/Scripts/validatecode.ps1
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  com.microsoft.mrtk.core/Editor/MRTK.Core.Editor.asmdef
  com.microsoft.mrtk.core/Editor/MRTKProjectValidation.cs
  com.microsoft.mrtk.core/Editor/MRTKProjectValidation.cs.meta
  com.microsoft.mrtk.core/package.json
Labels: MRTK3

#10935 Refactor out HandBasedPoseSource
  com.microsoft.mrtk.input/Interactors/GazePinch/GazePinchInteractor.cs
  com.microsoft.mrtk.input/Interactors/Grab/GrabInteractor.cs
  com.microsoft.mrtk.input/Interactors/HandJointInteractor.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractor.cs
  com.microsoft.mrtk.input/Utilities/FollowJoint.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/FallbackCompositePoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/HandBasedPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/HandBasedPoseSource.cs.meta
  com.microsoft.mrtk.input/Utilities/PoseSource/HandJointPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/PinchPoseSource.cs
Labels: MRTK3

#10934 Update InterfaceSelector to use Unity TypeCache and filter out uninstantiatable types
  com.microsoft.mrtk.core/Editor/Inspectors/PropertyDrawers/InterfaceSelectorDrawer.cs
  com.microsoft.mrtk.core/Utilities/Attributes/InterfaceSelectorAttribute.cs
Labels: MRTK3

#10914 [MRTK3] Cheese model bug fix 10637
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/ObjectManipulator/CheeseObjectManipulator.prefab
  com.microsoft.mrtk.extendedassets/Models/Cheese.fbx
  com.microsoft.mrtk.extendedassets/Models/Cheese.fbx.meta
Labels: Example/Test Scene, MRTK3

#10908 Physics fixes
  UnityProjects/MRTKDevTemplate/Assets/Scenes/HandInteractionExamples.unity
  com.microsoft.mrtk.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
Labels: Example/Test Scene, UX Controls - ObjectManipulator, MRTK3

#10940 Migrating to Ubuntu for validation
  .github/workflows/validation_mrtk3.yaml
Labels: MRTK3

#10939 Update Microsoft.Unity.Analyzers.dll
  UnityProjects/MRTKDevTemplate/Assets/Analyzers/Microsoft.Unity.Analyzers.dll
Labels: MRTK3

#10941 Fixing incorrect transition time + missing font icon reference
  com.microsoft.mrtk.uxcomponents/Buttons/Canvas/Action Button.prefab
Labels: UX Controls - Buttons, MRTK3, StateVisualizer

#10943 Porting auto-labeler CI actions from mrtk3 branch
  .github/workflows/issue_labeler.yaml
  .github/workflows/pr_labeler.yaml
Labels: CI/Build

#10946 Fix eye gaze simulation when XR isn't enabled
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedEyeGaze.cs
  com.microsoft.mrtk.input/Simulation/InputSimulator.cs
Labels: Input Simulation, MRTK3

#10948 Dependency updates in package manifests
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectVersion.txt
  com.microsoft.mrtk.accessibility/package.json
  com.microsoft.mrtk.core/package.json
  com.microsoft.mrtk.input/package.json
  com.microsoft.mrtk.spatialmanipulation/package.json
  com.microsoft.mrtk.standardassets/package.json
  com.microsoft.mrtk.uxcore/package.json
Labels: MRTK3

#10923 [MRTK3] Updated MRTK Logo gltf model file to fix warning message.
  com.microsoft.mrtk.extendedassets/Models/MRTK_Logo.glb
Labels: MRTK3

#10949 add code owners file to help route PR feedback requests
  CODEOWNERS
Labels: MRTK3

#10953 Remove CameraCache
  Pipelines/Scripts/validatecode.ps1
  com.microsoft.mrtk.audio/Effects/AudioInfluencerController.cs
  com.microsoft.mrtk.core/Camera/CameraSettingsManager.cs
  com.microsoft.mrtk.core/Utilities/CameraCache.cs
  com.microsoft.mrtk.core/Utilities/CameraCache.cs.meta
  com.microsoft.mrtk.core/Utilities/PlayspaceUtilities.cs
  com.microsoft.mrtk.core/Utilities/PoseUtilities.cs
  com.microsoft.mrtk.diagnostics/Visualizers/VisualProfiler.cs
  com.microsoft.mrtk.environment/Visualizers/SpatialMesh/BaseSpatialMeshVisualizer.cs
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/ReticleMagnetism.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedEyeGaze.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedHMD.cs
  com.microsoft.mrtk.input/Simulation/InputSimulator.cs
  com.microsoft.mrtk.input/Subsystems/HandsAggregator/MRTKHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.input/Utilities/IHandRay.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/ScaleHandleInteractable.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/FaceUserConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/ConstantViewSize.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/DirectionalIndicator.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/Follow.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/HandConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/HandConstraintPalmUp.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/Orbital.cs
  com.microsoft.mrtk.spatialmanipulation/Utilities/SolverHandler.cs
  com.microsoft.mrtk.uxcore/Interop/CanvasProxyInteractor.cs
Labels: MRTK3

#10952 Add 3D app icon setting for UWP
  UnityProjects/MRTKDevTemplate/Assets/MRTK.Generated/MRTKSettings.asset
  com.microsoft.mrtk.core/Editor/MRTKBuildPreferences.cs
  com.microsoft.mrtk.core/Editor/MRTKBuildPreferences.cs.meta
  com.microsoft.mrtk.core/Editor/MRTKBuildProcessor.cs
  com.microsoft.mrtk.core/Editor/MRTKSettings.cs
Labels: MRTK3

#10955 Add `$schema` to `cgmanifest.json`
  cgmanifest.json
Labels: MRTK2

#10936 Update OnInspectorGUI for Toolkit Inspector
  Assets/MRTK/Core/Inspectors/MixedRealityToolkitInspector.cs
Labels: MRTK2

#10956 Move some codepaths away from MixedRealityToolkitFiles
  Assets/MRTK/Core/Attributes/MixedRealityExtensionServiceAttribute.cs
  Assets/MRTK/Core/Definitions/Devices/ControllerMappingLibrary.cs
  Assets/MRTK/Core/Definitions/Utilities/ArticulatedHandPose.cs
  Assets/MRTK/Core/Inspectors/ControllerPopupWindow.cs
  Assets/MRTK/Core/Utilities/Editor/EditorProjectUtilities.cs
  Assets/MRTK/Tests/PlayModeTests/Core/Utilities/LRUCacheUnitTests.cs.meta
  Assets/MRTK/Tests/TestUtilities/TestUtilities.cs
  Assets/MRTK/Tools/ExtensionServiceCreator/ExtensionServiceCreator.cs
Labels: MRTK2
