Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-03, with the labels that each got.

#9193 Improving performance for ScrollingObjectCollection
  Assets/MRTK/Core/Utilities/Rendering/MaterialInstance.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPrimitive.cs
  Assets/MRTK/SDK/Features/UX/Scripts/ScrollingObjectCollection/ScrollingObjectCollection.cs
Labels: Performance

#10496 Formatting pass 2
  Assets/MRTK/SDK/Editor/Inspectors/UX/BoundsControl/BoundsControlInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Interactable/ButtonConfigHelperInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/Utilities/Solvers/FollowInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/Utilities/Solvers/TapToPlaceInspector.cs
  Assets/MRTK/SDK/Editor/Migration/ObjectManipulatorMigrationHandler.cs
  Assets/MRTK/SDK/Experimental/Joystick/JoystickController.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/MRTKTMPInputField.cs
  Assets/MRTK/SDK/Experimental/NonNativeKeyboard/Scripts/NonNativeKeyboard.cs
  Assets/MRTK/SDK/Experimental/PinchSliderBox/PinchSliderBox.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/ConstraintManager.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Constraints/TransformConstraint.cs
  Assets/MRTK/SDK/Features/Input/Handlers/EyeTrackingTarget.cs
  Assets/MRTK/SDK/Features/Input/Handlers/Manipulation/ManipulationHandler.cs
  Assets/MRTK/SDK/Features/Input/Handlers/ObjectManipulator.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/BoundsControl.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/PerAxisHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ProximityEffect/ProximityEffect.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/ScaleHandles.cs
  Assets/MRTK/SDK/Features/UX/Scripts/BoundsControl/Visuals/VisualUtils.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Buttons/ButtonIconSet.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/BaseDwellPressableButton.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/DwellHandler.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Dwell/ToggleDwellPressableButton.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/SpherePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Sliders/PinchSlider.cs
  Assets/MRTK/SDK/Features/Utilities/ConstraintExecOrderComparer.cs
  Assets/MRTK/SDK/Features/Utilities/ConstraintUtils.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/Follow.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraint.cs
  Assets/MRTK/SDK/Features/Utilities/Solvers/HandConstraintPalmUp.cs
Labels: Cleanup

#10497 Formatting pass 3
  Assets/MRTK/Providers/Experimental/WindowsSceneUnderstanding/WindowsSceneUnderstandingObserver.cs
  Assets/MRTK/Providers/LeapMotion/Editor/LeapMotionConfigurationChecker.cs
  Assets/MRTK/Providers/LeapMotion/LeapMotionDeviceManager.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Controllers/OculusXRSDKTouchController.cs
  Assets/MRTK/Providers/XRSDK/GenericXRSDKCameraSettings.cs
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MRTK/Services/InputSystem/ConeCastGazeProvider.cs
  Assets/MRTK/Services/InputSystem/GazeConePointer.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
  Assets/MRTK/Services/SpatialAwarenessSystem/MixedRealitySpatialAwarenessSystem.cs
  Assets/MRTK/Tests/PlayModeTests/BoundsControlTests.cs
  Assets/MRTK/Tests/PlayModeTests/ChangeActiveProfileTests.cs
  Assets/MRTK/Tests/PlayModeTests/Components/TestInputFocusListener.cs
  Assets/MRTK/Tests/PlayModeTests/DwellTests.cs
  Assets/MRTK/Tests/PlayModeTests/LoadingIndicatorTests.cs
  Assets/MRTK/Tests/PlayModeTests/PinchSliderTests.cs
  Assets/MRTK/Tests/PlayModeTests/PointerBehaviorTests.cs
  Assets/MRTK/Tests/PlayModeTests/ProfileTests.cs
  Assets/MRTK/Tests/PlayModeTests/SolverTests.cs
  Assets/MRTK/Tools/AssetSwapUtility/AssetSwapUtility.cs
  Assets/MRTK/Tools/MSBuild/Scripts/CSProjectInfo.cs
  Assets/MRTK/Tools/MSBuild/Scripts/UnityProjectInfo.cs
Labels: Cleanup

#10495 Formatting pass 1
  Assets/MRTK/Core/Definitions/MixedRealityExperienceSettingsProfile.cs
  Assets/MRTK/Core/Inspectors/MixedRealityShaderGUI.cs
  Assets/MRTK/Core/Inspectors/MixedRealityStandardShaderGUI.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityControllerVisualizationProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityToolkitConfigurationProfileInspector.cs
  Assets/MRTK/Core/Inspectors/Setup/MixedRealityProjectConfiguratorWindow.cs
  Assets/MRTK/Core/Inspectors/Utilities/MixedRealityInspectorUtility.cs
  Assets/MRTK/Core/Interfaces/Devices/IMixedRealityHandVisualizer.cs
  Assets/MRTK/Core/Interfaces/InputSystem/IMixedRealityQueryablePointer.cs
  Assets/MRTK/Core/Providers/BaseController.cs
  Assets/MRTK/Core/Providers/BaseGenericInputSource.cs
  Assets/MRTK/Core/Providers/GenericPointer.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UnityPlayerBuildTools.cs
  Assets/MRTK/Core/Utilities/BuildAndDeploy/UwpAppxBuildTools.cs
  Assets/MRTK/Core/Utilities/Editor/XRSettingsUtilities.cs
  Assets/MRTK/Core/Utilities/SceneContent/MixedRealitySceneContent.cs
  Assets/MRTK/Core/Utilities/StandardShader/ClippingPrimitive.cs
  Assets/MRTK/Core/Utilities/WindowsDevicePortal/DevicePortal.cs
  Assets/MRTK/Core/Utilities/XRSettingsUtilities.cs
  Assets/MRTK/Examples/Common/Prefabs/HandMenuSliderAssets/Scripts/UpdateSliderTrackLine.cs
  Assets/MRTK/Examples/Common/Scripts/Slider/ShowSliderValue.cs
  Assets/MRTK/Examples/Common/Scripts/Slider/SliderChangeColor.cs
  Assets/MRTK/Examples/Demos/Audio/Scripts/MicrophoneAmplitudeDemo.cs
  Assets/MRTK/Examples/Demos/HandTracking/Scripts/LeapMotionOrientationDisplay.cs
  Assets/MRTK/Examples/Demos/UX/ManipulationHandler/Scripts/ChangeManipulation.cs
  Assets/MRTK/Examples/Demos/UX/ProgressIndicator/Scripts/ProgressIndicatorDemo.cs
  Assets/MRTK/Examples/Demos/UX/Slider/Scripts/SliderLunarLander.cs
  Assets/MRTK/Examples/Experimental/Joystick/JoystickSliders.cs
  Assets/MRTK/Examples/Experimental/SceneUnderstanding/Scripts/DemoSceneUnderstandingController.cs
Labels: Cleanup

#10507 Clarifying raycast layermask descriptions and fixed teleport pointer overloading definitions
  Assets/MRTK/Core/Definitions/InputSystem/MixedRealityPointerProfile.cs
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityPointerProfileInspector.cs
  Assets/MRTK/SDK/Editor/Inspectors/UX/Pointers/TeleportPointerInspector.cs
  Assets/MRTK/SDK/Features/UX/Prefabs/Pointers/ParabolicTeleportPointer.prefab
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/TeleportPointer.cs
  Assets/MRTK/Tests/PlayModeTests/PointerBehaviorTests.cs
Labels: BREAKING CHANGE
