Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2022-12, with the labels that each got.

#11259 Add button to populate the profile field with the MRTK default
  com.microsoft.mrtk.core/Editor/MRTKProfileInspector.cs
  com.microsoft.mrtk.core/Editor/MRTKSettingsEditor.cs
  com.microsoft.mrtk.core/Utilities/XRSubsystemHelpers.cs
Labels: MRTK3

#11262 Update version numbers to 2.8.3
  Assets/MRTK/Tests/EditModeTests/Core/Utilities/BuildAndDeploy/UwpAppxBuildToolsTest.cs
  ProjectSettings/ProjectSettings.asset
  pipelines/config/settings.yml
Labels: MRTK2

#11266 Don't share controller and source collections between instances
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXREyeGazeDataProvider.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
Labels: MRTK2

#11272 Fix simulated motion controller grab
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedMotionController.cs
Labels: MRTK2

#11283 Merge 2.8.3 -> main
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedMotionController.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityJoystickManager.cs
  Assets/MRTK/Core/Providers/UnityInput/UnityTouchDeviceManager.cs
  Assets/MRTK/Providers/OpenXR/Scripts/OpenXREyeGazeDataProvider.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/Providers/XRSDK/XRSDKDeviceManager.cs
  Assets/MRTK/SDK/Features/UX/Scripts/RiggedHandVisualizer/RiggedHandVisualizer.cs
  Assets/MRTK/SDK/Profiles/ObsoleteMixedRealityXRSDKControllerVisualizationProfile.asset
  Authors.md
  pipelines/packageupmpublic.yaml
  scripts/ci/contributors.py
Labels: MRTK2

#11281 Additional UI elements for create menu
  com.microsoft.mrtk.uxcomponents/Editor/CreateElementMenus.cs
  com.microsoft.mrtk.uxcomponents/Editor/MRTK.UXComponents.Editor.asmdef
  com.microsoft.mrtk.uxcomponents/package.json
Labels: UX Controls - General, Editor, UX Controls - Buttons, MRTK3

#11194 add motion controller profile to uwp settings
  UnityProjects/MRTKDevTemplate/Assets/XR/Settings/OpenXR Package Settings.asset
Labels: Platform - Windows UWP, MRTK3

#11290 Update packages-lock.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
Labels: MRTK3

#11289 Formatting pass
  .editorconfig
  Assets/MRTK/Core/Interfaces/InputSystem/IMixedRealityQueryablePointer.cs
  Assets/MRTK/Core/Providers/Hands/BaseHandVisualizer.cs
  Assets/MRTK/Core/Utilities/CoreServices.cs
  Assets/MRTK/Providers/Oculus/XRSDK/Controllers/OculusXRSDKTouchController.cs
  Assets/MRTK/Providers/Oculus/XRSDK/OculusXRSDKDeviceManagerProfile.cs
  Assets/MRTK/Providers/OpenXR/Scripts/MicrosoftOpenXRGGVHand.cs
  Assets/MRTK/Providers/WindowsMixedReality/XRSDK/WindowsMixedRealityEyeGazeDataProvider.cs
  Assets/MRTK/SDK/Editor/Inspectors/Utilities/MeshOutline/BaseMeshOutlineInspector.cs
  Assets/MRTK/SDK/Features/UX/Interactable/Scripts/Interactable.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Controllers/WindowsMixedRealityControllerVisualizer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/GGVPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/PokePointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Pointers/ShellHandRayPointer.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Slate/FollowMeToggle.cs
  Assets/MRTK/SDK/Features/UX/Scripts/Utilities/ReorientContent.cs
  Assets/MRTK/Tests/EditModeTests/Tools/MigrationToolTests.cs
  Assets/MRTK/Tests/PlayModeTests/NearInteractionTouchableTests.cs
Labels: MRTK2

#11296 Fixing pressablebutton inspector problems
  com.microsoft.mrtk.uxcore/Editor/Inspectors/PressableButton/PressableButtonInspector.cs
Labels: MRTK3

#11285 Audio spatializer support part 2: add configuration script to root prefabs
  com.microsoft.mrtk.uxcomponents.noncanvas/Button/128x32/PressableButton_128x32mm_TextOnly.prefab
  com.microsoft.mrtk.uxcomponents/Button/Prefabs/Empty Button.prefab
  com.microsoft.mrtk.uxcomponents/Button/Prefabs/PressableButton_Custom_Cube.prefab
  com.microsoft.mrtk.uxcomponents/Button/Prefabs/PressableButton_Custom_Cylinder.prefab
  com.microsoft.mrtk.uxcomponents/NearMenu/NearMenuBase.prefab
Labels: Spatial Sound / Audio, MRTK3

#11306 Revert "Audio spatializer support part 2: add configuration script to root prefabs (#11285)"
  com.microsoft.mrtk.uxcomponents.noncanvas/Button/128x32/PressableButton_128x32mm_TextOnly.prefab
  com.microsoft.mrtk.uxcomponents/Button/Prefabs/Empty Button.prefab
  com.microsoft.mrtk.uxcomponents/Button/Prefabs/PressableButton_Custom_Cube.prefab
  com.microsoft.mrtk.uxcomponents/Button/Prefabs/PressableButton_Custom_Cylinder.prefab
  com.microsoft.mrtk.uxcomponents/NearMenu/NearMenuBase.prefab
Labels: MRTK3

#11301 Fix Android build, refactor build pipeline, add Android build to PR validation
  Pipelines/Templates/unity.yaml
  Pipelines/ci.yaml
  Pipelines/pr.yaml
  UnityProjects/MRTKDevTemplate/Assets/XR/Settings/OpenXR Package Settings.asset
Labels: MRTK3

#11209 Add windows text-to-speech subsystem
  ExternalDependencies/com.microsoft.mrtk.tts.windows-1.0.0.tgz
  UnityProjects/MRTKDevTemplate/Packages/manifest.json
  UnityProjects/MRTKDevTemplate/Packages/packages-lock.json
  com.microsoft.mrtk.core/Configuration/Default Profiles/MRTKProfile.asset
  com.microsoft.mrtk.core/Subsystems/Speech/ITextToSpeechSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Speech/TextToSpeechSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Speech/TextToSpeechSubsystemConfig.cs
  com.microsoft.mrtk.core/Utilities/MathUtilities.cs
  com.microsoft.mrtk.windowsspeech/MRTK.Speech.Windows.asmdef
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech.meta
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech/TextToSpeechHelpers.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech/TextToSpeechHelpers.cs.meta
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech/WaveHeaderOffset.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech/WaveHeaderOffset.cs.meta
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech/WindowsTextToSpeechSubsystem.cs
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech/WindowsTextToSpeechSubsystem.cs.meta
  com.microsoft.mrtk.windowsspeech/package.json
Labels: Speech, Accessibility, MRTK3

#11307 Fix Android build and multiple artifact publication
  Pipelines/Templates/Tasks/build-appx.yaml
  Pipelines/Templates/unity.yaml
  UnityProjects/MRTKDevTemplate/Assets/BuildAssets/IconBlackBackground.png.meta
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech/WindowsTextToSpeechSubsystem.cs
Labels: MRTK3

#11309 Update MRTK2 README.md
  README.md
Labels: MRTK2

#11313 Added parameter to tune the gradient's max length
  com.microsoft.mrtk.core/Utilities/ColorUtilities.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKLineVisual.cs
Labels: MRTK3

#11312 Formatting and auto properties
  Assets/MRTK/Core/Providers/InputSimulation/KeyBinding.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/MixedRealityKeyboard.cs
  Assets/MRTK/SDK/Experimental/MixedRealityKeyboard/MixedRealityKeyboardBase.cs
Labels: MRTK2

#11315 Updating SimulatedControllerDataProvider.cs and SimulatedHandDataProvider.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedControllerDataProvider.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedHandDataProvider.cs
  Assets/MRTK/Core/Providers/InputSimulation/SimulatedMotionControllerDataProvider.cs
Labels: MRTK2

#11314 Assorted style updates
  UnityProjects/MRTKDevTemplate/Assets/Data Binding Example/Scripts/DataControllerTest.cs
  UnityProjects/MRTKDevTemplate/Assets/Data Binding Example/Scripts/DataSourceDynamicList.cs
  UnityProjects/MRTKDevTemplate/Assets/Data Binding Example/Scripts/DataSourceReflectionListTest.cs
  UnityProjects/MRTKDevTemplate/Assets/Prefabs/Whiteboard/Whiteboard.cs
  com.microsoft.mrtk.accessibility/Subsystems/AccessibilitySubsystemDescriptor.cs
  com.microsoft.mrtk.accessibility/Utilities/TextAccessibility.cs
  com.microsoft.mrtk.audio/Effects/AudioOccluder.cs
  com.microsoft.mrtk.core/Editor/Inspectors/PropertyDrawers/DrawIfPropertyDrawer.cs
  com.microsoft.mrtk.core/Editor/Inspectors/PropertyDrawers/TypeReferencePropertyDrawer.cs
  com.microsoft.mrtk.core/Editor/Inspectors/Utilities/InspectorUIUtility.cs
  com.microsoft.mrtk.core/Subsystems/MRTKSubsystemDescriptor.cs
  com.microsoft.mrtk.core/Tests/TestUtilities/TestUtilities.cs
  com.microsoft.mrtk.core/Utilities/Attributes/DrawIfAttribute.cs
  com.microsoft.mrtk.core/Utilities/Extensions/EnumerableExtensions.cs
  com.microsoft.mrtk.core/Utilities/Extensions/GameObjectExtensions.cs
  com.microsoft.mrtk.core/Utilities/MixedRealityRaycaster.cs
  com.microsoft.mrtk.core/Utilities/RayStep.cs
  com.microsoft.mrtk.data/Runtime/Scripts/DataConsumers/DataConsumerBooleanEvents.cs
  com.microsoft.mrtk.data/Runtime/Scripts/DataConsumers/DataConsumerGOBase.cs
  com.microsoft.mrtk.data/Runtime/Scripts/DataConsumers/DataConsumerThemableBase.cs
  com.microsoft.mrtk.data/Runtime/Scripts/DataSources/DataSourceBase.cs
  com.microsoft.mrtk.data/Runtime/Scripts/DataSources/DataSourceGOBase.cs
  com.microsoft.mrtk.data/Runtime/Scripts/DataSources/DataSourceReflection.cs
  com.microsoft.mrtk.data/Runtime/Scripts/Helper/DataParser.cs
  com.microsoft.mrtk.diagnostics/Subsystems/PerformanceStatSubsystemDescriptor.cs
  com.microsoft.mrtk.diagnostics/Visualizers/SimpleProfiler.cs
  com.microsoft.mrtk.diagnostics/Visualizers/VisualProfiler.cs
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/InteractionModes/InteractionModeDefinition.cs
  com.microsoft.mrtk.input/Interactors/InteractorDwellManager.cs
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKRayReticleVisual.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/BoundsCalculator.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/Visuals/SqueezableBoxVisuals.cs
  com.microsoft.mrtk.spatialmanipulation/ObjectManipulator/ObjectManipulator.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/Follow.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/HandConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/HandConstraintPalmUp.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/SurfaceMagnetism.cs
  com.microsoft.mrtk.uxcomponents.noncanvas/Tests/Runtime/SliderTests.cs
  com.microsoft.mrtk.uxcomponents/Editor/CreateElementMenus.cs
  com.microsoft.mrtk.uxcore/Editor/Inspectors/FontIconSet/FontIconSetInspector.cs
  com.microsoft.mrtk.uxcore/Keyboard/Native/KeyboardPreview.cs
  com.microsoft.mrtk.uxcore/LegacyDialog/DialogProperty.cs
  com.microsoft.mrtk.uxcore/ObjectBar/ObjectBar.cs
  com.microsoft.mrtk.uxcore/StateVisualizer/Effects/TintEffect.cs
  com.microsoft.mrtk.uxcore/StateVisualizer/StateVisualizer.cs
  com.microsoft.mrtk.uxcore/Toggle/ToggleCollection.cs
Labels: MRTK3

#11326 Burninate obsolete API surface >= 5mo old
  com.microsoft.mrtk.core/Subsystems/Hands/HandsAggregatorSubsystem.cs
  com.microsoft.mrtk.core/Subsystems/Hands/IHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.core/Utilities/TrackedHandJoint.cs
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Controllers/ArticulatedHandControllerState.cs
  com.microsoft.mrtk.input/InteractionModes/InteractionModeDefinition.cs
  com.microsoft.mrtk.input/Subsystems/HandsAggregator/MRTKHandsAggregatorSubsystem.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/MinMaxScaleConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Constraints/TransformConstraint.cs
Labels: Code Style, Cleanup, MRTK3

#11297 Checking in `USE_INPUT_SYSTEM_POSE_CONTROL`
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectSettings.asset
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedEyeGaze.cs
Labels: External, Input System - Input Actions, MRTK3

#11325 Fix hand interaction polyfill not updating uipress
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
Labels: Platform - Oculus, Input - Hand Tracking, MRTK3

#11328 Update raycast layers on NearInteractionModeDetector and GrabInteractor
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK XR Rig.prefab
  com.microsoft.mrtk.input/Utilities/PlatformAwarePhysicsRaycaster.cs
Labels: MRTK3

#11329 Updated hand materials for Linear colorspace
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand-InvertedShell.mat
  com.microsoft.mrtk.input/Visualizers/RiggedHandVisualizer/RiggedHand-Main.mat
Labels: Shaders / Materials, Controller Visualization, Input - Hand Tracking, MRTK3

#11336 Minor example scene fixes
  UnityProjects/MRTKDevTemplate/Assets/Scenes/DialogExample.unity
  UnityProjects/MRTKDevTemplate/Assets/Scenes/VanillaUGUIExample.unity
Labels: Example/Test Scene, MRTK3
