Repository microsoft/MixedRealityToolkit-Unity, pull requests merged in 2023-01, with the labels that each got.

#11342 Fix assembly version to match file/package
  com.microsoft.mrtk.accessibility/AssemblyInfo.cs
Labels: MRTK3

#11352 Bumping to pre.13
  Pipelines/Config/settings.yaml
  UnityProjects/MRTKDevTemplate/ProjectSettings/ProjectSettings.asset
Labels: MRTK3

#11264 [MRTK3] Added an option to use scalar distance instead of final displacement for bounds control toggle
  com.microsoft.mrtk.core/Tests/TestUtilities/RuntimeTestUtilities.cs
  com.microsoft.mrtk.spatialmanipulation/BoundsControl/BoundsControl.cs
  com.microsoft.mrtk.spatialmanipulation/Tests/Runtime/BoundsControlTests.cs
Labels: MRTK3

#11353 Linear color space validator rule
  com.microsoft.mrtk.core/Editor/MRTKProjectValidation.cs
Labels: Documentation, Shaders / Materials, MRTK3

#11368 fix assembly version (accessibility editor was 3.0 instead of 1.0)
  com.microsoft.mrtk.accessibility/Editor/AssemblyInfo.cs
Labels: MRTK3

#11370 Fix 11349: Move mixer from core package into example (mrtkdevtemplate) folder
  UnityProjects/MRTKDevTemplate/Assets/Audio/MRTKAudioMixer.mixer
  UnityProjects/MRTKDevTemplate/Assets/Audio/MRTKAudioMixer.mixer.meta
  com.microsoft.mrtk.core/Configuration/Default Profiles/MRTKProfile.asset
  com.microsoft.mrtk.core/Configuration/MRTKProfile.cs
  com.microsoft.mrtk.core/Utilities/ConfigureSpatializationSettings.cs
Labels: Spatial Sound / Audio, MRTK3

#11375 Update CODEOWNERS
  CODEOWNERS
Labels: MRTK2

#11374 Change to use IndentLevelScope
  Assets/MRTK/Core/Inspectors/Profiles/MixedRealityInputActionRulesInspector.cs
  Assets/MRTK/Core/Inspectors/PropertyDrawers/MixedRealityPosePropertyDrawer.cs
  Assets/MRTK/Core/Inspectors/Utilities/Lines/DataProviders/EllipseLineDataProviderInspector.cs
Labels: MRTK2

#11373 A couple changes to help with logging
  Assets/MRTK/Services/CameraSystem/MixedRealityCameraSystem.cs
  Assets/MRTK/Services/InputSystem/MixedRealityInputSystem.cs
Labels: MRTK2

#11369 Update the asset selector to allow arbitrary glb files regardless of loader
  Assets/MRTK/Core/Utilities/BuildAndDeploy/MixedRealityBuildPreferences.cs
  Assets/MRTK/Core/Utilities/Editor/Preferences/MixedRealityProjectPreferences.cs
Labels: MRTK2

#11372 Update PokeInteractor to use the radius of the index fingertip
  com.microsoft.mrtk.input/Interactors/Poke/PokeInteractor.cs
Labels: MRTK3

#11381 Mark MRTK3 data binding and theming package as experimental
  com.microsoft.mrtk.data/package.json
Labels: MRTK3

#11333 Improvements to subsystem query API
  com.microsoft.mrtk.core/Utilities/Extensions/HandednessExtensions.cs
  com.microsoft.mrtk.core/Utilities/HandBounds.cs
  com.microsoft.mrtk.core/Utilities/HandJointPose.cs
  com.microsoft.mrtk.core/Utilities/Handedness.cs
  com.microsoft.mrtk.core/Utilities/HandsUtils.cs
  com.microsoft.mrtk.core/Utilities/XRSubsystemHelpers.cs
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
  com.microsoft.mrtk.input/Interactors/Ray/MRTKRayInteractor.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/HandBasedPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/HandJointPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/PinchPoseSource.cs
  com.microsoft.mrtk.input/Utilities/PoseSource/PolyfillHandRayPoseSource.cs
  com.microsoft.mrtk.input/Visualizers/ControllerVisualizer/ControllerVisualizer.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/HandConstraint.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/HandConstraintPalmUp.cs
  com.microsoft.mrtk.spatialmanipulation/Solvers/SolverHandler.cs
Labels: Utilities, Performance, MRTK3, Subsystems

#11383 Critical fix for incorrect controller state value polyfill
  com.microsoft.mrtk.input/Controllers/ArticulatedHandController.cs
Labels: Bug, Urgency-Now, Input - Hand Tracking, MRTK3

#11392 [pre.14 build call] Fixing typo + reverting earlier change that broke hand constraints
  com.microsoft.mrtk.spatialmanipulation/Solvers/SolverHandler.cs
Labels: Input - Hand Tracking, MRTK3

#11382 Adding some missing nullchecks from the previous #11333
  com.microsoft.mrtk.input/Interactors/Poke/PokeInteractor.cs
  com.microsoft.mrtk.input/Simulation/Devices/SimulatedController.cs
Labels: MRTK3

#11393 Fixing using/namespace warning
  com.microsoft.mrtk.windowsspeech/Subsystems/TextToSpeech/WindowsTextToSpeechSubsystem.cs
Labels: MRTK3

#11344 Remove allocs from idle and selecting ray interactor
  com.microsoft.mrtk.core/Utilities/ColorUtilities.cs
  com.microsoft.mrtk.input/Assets/Prefabs/MRTK LeftHand Controller.prefab
  com.microsoft.mrtk.input/Interactors/InteractorVisuals/MRTKLineVisual.cs
  com.microsoft.mrtk.input/Simulation/InputSimulator.cs
Labels: MRTK3

#11394 add RequiresHover field to StatefulInteractable
  com.microsoft.mrtk.core/Editor/Editors/StatefulInteractableEditor.cs
  com.microsoft.mrtk.core/Interactables/StatefulInteractable.cs
Labels: MRTK3
